@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#header_wrap {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
}
#header_wrap #header_logo_section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  height: 60px;
  padding: 0 26.3px;
}
#header_wrap #header_logo_section > .back_btn {
  display: block;
  width: 33%;
  height: 60px;
  background: none;
}
#header_wrap #header_logo_section > .back_btn button {
  width: 35px;
  height: 100%;
  background: none;
}
#header_wrap #header_logo_section > a .header_logo {
  display: block;
  width: 107.55px;
  height: 26.78px;
  background: url("https://bvoatofficial.cafe24.com/bvtIMG/logo/v2_logo_3x.png") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#header_wrap #header_logo_section .header_menu {
  width: 33%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  right: 11px;
  flex-shrink: 1;
}
#header_wrap #header_logo_section .header_menu li {
  position: relative;
}
#header_wrap #header_logo_section .header_menu .header_wish {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19.9px;
}
#header_wrap #header_logo_section .header_menu .header_wish > a {
  position: relative;
  display: block;
  width: 28.64px;
  height: 25.88px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29.638' height='27.085'%3E%3Cpath fill='%232b3dd3' stroke='%232b3dd3' d='M26.741 2.896a8.182 8.182 0 0 0-10.609-.812l-1.245 1.229-.417-.417A8.184 8.184 0 0 0 2.896 14.47l11.94 11.908 11.9-11.906a8.186 8.186 0 0 0 0-11.575Zm-10.978 10.83c1.513 1.059 3.547 3.005 4.965 4l-4.965 5.1Zm-10.986 0-.568-.568a6.328 6.328 0 0 1 8.948-8.949l.718.718v17.864l-8.641-8.638Zm20.652-.568-3.579 3.488c-1.035-.728-2.194-1.89-3.666-2.92-.593-.416-1.677-1.408-2.422-1.929V5.051a6.551 6.551 0 0 1 .7-.842 6.891 6.891 0 0 1 .858-.706 6.328 6.328 0 0 1 8.109 9.655Z' data-name='패스 1513'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
  fill: #003DD3;
  color: #003DD3;
}
#header_wrap #header_logo_section .header_menu .header_search {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header_wrap #header_logo_section .header_menu .header_search > button {
  position: relative;
  display: block;
  width: 25.75px;
  height: 26.33px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.835' height='27.328'%3E%3Cpath fill='%23003dd3' fill-rule='evenodd' stroke='%23003dd3' d='M12.874.5a12.367 12.367 0 0 1 9.116 20.731l3.978 3.97a.953.953 0 0 1-1.347 1.349l-4.026-4.015A12.371 12.371 0 1 1 12.874.5Zm0 1.906a10.468 10.468 0 1 0 10.467 10.467A10.479 10.479 0 0 0 12.874 2.406Z' data-name='Iconly/Light-Outline/Search'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}/*# sourceMappingURL=header.css.map */