@charset "utf-8";
@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixin";

#header_wrap {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    backdrop-filter: blur(30px);
    #header_logo_section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 11px;

        .header_logo {
            display: block;
            width: 73px;
            height: 40px;
            background: $bvt-logo no-repeat center;
            background-size: contain;
            text-indent: -9999px;
        }

        .header_menu {
            position: absolute;
            width: 60px;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            right: 11px;

            li {
                position: relative;
            }

            .header_search {
                >button {
                    position: relative;
                    display: block;
                    width: 20px;
                    height: 20px;
                    background: $search-icon no-repeat center;
                    background-size: contain;
                    text-indent: -9999px;
                }
            }

            .header_cart {
                position: relative;
                width: 25px;
                height: 23px;
                a {
                    display: block;
                    width: 25px;
                    height: 23px;
                    background: $cart-icon no-repeat center;
                    background-size: contain;
                    text-indent: -9999px;
                }

                .count {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: $bvt-blue;
                    font-weight: 700;
                    color: $bvt-white;
                    border-radius: 50%;
                    text-align: center;
                    top: -3px;
                    right: -7px;
                }
            }

        }
    }

}