@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 셀렉트 박스 화살표 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#header_wrap {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  box-shadow: 0 7px 5px -5px rgba(0, 0, 0, 0.1882352941);
}
#header_wrap #header_logo_section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#header_wrap #header_logo_section > .back_btn {
  display: block;
  width: 33%;
  height: 40px;
  background: none;
}
#header_wrap #header_logo_section > .back_btn button {
  width: 35px;
  height: 100%;
  background: none;
}
#header_wrap #header_logo_section > a {
  display: flex;
  justify-content: center;
  width: 33%;
}
#header_wrap #header_logo_section > a .header_logo {
  display: block;
  width: 73px;
  height: 40px;
  background: url("https://bvoatofficial.cafe24.com/bvtIMG/Bvoat_022CFF_Text_logo_trans_fit.png") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#header_wrap #header_logo_section .header_menu {
  width: 33%;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  right: 11px;
  flex-shrink: 1;
}
#header_wrap #header_logo_section .header_menu li {
  position: relative;
}
#header_wrap #header_logo_section .header_menu .header_search {
  margin-right: 9px;
}
#header_wrap #header_logo_section .header_menu .header_search > button {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.2' height='24.2'%3E%3Cg data-name='Icon feather-search' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1690' d='M20.365 10.683A9.683 9.683 0 1 1 10.683 1a9.683 9.683 0 0 1 9.683 9.683Z'/%3E%3Cpath data-name='패스 1691' d='m22.786 22.786-5.265-5.265'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#header_wrap #header_logo_section .header_menu .header_cart {
  position: relative;
  width: 25px;
  height: 23px;
}
#header_wrap #header_logo_section .header_menu .header_cart a {
  position: relative;
  display: block;
  width: 25px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.838' height='25.417'%3E%3Cg data-name='그룹 2020' transform='translate(1 1.234)' stroke='%23000'%3E%3Cpath data-name='선 2' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M0 0h3.243'/%3E%3Cpath data-name='선 263' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7.703 15.811 3.243 0'/%3E%3Cpath data-name='선 264' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7.703 15.811h13.379'/%3E%3Cpath data-name='선 265' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='m25.542 4.46-4.46 11.352'/%3E%3Cpath data-name='선 266' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M25.541 4.46H4.865'/%3E%3Crect data-name='사각형 1123' width='3.886' height='3.685' rx='1.843' transform='translate(6.869 19.998)'/%3E%3Crect data-name='사각형 1124' width='3.886' height='3.685' rx='1.843' transform='translate(18.303 19.998)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#header_wrap #header_logo_section .header_menu .header_cart .count {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background: #022CFF;
  border-radius: 50%;
  text-align: center;
  top: -3px;
  right: -7px;
  z-index: 100;
}
#header_wrap #header_logo_section .header_menu .header_cart .count > em {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-indent: 0;
  z-index: 100;
  top: 1.5px;
}/*# sourceMappingURL=header.css.map */