@charset "utf-8";
@import "../../../abstracts/_variables";
@import "../../../abstracts/_mixin";

#header_wrap {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;


    #header_logo_section {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 450px;
        height: 60px;
        padding: 0 17px;

        >.back_btn {
            display: block;
            width: 33%;
            height: 23px;
            background: none;

            button {
                width: 13px;
                height: 100%;
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.926' height='22.591'%3E%3Cpath fill='%23003DD3' stroke='%23003DD3' d='M12.062.805a1.042 1.042 0 0 1 .105 1.357l-.1.117-8.987 8.987 8.982 8.987a1.042 1.042 0 0 1 .105 1.357l-.1.117a1.042 1.042 0 0 1-1.357.1l-.117-.1L.867 12a1.042 1.042 0 0 1-.1-1.357l.1-.117L10.588.805a1.042 1.042 0 0 1 1.474 0Z' data-name='Iconly/Light-Outline/Arrow---Left-2'/%3E%3C/svg%3E") no-repeat center;
            }
        }

        >a {
            .header_logo {
                display: block;
                width: 96.39px;
                height: 24px;
                background: $bvt-logo no-repeat center;
                background-size: contain;
                text-indent: -9999px;
            }
        }


        .header_menu {
            // position: absolute;
            width: 33%;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;
            right: 11px;
            flex-shrink: 1;

            li {
                position: relative;
            }

            .header_wish {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 14px;

                >a {
                    position: relative;
                    display: block;
                    width: 26.56px;
                    height: 24px;
                    background: $wish-icon no-repeat center;
                    background-size: contain;
                    text-indent: -9999px;
                    fill: $bvt-blue;
                    color: $bvt-blue;
                }
            }

            .header_search {
                display: flex;
                align-items: center;
                justify-content: center;

                >button {
                    position: relative;
                    display: block;
                    width: 23.47px;
                    height: 24px;
                    background: $search-icon no-repeat center;
                    background-size: contain;
                    text-indent: -9999px;
                }
            }

            .header_cart {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 11px;

                >a {
                    position: relative;
                    display: block;
                    width: 26.56px;
                    height: 24px;
                    background: $cart-icon no-repeat center;
                    background-size: contain;
                }
            }


        }
    }

}

.gradient {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
}