@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#topNav {
    width: 100%;
    max-width: 450px;
    border-bottom: $bvt-btn-border-gray;
    // slider swiper zone
    .default_top_nav{
        width: 100%;
        max-width: 450px;
        height: 40px;
        .top_nav_list{
            padding: 0 11px;
            justify-content: center;
            align-items: center;
            .top_nav_item {
                width: fit-content !important;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6rem;
                font-weight: normal;
                >a{
                    display: block;
                    word-break: keep-all;
                    color: #797979;
                }
            }
            #crew{
                position: relative;
                margin-left: 5px;
                >a{color: $bvt-blue;}
                &::before{
                    position: absolute;
                    display: block;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $bvt-blue;
                    top: 8px;
                    right: -5px;
                }
            }
            .top_nav_active{
                >a{
                    color: $bvt-blue;
                    font-weight: 600;
                }
                &::after{
                    position: absolute;
                    display: block;
                    content: " ";
                    width: 110%;
                    height: 3px;
                    background: $bvt-blue;
                    border-radius: 50px;
                    bottom: 0px;
                }
            }
        }
    }
    >.community_top_nav{
        width: 100%;
    max-width: 450px;

        height: 40px;
        .top_nav_list{
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            #crewinfo_nav{
                position: relative;
                margin-left: 5px;
                >a{color: $bvt-blue;}
                &::before{
                    position: absolute;
                    display: block;
                    content: "";
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $bvt-blue;
                    top: 8px;
                    right: -5px;
                }
            }
            .top_nav_item {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.45rem;
                font-weight: 500;
                margin: 0 15px;
                width: max-content !important;
                max-width: max-content !important;
                height: inherit;
                >a{
                    display: block;
                }
            }
            .top_nav_active{
                >a{color: $bvt-blue; font-weight: bold;}
                &::after{
                    position: absolute;
                    display: block;
                    content: " ";
                    width: 110%;
                    height: 3px;
                    background: $bvt-blue;
                    border-radius: 50px;
                    bottom: 0px;
                }
            }
        }
    }
    // slider swiper zone
}