@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#buy_records_frame {
    width: 100%;
    border: none;
    height: 1600px;
    padding: 23px 0;
}
#bh_slide_frame {
    position: fixed;
    top: 0px;
    z-index: 999999;
}