@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#myshopCoupon {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin-top: 60px;
}
#myshopCoupon #myshopCouponTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}
#myshopCoupon #myshopCouponTitle h2 {
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 19px;
}
#myshopCoupon #myshopCouponTitle p {
  font-size: 1.55rem;
  font-weight: normal;
  margin-top: 20px;
  color: #707070;
  letter-spacing: -0.2px;
  line-height: 2rem;
}

#myshopCouponTable {
  width: 100%;
  max-width: 450px;
  margin-top: 29px;
  padding: 0 17px 48px;
}
#myshopCouponTable .coupon_item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #003DD3;
  border-color: #003DD3;
  border-radius: 10px;
  margin-bottom: 13px;
  padding: 24px 31.5px;
}
#myshopCouponTable .coupon_item .name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #003DD3;
  letter-spacing: -0.5px;
  margin-bottom: 19px;
}
#myshopCouponTable .coupon_item > ul li {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: #707070;
}
#myshopCouponTable .coupon_item > ul li:nth-child(1) {
  display: inline-flex;
  content: "";
  background-image: linear-gradient(to right, #003DD3 55%, rgba(255, 255, 255, 0) 0%);
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  width: 100%;
  padding-top: 19px;
  margin-bottom: 7.5px;
}
#myshopCouponTable .coupon_item > ul .tag {
  width: 20%;
  min-width: 74px;
  overflow: hidden;
  font-size: 1.25rem;
  font-weight: bold;
}
#myshopCouponTable .coupon_item > ul .content {
  width: 80%;
  font-size: 1.2rem;
  font-weight: normal;
}
#myshopCouponTable .no_coupon_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50%;
  margin-bottom: 50%;
}
#myshopCouponTable .no_coupon_wrap .no-coupon {
  text-align: center;
}
#myshopCouponTable .no_coupon_wrap .no-coupon p:nth-child(1) {
  font-size: 3.2rem;
  font-weight: bold;
}
#myshopCouponTable .no_coupon_wrap .no-coupon p:nth-child(2) {
  font-size: 1.95rem;
  font-weight: bold;
  margin-top: 14px;
}

#myshopCouponSerial {
  width: 100%;
  max-width: 450px;
  padding: 39px 17px 141.9px;
  background: #F7F7F7;
}
#myshopCouponSerial h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20.5px;
  text-align: center;
}
#myshopCouponSerial fieldset {
  display: flex;
  flex-flow: column nowrap;
}
#myshopCouponSerial fieldset label {
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 10.5px;
}
#myshopCouponSerial fieldset .tips {
  font-style: normal;
  font-weight: normal;
}
#myshopCouponSerial fieldset .coupon_code_submit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#myshopCouponSerial fieldset .coupon_code_submit input {
  width: 100%;
  height: 49.09px;
  border: 1px solid #C4C4C4;
  border-radius: 90px;
  padding: 5px 12px;
  font-size: 1.3rem;
  font-family: inherit;
}
#myshopCouponSerial fieldset .coupon_code_submit button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 102px;
  height: 49.09px;
  border-radius: 90px;
  margin-left: 9.3px;
  border: 1px solid #003DD3;
  color: #003DD3;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: inherit;
  letter-spacing: -0.5px;
  background: #ffffff;
}
#myshopCouponSerial #myshopCouponHelp {
  width: 100%;
  padding: 11px 0;
}
#myshopCouponSerial #myshopCouponHelp li {
  font-size: 1.1rem;
}

.page-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.page-pagination .btnPrev_wrap,
.page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page-pagination .first,
.page-pagination .last,
.page-pagination .btnPrev,
.page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
.page-pagination .first:hover,
.page-pagination .last:hover,
.page-pagination .btnPrev:hover,
.page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
.page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
.page-pagination ol li {
  margin: 0 11px;
}
.page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
.page-pagination ol li .this {
  font-weight: 600;
  color: #003DD3;
}/*# sourceMappingURL=coupon.css.map */