@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#orderExchange {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 81px 0px 60px;
}
#orderExchange #orderExchangeTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}
#orderExchange #orderExchangeTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#orderExchange #orderExchangeTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#orderExchange #orderExchangeTable {
  width: 100%;
  max-width: 450px;
}
#orderExchange #orderExchangeTable .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0 11px;
  background: #707070;
}
#orderExchange #orderExchangeTable .title h3 {
  font-size: 1.3rem;
  font-weight: 500;
}
#orderExchange #orderExchangeTable .chk > input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .description {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 11px 0;
}
#orderExchange #orderExchangeTable .description .thumb {
  position: relative;
  width: 100%;
}
#orderExchange #orderExchangeTable .description .thumb > a {
  display: block;
  position: relative;
  padding-top: calc(100% - 12px);
  overflow: hidden;
  border-radius: 2px;
}
#orderExchange #orderExchangeTable .description .thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 375px) {
  #orderExchange #orderExchangeTable .description .thumb > a {
    display: block;
    position: relative;
    padding-top: calc(100% - 12px);
    overflow: hidden;
    border-radius: 2px;
  }
  #orderExchange #orderExchangeTable .description .thumb > a > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#orderExchange #orderExchangeTable .description .thumb .icon {
  position: absolute;
  width: 50px;
  height: 20.5px;
  border-radius: 4px;
  top: 4.6px;
  left: 4.6px;
}
#orderExchange #orderExchangeTable .description .thumb .icon img {
  -o-object-fit: cover;
     object-fit: cover;
}
#orderExchange #orderExchangeTable .description .thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
}
#orderExchange #orderExchangeTable .description .thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .description .thumb .wish button img {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-top: 2.5px;
}
#orderExchange #orderExchangeTable .description .thumb {
  width: 25%;
  min-width: 75px;
  margin-right: 10px;
}
#orderExchange #orderExchangeTable .description .thumb > a {
  padding-top: 100%;
}
#orderExchange #orderExchangeTable .description .info .name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
#orderExchange #orderExchangeTable .description .info .price_quantity {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#orderExchange #orderExchangeTable .quantity input {
  height: 29px;
  text-align: center;
  font-size: 1.5rem;
}
#orderExchange #orderExchangeTable .quantity a {
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderExchange #orderExchangeTable .status {
  font-size: 1.5rem;
  font-weight: 600;
  color: #022CFF;
}
#orderExchange #orderExchangeTable .message {
  font-size: 1.3rem;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table .xans-myshop-selectedproduct {
  border: 0;
  padding: 8px;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table .ec-product-name {
  width: 93px;
  font-size: 1.3rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.8rem;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table thead > tr {
  height: 25px;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table th {
  font-size: 1.3rem;
  font-weight: 600;
  vertical-align: middle;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td {
  font-size: 1.3rem;
  vertical-align: middle;
  padding: 0 5px;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty a:nth-child(1) {
  order: 0;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty a:nth-child(2) {
  order: 2;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty a > img {
  width: 25px;
  height: 25px;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty > input {
  order: 1;
  width: 25px;
  height: 25px;
  font-size: 1.2rem;
}
#orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td a[class="btnNormal gBlank5"], #orderExchange #orderExchangeTable .xans-myshop-orderhistoryexchangeproduct > table td a[class=btnNormal] {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderExchange #orderExchangeTable .exchange_reason {
  background: #FAFAFE;
  padding: 11px;
}
#orderExchange #orderExchangeTable .exchange_reason tr {
  height: 55px;
}
#orderExchange #orderExchangeTable .exchange_reason th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderExchange #orderExchangeTable .exchange_reason td span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
#orderExchange #orderExchangeTable .exchange_reason td label {
  font-size: 1.3rem;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .exchange_reason td input[type=radio] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .return_parcel {
  background: #FAFAFE;
  padding: 11px;
}
#orderExchange #orderExchangeTable .return_parcel tr {
  height: 55px;
}
#orderExchange #orderExchangeTable .return_parcel th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderExchange #orderExchangeTable .return_parcel td span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
#orderExchange #orderExchangeTable .return_parcel td label {
  font-size: 1.3rem;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .return_parcel td input[type=radio] {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 15px;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .return_parcel td #direct {
  margin: 11px 0;
}
#orderExchange #orderExchangeTable .return_parcel td #direct input[type=text] {
  width: 100%;
  height: 30px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
#orderExchange #orderExchangeTable .return_parcel td #direct input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .return_addr {
  padding: 11px 0;
}
#orderExchange #orderExchangeTable .return_addr tr {
  height: 55px;
}
#orderExchange #orderExchangeTable .return_addr th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderExchange #orderExchangeTable .return_addr td {
  font-size: 1.3rem;
}
#orderExchange #orderExchangeTable .return_addr td span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
#orderExchange #orderExchangeTable .return_addr td label {
  font-size: 1.3rem;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .return_addr td input[type=radio] {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 15px;
  cursor: pointer;
}
#orderExchange #orderExchangeTable .return_addr td input[type=text] {
  width: 100%;
  height: 30px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
#orderExchange #orderExchangeTable .return_addr td #pickup_phone2_1, #orderExchange #orderExchangeTable .return_addr td #pickup_phone2_2, #orderExchange #orderExchangeTable .return_addr td #pickup_phone2_3 {
  width: 24%;
  height: 30px;
  font-size: 1.3rem;
}
#orderExchange #orderExchangeTable .return_addr a, #orderExchange #orderExchangeTable .return_addr #btn_search_rzipcode {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderExchange #orderExchangeTable .refund_info {
  padding: 11px 0;
}
#orderExchange #orderExchangeTable .refund_info tr {
  height: 55px;
}
#orderExchange #orderExchangeTable .refund_info th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderExchange #orderExchangeTable .refund_info a {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderExchange .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
}
#orderExchange .ec-base-button a {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderExchange .apply_btn_wrap {
  width: 100%;
  justify-content: center !important;
}
#orderExchange .apply_btn_wrap .back {
  width: 28%;
  text-align: center;
  margin-right: 8px;
  padding: 9px 15px !important;
}
#orderExchange .apply_btn_wrap .apply {
  width: 28%;
  text-align: center;
  background: #022CFF;
  color: #ffffff;
  font-weight: 600;
  padding: 9px 15px !important;
}

.optionModify {
  width: 100%;
  max-width: 350px;
}
.optionModify .header {
  padding: 0;
  height: 30px;
}

#zipcodeLayer #layerZipcode {
  width: 100%;
  max-width: 350px !important;
}/*# sourceMappingURL=exchange.css.map */