@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#orderDetail {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 80px auto 0;
}
#orderDetail #orderDetailTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}
#orderDetail #orderDetailTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#orderDetail #orderDetailTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#orderDetail #orderDetailTitle em {
  font-weight: 500;
}
#orderDetail h2 {
  font-size: 1.4rem;
}
#orderDetail .boardTotal strong {
  color: #003DD3 !important;
}
#orderDetail .boardTotal td {
  padding: 14px 14px 14px 0;
}
#orderDetail .ec-base-prdInfo .prdFoot,
#orderDetail .ec-base-prdInfo .prdFoot .gLeft {
  font-size: 13px;
}
#orderDetail .review_btn {
  background: #003DD3;
  color: #ffffff;
  font-weight: bold;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all 0.4s;
}
#orderDetail .review_btn:hover {
  background: #ffffff;
  color: #003DD3;
}
#orderDetail .ec-base-fold.theme3 .contents {
  font-size: 13px;
}
#orderDetail .boardTotal table th,
#orderDetail .boardTotal td,
#orderDetail .boardTotal td p,
#orderDetail .ec-base-fold > .title p {
  font-size: 13px;
}
#orderDetail .cancel_btn {
  padding: 6px 10px;
  background: #ffffff;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 3px 7px rgba(112, 112, 112, 0.1529411765);
  font-size: 1.3rem;
}
#orderDetail .purchase_btn {
  padding: 8px 10px;
  background: #ffffff;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 3px 7px rgba(112, 112, 112, 0.1529411765);
  font-size: 1.35rem;
}
#orderDetail .list_btn {
  display: block;
  width: 100%;
  background: #003DD3;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  margin: 45px 0;
}

#orderCancel {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 80px 0 120px;
}
#orderCancel #orderCancelTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
}
#orderCancel #orderCancelTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#orderCancel #orderCancelTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#orderCancel #orderCancelTable {
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
}
#orderCancel #orderCancelTable .ec-base-fold {
  width: 100%;
}
#orderCancel #orderCancelTable .ec-base-fold .title {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  margin: 0;
  overflow: hidden;
  background: #C4C4C4;
  color: #ffffff;
  padding: 0 11px;
  cursor: pointer;
}
#orderCancel #orderCancelTable .ec-base-fold .title h2,
#orderCancel #orderCancelTable .ec-base-fold .title h3,
#orderCancel #orderCancelTable .ec-base-fold .title p {
  font-size: 1.5rem;
  font-weight: 500;
}
#orderCancel #orderCancelTable .ec-base-fold .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: url("//img.echosting.cafe24.com/skin/mobile/layout/ico_arrow_white.png") no-repeat 50% 50%;
  background-size: 20px auto;
  transition: 0.3s ease-out;
}
#orderCancel #orderCancelTable .ec-base-fold .contents {
  display: none;
  background: #FAFAFE;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product {
  width: 100%;
  padding: 11px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .chk {
  display: block;
  margin-bottom: 11px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .chk input {
  width: 22px;
  height: 22px;
  border-width: 2px;
  cursor: pointer;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .thumbnail {
  position: relative;
  display: inline-block;
  width: 120px;
  margin-right: 11px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .thumbnail > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
  width: 120px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .thumbnail > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .name {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .info {
  display: block;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .info li {
  font-size: 1.4rem;
  font-weight: 400;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .info li .price::after {
  content: "원";
}
#orderCancel #orderCancelTable .ec-base-fold .contents .product .description .info li > .quantity::before {
  position: relative;
  content: "|";
  margin: 0 5px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .option {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 11px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .updown_quantity {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 11px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .updown_quantity span {
  display: block;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .updown_quantity span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 10px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .updown_quantity span:nth-child(2) > img {
  cursor: pointer;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .updown_quantity span:nth-child(2) > input {
  width: 33px;
  height: 29px;
  text-align: center;
  font-size: 1.3rem;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .updown_quantity span:nth-child(2) > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 30px;
  background: #003DD3;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
  float: right;
  border-radius: 4px;
}
#orderCancel #orderCancelTable .ec-base-fold .contents .status {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 11px;
  background: #F2F2F2;
  font-size: 1.5rem;
  font-weight: 500;
  color: #003DD3;
}
#orderCancel #orderCancelTable .ec-base-fold dt.selected:after {
  transform: rotate(180deg);
}
#orderCancel #orderCancelTable .ec-base-fold.selected > .title:after {
  transform: rotate(180deg);
}
#orderCancel #orderCancelTable .ec-base-fold.selected > .contents {
  display: block;
}
#orderCancel #orderCancelTable .ec-base-help {
  font-size: 1.3rem;
  color: #707070;
  margin: 11px;
}
#orderCancel .boardViewCS {
  width: 100%;
}
#orderCancel .boardViewCS .title {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  height: 45px;
  margin: 0;
  overflow: hidden;
  background: #C4C4C4;
  color: #ffffff;
  padding: 0 11px;
  cursor: pointer;
}
#orderCancel .boardViewCS .title h2,
#orderCancel .boardViewCS .title h3,
#orderCancel .boardViewCS .title p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}
#orderCancel .boardViewCS .title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  background: url("//img.echosting.cafe24.com/skin/mobile/layout/ico_arrow_white.png") no-repeat 50% 50%;
  background-size: 20px auto;
  transition: 0.3s ease-out;
}
#orderCancel .boardViewCS .typeWrite {
  width: 100%;
  padding: 11px;
}
#orderCancel .boardViewCS table {
  width: 100%;
  max-width: 450px;
  padding: 11px;
}
#orderCancel .boardViewCS table tbody,
#orderCancel .boardViewCS table tr {
  display: block;
  width: 100%;
  padding: 5px;
}
#orderCancel .boardViewCS table tr > th {
  display: inline-block;
  font-size: 1.5rem;
  margin: 11px 0;
}
#orderCancel .boardViewCS table tr > td {
  width: 100%;
  max-width: 450px;
  font-size: 1.3rem;
}
#orderCancel .boardViewCS table tr > td > div {
  display: inline-block;
  width: 100%;
  max-width: 350px;
}
#orderCancel .boardViewCS table tr > td > textarea {
  width: 0;
  width: 300px !important;
  height: 100px;
  max-width: 450px;
  font-size: 1.4rem;
  padding: 5px;
}
#orderCancel .boardViewCS table .ec-base-label {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
#orderCancel .boardViewCS table .ec-base-label > input {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  cursor: pointer;
}
#orderCancel .boardViewCS table .ec-base-label > label {
  font-size: 1.4rem;
  cursor: pointer;
}
#orderCancel .ec-base-button {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  text-align: center;
}
#orderCancel .ec-base-button > a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 55px;
  border: 1px solid #003DD3;
  border-radius: 40px;
}
#orderCancel .ec-base-button > a:nth-child(1) {
  background: #003DD3;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 600;
}
#orderCancel .ec-base-button > a:nth-child(2) {
  background: #ffffff;
  color: #003DD3;
  font-size: 1.6rem;
  font-weight: 600;
}/*# sourceMappingURL=order_detail.css.map */