@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 셀렉트 박스 화살표 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#orderReturn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 81px 0px 60px;
}
#orderReturn #orderReturnTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}
#orderReturn #orderReturnTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#orderReturn #orderReturnTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#orderReturn #applyForm {
  width: 100%;
  max-width: 450px;
}
#orderReturn #applyForm #orderReturnTable {
  width: 100%;
  max-width: 450px;
}
#orderReturn #applyForm #orderReturnTable div {
  width: 100%;
}
#orderReturn #applyForm #orderReturnTable .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  padding: 0 11px;
  background: #707070;
}
#orderReturn #applyForm #orderReturnTable .title h2, #orderReturn #applyForm #orderReturnTable .title h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #ffffff;
}
#orderReturn #applyForm #orderReturnTable .contents, #orderReturn #applyForm #orderReturnTable .typeWrite {
  width: 100%;
  max-width: 450px;
  padding: 11px;
}
#orderReturn #applyForm #orderReturnTable .chk > input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .description {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 11px 0;
}
#orderReturn #applyForm #orderReturnTable .description .thumb {
  position: relative;
  width: 100%;
}
#orderReturn #applyForm #orderReturnTable .description .thumb > a,
#orderReturn #applyForm #orderReturnTable .description .thumb .img_wrap {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 20px;
  font-size: 0;
}
#orderReturn #applyForm #orderReturnTable .description .thumb > a > img,
#orderReturn #applyForm #orderReturnTable .description .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#orderReturn #applyForm #orderReturnTable .description .thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
#orderReturn #applyForm #orderReturnTable .description .thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .description .thumb .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}
#orderReturn #applyForm #orderReturnTable .description .icon img {
  height: inherit;
  -o-object-fit: contain;
     object-fit: contain;
  image-rendering: auto;
}
#orderReturn #applyForm #orderReturnTable .description .thumb {
  width: 25%;
  min-width: 75px;
  margin-right: 10px;
}
#orderReturn #applyForm #orderReturnTable .description .thumb > a {
  padding-top: 100%;
}
#orderReturn #applyForm #orderReturnTable .description .info .name {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
#orderReturn #applyForm #orderReturnTable .description .info .price_quantity {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#orderReturn #applyForm #orderReturnTable .description .info span > strong, #orderReturn #applyForm #orderReturnTable .description .info span, #orderReturn #applyForm #orderReturnTable .description .info strong {
  font-size: 1.3rem;
}
#orderReturn #applyForm #orderReturnTable .quantity {
  font-size: 1.3rem;
  margin: 11px 0;
}
#orderReturn #applyForm #orderReturnTable .quantity input {
  height: 29px;
  text-align: center;
  font-size: 1.5rem;
}
#orderReturn #applyForm #orderReturnTable .quantity a {
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderReturn #applyForm #orderReturnTable .status {
  font-size: 1.5rem;
  font-weight: 600;
  color: #022CFF;
}
#orderReturn #applyForm #orderReturnTable .ec-base-help {
  margin: 11px 0;
  text-align: center;
}
#orderReturn #applyForm #orderReturnTable .message {
  font-size: 1.3rem;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table .xans-myshop-selectedproduct {
  border: 0;
  padding: 8px;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table .ec-product-name {
  width: 93px;
  font-size: 1.3rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.9rem;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table thead > tr {
  height: 25px;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table th {
  font-size: 1.3rem;
  font-weight: 600;
  vertical-align: middle;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td {
  font-size: 1.3rem;
  vertical-align: middle;
  padding: 0 5px;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty a:nth-child(1) {
  order: 0;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty a:nth-child(2) {
  order: 2;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty a > img {
  width: 25px;
  height: 25px;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td .ec-base-qty > input {
  order: 1;
  width: 25px;
  height: 25px;
  font-size: 1.2rem;
}
#orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td a[class="btnNormal gBlank5"], #orderReturn #applyForm #orderReturnTable .xans-myshop-orderhistoryexchangeproduct > table td a[class=btnNormal] {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderReturn #applyForm #orderReturnTable .return_reason {
  background: #FAFAFE;
}
#orderReturn #applyForm #orderReturnTable .return_reason tr {
  height: 55px;
}
#orderReturn #applyForm #orderReturnTable .return_reason th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderReturn #applyForm #orderReturnTable .return_reason td span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
#orderReturn #applyForm #orderReturnTable .return_reason td label {
  font-size: 1.3rem;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_reason td input[type=radio] {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_reason td textarea {
  width: 95%;
  font-size: 1.3rem;
  padding: 4px;
}
#orderReturn #applyForm #orderReturnTable .return_parcel {
  background: #FAFAFE;
  padding: 11px;
}
#orderReturn #applyForm #orderReturnTable .return_parcel tr {
  height: 55px;
}
#orderReturn #applyForm #orderReturnTable .return_parcel th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td label {
  font-size: 1.3rem;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td input[type=radio] {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 15px;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td #direct {
  width: 100%;
  margin: 11px;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td #direct input[type=text] {
  width: 100%;
  height: 30px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td #direct input[type=checkbox] {
  width: 13px;
  height: 13px;
  margin-right: 5px;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_parcel td .help {
  margin-top: 11px;
}
#orderReturn #applyForm #orderReturnTable .return_addr {
  padding: 11px 0;
}
#orderReturn #applyForm #orderReturnTable .return_addr tr {
  height: 55px;
}
#orderReturn #applyForm #orderReturnTable .return_addr th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderReturn #applyForm #orderReturnTable .return_addr td {
  font-size: 1.3rem;
}
#orderReturn #applyForm #orderReturnTable .return_addr td span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 8px;
}
#orderReturn #applyForm #orderReturnTable .return_addr td label {
  font-size: 1.3rem;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_addr td input[type=radio] {
  width: 15px;
  height: 15px;
  margin: 0 5px 0 15px;
  cursor: pointer;
}
#orderReturn #applyForm #orderReturnTable .return_addr td input[type=text] {
  width: 100%;
  height: 30px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
#orderReturn #applyForm #orderReturnTable .return_addr td #pickup_phone2_1, #orderReturn #applyForm #orderReturnTable .return_addr td #pickup_phone2_2, #orderReturn #applyForm #orderReturnTable .return_addr td #pickup_phone2_3 {
  width: 24%;
  height: 30px;
  font-size: 1.3rem;
}
#orderReturn #applyForm #orderReturnTable .return_addr a, #orderReturn #applyForm #orderReturnTable .return_addr #btn_search_rzipcode {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderReturn #applyForm #orderReturnTable .refund_info {
  padding: 11px 0;
}
#orderReturn #applyForm #orderReturnTable .refund_info tr {
  height: 55px;
}
#orderReturn #applyForm #orderReturnTable .refund_info th {
  font-size: 1.4rem;
  font-weight: 600;
}
#orderReturn #applyForm #orderReturnTable .refund_info a {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderReturn #applyForm .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
}
#orderReturn #applyForm .ec-base-button a {
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 18px;
  padding: 5px 12px;
}
#orderReturn #applyForm .apply_btn_wrap {
  width: 100%;
  justify-content: center !important;
}
#orderReturn #applyForm .apply_btn_wrap .back {
  width: 28%;
  text-align: center;
  margin-right: 8px;
  padding: 9px 15px !important;
}
#orderReturn #applyForm .apply_btn_wrap .apply {
  width: 28%;
  text-align: center;
  background: #022CFF;
  color: #ffffff;
  font-weight: 600;
  padding: 9px 15px !important;
}
#orderReturn #applyForm .optionModify {
  width: 100%;
  max-width: 350px;
}
#orderReturn #applyForm .optionModify .header {
  padding: 0;
  height: 30px;
}
#orderReturn #applyForm #zipcodeLayer #layerZipcode {
  width: 100%;
  max-width: 350px !important;
}/*# sourceMappingURL=return.css.map */