@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 셀렉트 박스 화살표 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#wishList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 81px 0px 120px;
}
#wishList #wishListTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}
#wishList #wishListTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#wishList #wishListTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#wishList #wishListCardSection {
  width: 100%;
  max-width: 450px;
}
#wishList #wishListCardSection .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#wishList #wishListCardSection #wishListList {
  width: 100%;
  max-width: 450px;
}
#wishList #wishListCardSection #wishListList .wishlist_item {
  padding: 15px;
  border-radius: 16px;
  box-shadow: 3px 7px 11px #EDEFF5;
}
#wishList #wishListCardSection #wishListList .wishlist_item input[type=checkbox] {
  width: 18px;
  height: 18px;
  border: 1px solid #E2E2E2;
  margin: 14px auto;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail {
  height: 100px;
  border-radius: 6px;
  overflow: hidden;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail > a {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description {
  width: calc(100% - 115px);
  margin-left: 12px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .product_name {
  font-size: 1.5rem;
  font-weight: 600;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .delivery {
  font-size: 1.3rem;
  font-weight: 300;
  color: #707070;
  margin-bottom: 12px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .delivery .delivery_price {
  color: #707070;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .price_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.45rem;
  font-weight: 500;
  color: #022CFF;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .price_wrap .strike {
  font-size: 1.2rem;
  text-decoration: line-through;
  color: #C4C4C4;
  margin-left: 5px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 12px 0;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .option_name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .option_name .optionDesc {
  font-size: 1.3rem;
  font-weight: 300;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .option_name .option_change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  font-size: 1.2rem;
  border: 1px solid #022CFF;
  border-radius: 100px;
  color: #022CFF;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 98%;
  padding: 12px;
  margin: 5px auto;
  border-radius: 12px;
  background: #FAFAFE;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul {
  width: 100%;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul > li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul > li .optionItem {
  font-size: 1.3rem;
  font-weight: 500;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul > li > select {
  width: 80%;
  height: 35px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
  cursor: pointer;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn {
  margin-top: 12px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn > button {
  width: 50px;
  height: 30px;
  border-radius: 100px;
  background: #ffffff;
  font-weight: 500;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn > button:nth-child(1) {
  border: 1px solid #022CFF;
  color: #022CFF;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn > button:nth-child(2) {
  border: 1px solid #E2E2E2;
  color: #707070;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option_total {
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  color: #022CFF;
  padding: 9px;
  border-top: 1px solid #C4C4C4;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  margin: 10px 0;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn .item_del {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #C4C4C4;
  border-radius: 100px;
  color: #707070;
  font-size: 1.2rem;
  width: 72px;
  height: 100%;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn > p {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn > p > button {
  width: 100px;
  height: 100%;
  font-size: 1.2rem;
  border-radius: 100px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn > p .item_cart {
  background: #ffffff;
  border: 1px solid #022CFF;
  color: #022CFF;
  margin-right: 6px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn > p .item_order {
  background: #022CFF;
  border: 1px solid #022CFF;
  color: #ffffff;
}
#wishList #wishListCardSection #wishListBtn {
  padding: 15px;
}
#wishList #wishListCardSection #wishListBtn .select {
  margin-bottom: 20px;
}
#wishList #wishListCardSection #wishListBtn .select > button {
  display: inline-block;
  width: 70px;
  height: 40px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #707070;
  background: rgba(41, 41, 41, 0);
  border-radius: 60px;
  box-shadow: 3px 7px 11px #EDEFF5;
  margin-right: 12px;
}
#wishList #wishListCardSection #wishListBtn #order_all {
  width: 100%;
  height: 55px;
  background: #022CFF;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 100px;
}

.page-pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.page-pagination .btnPrev_wrap,
.page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page-pagination .first,
.page-pagination .last,
.page-pagination .btnPrev,
.page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
.page-pagination .first:hover,
.page-pagination .last:hover,
.page-pagination .btnPrev:hover,
.page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
.page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
.page-pagination ol li {
  margin: 0 11px;
}
.page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
.page-pagination ol li .this {
  font-weight: 600;
  color: #022CFF;
}

body#popup {
  width: 100% !important;
  max-width: 450px !important;
  margin: 0 auto !important;
}

.xans-product-optionselectlayer {
  width: 100% !important;
  max-width: 450px !important;
  margin: 0 auto !important;
}

.ec-base-layer .header {
  padding: 7px 35px 7px 19px;
  color: #022CFF !important;
  background: #FAFAFE !important;
}

.content {
  width: 100%;
  max-width: 450px;
}
.content .inner {
  width: 100%;
  max-width: 450px;
  padding: 11px;
}
.content .inner .name {
  font-size: 1.4rem;
  font-weight: 500;
}
.content .inner .productNormal tr, .content .inner .productNormal th {
  font-size: 1.3rem;
}
.content .inner .productNormal select {
  padding: 4px 8px !important;
  font-size: 1.3rem;
}
.content .inner .product {
  font-size: 1.3rem !important;
}
.content .inner .ec-front-product-item-price {
  font-size: 1.3rem !important;
  color: #022CFF !important;
}
.content .inner .mileage {
  color: #292929 !important;
}
.content .inner .total {
  color: #022CFF !important;
}

.btnSubmitFix {
  background: #022CFF !important;
  color: #ffffff !important;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  padding: 8px 13px;
  border-radius: 50px;
}

.btnNormalFix {
  background: #ffffff !important;
  color: #022CFF !important;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  padding: 8px 13px;
  border-radius: 50px;
}/*# sourceMappingURL=wish_list.css.map */