@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#wishList {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 0 17px;
  margin: 81px 0px 120px;
}
#wishList #wishListTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
#wishList #wishListTitle h1 {
  font-size: 2.35rem;
  font-weight: bold;
}
#wishList #wishListCardSection {
  width: 100%;
  max-width: 450px;
}
#wishList #wishListCardSection .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 35px;
  padding-bottom: 100%;
  margin-bottom: 100%;
}
#wishList #wishListCardSection #wishListList {
  position: relative;
  width: 100%;
  max-width: 450px;
}
#wishList #wishListCardSection #wishListList .wishlist_item {
  padding: 19.4px 14.4px;
  border-radius: 10px;
  border: 1px solid #C4C4C4;
  margin-bottom: 10px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail {
  position: relative;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail input[type=checkbox] {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 1px solid #707070;
  border-radius: 2px;
  z-index: 1;
  margin: 7.3px 5.6px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail > a {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .thumbnail > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 119px);
  margin-left: 19px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .product_name {
  width: 100%;
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 11px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2.3rem;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .price_wrap {
  padding-bottom: 5px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .delivery {
  font-size: 1.3rem;
  font-weight: 300;
  color: #707070;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_box .description .info .delivery .delivery_price {
  color: #707070;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 12px 0;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .option_name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .option_name .optionDesc {
  font-size: 1.3rem;
  font-weight: 300;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .option_name .option_change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  font-size: 1.25rem;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  color: #707070;
  margin-right: 8px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 98%;
  padding: 12px;
  margin: 5px auto;
  border-radius: 12px;
  background: #F2F2F2;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul {
  width: 100%;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul > li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul > li .optionItem {
  font-size: 1.3rem;
  font-weight: bold;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify > ul > li > select {
  width: 80%;
  height: 35px;
  font-size: 1.3rem;
  font-weight: normal;
  color: #707070;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 8px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn {
  margin-top: 12px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn > button {
  width: 50px;
  height: 30px;
  border-radius: 100px;
  background: #ffffff;
  font-weight: 500;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn > button:nth-child(1) {
  border: 1px solid #003DD3;
  color: #003DD3;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option .option_info .layerOptionModify .option_btn > button:nth-child(2) {
  border: 1px solid #E2E2E2;
  color: #707070;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_option_total {
  text-align: right;
  font-size: 1.6rem;
  font-weight: 600;
  color: #003DD3;
  padding: 9px;
  border-top: 1px solid #C4C4C4;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 43px;
  margin: 10px 0;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn a,
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn button {
  height: 100%;
  font-size: 1.25rem;
  letter-spacing: -0.7px;
  border-radius: 5px;
  box-sizing: border-box;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn .item_del {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  min-width: 74px;
  border: 1px solid #C4C4C4;
  color: #707070;
  margin-right: 4px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn .item_order {
  width: 100%;
  background: #ffffff;
  border: 1px solid #003DD3;
  color: #003DD3;
  margin-right: 4px;
}
#wishList #wishListCardSection #wishListList .wishlist_item .wishlist_item_btn .item_cart {
  width: 100%;
  background: #003DD3;
  border: 1px solid #003DD3;
  color: #ffffff;
}
#wishList #wishListCardSection #wishListBtn {
  padding: 15px;
}
#wishList #wishListCardSection #wishListBtn .select_btn_wrap > button {
  display: inline-block;
  height: 40px;
  font-size: 1.45rem;
  font-weight: bold;
  border: 1px solid #C4C4C4;
  color: #707070;
  border-radius: 5px;
}
#wishList #wishListCardSection #wishListBtn .select_btn_wrap .select_all_btn {
  width: 88px;
  margin-right: 1px;
}
#wishList #wishListCardSection #wishListBtn .select_btn_wrap .select_del_btn {
  width: 88px;
}
#wishList #wishListCardSection #wishListBtn .select_btn_wrap .order_all_btn {
  width: 37%;
  float: right;
  border: 1px solid #003DD3;
  color: #003DD3;
  background: #E5EEFF;
}
#wishList #wishListCardSection #wishListBtn .move_cart_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 66.3px;
  border-radius: 5px;
  background: #003DD3;
  color: #ffffff;
  font-size: 1.65rem;
  font-weight: bold;
  margin-top: 33.7px;
}

.page-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.page-pagination .btnPrev_wrap,
.page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page-pagination .first,
.page-pagination .last,
.page-pagination .btnPrev,
.page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
.page-pagination .first:hover,
.page-pagination .last:hover,
.page-pagination .btnPrev:hover,
.page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
.page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
.page-pagination ol li {
  margin: 0 11px;
}
.page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
.page-pagination ol li .this {
  font-weight: 600;
  color: #003DD3;
}

body#popup {
  width: 100% !important;
  max-width: 450px !important;
  margin: 0 auto !important;
}

.xans-product-optionselectlayer {
  width: 100% !important;
  max-width: 450px !important;
  margin: 0 auto !important;
}

.ec-base-layer .header {
  padding: 7px 35px 7px 19px;
  color: #003DD3 !important;
  background: #FAFAFE !important;
}

.content {
  width: 100%;
  max-width: 450px;
}
.content .inner {
  width: 100%;
  max-width: 450px;
  padding: 11px;
}
.content .inner .name {
  font-size: 1.4rem;
  font-weight: 500;
}
.content .inner .productNormal tr,
.content .inner .productNormal th {
  font-size: 1.3rem;
}
.content .inner .productNormal select {
  padding: 4px 8px !important;
  font-size: 1.3rem;
}
.content .inner .product {
  font-size: 1.3rem !important;
}
.content .inner .ec-front-product-item-price {
  font-size: 1.3rem !important;
  color: #003DD3 !important;
}
.content .inner .mileage {
  color: #292929 !important;
}
.content .inner .total {
  color: #003DD3 !important;
}

.btnSubmitFix {
  background: #003DD3 !important;
  color: #ffffff !important;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  padding: 8px 13px;
  border-radius: 50px;
}

.btnNormalFix {
  background: #ffffff !important;
  color: #003DD3 !important;
  font-size: 1.4rem !important;
  font-weight: 500 !important;
  padding: 8px 13px;
  border-radius: 50px;
}/*# sourceMappingURL=wish_list.css.map */