@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

/* 인덱스 배너 */
#indexBanner {
    position: relative;
    width: 100%;
    max-width: 450px;
    ul {
        width: 100%;
        li {
            width: 100%;
            a {
                position: relative;
                display: block;
                width: 100%;
                max-width: 450px;
                height: auto;           
                img{
                    width: 100%;                    
                    object-fit: cover;
                }
            }
        }
    }
}

.banner_item_bullet {
    top: 14.5px !important;
}