@charset "utf-8";
@import "../../../../layout/basic/css/abstracts/mixin";
@import "../../../../layout/basic/css/abstracts/variables";

#indexBannerSlider{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 450px;
    height: 266px;
    overflow: hidden;
    >ul{
        width: 100%;
        max-width: 450px;
        height: 266px;

        >li{
            width: 100%;
            max-width: 450px;
            height: 266px;  

            .index_banner_anchor{
                display: block;
                width: 100%;
                max-width: 450px;
                height: 266px;
                background: linear-gradient(rgba(255, 255, 255, 0) 20%, rgb(255, 255, 255) 90%) 0% 0%, url("/bvtIMG/banner/squarebanner_210422_3.png");
                background-size: cover;
                >ul{
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: flex-end;
                    width: 100%;
                    max-width: 450px;
                    height: 266px;
                    padding: 20px;
                    .banner_icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: fit-content;
                        z-index: 10;
                        font-size: 1.25rem;
                        padding: 5px 15px;
                        background-color: $bvt-blue;
                        color: $bvt-white;
                        border-radius: 100px;
                        margin-bottom: 10px;
                    }
                    .banner_title{
                        font-size: 2.2rem;
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .banner_pagination{
        width: 100%;
        z-index: 0;
        height: 2px;
        bottom: 0;
    }
}