<!--@css(/layout/basic/css/bottom_nav.css)-->

<section id="bottom_nav">
    <ul class="bottom_nav_wrap">
        <li class="bottom_nav">
            <a href="" class="bottom_nav_feed bottom_menu">
              피드
            </a>
        </li>
        <li class="bottom_nav">
            <a class="bottom_nav_category bottom_menu">
                카테고리
            </a>
        </li>
        <li class="bottom_nav">
            <a href="/" class="bottom_nav_store bottom_menu">
                스토어
            </a>
        </li>
        <li class="bottom_nav">
            <a class="bottom_nav_like bottom_menu">
                찜
            </a>
        </li>
        <li class="bottom_nav">
            <a class="bottom_nav_user bottom_menu">
                로그인
            </a>
        </li>
    </ul>
</section>

<script src="../../js/module/layout/bottom_nav.js"></script>
