<!--@css(/css/module/layout/bvoat/bottom_nav.css)-->
<section id="bottom_nav">
    <nav id="bottom_nav_wrap">
        <ul class="bottom_nav_list">
            <li class="bottom_nav">
                <a href="/" class="bottom_store bottom_menu">
                    <div class="store_icon"></div>
                    <span>비보트 홈</span>
                </a>
            </li>
            <li class="bottom_nav">
                <a href="/product/category.html" class="bottom_category bottom_menu">
                    <div class="category_icon"></div>
                    <span>카테고리</span>
                </a>
            </li>
            <li class="bottom_nav" module="Layout_orderBasketcount">
                <a href="/order/basket.html" class="bottom_cart bottom_menu ">
                    <div class="cart_icon">                    <span class="count"><em>{$basket_count}</em></span></div>
                    <span>장바구니</span>
                </a>
            </li>
            <li class="bottom_nav" module="Layout_stateLogon">
                <a class="bottom_user bottom_menu" href="/myshop/index.html" title="마이페이지"> <div class="mypage_icon"></div>
                    <span>마이페이지</span>
                </a>
            </li>
            <li class="bottom_nav" module="Layout_stateLogoff">
                <a class="bottom_user bottom_menu" href="/member/login.html" title="로그인"><div class="mypage_icon"></div>
                    <span>로그인</span>
                </a>
            </li>
        </ul>
    </nav>
</section>

<script src="/js/module/layout/bottom_nav.js"></script>