<!--@css(/css/module/layout/bvoat/top_nav.css)-->
<section id="topNav">
    <nav class="default_top_nav top_nav_swiper">
        <ul class="top_nav_list swiper-wrapper">
            <li id="crew" class="top_nav_item swiper-slide">
                <a href="/member/crew/crew.html" title="1월 쿠폰">1월 쿠폰</a>
            </li>
            <li id="index" class="top_nav_item swiper-slide">
                <a href="/" title="비보트 Pick!">비보트 추천</a>
            </li>
            <li id="prd" class="top_nav_item swiper-slide">
                <a href="/product/realtime.html" title="방금 구매한">방금 샀어요</a>
            </li>
            <li id="intro" class="top_nav_item swiper-slide">
                <a href="/main/introduce.html" title="비보트 소개">비보트 소개</a>
            </li>
        </ul>
    </nav>
    <nav class="community_top_nav displaynone">
        <ul class="top_nav_list swiper-wrapper">
            <li id="crewinfo_nav" class="top_nav_item swiper-slide crewinfo_nav">
                <a href="/member/crew/crewinfo.html" title="회원 혜택">회원 혜택</a>
            </li>
            <li id="buy_records_nav" class="swiper-slide top_nav_item buy_records_nav reviews_nav">
                <a href="/reviews/feed.html" title="리뷰 피드">리뷰 피드</a>
            </li>
            <!-- <li id="community_nav" class="swiper-slide top_nav_item community_nav">
                <a href="/myshop/community/community_list.html"
                title="커뮤니티">커뮤니티</a>
            </li> -->
        </ul>
    </nav>
</section>
<script>
    // swiper
    var swiper = new Swiper('.top_nav_swiper', {
        slidesPerView: "4",
        spaceBetween: 25,
    });  
</script>