<!--@css(/css/module/layout/bvoat/top_nav.css)-->
<section id="topNav">
    <nav class="default_top_nav top_nav_swiper">
        <ul class="top_nav_list swiper-wrapper">
            <li id="crew" class="top_nav_item swiper-slide">
                <a href="/member/crew/crew.html"
                title="크루 가입">크루 가입</a>
            </li>
            <li id="index" class="top_nav_item swiper-slide">
                <a href="/" title="스토어 홈">스토어 홈</a>
            </li>
            <li id="best" class="top_nav_item swiper-slide">
                <a href="/product/best.html" title="베스트">베스트</a>
            </li>
            <li id="realtime" class="top_nav_item swiper-slide">
                <a href="/product/realtime.html" title="방금 구매한">방금 구매한</a>
            </li>
            <li id="cate{$name}" class="top_nav_item swiper-slide category" module="layout_category"><a href="/product/list.html{$param}#{$name}"
                    class="top_nav_category_link" title="{$name}">{$name}</a>
            </li>
            <li id="funding" class="swiper-slide top_nav_item">
                <a href="/funding/index.html" title="펀딩/공구">펀딩/공구</a>
            </li>
        </ul>
    </nav>
    <nav class="community_top_nav displaynone">
        <ul class="top_nav_list swiper-wrapper">
            <li id="crewinfo_nav" class="top_nav_item swiper-slide">
                <a href="/member/crew/crewinfo.html"
                title="크루 가입">크루 가입</a>
            </li>
            <li id="buy_records_nav" class="swiper-slide top_nav_item">
                <a href="/myshop/buy_records/list_all.html" title="리뷰 피드">리뷰 피드</a>
            </li>
            <li id="community_nav" class="swiper-slide top_nav_item">
                <a href="/myshop/community/community_list.html"
                title="커뮤니티">커뮤니티</a>
            </li>
        </ul>
    </nav>
</section>
<script src="/js/module/layout/top_nav.js"></script>
