
// color

$bvt-blue: #022CFF;
$bvt-bg-blue: #F9F9FE;
$bvt-bg-lightblue: #FAFAFE;
$bvt-lightblue: #ECECF4;
$bvt-darkgray: #707070;
$bvt-second-darkgray: #8E8E8E;
$bvt-lightgray: #C4C4C4;
$bvt-whitegray: #F2F2F2;
$bvt-lostfocus-gray: #ABABAB;
$bvt-black: #292929;
$bvt-white: #ffffff;
$bvt-yellow: #FFF239;
$bvt-progress-bar: #E7ECEF;
//투명
$bvt-trans: #00000000;

//border
$bvt-input-border: 1px solid #C4C4C4;
$bvt-btn-border: 1px solid #022CFF;
$bvt-btn-border-gray: 1px solid #E2E2E2;

//shadow
$bvt-shadow: 3px 7px 11px #EDEFF5;
$bvt-top-shadow: 0px -3px 11px #CBCBCB66;
$bvt-btn-shadow: 0px 3px 7px #70707027;


//icon
$x-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E");