@charset "utf-8";
@import "../../../../layout/basic/css/abstracts/mixin";
@import "../../../../layout/basic/css/abstracts/variables";

:root{
    --fold-icon: url(//img.echosting.cafe24.com/skin/mobile/order/bg_fold.png);
}
#orderForm {
    width: 100%;
    max-width: 450px;
    padding: 23px 11px 100px;
    margin-top: -40px; //top_nav hide
    background: $bvt-bg-lightblue;

    #orderFormTitle {
        margin-bottom: 18px;

        >h2 {
            font-weight: 600;
            font-size: 2.2rem;
            margin-bottom: 20px;
        }
        >h3 {
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 2rem;
            color: $bvt-darkgray;
        }
    }

    #orderFormSection {
        #mCafe24Order {
            width: 100%;
            max-width: 450px;
            border: 0;
            padding-top: 24px;
            font-size: 1.4rem;

            .webnmobile_order_html {
                background: none;

                >label {
                    font-weight: 600;
                    font-size: 1.4rem;
                    color: $bvt-darkgray;
                }
            }

            .typeHeader {
                background-color: $bvt-lightgray;
                padding-top: 0px;

                .result {
                    background-color: $bvt-white;
                    padding-top: 0px;

                }
            }

            //접는 타이틀
            .ec-base-fold {
                padding: 0;
                border: 0;
                background: $bvt-white;

                &:nth-child(3) {
                    margin-top: 25px;
                }


                .title {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    padding: 25px 23px;
                    background: $bvt-whitegray;
                    border-radius: 6px;
                    >h2{
                        font-size: 1.5rem !important;
                        font-weight: 600;
                    }

                    &:hover {
                        background: $bvt-bg-blue;
                        color: $bvt-black;
                    }
                    &::after {
                        display: block;
                        content: '';
                        height: 14px;
                        width: 19px;
                        background: var(--fold-icon) no-repeat 0 0;
                        background-size: contain;
                        -webkit-transition: .3s ease-out;
                        -moz-transition: .3s ease-out;
                        -ms-transition: .3s ease-out;
                        -o-transition: .3s ease-out;
                        transition: .3s ease-out;
                    }
                }
                .selected>.contents{
                    overflow: visible;
                    opacity: 1;
                    border: 0;
                    height: auto;
                    -webkit-transition: height .2s ease, opacity .2s ease-out;
                    -moz-transition: height .2s ease, opacity .2s ease-out;
                    -ms-transition: height .2s ease, opacity .2s ease-out;
                    -o-transition: height .2s ease, opacity .2s ease-out;
                    transition: height .2s ease, opacity .2s ease-out;
                }
                .contents{
                    .segment{
                        >label{
                            font-size: 1.45rem !important;
                        }
                    }
                    .ec-base-table{
                        th{
                            font-size: 1.43rem;
                        }
                        input {
                            font-size: 1.3rem;
                            font-weight: 500;
                            padding: 0 10px;
                        }
                        select {
                            font-size: 1.3rem;
                            font-weight: 500;
                            padding: 0 8px;
                        }
                    }
                }
            }

            .recentShipArea {
                padding: 13px;
            }

            #ec-shippingInfo-newAddress {
                padding: 13px 0;
            }

            .segment {
                padding: 0;
            }

            .segment.unique {
                padding: 15px;
                background-color: $bvt-white;
            }

            .ec-base-button.gFull [class*="btn"],
            [class*="btn"].gFull {
                width: 100%;
            }

            .ec-base-button.gFull {
                margin: 0;
            }

            .btnSubmit {
                height: 70px;
                line-height: 70px;
                padding: 0 10px;
                font-size: 15px;
                color: #fff;
                border: 0;
                background: #022CFF;
            }

            .btnSubmit2 {
                height: 46px !important;
                line-height: 46px !important;
                padding: 0 10px;
                font-size: 14px !important;
                color: #fff;
                border-radius: 100px;
                background: #022CFF;
                text-align: center;
            }

            .btnEm2 {
                height: 46px !important;
                line-height: 46px !important;
                padding: 0 10px;
                font-size: 14px !important;
                color: #ABABAB;
                border-radius: 100px;
                border: 1px solid#ABABAB;
                text-align: center;
            }

            .ec-base-button.gFull [class*="btn"] {
                margin: 0 0 7px;
                height: 70px;
                line-height: 70px;
                padding: 0 4px;
                font-size: 18px;
                font-weight: 700;
            }

            .helpArea {
                padding: 30px 14px;
            }

            .agreeArea .agreement .agree .check {
                padding: 0;
            }

            // 결과
            .pannelArea {
                border: 0
            }

            .sideRight {
                right: 0;
                top: 0;
            }

            .agreeArea .agreement .agree .check>label {
                margin: 0 20px 0 7px;
            }

            .recentShipArea .contact dd:before {
                margin: 0 7px;
            }

            .orderArea .totalPrice {
                margin: 0;
            }

            .ec-base-table.typeView>table>tbody>tr>th {
                padding: 8px 0 7px 14px;
                vertical-align: middle;
            }

            .ec-base-table.typeView>table>tbody>tr>td {
                padding: 16px 0 16px 8px;
            }

            .segment>.ec-base-table.typeView {
                margin: 0;
            }

        }
    }
}
.description{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    .prdName{
        a{
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
    .info{
        
        >li{
            font-size: 1.1rem;
            margin-bottom: 8px !important;
        }
    }
}
#mCafe24Order .ec-base-fold > .title .gRight{
    overflow:visible !important;
    margin-right: 25px;
}
.final-pay {
    padding: 40px;
    border-radius: 14px;
    text-align: center;
}

.segment.ec-shippingInfo-sameaddr,
.ec-shippingInfo-newAddress-setMain.segment {
    padding: 13px !important;
}