:root {
  --fold-icon: url(//img.echosting.cafe24.com/skin/mobile/order/bg_fold.png);
}

#orderForm {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px 100px;
  margin-top: -40px;
  background: #FAFAFE;
}

#orderForm #orderFormTitle {
  margin-bottom: 18px;
}

#orderForm #orderFormTitle > h2 {
  font-weight: 600;
  font-size: 2.2rem;
  margin-bottom: 20px;
}

#orderForm #orderFormTitle > h3 {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #707070;
}

#orderForm #orderFormSection #mCafe24Order {
  width: 100%;
  max-width: 450px;
  border: 0;
  padding-top: 24px;
  font-size: 1.4rem;
}

#orderForm #orderFormSection #mCafe24Order .webnmobile_order_html {
  background: none;
}

#orderForm #orderFormSection #mCafe24Order .webnmobile_order_html > label {
  font-weight: 600;
  font-size: 1.4rem;
  color: #707070;
}

#orderForm #orderFormSection #mCafe24Order .typeHeader {
  background-color: #C4C4C4;
  padding-top: 0px;
}

#orderForm #orderFormSection #mCafe24Order .typeHeader .result {
  background-color: #ffffff;
  padding-top: 0px;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold {
  padding: 0;
  border: 0;
  background: #ffffff;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold:nth-child(3) {
  margin-top: 25px;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 23px;
  background: #F2F2F2;
  border-radius: 6px;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .title > h2 {
  font-size: 1.5rem !important;
  font-weight: 600;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .title:hover {
  background: #F9F9FE;
  color: #292929;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .title::after {
  display: block;
  content: '';
  height: 14px;
  width: 19px;
  background: var(--fold-icon) no-repeat 0 0;
  background-size: contain;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .selected > .contents {
  overflow: visible;
  opacity: 1;
  border: 0;
  height: auto;
  -webkit-transition: height .2s ease, opacity .2s ease-out;
  transition: height .2s ease, opacity .2s ease-out;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .contents .segment > label {
  font-size: 1.45rem !important;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .contents .ec-base-table th {
  font-size: 1.43rem;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .contents .ec-base-table input {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 10px;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-fold .contents .ec-base-table select {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 0 8px;
}

#orderForm #orderFormSection #mCafe24Order .recentShipArea {
  padding: 13px;
}

#orderForm #orderFormSection #mCafe24Order #ec-shippingInfo-newAddress {
  padding: 13px 0;
}

#orderForm #orderFormSection #mCafe24Order .segment {
  padding: 0;
}

#orderForm #orderFormSection #mCafe24Order .segment.unique {
  padding: 15px;
  background-color: #ffffff;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-button.gFull [class*="btn"],
#orderForm #orderFormSection #mCafe24Order [class*="btn"].gFull {
  width: 100%;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-button.gFull {
  margin: 0;
}

#orderForm #orderFormSection #mCafe24Order .btnSubmit {
  height: 70px;
  line-height: 70px;
  padding: 0 10px;
  font-size: 15px;
  color: #fff;
  border: 0;
  background: #022CFF;
}

#orderForm #orderFormSection #mCafe24Order .btnSubmit2 {
  height: 46px !important;
  line-height: 46px !important;
  padding: 0 10px;
  font-size: 14px !important;
  color: #fff;
  border-radius: 100px;
  background: #022CFF;
  text-align: center;
}

#orderForm #orderFormSection #mCafe24Order .btnEm2 {
  height: 46px !important;
  line-height: 46px !important;
  padding: 0 10px;
  font-size: 14px !important;
  color: #ABABAB;
  border-radius: 100px;
  border: 1px solid #ABABAB;
  text-align: center;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-button.gFull [class*="btn"] {
  margin: 0 0 7px;
  height: 70px;
  line-height: 70px;
  padding: 0 4px;
  font-size: 18px;
  font-weight: 700;
}

#orderForm #orderFormSection #mCafe24Order .helpArea {
  padding: 30px 14px;
}

#orderForm #orderFormSection #mCafe24Order .agreeArea .agreement .agree .check {
  padding: 0;
}

#orderForm #orderFormSection #mCafe24Order .pannelArea {
  border: 0;
}

#orderForm #orderFormSection #mCafe24Order .sideRight {
  right: 0;
  top: 0;
}

#orderForm #orderFormSection #mCafe24Order .agreeArea .agreement .agree .check > label {
  margin: 0 20px 0 7px;
}

#orderForm #orderFormSection #mCafe24Order .recentShipArea .contact dd:before {
  margin: 0 7px;
}

#orderForm #orderFormSection #mCafe24Order .orderArea .totalPrice {
  margin: 0;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-table.typeView > table > tbody > tr > th {
  padding: 8px 0 7px 14px;
  vertical-align: middle;
}

#orderForm #orderFormSection #mCafe24Order .ec-base-table.typeView > table > tbody > tr > td {
  padding: 16px 0 16px 8px;
}

#orderForm #orderFormSection #mCafe24Order .segment > .ec-base-table.typeView {
  margin: 0;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.description .prdName a {
  font-size: 1.2rem;
  font-weight: 600;
}

.description .info > li {
  font-size: 1.1rem;
  margin-bottom: 8px !important;
}

#mCafe24Order .ec-base-fold > .title .gRight {
  overflow: visible !important;
  margin-right: 25px;
}

.final-pay {
  padding: 40px;
  border-radius: 14px;
  text-align: center;
}

.segment.ec-shippingInfo-sameaddr,
.ec-shippingInfo-newAddress-setMain.segment {
  padding: 13px !important;
}
/*# sourceMappingURL=form_onetouch.css.map */