#orderForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin-top: -40px;
}

#orderForm #orderFormTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}

#orderForm #orderFormTitle h2 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 15px;
}

#orderForm #orderFormTitle h3 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
  line-height: 1.9rem;
}

#orderForm #frm_order_act {
  position: relative;
  width: 100%;
  max-width: 450px;
}

#orderForm #orderFormSection .toggleArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  max-width: 450px;
}

#orderForm #orderFormSection div > .title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
  height: 40px;
  margin: 0;
  padding: 11px 35px 11px 14px;
  cursor: pointer;
  background: #8E8E8E;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
}

#orderForm #orderFormSection div > .title > h3 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 500;
}

#orderForm #orderFormSection div > .contents {
  position: relative;
  width: 100%;
  max-width: 450px;
  margin: 0;
  cursor: pointer;
  background: #ffffff;
  font-size: 1.3rem;
  padding: 3px 0;
}

#orderForm #orderFormSection div > .contents h3, #orderForm #orderFormSection div > .contents h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  padding: 13px;
  background: #F2F2F2;
  color: #022CFF;
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 1px solid #E2E2E2;
}

.xans-order-form .orderArea .prdInfo .description {
  position: relative;
  min-height: 90px;
  padding: 10px 0 0 100px;
}

.xans-order-form .orderArea .prdInfo .description .prdImg {
  width: 85px;
  height: 85px;
  border-radius: 6px;
  overflow: hidden;
}

.xans-order-form .orderArea .prdInfo .description .prdImg a {
  display: block;
  width: 100%;
  height: 100%;
}

.xans-order-form .orderArea .prdInfo .description .prdImg a img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.xans-order-form .orderArea .prdInfo .description .prd_price {
  padding: 7px 0 7px;
  font-size: 1.3rem;
  color: #292929;
}

.btnNormal {
  display: inline-block;
  padding: 10px 15px;
  background: #F2F2F2;
  font-weight: 600;
}
/*# sourceMappingURL=order_form.css.map */