@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#basketLayer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.3);
  z-index: 100000;
}
#basketLayer .layer_basket {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  border: 0;
  background: #ffffff;
  overflow: hidden;
}
#basketLayer .layer_basket h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  font-weight: 400;
  background: #FAFAFE;
}
#basketLayer .layer_basket .basket_wrap {
  width: 100%;
  max-width: 450px;
}
#basketLayer .layer_basket .basket_wrap > ul {
  padding: 5px 11px 10px;
}
#basketLayer .layer_basket .basket_wrap > ul > li {
  display: flex;
  flex-flow: row nowrap;
  height: calc(50% - 5px) !important;
}

.thumb {
  position: relative;
  width: 100%;
}
.thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 2px;
  font-size: 0;
}
.thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb .icon {
  position: absolute;
  width: 50px;
  height: 20.5px;
  border-radius: 4px;
  top: 4.6px;
  left: 4.6px;
}
.thumb .icon img {
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
.thumb .wish button img {
  position: relative;
  width: 37px;
  height: 35px;
  padding: 10px;
  margin-top: 2.5px;
}

.thumb {
  position: relative;
  width: 95px !important;
  height: 95px !important;
}

.desc {
  padding: 1%;
}
.desc .basket_name {
  font-size: 1.3rem;
  font-weight: 600;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.8rem;
  height: 2.1rem;
  color: #707070;
}
.desc .basket_option {
  font-size: 1.2rem;
  color: #707070;
}
.desc .basket_quantity {
  font-size: 1.2rem;
  color: #707070;
  margin-top: 12px;
}

.progressbar {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 61px;
}

.layer_basket_btn {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  height: 61px;
  padding: 0;
}
.layer_basket_btn > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}
.layer_basket_btn .move_basket_btn {
  background: #ffffff;
  color: #292929;
}
.layer_basket_btn .stay_btn {
  background: #022CFF;
  color: #ffffff;
}/*# sourceMappingURL=add_basket2.css.map */