@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#weekSocialOrderList {
  width: 100%;
  max-width: 450px;
  padding: 37px 0;
  margin: 80px 0 28px;
}

.desc {
  padding: 7px 0 0 0;
}
.desc .brand {
  font-size: 1rem !important;
  color: #707070;
  margin-bottom: 3px;
}
.desc .summary {
  font-size: 1.1rem !important;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4rem;
  margin-bottom: 7px;
}
.desc .product_name,
.desc .product_name span {
  color: #292929 !important;
  font-size: 1.29rem !important;
  font-weight: bold;
  word-wrap: break-word;
  word-break: keep-all;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.59rem;
  height: 2.88rem;
  margin-bottom: 20px;
}
.desc > li:nth-child(1) {
  font-size: 10px !important;
  color: #707070;
}
.desc > li:nth-child(2) {
  font-size: 11.5px !important;
  color: #707070;
}

.thumb {
  position: relative;
  width: 100%;
}
.thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 2px;
  font-size: 0;
}
.thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb .icon {
  position: absolute;
  width: 50px;
  height: 20.5px;
  border-radius: 4px;
  top: 4.6px;
  left: 4.6px;
}
.thumb .icon img {
  -o-object-fit: cover;
     object-fit: cover;
}
.thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
.thumb .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}

#weekTotalBestList {
  margin-bottom: 33px;
  padding: 0 11px;
}
#weekTotalBestList #weekTotalBestListTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
}
#weekTotalBestList #weekTotalBestListTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#weekTotalBestList #weekTotalBestListTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(1)::before, #weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(2)::before {
  position: absolute;
  display: flex;
  box-align: start;
  align-items: center;
  justify-content: center;
  content: "";
  width: 32px;
  height: 28px;
  background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M31 6H6v25l12.5-5L31 31V6Z' fill='%23FF7600'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='37' height='37' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_302_304'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_302_304' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
  background-size: cover;
  font-size: 1.55rem;
  font-weight: 600;
  z-index: 9;
  top: -8px;
  left: 7px;
  padding: 0 0 4px 0;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(n+3):nth-child(-n+5)::before {
  position: absolute;
  display: flex;
  box-align: start;
  align-items: center;
  justify-content: center;
  content: "";
  width: 30px;
  height: 28px;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_302_305)'%3E%3Cpath d='M26 6H6V26L16 22L26 26V6Z' fill='%23FF7600'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_302_305' x='0' y='0' width='32' height='32' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_302_305'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_302_305' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center;
  background-size: cover;
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 9;
  top: -8px;
  left: 7px;
  padding: 0 0 4px 0;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(n+6):nth-child(-n+20)::before {
  position: absolute;
  display: flex;
  box-align: start;
  align-items: center;
  justify-content: center;
  content: "";
  width: 30px;
  height: 28px;
  background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_302_305)'%3E%3Cpath d='M26 6H6V26L16 22L26 26V6Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_302_305' x='0' y='0' width='32' height='32' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_302_305'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_302_305' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center;
  background-size: cover;
  font-size: 1.4rem;
  font-weight: 600;
  z-index: 9;
  top: -8px;
  left: 7px;
  padding: 0 0 4px 0;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(1)::before {
  content: "1" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(2)::before {
  content: "2" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(3)::before {
  content: "3" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(4)::before {
  content: "4" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(5)::before {
  content: "5" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(6)::before {
  content: "6" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(7)::before {
  content: "7" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(8)::before {
  content: "8" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(9)::before {
  content: "9" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(10)::before {
  content: "10" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(11)::before {
  content: "11" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(12)::before {
  content: "12" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(13)::before {
  content: "13" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(14)::before {
  content: "14" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(15)::before {
  content: "15" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(16)::before {
  content: "16" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(17)::before {
  content: "17" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(18)::before {
  content: "18" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(19)::before {
  content: "19" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item:nth-child(20)::before {
  content: "20" !important;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item .brand {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3rem;
}
#weekTotalBestList #weekTotalBestListContents .weekbest > ul .list_item .summary {
  display: block;
  font-size: 1.15rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3rem;
  min-height: 11px;
  margin-bottom: 7px;
}

#weekTagBestList {
  background: #F5F6FA;
  padding: 60px 11px 37px;
}
#weekTagBestList #weekTagBestListTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
}
#weekTagBestList #weekTagBestListTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#weekTagBestList #weekTagBestListTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#weekTagBestList #weekTagBestListContents {
  width: 100%;
  max-width: 450px;
}
#weekTagBestList #weekTagBestListContents .weektag {
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow-x: hidden;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.0509803922);
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle {
  width: 100%;
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle .tag_title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: -0.02em;
  padding: 15px;
  border-bottom: 1px solid #EDEDED;
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle .tag_title > .move_arrow {
  position: relative;
  display: inline-block;
  width: 9px;
  height: 16px;
  background: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 15L7.5 8L4.25 4.5L0.999999 1' stroke='%239A9A9A' stroke-linecap='square'/%3E%3C/svg%3E%0A") no-repeat center;
  background-size: contain;
  top: 4px;
  float: right;
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle .tag_subtitle {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  color: #707070;
  padding: 20px 15px 15px;
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle .tag_subtitle .purchasers {
  font-weight: 700;
  color: #022CFF;
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle .tag_subtitle .cate_item {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 28px;
  padding: 0 11px;
  box-sizing: border-box;
  border: 1px solid #E2E2E2;
  border-radius: 14px;
  margin: 0 2px;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #292929;
}
#weekTagBestList #weekTagBestListContents .weektag #weekTagTitle .tag_subtitle .cate_item > a {
  font-size: 1.4rem;
  font-weight: 400;
  color: #292929;
}

/* 메인진열 */
.weekbest {
  width: 100%;
}
.weekbest > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: calc(100% - 20px);
  padding: 0 10px;
}
.weekbest > ul .list_item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: 31.9%;
  max-width: 130px;
  margin-bottom: 27px;
}
.weekbest > ul .list_item:nth-child(1), .weekbest > ul .list_item:nth-child(2) {
  width: calc(50% - 5px);
  max-width: 200px;
  margin-bottom: 27px;
}
.weekbest > ul .list_item:nth-child(1) .wish, .weekbest > ul .list_item:nth-child(2) .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.weekbest > ul .list_item:nth-child(1) .wish button, .weekbest > ul .list_item:nth-child(2) .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
.weekbest > ul .list_item:nth-child(1) .wish button img, .weekbest > ul .list_item:nth-child(2) .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}
.weekbest > ul .list_item:nth-child(n+9) {
  display: none;
}
.weekbest > ul .list_item:nth-child(1) {
  margin-right: 10px;
}
.weekbest > ul .list_item:nth-child(3n), .weekbest > ul .list_item:nth-child(4), .weekbest > ul .list_item:nth-child(7), .weekbest > ul .list_item:nth-child(10), .weekbest > ul .list_item:nth-child(13), .weekbest > ul .list_item:nth-child(16), .weekbest > ul .list_item:nth-child(19) {
  margin-right: 2.1%;
}
.weekbest > ul .list_item .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.weekbest > ul .list_item .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
.weekbest > ul .list_item .wish button img {
  position: relative;
  width: 37px;
  height: 35px;
  padding: 10px;
  margin-top: 2.5px;
}
@media (max-width: 420px) {
  .weekbest ul {
    max-width: 100%;
    padding: 0;
  }
  .weekbest .desc {
    padding: 7px 0 0 0;
  }
  .weekbest .price_wrap > .discount {
    font-size: 1.4rem;
  }
  .weekbest .price_wrap > .price_item {
    font-size: 1.4rem;
  }
  .weekbest .price_wrap > .price_item::after {
    font-size: 1.4rem;
  }
}
@media (max-width: 379px) {
  .weekbest ul {
    max-width: 100%;
    padding: 0;
  }
  .weekbest .desc {
    padding: 7px 0 0 0;
  }
  .weekbest .price_wrap > .discount {
    font-size: 1.25rem;
  }
  .weekbest .price_wrap > .price_item {
    font-size: 1.25rem;
  }
  .weekbest .price_wrap > .price_item::after {
    font-size: 1.25rem;
  }
  .weekbest .price_wrap .strike_price {
    bottom: 1.5rem;
    font-size: 1rem !important;
  }
}
@media (max-width: 350px) {
  .weekbest ul {
    max-width: 100%;
    padding: 0;
  }
  .weekbest .desc {
    padding: 7px 0 0 0;
  }
  .weekbest .price_wrap > .discount {
    font-size: 1.1rem;
  }
  .weekbest .price_wrap > .price_item {
    font-size: 1.1rem;
  }
  .weekbest .price_wrap > .price_item::after {
    font-size: 1.1rem;
  }
  .weekbest .price_wrap .strike_price {
    bottom: 1.5rem;
    font-size: 0.9px !important;
  }
}

.weektag {
  width: 100%;
  /* 더보기 버튼 커스텀 */
}
.weektag > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: calc(100% - 30px);
  padding: 0 15px;
}
.weektag > ul .list_item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(50% - 9px);
  max-width: 190px;
  margin-bottom: 27px;
}
.weektag > ul .list_item .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
.weektag > ul .list_item .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
.weektag > ul .list_item .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}
.weektag > ul .list_item:nth-child(n+5) {
  display: none;
}
.weektag > .paginate_moreview {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: inherit;
}
.weektag > .paginate_moreview .moreview_btn {
  width: 100%;
  max-width: inherit;
  height: 42px;
  background: #FAFAFB;
  border-radius: 0;
  border: none;
  color: #292929;
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 auto;
  cursor: pointer;
}
.weektag > .paginate_moreview .moreview_btn svg {
  margin: 3px 0 0 2px;
}/*# sourceMappingURL=best.css.map */