@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 셀렉트 박스 화살표 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
:root {
  --icon-close-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='15' fill='none'%3E%3Cpath fill='%23022CFF' fill-opacity='.3' d='m2 3.1 18.7 10.6L38.65 3.1l-1-1.1-16.96 9.48L3.02 2 2 3.1Z'/%3E%3Cpath stroke='%23022CFF' stroke-opacity='.3' d='m1.63 2.77-.42.46.54.31 18.7 10.6.25.13.25-.14L38.92 3.54l.53-.31-.42-.46-1.02-1.1-.26-.3-.35.2-16.7 9.33L3.25 1.56l-.34-.18-.26.28-1.02 1.11Z'/%3E%3C/svg%3E");
  --icon-close-x: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_71_5218)'%3E%3Ccircle cx='14' cy='14' r='10' fill='white'/%3E%3Cpath d='M10.6665 10.6668L17.3332 17.3335M10.6665 17.3335L17.3332 10.6668' stroke='%23022CFF' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_71_5218' x='0' y='0' width='28' height='28' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_71_5218'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_71_5218' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  --icon-select-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='9' fill='none'%3E%3Cpath stroke='%23707070' d='M1 1.36 7.37 7.5l6.36-6.13-.35-.36-6.01 5.77L1.35 1 1 1.36Z'/%3E%3C/svg%3E");
}

#buyScreen {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  background: rgba(41, 41, 41, 0.5);
  z-index: 99999999;
}
#buyScreen .buy_screen_box {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 504px;
  background-color: #ffffff;
  box-shadow: 0px 3px 7px rgba(112, 112, 112, 0.1529411765);
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 15px 15px 0px 0px;
}
#buyScreen .buy_screen_box .buy_screen_title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 378px - 86px);
  border-bottom: 1px solid #E2E2E2;
}
#buyScreen .buy_screen_box .buy_screen_title .screen_close_btn {
  width: 36.8px;
  height: 14.2px;
  background: var(--icon-close-arrow) no-repeat center;
  text-indent: -9999px;
}

.buy_screen_option {
  width: 100%;
  height: 100%;
  max-height: 378px;
  padding: 15px;
  overflow-y: auto;
}
.buy_screen_option table {
  width: 100%;
}
.buy_screen_option tbody {
  width: 100%;
}
.buy_screen_option .product_addoption {
  width: 100%;
}
.buy_screen_option .product_addoption td {
  position: relative;
  width: 100%;
  z-index: 0;
}
.buy_screen_option .product_addoption td input {
  width: 100%;
  height: 44px;
  border: 1px solid #C4C4C4;
  border-color: #DEDEDE;
  border-radius: 2px;
  background: #F8F9FF;
  padding: 4px 0 0 17px;
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: 600;
}
.buy_screen_option .product_addoption td input::-moz-placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  color: #A9A9A9;
}
.buy_screen_option .product_addoption td input:-ms-input-placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  color: #A9A9A9;
}
.buy_screen_option .product_addoption td input::placeholder {
  font-size: 1.5rem;
  font-weight: 600;
  color: #A9A9A9;
}
.buy_screen_option .product_addoption td .txtByte {
  position: absolute;
  font-size: 1.45rem;
  font-weight: 500;
  line-height: 2.25rem;
  color: #707070;
  top: 11px;
  right: 10px;
}
.buy_screen_option .product_select tr {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-bottom: 15px;
}
.buy_screen_option .product_select tr th.option_title {
  display: none;
}
.buy_screen_option .product_select tr td {
  position: relative;
  width: 100%;
  z-index: 0;
}
.buy_screen_option .product_select tr td select {
  width: 100%;
  height: 44px;
  background: transparent;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #454545;
  letter-spacing: -0.25px;
  padding: 6px 17px;
  cursor: pointer;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: var(--icon-select-close) no-repeat calc(100% - 17px);
}
.buy_screen_option .product_select tr td select::-ms-expand {
  display: none; /*for IE10,11*/
}
.buy_screen_option .product_select tr td ul {
  width: 100%;
  height: 44px;
  background: transparent;
  border: 1px solid #DEDEDE;
  border-radius: 2px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1px;
  padding: 13px 17px;
}

.option_direct table {
  width: 100%;
  max-width: 450px;
  overflow: hidden;
}
.option_direct table tbody {
  width: 100%;
}
.option_direct table tbody td:nth-child(1) {
  position: relative;
}
.option_direct table tbody td:nth-child(3) {
  position: relative;
}
.option_direct table tbody tr {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 13px 16px;
  background: #F8F9FF;
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  border-left: 1px solid #DEDEDE;
}
.option_direct table tbody tr:nth-child(1) {
  border-top: 1px solid #DEDEDE;
  border-radius: 5px 5px 0 0;
}
.option_direct table tbody tr .product {
  width: 93%;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 2rem;
  margin-bottom: 15px;
}
.option_direct table tbody tr .product > span {
  color: #022CFF;
}
.option_direct table tbody tr .quantity {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 83.06px !important;
  height: 32px !important;
}
.option_direct table tbody tr p:nth-child(3) {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  width: 83.06px !important;
  height: 32px !important;
  margin-bottom: -25px;
}
.option_direct table tbody tr .quantity > input[type=text], .option_direct table tbody tr .quantity > input[type=number],
.option_direct table tbody tr #quantity, .option_direct table tbody tr p > input {
  width: 37px !important;
  height: 32px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  background: #ffffff;
  order: 1;
  margin: 0 11.74px 0 11.3px;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
  text-align: center;
}
.option_direct table tbody tr a.down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.51px !important;
  height: 32px;
  order: 0;
}
.option_direct table tbody tr a.down::after {
  display: block;
  content: "";
  width: 11.51px;
  height: 11.51px;
  content: "";
  background: url("data:image/svg+xml,%3Csvg width='14' height='3' viewBox='0 0 14 3' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1.5H12.5143' stroke='%23555555' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
}
.option_direct table tbody tr a.down img {
  display: none;
}
.option_direct table tbody tr a.up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.51px !important;
  height: 32px;
  order: 3;
}
.option_direct table tbody tr a.up::after {
  display: block;
  content: "";
  width: 11.51px;
  height: 11.51px;
  background: url("data:image/svg+xml,%3Csvg width='14' height='15' viewBox='0 0 14 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.31421 1.74274V13.257' stroke='%23555555' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1.55713 7.5H13.0714' stroke='%23555555' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
}
.option_direct table tbody tr a.up img {
  display: none;
}
.option_direct table tbody tr a.delete {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: var(--icon-close-x) no-repeat center;
  top: 12px;
  right: 12px;
}
.option_direct table tbody tr a.delete img {
  display: none;
}
.option_direct table tbody tr .right {
  position: absolute;
  bottom: 13px;
  right: 16px;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: -0.25px;
  color: black;
}
.option_direct table tbody tr .right::after {
  content: "원";
  display: inline-block;
}
.option_direct table tbody tr .right .mileage {
  display: none;
}

.buy_screen_option_result {
  width: 100%;
  background: #ffffff;
}
.buy_screen_option_result .total_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  border-right: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  border-left: 1px solid #DEDEDE;
  border-radius: 0 0 5px 5px;
  margin-bottom: 15px;
}
.buy_screen_option_result .total_wrap .total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 44px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 16px;
}
.buy_screen_option_result .total_wrap .total::before {
  content: "상품";
}
.buy_screen_option_result .total_wrap .total strong {
  position: absolute;
  order: 1;
  right: 14px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #022CFF;
}
.buy_screen_option_result .total_wrap .total strong em {
  display: inline-block;
}
.buy_screen_option_result .total_wrap .total strong em::after {
  display: inline-block;
  content: "원";
}
.buy_screen_option_result .total_delivery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 44px;
  background: #F5F5F5;
  border-radius: 5px;
  padding: 13px 12px 11px 16px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 2rem;
}
.buy_screen_option_result .total_delivery .total_delivery_price span {
  display: inline-block;
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: #022CFF !important;
}
.buy_screen_option_result .total_delivery_price.not_free span.delv_price_B {
  font-weight: 500 !important;
  color: #707070 !important;
  font-size: 1.2rem !important;
  letter-spacing: -0.25px;
}
.buy_screen_option_result .total_delivery_price.not_free span.delv_price_B > strong {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: #022CFF !important;
}
.buy_screen_option_result .total_delivery_price.not_free span.delv_price_B > strong::after {
  content: "원";
  display: inline-block;
}

#NaverChk_Button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#NaverChk_Button > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: auto !important;
}
#NaverChk_Button .naver_msg {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #727272;
  text-align: center;
  margin: 15px 0;
}
#NaverChk_Button .naver_msg > span {
  font-weight: 700;
}
#NaverChk_Button .npay_storebtn_bx {
  width: 100% !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #E2E2E2 !important;
  border-width: 3px !important;
  border-color: #F5F5F5 !important;
}
#NaverChk_Button .npay_storebtn_bx .npay_button_box {
  border: none !important;
  width: 290px !important;
  margin-top: 10px !important;
}

.buy_button {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  border-top: 1px solid #DEDEDE;
  bottom: 0;
  padding: 0 11px;
  padding-top: calc(constant(safe-area-inset-bottom) - 20px);
  padding-top: calc(env(safe-area-inset-bottom) - 20px);
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
}
.buy_button div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 210px;
  height: 100%;
  padding: 15px 0;
}
.buy_button div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 210px;
  height: 100%;
  max-height: 56px;
  min-height: 56px;
  font-weight: 700;
  font-size: 1.6rem;
  border: 1px solid #022CFF;
  border-radius: 5px;
}
.buy_button .btn_cart {
  margin-right: 1.78%;
}
.buy_button .btn_cart button {
  background: #ffffff;
  color: #022CFF;
}
.buy_button .btn_buy button {
  background: #022CFF;
  color: #ffffff;
}
.buy_button .select_none {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #707070;
  text-align: center;
}/*# sourceMappingURL=buy_screen.css.map */