@charset "UTF-8";
#buyScreen {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  overflow: hidden;
  background: rgba(41, 41, 41, 0.5);
  z-index: 9999;
}

#buyScreen .screen_on {
  -webkit-animation: rise-item 0.25s;
          animation: rise-item 0.25s;
  -webkit-animation-delay: .12s;
          animation-delay: .12s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rise-item {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

@keyframes rise-item {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
}

#buyScreen .buy_screen_box {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 75%;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 7px #70707027;
          box-shadow: 0px 3px 7px #70707027;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  font-size: 1.4rem;
  font-weight: 300;
}

#buyScreen .buy_screen_box .buy_screen_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #E2E2E2;
}

#buyScreen .buy_screen_box .buy_screen_title h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: calc(50% - 25px);
}

#buyScreen .buy_screen_box .buy_screen_title .screen_close_btn {
  width: 30px;
  height: 15px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E") no-repeat center;
}

.buy_screen_payment {
  width: 100%;
  height: 45%;
  padding: 20px 11px;
  overflow-y: auto;
}

.buy_screen_payment #totalSelects table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 5px;
}

.buy_screen_payment #totalSelects table tbody tr th {
  width: 15%;
  font-size: 1.45rem;
}

.buy_screen_payment #totalSelects table tbody tr td {
  width: 85%;
  font-size: 1.45rem;
}

.buy_screen_payment #totalSelects table tbody tr td select {
  width: 100%;
  height: 40px;
  font-size: 1.45rem;
  padding: 5px 12px;
  cursor: pointer;
}

.buy_screen_payment #totalProducts .select-tip {
  font-size: 1.5rem;
  font-weight: 300;
  color: #707070;
  text-align: center;
  padding: 5px 0 10px;
}

.buy_screen_payment .option_products tr,
.buy_screen_payment .option_direct tr {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100px;
  background: #FAFAFE;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 20px;
}

.buy_button_box {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 32%;
  bottom: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FAFAFE;
}

.buy_button_box h1 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #292929;
  padding: 3px 0 10px 11px;
}

.buy_button_box .total_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.35rem;
  margin: 0 11px;
}

.buy_button_box .total_price span:nth-child(1) {
  font-size: 1.3rem;
}

.buy_button_box .total_price span:nth-child(2) {
  font-weight: 600;
}

.buy_button_box .total_delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  margin: 0 11px;
}

.buy_button_box .total_delivery span:nth-child(1) {
  font-size: 1.3rem;
}

.buy_button_box .total_delivery span:nth-child(2) span {
  font-size: 1.35rem;
}

.buy_button_box .total_delivery span:nth-child(2) span span {
  font-size: 1.3rem;
}

.buy_button_box .total_delivery span:nth-child(2) span span strong {
  font-size: 1.35rem;
}

.buy_button_box .ec-base-help {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 15px;
}

.buy_button_box #NaverChk_Button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.buy_button_box .product_action {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 450px;
  height: 60px;
  bottom: 0;
}

.buy_button_box .product_action div {
  width: 50%;
}

.buy_button_box .product_action div a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1.6rem;
}

.buy_button_box .product_action .btn_buy {
  background: #022CFF;
}

.buy_button_box .product_action .btn_buy a {
  color: #ffffff;
}

.buy_button_box .product_action .btn_cart {
  background: #ffffff;
}

.buy_button_box .product_action .btn_cart a {
  color: #292929;
}

.buy_button_box .product_action .select_none {
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  color: #707070;
  text-align: center;
}

.option_directs > tr > td:nth-child(1) > p:nth-child(3),
.quantity,
.quant {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: auto !important;
  height: auto;
  bottom: 20px;
  left: 20px;
}

.product {
  width: 210px;
  max-width: 250px;
  min-width: 200px;
  color: #022CFF;
  font-size: 1.35rem;
  font-weight: 500;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}

.option_product > td p:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#quantity,
.eProductQuantityClass {
  width: 60px;
  height: 35px;
  text-align: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  border: none;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  font-size: 1.5rem;
}

.eProductQuantityUpClass,
.up {
  width: 35px;
  height: 35px;
  border: 1px solid #E2E2E2;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2025'%3E%3Cpath data-name='사각형 2328' fill='%23fff' d='M0 0h35v35H0z'/%3E%3Cg data-name='Icon feather-plus' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1754' d='M17.5 11v13'/%3E%3Cpath data-name='패스 1755' d='M11 17.5h13'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.eProductQuantityUpClass > img,
.up > img {
  visibility: hidden;
}

.eProductQuantityDownClass,
.down {
  width: 35px;
  height: 35px;
  border: 1px solid #E2E2E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2025'%3E%3Cpath data-name='사각형 2328' fill='%23fff' d='M0 0h35v35H0z'/%3E%3Cpath data-name='Icon feather-minus' d='M11.5 17.5h13' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.eProductQuantityDownClass > img,
.down > img {
  visibility: hidden;
}

.mileage {
  display: none;
}

.price::after {
  content: none;
}

.ec-front-product-item-price {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  right: 20px;
  bottom: 20px;
}

.delete {
  position: absolute;
  width: 15px;
  height: 15px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  top: 12px;
  right: 12px;
}

.delete > img {
  visibility: hidden;
}
/*# sourceMappingURL=buy_screen.css.map */