@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";



#buyScreen {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 100vh;
    left: 50%;
    transform: translate(-50%,0);
    overflow: hidden;
    background: transparentize($bvt-black, 0.5);
    z-index: 9999;

    .screen_on {
        animation: rise-item 0.25s;
        animation-delay: .12s;
        animation-fill-mode: both;
    }
    @include rise-item-keyframe;

    .buy_screen_box {
        position: relative;
        width: 100%;
        max-width: 450px;
        height: 75%;
        margin: 0 auto;
        background-color: $bvt-white;
        box-shadow: $bvt-btn-shadow;
        bottom: 0;
        z-index: 9999;
        overflow: hidden;
        font-size: 1.4rem;
        font-weight: 300;
        .buy_screen_title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 55px;
            border-bottom: $bvt-btn-border-gray;

            h1 {
                font-size: 1.5rem;
                font-weight: 500;
                margin-left: calc(50% - 25px);
            }

            .screen_close_btn {
                width: 30px;
                height: 15px;
                background: $x-btn no-repeat center;
            }
        }

    }
}

.buy_screen_payment {
    width: 100%;
    height: 45%;
    padding: 20px 11px;
    overflow-y: auto;

    #totalSelects {
        table {
            tbody {
                tr {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    height: 40px;
                    margin-bottom: 5px;

                    th {
                        width: 10%;
                        max-width: 60px;
                        min-width: 38px;
                        font-size: 1.45rem;
                        text-align: left;
                    }

                    td {
                        width: 85%;
                        font-size: 1.45rem;

                        select {
                            width: 100%;
                            height: 40px;
                            font-size: 1.45rem;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    #totalProducts {
        .select-tip {
            font-size: 1.5rem;
            font-weight: 300;
            color: $bvt-darkgray;
            text-align: center;
            padding: 5px 0 10px;
        }

    }

    // 옵션선택 또는 세트상품 선택시 상품이 추가되는 영역 1
    .option_products,
    .option_direct {

        // 개별 칸
        tr {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: flex-start;
            height: 100px;
            background: $bvt-bg-lightblue;
            border-radius: 3px;
            margin-bottom: 5px;
            padding: 20px;
        }
    }
}

.buy_button_box {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 40%;
    bottom: 0;
    padding: 7px 11px 25px;
    box-sizing: border-box;
    background: $bvt-bg-lightblue;

    h1 {
        width: 100%;
        text-align: left;
        font-size: 1.4rem;
        font-weight: 600;
        color: $bvt-black;
        margin-bottom: 7px;
    }

    .total_price {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.35rem;
        margin-bottom: 3px;
        span {
            &:nth-child(1) {
                font-size: 1.3rem;
            }
            &:nth-child(2) {
                font-weight: 600;
            }
        }
    }

    .total_delivery {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 7px;
        span {
            &:nth-child(1) {
                font-size: 1.3rem;
            }
            &:nth-child(2) {
                span {
                    font-size: 1.35rem;

                    span {
                        font-size: 1.3rem;

                        strong {
                            font-size: 1.35rem;
                        }
                    }
                }
            }
        }
    }

    .ec-base-help {
        font-size: 1.3rem;
        text-align: center;
        padding-bottom: 15px;
    }

    #NaverChk_Button {
        display: flex;
        justify-content: center;
    }

    .product_action {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 450px;
        height: 60px;
        bottom: 0;

        div {
            width: 50%;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-weight: 500;
                font-size: 1.6rem;
            }
        }

        .btn_buy {
            background: $bvt-blue;

            a {
                color: $bvt-white;
            }
        }

        .btn_cart {
            background: $bvt-white;

            a {
                color: $bvt-black;
            }
        }

        .select_none {
            width: 100%;
            font-size: 1.6rem;
            font-weight: 500;
            color: $bvt-darkgray;
            text-align: center;
        }
    }
}
//옵션 및 상품 선택 컨트롤

//수량
.option_directs>tr>td:nth-child(1)>p:nth-child(3),
.quantity,
.quant {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    width: auto !important;
    height: auto;
    bottom: 20px;
    left: 20px;

    //옵션 선택인 경우
}

// 상품명
.product {
    width: 210px;
    max-width: 250px;
    min-width: 200px;
    color: $bvt-blue;
    font-size: 1.35rem;
    font-weight: 500;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

//input + - 박스 flex 변환

//필수옵션 사이즈
.option_product>td p{
    &:nth-child(3){
        display: flex;
    flex-flow: row nowrap;
    }
}
// input
#quantity,
.eProductQuantityClass {
    width: 60px;
    height: 35px;
    text-align: center;
    order: 2;
    border: none;
    border-top: $bvt-btn-border-gray;
    border-bottom: $bvt-btn-border-gray;
    font-size: 1.5rem;
}

// +
.eProductQuantityUpClass,
.up {
    width: 35px;
    height: 35px;
    border: $bvt-btn-border-gray;
    background: $plus-icon no-repeat;
    background-size: cover;
    box-sizing: border-box;
    order: 3;
    >img{
        visibility: hidden;
    }
}

// -
.eProductQuantityDownClass,
.down {
    width: 35px;
    height: 35px;
    border: $bvt-btn-border-gray;
    box-sizing: border-box;
    background: $minus-icon no-repeat;
    background-size: cover;
    order: 1;
    >img{
        visibility: hidden;
    }

}

// 마일리지 삭제
.mileage {
    display: none;
}

// 상품 가격에 원 떼기
.price{
    &::after{
        content: none;
    }
}

// 상품 가격
.ec-front-product-item-price {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    right: 20px;
    bottom: 20px;

}

// 옵션 삭제
.delete {
    position: absolute;
    width: 15px;
    height: 15px;
    background: $x-btn no-repeat;
    background-size: contain;
    top: 12px;
    right: 12px;

    >img {
        visibility: hidden;
    }
}