@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#category {
    width: 100%;
    max-width: 450px;
    margin: 77px 0 150px;
    padding: 0 17px;


    li[class^='parent_category'] {
        font-size: 2.25rem;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        letter-spacing: -0.9px;
    }

    .category_summary {
        font-size: 1.3rem;
        font-weight: normal;
        color: $bvt-darkgray;
        margin-left: 4px;
    }
}

//추천
#categoryOfRecommended {
    width: 100%;
    max-width: 450px;

    //MD추천
    .parent_category_843 {
        &::before {
            content: "쉽게 바꾸는 집과 일상";
            display: block;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -.5px;
            margin-bottom: 5px;
        }
    }

    #categoryOfRecommendedList {
        width: 100%;

        li[class^='middle_main_category'] {
            width: 100%;

            >ul {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                //개별 아이템
                .middle_item {
                    width: calc((100% / 3) - 3.5px);

                    margin-bottom: 65px;

                    a {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                        //category_img
                        @include product-thumb(4px);

                        .category_img {
                            width: 100%;
                            overflow: hidden;
                        }

                        .category_name {
                            font-weight: bold;
                            font-size: 1.55rem;
                            color: $bvt-darkgray;
                            letter-spacing: -0.7px;
                            margin: 10px 0 0 0;
                            text-align: center;
                        }
                    }
                }
            }

        }

        .progressbar {
            display: none;
            background: #7582C1 !important;
        }

        .swiper-pagination-progressbar-fill {
            background: $bvt-white !important;
        }
    }
}

//태그별, 상품별
#categoryOfTag,
#categoryOfProduct {
    width: 100%;
    max-width: 450px;

    //홈리빙생활용품
    .parent_category_810 {
        &::before {
            content: "환경 친화적 라이프스타일";
            display: block;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -.5px;
            margin-bottom: 5px;
        }
    }

    //순식물성 피부 케어
    .parent_category_635 {
        &::before {
            content: "순한 성분으로 나를 보듬기";
            display: block;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            margin-top: 44px;
        }
    }

    //지구 힙스터 패션
    .parent_category_570 {
        &::before {
            content: "#프라이탁 #파타고니아 같은";
            display: block;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            margin-top: 44px;
        }
    }

    //비건 식품, 맛있는 채식
    .parent_category_634 {
        &::before {
            content: "맛있고 건강하게";
            display: block;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            margin-top: 44px;
        }
    }

    //가치 태그 모아보기
    .parent_category_838 {
        &::before {
            content: "#친환경 #비건 #사회가치";
            display: block;
            font-size: 1.6rem;
            font-family: inherit;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -.5px;
            margin-bottom: 5px;
            margin-top: 44px;
        }
    }

    //태그별
    #categoryOfTagList {
        width: 100%;

        li[class^='middle_main_category'] {

            //개별 아이템
            .middle_item {
                width: calc((100% / 3) - 3px);

                a {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    //category_img
                    @include product-thumb(4px);

                    .category_img {
                        width: 100%;
                        height: 73.09px;
                        overflow: hidden;

                        .img_wrap {
                            img {
                                height: auto;
                            }
                        }

                    }

                    .category_name {
                        font-weight: 600;
                        font-size: 1.2rem;
                        color: $bvt-darkgray;
                        letter-spacing: -0.4px;
                        margin: 9px 0 0 0;
                        text-align: center;
                        @include ellipsis(2, 1.42rem);
                    }
                }
            }
        }

        .progressbar {
            margin: 0;
        }
    }

    #categoryOfProductList {
        width: 100%;


        li[class^='middle_main_category'] {
            width: 100%;

            ul.no-swiper {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: center;

                //개별 아이템
                .middle_item {
                    width: calc((100% / 3) - 3.5px);

                    margin-bottom: 21px;

                    a {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        //category_img
                        @include product-thumb(4px);

                        .category_img {
                            width: 100%;
                            overflow: hidden;
                        }

                        .category_name {
                            font-weight: bold;
                            font-size: 1.55rem;
                            color: $bvt-darkgray;
                            letter-spacing: -0.7px;
                            margin: 10px 0 0 0;
                            text-align: center;
                        }
                    }
                }
            }

        }

        //비건식품 spb->flexstart
        .middle_main_category_634>.no-swiper {
            justify-content: flex-start !important;

            li {
                &:first-child {
                    margin-right: 6px;
                }
            }
        }

    }


}

/* 페이지 프로그레스 */

.progressbar {
    display: none;
    // width: 100%;
    // height: 3px;
    // margin-top: 13px;
    // z-index: 9;
}