@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#category {
  width: 100%;
  max-width: 450px;
  margin: 77px 0 150px;
  padding: 0 17px;
}
#category li[class^=parent_category] {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;
  letter-spacing: -0.9px;
}
#category .category_summary {
  font-size: 1.3rem;
  font-weight: normal;
  color: #707070;
  margin-left: 4px;
}

#categoryOfRecommended {
  width: 100%;
  max-width: 450px;
}
#categoryOfRecommended .parent_category_843::before {
  content: "쉽게 바꾸는 집과 일상";
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}
#categoryOfRecommended #categoryOfRecommendedList {
  width: 100%;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] {
  width: 100%;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item {
  width: calc(33.3333333333% - 3.5px);
  margin-bottom: 65px;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .thumb {
  position: relative;
  width: 100%;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .thumb > a,
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .thumb > a > img,
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .category_img {
  width: 100%;
  overflow: hidden;
}
#categoryOfRecommended #categoryOfRecommendedList li[class^=middle_main_category] > ul .middle_item a .category_name {
  font-weight: bold;
  font-size: 1.55rem;
  color: #707070;
  letter-spacing: -0.7px;
  margin: 10px 0 0 0;
  text-align: center;
}
#categoryOfRecommended #categoryOfRecommendedList .progressbar {
  display: none;
  background: #7582C1 !important;
}
#categoryOfRecommended #categoryOfRecommendedList .swiper-pagination-progressbar-fill {
  background: #ffffff !important;
}

#categoryOfTag,
#categoryOfProduct {
  width: 100%;
  max-width: 450px;
}
#categoryOfTag .parent_category_810::before,
#categoryOfProduct .parent_category_810::before {
  content: "환경 친화적 라이프스타일";
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}
#categoryOfTag .parent_category_635::before,
#categoryOfProduct .parent_category_635::before {
  content: "순한 성분으로 나를 보듬기";
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
  margin-top: 44px;
}
#categoryOfTag .parent_category_570::before,
#categoryOfProduct .parent_category_570::before {
  content: "#프라이탁 #파타고니아 같은";
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
  margin-top: 44px;
}
#categoryOfTag .parent_category_634::before,
#categoryOfProduct .parent_category_634::before {
  content: "맛있고 건강하게";
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
  margin-top: 44px;
}
#categoryOfTag .parent_category_838::before,
#categoryOfProduct .parent_category_838::before {
  content: "#친환경 #비건 #사회가치";
  display: block;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
  margin-top: 44px;
}
#categoryOfTag #categoryOfTagList,
#categoryOfProduct #categoryOfTagList {
  width: 100%;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item {
  width: calc(33.3333333333% - 3px);
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb {
  position: relative;
  width: 100%;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb > a,
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb .img_wrap,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb > a,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb > a > img,
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb .img_wrap > img,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb > a > img,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .icon,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .category_img,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .category_img {
  width: 100%;
  height: 73.09px;
  overflow: hidden;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .category_img .img_wrap img,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .category_img .img_wrap img {
  height: auto;
}
#categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_item a .category_name,
#categoryOfProduct #categoryOfTagList li[class^=middle_main_category] .middle_item a .category_name {
  font-weight: bold;
  font-size: 1.2rem;
  color: #707070;
  letter-spacing: -0.4px;
  margin: 9px 0 0 0;
  text-align: center;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.72rem;
  height: 3.44rem;
}
#categoryOfTag #categoryOfTagList .progressbar,
#categoryOfProduct #categoryOfTagList .progressbar {
  margin: 0;
}
#categoryOfTag #categoryOfProductList,
#categoryOfProduct #categoryOfProductList {
  width: 100%;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category],
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] {
  width: 100%;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item {
  width: calc(33.3333333333% - 3.5px);
  margin-bottom: 21px;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb {
  position: relative;
  width: 100%;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb > a,
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb .img_wrap,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb > a,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb > a > img,
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb .img_wrap > img,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb > a > img,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .icon,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .category_img,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .category_img {
  width: 100%;
  overflow: hidden;
}
#categoryOfTag #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .category_name,
#categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul.no-swiper .middle_item a .category_name {
  font-weight: bold;
  font-size: 1.55rem;
  color: #707070;
  letter-spacing: -0.7px;
  margin: 10px 0 0 0;
  text-align: center;
}
#categoryOfTag #categoryOfProductList .middle_main_category_634 > .no-swiper,
#categoryOfProduct #categoryOfProductList .middle_main_category_634 > .no-swiper {
  justify-content: flex-start !important;
}
#categoryOfTag #categoryOfProductList .middle_main_category_634 > .no-swiper li:first-child,
#categoryOfProduct #categoryOfProductList .middle_main_category_634 > .no-swiper li:first-child {
  margin-right: 6px;
}

/* 페이지 프로그레스 */
.progressbar {
  display: none;
}/*# sourceMappingURL=category.css.map */