#bvtContents {
  background: #F9F9FE;
}

#category {
  width: 100%;
  max-width: 450px;
  padding: 23px 0;
  margin-top: 0px;
}

#category #categoryTitle {
  margin-bottom: 18px;
}

#category #categoryTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Jost';
}

#category #categoryTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}

#category #categorySwiper {
  width: 100%;
  max-width: 450px;
  height: 100%;
  overflow: hidden;
}

#category #categorySwiper .category_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50% !important;
  height: 100%;
  border-radius: 25px 25px 0 0;
  background: #ffffff;
  -webkit-box-shadow: 3px 7px 11px #EDEFF5;
          box-shadow: 3px 7px 11px #EDEFF5;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.6);
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet .tab_custom {
  font-size: 1.5rem;
  font-weight: 600;
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet-active {
  position: relative;
  color: #022CFF;
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 1);
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet-active::after {
  position: absolute;
  display: block;
  content: "";
  width: 50%;
  border-bottom: 1px solid #022CFF;
  border-width: 3px;
  bottom: 0;
}

#category #categorySwiper .category_cont {
  width: 100%;
  max-width: 450px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0 0 25px 25px;
}

#category #categorySwiper .category_cont .category_product_wrap {
  width: 100%;
  height: 100%;
  padding: 6%;
  background: #ffffff;
  border-radius: 0 0 25px 25px;
  -webkit-box-shadow: 3px 7px 11px #EDEFF5;
          box-shadow: 3px 7px 11px #EDEFF5;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product div[class^="main-category"] {
  font-family: 'Jost', 'Noto Sans KR';
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 10px;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-bottom: 40px;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle .middle-title {
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #E2E2E2;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle .middle-title.active {
  background-color: #022CFF;
  color: #ffffff;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle div[class^="middle-category"] {
  width: calc(33% - 3px);
  margin-bottom: 8px;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle .middle-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0px 0 15px 0;
  white-space: nowrap;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle .middle-small div[class^="small-category"] {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: normal;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle .middle-small div[class^="small-category"].all {
  background-color: #FAFAFE;
}

#category #categorySwiper .category_cont .category_product_wrap .category_product .main-middle .middle-small div[class^="small-category"].all > a {
  color: #022CFF;
}

#category #categorySwiper .category_cont .category_tag_wrap {
  width: 100%;
  height: 100%;
  padding: 6%;
  background: #ffffff;
  border-radius: 0 0 25px 25px;
  -webkit-box-shadow: 3px 7px 11px #EDEFF5;
          box-shadow: 3px 7px 11px #EDEFF5;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  cursor: pointer;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle div[class^="middle-tag-category"] {
  width: calc(50% - 5px);
  margin-right: 5px;
  margin-bottom: 5px;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle div[class^="middle-tag-category"] .middle-title {
  padding: 20px 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #DBDEE5;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle .middle-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0px 0 15px 0;
  white-space: nowrap;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle .middle-small div[class^="small-tag-category"] {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 13px;
  font-weight: normal;
  border: 1px solid #E2E2E2;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle .middle-small div[class^="small-tag-category"].all {
  background-color: #FAFAFE;
}

#category #categorySwiper .category_cont .category_tag_wrap .category_tag .main-tag-category .main-middle .middle-small div[class^="small-tag-category"].all > a {
  color: #022CFF;
}
/*# sourceMappingURL=category.css.map */