@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#bvtContents {
  background: #F5F6FB;
}

#category {
  width: 100%;
  max-width: 450px;
  padding: 23px 0;
  margin-top: 40px;
  margin-bottom: 45px;
  padding-bottom: 60px;
}
#category #categoryTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
  padding: 0 11px;
}
#category #categoryTitle h2 {
  font-size: 1.8rem;
  font-weight: 700;
}
#category #categorySearch {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
  margin-bottom: 40px;
}
#category #categorySearch #keyword {
  width: 100%;
  height: 41.15px;
  border: 1px solid #022CFF;
  border-radius: 3px;
  margin-bottom: 18.85px;
  padding: 0 11px;
  font-size: 1.3rem;
  color: #707070;
}
#category #categorySearch #keyword::-moz-placeholder {
  color: #707070;
}
#category #categorySearch #keyword:-ms-input-placeholder {
  color: #707070;
}
#category #categorySearch #keyword::placeholder {
  color: #707070;
}
#category #categorySearch .btnSearch {
  position: absolute;
  right: 0;
  width: 22px;
  height: 22px;
  background: none;
  top: 10px;
  right: 30.38px;
}
#category #categorySearch .hot_keyword {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#category #categorySearch .hot_keyword h4 {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 12px;
}
#category #categorySearch .hot_keyword h4::after {
  position: absolute;
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #022CFF;
  top: 0;
  right: -6px;
}
#category #categorySearch .hot_keyword .hot_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 0 9px;
}
#category #categorySearch .hot_keyword .hot_list li {
  padding: 5px 13px;
  background: #FBFCFF;
  border-radius: 50px;
}
#category #categorySearch .hot_keyword .hot_list li a {
  font-size: 1.4rem;
  font-weight: 400;
}
#category #categoryNowRecommendList {
  width: 100%;
  max-width: 450px;
  margin-bottom: 40px;
}
#category #categoryNowRecommendList .recommend_list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#category #categoryNowRecommendList .recommend_list li {
  position: relative;
  width: 48.8%;
  height: 70px;
  border-radius: 5px;
}
#category #categoryNowRecommendList .recommend_list li:nth-child(1), #category #categoryNowRecommendList .recommend_list li:nth-child(2) {
  margin-bottom: 10px;
}
#category #categoryNowRecommendList .recommend_list li > a {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
}
#category #categoryNowRecommendList .recommend_list li > a span {
  position: absolute;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: #ffffff;
  right: 8px;
  bottom: 8px;
}
#category #categoryNowRecommendList .recommend_list .recommend_banner_1 {
  background: url(/public/images/banner/category_now_1.png) no-repeat center;
  background-size: cover;
}
#category #categoryNowRecommendList .recommend_list .recommend_banner_2 {
  background: url(/public/images/banner/category_now_2.png) no-repeat center;
  background-size: cover;
}
#category #categoryNowRecommendList .recommend_list .recommend_banner_3 {
  background: url(/public/images/banner/category_now_3.png) no-repeat center;
  background-size: cover;
}
#category #categoryNowRecommendList .recommend_list .recommend_banner_4 {
  background: url(/public/images/banner/category_now_4.png) no-repeat center;
  background-size: cover;
}
#category #categoryOfProduct {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#category #categoryOfProduct #categoryOfProductList {
  width: 100%;
  margin-bottom: 35px;
}
#category #categoryOfProduct #categoryOfProductList li[class^=parent_category] {
  width: 100%;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] {
  width: 100%;
  margin-bottom: 25px;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category] {
  background: #FBFCFF;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category] > .category_link_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 7px 9px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category] > .category_link_wrap .product_cate_icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 6px;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category] > .category_link_wrap .product_cate_arrow {
  position: absolute;
  display: inline-block;
  right: 11px;
  width: 14.7px;
  height: 7.49px;
  background: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none slice'%3E%3Cpath d='M2.84318e-06 0.417833L7.34897 7.49135L14.6979 0.417833L14.2897 -1.82641e-08L7.34898 6.65567L0.40829 -6.3926e-07L2.84318e-06 0.417833Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center;
  background-size: contain;
  transition: 0.03s ease-in;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul ul[class^=small_main_category] {
  margin-top: 7px;
  display: flex;
  flex-flow: row wrap;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul ul[class^=small_main_category] li[class^=small_category] {
  padding: 15px 9px 6px;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul ul[class^=small_main_category] li[class^=small_category]:nth-child(2n-1) {
  width: 60%;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul ul[class^=small_main_category] li[class^=small_category]:nth-child(2n) {
  width: 40%;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul ul[class^=small_main_category] li[class^=small_category] > .category_link_wrap {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul ul[class^=small_main_category] li[class^=small_category] > .category_link_wrap a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: #454545;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category].sub_active {
  background: #FBFCFF;
  border-radius: 5px;
  margin-bottom: 6px;
  border: 1px solid #022CFF;
  box-sizing: border-box;
  margin-bottom: 25px;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category].sub_active > .category_link_wrap {
  font-weight: 700;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category].sub_active > .category_link_wrap .product_cate_arrow {
  position: absolute;
  display: inline-block;
  right: 11px;
  width: 14.7px;
  height: 7.49px;
  background: url("data:image/svg+xml,%3Csvg width='15' height='8' viewBox='0 0 15 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.6979 7.58217L7.34897 0.508649L4.86851e-09 7.58217L0.408265 8L7.34896 1.34433L14.2896 8L14.6979 7.58217Z' fill='black'/%3E%3C/svg%3E%0A") no-repeat center;
  background-size: contain;
  transition: 0.03s ease-in;
}
#category #categoryOfProduct #categoryOfProductList li[class^=middle_main_category] ul li[class^=middle_category].sub_active > ul[class^=small_main_category] {
  border-top: 1px solid #E2E2E2;
  box-sizing: border-box;
  margin: 0 7px 9px;
}
#category #categoryOfTag {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#category #categoryOfTag #categoryOfTagList {
  width: 100%;
  padding: 0 9px;
}
#category #categoryOfTag #categoryOfTagList li[class^=parent_category] {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 13px;
}
#category #categoryOfTag #categoryOfTagList li[class^=parent_category]::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background: #E0E0E0;
  bottom: -58px;
}
#category #categoryOfTag #categoryOfTagList li[class^=parent_category] span {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 700;
}
#category #categoryOfTag #categoryOfTagList li[class^=parent_category] span::after {
  position: relative;
  display: block;
  content: "";
  width: 101%;
  height: 5px;
  top: -5.5px;
  background: #FFEF5B;
  z-index: -1;
}
#category #categoryOfTag #categoryOfTagList li[class^=parent_category] a {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 25px;
  right: 0;
  background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 16'%3E%3Cpath d='m1 15 6.5-7-3.25-3.5L1 1' stroke='%239A9A9A' stroke-linecap='square'/%3E%3C/svg%3E") no-repeat center;
  background-size: 6.5px 14px;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] {
  width: 100%;
  padding: 0 11px 0 0;
  margin-bottom: 16px;
  overflow-x: hidden;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category]::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 52px;
  height: 38px;
  right: 11px;
  background: linear-gradient(270deg, #F5F6FB 18.33%, rgba(255, 255, 255, 0) 106.67%);
  z-index: 5;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_main_category_list {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 0 12px 0;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_main_category_list li[class^=middle_category] {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 28px;
  border: 1px solid #022CFF;
  padding: 5px 11px;
  border-radius: 50px;
  background: #FBFCFF;
  box-shadow: 3px 3px 3px rgba(216, 216, 216, 0.25);
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_main_category_list li[class^=middle_category] > .category_link_wrap {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -1%;
  color: #022CFF;
  cursor: pointer;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_main_category_list li[class^=middle_category].sub_active {
  position: relative;
  border: none;
  padding: 5px 11px;
  border-radius: 50px;
  background: linear-gradient(113.76deg, #2045FF 27.71%, rgba(66, 0, 255, 0) 146.41%);
  box-shadow: 3px 3px 3px rgba(216, 216, 216, 0.25);
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] .middle_main_category_list li[class^=middle_category].sub_active > .category_link_wrap {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: -1%;
  color: #ffffff;
  cursor: pointer;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] ul[class^=small_main_category] {
  display: flex;
  flex-flow: row wrap;
  margin: 9px 0 5px 0;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] ul[class^=small_main_category] li[class^=small_category] {
  background: #ffffff;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  margin: 0 8px 9px 0;
}
#category #categoryOfTag #categoryOfTagList li[class^=middle_main_category] ul[class^=small_main_category] li[class^=small_category] a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 3px 9px;
  font-size: 1.3rem;
  font-weight: 400;
}

.catemiddle571icon {
  background: url("/bvtIMG/icon/571.png") no-repeat center;
  background-size: cover;
}

.catemiddle572icon {
  background: url("/bvtIMG/icon/572.png") no-repeat center;
  background-size: cover;
}

.catemiddle573icon {
  background: url("/bvtIMG/icon/573.png") no-repeat center;
  background-size: cover;
}

.catemiddle574icon {
  background: url("/bvtIMG/icon/574.png") no-repeat center;
  background-size: contain;
}

.catemiddle634icon {
  background: url("/bvtIMG/icon/634.png") no-repeat center;
  background-size: cover;
}

.catemiddle635icon {
  background: url("/bvtIMG/icon/635.png") no-repeat center;
  background-size: cover;
}

.catemiddle636icon {
  background: url("/bvtIMG/icon/636.png") no-repeat center;
  background-size: cover;
}

.catemiddle637icon {
  background: url("/bvtIMG/icon/637.png") no-repeat center;
  background-size: cover;
}/*# sourceMappingURL=category.css.map */