@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

//변수
:root {
	--wish_btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='41'%3E%3Cg data-name='그룹 2045' transform='translate(-348 -661)'%3E%3Ccircle cx='20.5' cy='20.5' r='20.5' fill='%23f2f4fc' data-name='타원 1276' transform='translate(348 661)'/%3E%3Cpath fill='%23022cff' stroke='%23022cff' stroke-width='.5' d='M378.3 673.4a6.49 6.49 0 0 0-8.4-.64l-1 .97-.32-.33a6.49 6.49 0 0 0-9.18 9.18l9.47 9.44 9.44-9.44a6.49 6.49 0 0 0 0-9.18Zm-8.7 8.59c1.2.84 2.82 2.38 3.94 3.17l-3.93 4.04Zm-8.7 0-.45-.45a5.02 5.02 0 0 1 7.1-7.1l.57.57v14.16l-6.86-6.85Zm16.37-.45-2.84 2.76c-.82-.57-1.74-1.5-2.9-2.31-.47-.33-1.33-1.12-1.92-1.53v-5.35a5.2 5.2 0 0 1 .55-.67 5.47 5.47 0 0 1 .68-.56 5.02 5.02 0 0 1 6.43 7.66Z' data-name='패스 2271'/%3E%3C/g%3E%3C/svg%3E");
	--like-icon-bk: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.085' height='24.626'%3E%3Cpath data-name='패스 1748' d='M24.609 2.475a7.6 7.6 0 0 0-9.848-.754l-1.156 1.141-.387-.387A7.6 7.6 0 0 0 2.474 13.219l11.084 11.054L24.609 13.22a7.6 7.6 0 0 0 0-10.746ZM14.415 12.528c1.4.983 3.292 2.79 4.609 3.717l-4.609 4.73Zm-10.2 0-.527-.527a5.874 5.874 0 0 1 8.307-8.308l.667.666v16.583l-8.021-8.019Zm19.172-.527-3.322 3.238c-.961-.676-2.037-1.754-3.4-2.711-.551-.386-1.557-1.307-2.249-1.791V4.474a6.1 6.1 0 0 1 .649-.781 6.411 6.411 0 0 1 .8-.655 5.875 5.875 0 0 1 7.528 8.963Z' fill='%23292929' stroke='%23292929' stroke-width='.5'/%3E%3C/svg%3E");
	--delivery-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.42' height='15.35'%3E%3Cg fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' data-name='Icon feather-truck'%3E%3Cpath d='M.75.75h11.54v10H.75Z' data-name='패스 2252'/%3E%3Cpath d='M12.29 4.6h3.08l2.3 2.3v3.85H12.3Z' data-name='패스 2253'/%3E%3Cpath d='M6.13 12.67a1.92 1.92 0 1 1-1.92-1.92 1.92 1.92 0 0 1 1.92 1.92Z' data-name='패스 2254'/%3E%3Cpath d='M16.13 12.67a1.92 1.92 0 1 1-1.92-1.92 1.92 1.92 0 0 1 1.92 1.92Z' data-name='패스 2255'/%3E%3C/g%3E%3C/svg%3E");
	--mileage-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.93' height='17.93'%3E%3Cg fill='%23707070' data-name='그룹 2046'%3E%3Cpath d='M12.55 9.86h-1.8a1.8 1.8 0 1 1-3.58 0h-1.8a3.59 3.59 0 1 0 7.18 0Z' data-name='패스 2267'/%3E%3Cpath d='M7.17 7.18a.9.9 0 1 1-.9-.9.9.9 0 0 1 .9.9Z' data-name='패스 2268'/%3E%3Cpath d='M11.66 8.07a.9.9 0 1 0-.9-.9.9.9 0 0 0 .9.9Z' data-name='패스 2269'/%3E%3Cpath fill-rule='evenodd' d='M17.93 8.96A8.96 8.96 0 1 1 8.96 0a8.96 8.96 0 0 1 8.97 8.96Zm-1.8 0A7.17 7.17 0 1 1 8.97 1.8a7.17 7.17 0 0 1 7.18 7.17Z' data-name='패스 2270'/%3E%3C/g%3E%3C/svg%3E");
	--stamp-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.92' height='19.75'%3E%3Cpath fill='%23707070' d='M15.51 11.29h-4.23v-2.2a5.28 5.28 0 0 1 .82-2.71 4.23 4.23 0 1 0-7.8-2.93 4.17 4.17 0 0 0 .53 2.94 5.12 5.12 0 0 1 .8 2.63v2.27H1.42A1.41 1.41 0 0 0 0 12.69v2.83a1.41 1.41 0 0 0 1.41 1.4v1.41a1.41 1.41 0 0 0 1.41 1.42H14.1a1.41 1.41 0 0 0 1.41-1.42v-1.4a1.41 1.41 0 0 0 1.41-1.42V12.7a1.41 1.41 0 0 0-1.41-1.41ZM5.7 3.7a2.82 2.82 0 1 1 5.2 1.96 6.88 6.88 0 0 0-.97 2.8H7a6.73 6.73 0 0 0-.97-2.8 2.78 2.78 0 0 1-.35-1.96Zm4.18 6.17v1.41H7.05v-1.4Zm4.23 8.47H2.82v-1.41H14.1Zm-12.7-2.82V12.7h14.1v2.82Z'/%3E%3C/svg%3E");
	--icon-rate: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 12'%3E%3Cpath fill='%23022CFF' d='m6.12.94 1.23 2.47c.09.17.22.38.41.41l2.67.41c.49.07.76.69.41 1.03L8.8 7.1a.81.81 0 0 0-.2.61l.6 2.68c.1.48-.59.84-1.02.61L5.71 9.78a.35.35 0 0 0-.42 0l-2.46 1.23A.57.57 0 0 1 2 10.4l.4-2.68a.81.81 0 0 0-.2-.61L.16 5.26c-.35-.34-.08-.96.4-1.03l2.68-.41c.2-.03.33-.24.41-.41L4.88.94a.74.74 0 0 1 1.24 0Z'/%3E%3C/svg%3E");
	--icon-likes: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 13'%3E%3Cpath stroke='%2300F' stroke-linecap='round' stroke-width='1.2' d='M9.53 12.36H1.39a.4.4 0 0 1-.39-.4V5.53c0-.21.18-.4.4-.4h1.8c.47 0 .9-.23 1.13-.63l1.78-2.97a1.07 1.07 0 0 1 1.95.86L7.4 4.62a.4.4 0 0 0 .38.5h3c.87 0 1.5.83 1.27 1.67l-1.25 4.6c-.16.57-.68.97-1.27.97Z'/%3E%3Cpath stroke='%2300F' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M3.3 12.36V5.13'/%3E%3C/svg%3E");
	--icon-cmt: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 15'%3E%3Cpath stroke='%2300F' stroke-width='1.2' d='M5.1 11.38v-.6H2.37c-.5 0-.95-.17-1.28-.46a1.32 1.32 0 0 1-.49-.99V2.05c0-.36.16-.72.49-1A2 2 0 0 1 2.37.6h11.95a2 2 0 0 1 1.29.45c.32.28.49.64.49 1v7.28c0 .35-.17.71-.5 1-.32.28-.78.45-1.28.45H8.73l-.16.13-3.18 2.57a.3.3 0 0 1-.22 0 .16.16 0 0 1-.06-.05H5.1v-2.05Z'/%3E%3Cpath fill='%2300F' d='M11.23 6.6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-2.73 0a.75.75 0 1 0-.01-1.5.75.75 0 0 0 0 1.5Zm-2.75 0a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z'/%3E%3C/svg%3E");

}

// 상품 정보 상단
#productDetailTop {
	position: relative;
	margin-top: 60px;


	.product_thumnail_wrap {
		position: relative;
		width: 100%;

		.thumb_wrapper {
			width: 100%;
			font-size: 0;

			.img_wrap,
			a {
				border-radius: 0 !important;
			}

			@include product-thumb(0);
		}


		.swiper-pagination-thumb {
			position: absolute;
			width: 57px;
			height: 33px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 17px;
			background: #00000070;
			left: calc(100% - 57px - 17px);
			bottom: 17px;
			font-size: 1.5rem;
			font-weight: normal;
			color: $bvt-white;
			letter-spacing: 2.5px;
			padding: 0 0 2px 2.5px;
		}
	}

	.product_info_wrap {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0 17px;
		box-sizing: border-box;
		margin-top: 30px;
		margin-bottom: 27px;
		border-bottom: 7px solid $bvt-whitegray;
		/* 카테고리 - 가치태그 */

		#categoryTagBox {
			position: relative;
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			margin-top: 20px;
			margin-bottom: 30px;
			bottom: 0;


			.cate_item {
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				width: fit-content;
				height: 28px;
				padding: 0 11px;
				box-sizing: border-box;
				border: $bvt-btn-border-gray;
				border-radius: 14px;
				margin: 0 6px 0 0;

				>a {
					font-size: 1.2rem;
					font-weight: 300;
				}
			}
		}

		/* 상단 브랜드 미니샵 입장*/
		.top_supply_link_wrap {
			margin-bottom: 12px;

		}

		.minishop_btn {
			font-size: 1.3rem;
			font-weight: 400;
			color: $bvt-darkgray;
			background: transparent;

			&::after {
				display: inline-block;
				width: 4.93px;
				height: 8.61px;
				margin-left: 11px;
				content: "";
				background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.925' height='8.615'%3E%3Cpath fill='%23707070' d='M3.441 4.308.181 7.565a.616.616 0 0 0 .872.869l3.693-3.69a.614.614 0 0 0 .018-.849L1.056.179a.616.616 0 1 0-.872.869Z' data-name='Icon ionic-ios-arrow-back'/%3E%3C/svg%3E");
				;
			}
		}

		h2.product_name,
		h2.product_name span {
			color: $bvt-black;
			font-size: 1.7rem;
			font-weight: normal;
			word-wrap: break-word;
			word-break: keep-all;
			letter-spacing: -0.5px;
			@include only-ellipsis(2, 2.5rem);
			margin-bottom: 40px;
		}

		.product_price {
			display: flex;
			flex-flow: row nowrap;
			justify-content: space-between;
			align-items: center;

			/* 가격 표시 */
			.price_wrap {

				//가격
				.price_item {
					font-size: 2.15rem;
				}

				.discountrate {
					font-size: 2.15rem;

				}

				.strike_price {
					font-size: 1.65rem !important;
					margin-top: 10px;
				}
			}

			.button_wrap {
				position: absolute;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				right: 17px;
				padding-bottom: 20px;

				.wish_btn {
					display: block;
					width: 41px;
					height: 41px;
					background: var(--wish_btn) no-repeat center;
					text-indent: -9999px;
					margin-right: 7px;
				}

				.share_btn {
					display: block;
					width: 41px;
					height: 41px;
					background: $share-btn no-repeat center;
					text-indent: -9999px;
				}
			}
		}
	}

	#productDetail {
		width: 100%;
		padding: 0 17px;
		border-bottom: 7px solid $bvt-whitegray;

		.product_detail {

			//공통 사이즈
			li {
				display: flex;
				flex-flow: row nowrap;
				align-items: flex-start;

				.title {
					display: flex;
					flex-flow: row nowrap;
					align-items: center;
					width: 91px;
					min-width: 91px;
					font-size: 1.35rem;
					font-weight: 300;
					color: $bvt-darkgray;
				}

				.detail {
					display: flex;
					flex-flow: column nowrap;
					width: 100%;
					font-size: 1.35rem;
					font-weight: 300;
					color: $bvt-black;

					>span {
						margin-bottom: 4px;

						&:nth-child(1) {
							font-weight: bold;
						}
					}

					em {
						font-weight: bold;
						margin-bottom: 5px;
					}
				}
			}


			//마일리지
			.mileage {
				margin-bottom: 19px;


				.detail {
					.mileage_info {
						.crew_mileage {
							font-weight: 300;
						}
					}

					.mileage_txt {
						display: flex;
						align-items: center;
						width: 100%;
						font-size: 1.2rem;
						color: $bvt-darkgray;
					}
				}
			}

			//스탬프
			.stamp {
				margin-bottom: 19px;

				.stamp_list {
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					padding-right: 15px;
					margin: 9px 0 0 0;

					li {
						width: 25%;
						max-width: 53px;
						border-radius: 50%;
						background: $stamp-board;
						margin-right: 0.5%;

						>span {
							text-indent: -9999px;
						}

						&::after {
							content: '';
							display: block;
							padding-bottom: 100%;
						}
					}

				}

				.stamp_txt {
					display: flex;
					align-items: center;
					width: 100%;
					font-size: 1.2rem;
					color: $bvt-darkgray;

					a {
						display: inline;
						text-decoration: underline;
						margin-left: 3px;
						color: $bvt-darkgray;
					}

					&::before {
						display: inline-block;
						content: " ";
						width: 14.63px;
						height: 14.63px;
						background: $info-icon no-repeat center;
						background-size: contain;
						margin-right: 6px;
					}
				}
			}

			//배송안내
			.delivery {
				position: relative;

				.detail {
					span {
						font-size: 1.35rem !important;
						font-weight: normal;
					}

				}


			}

			.minishop {
				margin-bottom: 32.6px;

				.title {
					visibility: hidden;
				}

				.detail {
					display: flex;
					flex-flow: row nowrap;
					justify-content: flex-start;
					align-items: flex-start;

					.minishop_btn {
						background: transparent;
						font-size: 1.35rem;
						color: $bvt-darkgray;
						letter-spacing: -1px;

						&::after {
							display: inline-block;
							content: "";
							width: 4.93px;
							height: 8.61px;
							background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.925' height='8.615'%3E%3Cpath fill='%23707070' d='M3.441 4.308.181 7.565a.616.616 0 0 0 .872.869l3.693-3.69a.614.614 0 0 0 .018-.849L1.056.179a.616.616 0 1 0-.872.869Z' data-name='Icon ionic-ios-arrow-back'/%3E%3C/svg%3E");
							;
							margin-top: 13.4px;
							margin-left: 15px;
						}
					}
				}
			}
		}
	}
}

//연관상품

#productRelation {
	width: 100%;
	max-width: 450px;
	margin-top: 25px;
	padding: 0 11px;

	h3 {
		font-size: 1.8rem;
		margin-bottom: 12px;
	}

	.product_relation_list {
		width: 100%;

		>ul {
			width: 100%;

			img {
				height: 100%;
			}
		}
	}

	.price {
		font-size: 1.24rem;
		font-weight: 500;
	}
}

//펀딩

.detail-aside-funding {
	width: 100%;
	max-width: 450px;
	margin-top: -40px;
}


/* 상품 정보 */

.info_box {
	/* border-radius: 12px;*/
	position: relative;
	background: white;
	padding: 0 11px;

	.title {
		font-size: 1.34rem;
		font-weight: 500;

		span {
			color: $bvt-blue;
		}
	}

	.prd_name {
		font-size: 1.6rem;
		font-weight: 600;
		margin-bottom: 10px;
		display: -webkit-box;
		max-width: calc(100% - 50px);

	}

	#getdesc {
		font-size: 1.34rem;
		color: $bvt-lostfocus-gray;
	}

}

#funding-dday {
	font-size: 1.85rem;
	font-weight: bold;
}

.gray2 {
	margin-top: 2px;
	font-size: 1.1rem;
	color: $bvt-darkgray;
}

.info_box>img {
	width: auto;
	height: auto;
	max-width: 75px;
	margin-bottom: 15px;
}

.info_box-desc {
	padding-top: 9px;
}

.info_box .product_custom {
	text-decoration: line-through;
	color: #ABABAB;
	margin-right: 10px;
}

.info_box .price {
	margin-top: 9px;
	padding-right: 5px;
}

.info_box .price2 {
	display: inline-block;
	font-size: 13px;
	text-decoration: line-through;
	color: #C7C7C7;
}

.info_like {
	height: auto;
	position: absolute;
	right: 13px;
	top: 0;
}

.info_like .gdVote {
	height: 37px;
	width: 37px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid white;
	outline: none;
	padding: 0;
	-webkit-box-shadow: 0px 3px 7px 0px #CBD3FF;
	-moz-box-shadow: 0px 3px 7px 0px #CBD3FF;
	box-shadow: 0px 3px 7px 0px #CBD3FF;
}

.info_like .gdVote:hover {
	border: 2px solid #022CFF;
	-webkit-transition: ease-in 0.07s;
	transition: ease-in 0.07s;
	cursor: pointer;
	-webkit-box-shadow: 0px 3px 7px 0px #CBD3FF;
	-moz-box-shadow: 0px 3px 7px 0px #CBD3FF;
	box-shadow: 0px 3px 7px 0px #CBD3FF;
}

.info_like .gdVote img {
	height: 19px;
	width: auto;
}

/* 펀딩 정보 */

.funding_box {
	.funding_info_box {
		display: none;
		padding: 0 11px;
	}

	.gradientline {
		margin: 17px 0;
	}

	.notice_box {
		margin-top: 40px;

		img {
			width: 100%;
		}

	}

}



/* 펀딩 공지 */

.notice_desc>div>div>img {
	width: 100%;
}

/* 펀딩 커스텀 정보 */

.custom_box {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.custom_box_1 {
	background-color: #EFF7FF;
	border-radius: 5px;
	padding: 7px 10px;
	color: #022CFF;
}

.custom_box_2 {
	background-color: #E0FFEE;
	border-radius: 5px;
	padding: 7px 10px;
	color: #01AF8A;

	>div {
		font-size: 1.14rem;
	}

	>span {
		font-size: 1.8rem;
		font-weight: 600;
	}
}

.custom_box_1>img,
.custom_box_2>img {
	margin-top: 8px;
	margin-left: 7.5px;
}




// 상품 정보 하단
.detail_tab_wrap {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 63px;
	border-bottom: $bvt-btn-border-gray;
	box-sizing: border-box;
	color: $bvt-black;
	background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);

	.tab {
		width: fit-content !important;
		background: transparent !important;
		margin-right: 32px;
		font-size: 1.45rem;
		color: $bvt-darkgray;
		box-shadow: none;

		button {
			color: $bvt-darkgray;
			background: transparent;
			font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Verdana, AppleGothic, sans-serif;
			border-bottom: 3px solid transparent;
			padding: 0 1px 12px 1px;
			box-sizing: border-box;
		}

		.active {
			color: $bvt-blue;
			background: transparent;
			font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Verdana, AppleGothic, sans-serif;
			border-bottom: 3px solid $bvt-blue;
			padding: 0 1px 12px 1px;
			box-sizing: border-box;
			font-weight: bold;
		}

		&:last-child {
			margin-right: 0 !important;
		}
	}
}

.detail_tab_wrap.active {
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	max-width: 450px;
	min-width: 200px;
	height: 100px;
	width: 100%;
	top: 0;
	// margin-top: 60px;
	z-index: 2;
	background: $bvt-white;
	background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);

	.tab_custom {
		height: 29px;
	}
}


#productDetailBottom {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	transition-property: height;
	box-sizing: content-box;
	padding: 0 0 20px 0;
	overflow: hidden;

	.detail_swiper_wrap {
		height: auto;
		padding-bottom: 100px;
		margin-bottom: 20px;

		//각각의 탭
		>div {
			width: 100%;
			max-width: 100%;
			overflow-x: hidden;
			padding: 0 11px;
		}

		//상품 정보
		#tab0 {
			width: 100%;
			max-width: 450px;
			padding: 0 !important;

			.tab_detail_page {
				font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Verdana, AppleGothic, sans-serif !important;
				letter-spacing: -.5px;

				span,
				p,
				a,
				div {
					font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Verdana, AppleGothic, sans-serif !important;
					letter-spacing: -.5px;
				}
			}

			img {
				position: relative;
				//220824 이미지 태그 내 inline으로 width 1924 height 설정 들어가서 (원인 모름) important 삽입
				width: 100% !important;
				// height: auto !important;
				max-width: 450px;
				min-width: 200px;
				backface-visibility: hidden;
				transform: translateZ(0);
			}

			iframe {
				position: relative;
				width: 100%;
				max-width: 450px;
				min-width: 200px;
				object-fit: cover;
				object-position: 50% 50%;
			}

			video {
				position: relative;
				width: 100%;
				max-width: 450px;
				min-width: 200px;
				object-fit: cover;
				// object-position: 50% 50%;
			}
		}

		//사용 후기
		#tab1 {
			width: 100%;

			section {
				width: 100%;
				padding: 0;
			}

			#prdReview {


				.nodata {
					background: $bvt-bg-lightblue;
					width: 100%;
					height: 400px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 20px auto;
					font-size: 1.5rem;
					font-weight: bold;
					color: $bvt-blue;
					text-align: center;

				}

			}

			#productBoardListWrap {
				display: flex;
				flex-flow: row wrap;
				align-items: flex-start;
				width: 100%;
				margin: 50px 0;

				//리뷰 아이템
				li.review_item {
					width: 50%;
					list-style: none;
					text-align: center;
					padding: 0 7.5px;

					.item {
						position: relative;
						margin-bottom: 30px;

						.item_anchor {

							.user_info {
								display: flex;
								flex-flow: row nowrap;
								justify-content: flex-start;
								align-items: center;
								margin-bottom: 12px;
								font-size: 0;

								.user_img {
									position: relative;
									width: 30px;
									margin-right: 8px;
								}

								.user_name {
									font-size: 1.6rem;
									font-weight: bold;
									@include only-ellipsis(2, 1.9rem);
								}
							}

							.thumbnail_info {
								position: relative;
								display: block;
								width: 100%;
								padding-top: 100%;
								overflow: hidden;
								border-radius: 4px;
								margin-bottom: 12px;

								img {
									position: absolute;
									top: 0;
									left: 0;
									width: 100%;
									height: 100%;
									-o-object-fit: cover;
									object-fit: cover;
								}

								.rate {
									position: absolute;
									display: flex;
									flex-flow: row nowrap;
									justify-content: center;
									align-items: center;
									width: 51px;
									height: 23px;
									border-radius: 100px;
									background: rgba(242, 242, 242, 0.5);
									margin: 0 12px 10px 0;
									bottom: 0;
									right: 0;
									font-size: 1.3rem;
									font-weight: bold;
									color: $bvt-blue;

									&::before {
										display: block;
										content: "";
										width: 11px;
										height: 10.47px;
										background: var(--icon-rate) no-repeat center;
										margin-right: 3px;
									}

								}
							}

							.summary_info {
								//p표시 여러개 중복되어 height로 잡아줌 
								width: 100%;
								height: 67px;
								overflow: hidden;

								.vote_comment {
									display: flex;
									flex-wrap: nowrap;
									justify-content: flex-start;
									align-items: center;
									margin: 5px 0;

									.vote {
										display: flex;
										flex-wrap: nowrap;
										justify-content: space-between;
										align-items: center;
										width: 40px;
										height: 22px;
										border: 1px solid #022CFF;
										border-width: 1.2px;
										border-radius: 2px;
										background: #ffffff;
										font-size: 1.1rem;
										font-weight: bold;
										letter-spacing: -0.2px;
										color: #022CFF;
										padding: 1px 7px 0;
										box-sizing: border-box;
										margin-right: 8px;

										&::before {
											display: inline-block;
											width: 12.1px;
											height: 11.36px;
											content: "";
											background: var(--icon-likes) no-repeat center;
											margin-right: 1px;
										}
									}

									.comment {
										&::after {
											display: inline-block;
											content: "";
											width: 16.7px;
											height: 14.1px;
											background: var(--icon-cmt) no-repeat transparent center;
										}
									}

								}

								p {
									font-size: 1.3rem;
									@include only-ellipsis(2, 1.7rem);
									text-align: left;
								}

								span {
									display: none;
								}

							}
						}
					}
				}
			}

			//페이지네이션
			#productBoardPagenation {
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				justify-content: center;
				align-items: center;
				margin-bottom: 12px;

				.prev {
					margin: 0 6px;

					a {
						display: inline-block;
						width: 17px;
						height: 18px;
						background: url(https://bvoatofficial.cafe24.com/bvtIMG/icon/blue_arrow_back_3x.png) no-repeat center;
						background-size: contain;
					}
				}

				.next {
					margin: 0 6px;

					a {
						display: inline-block;
						width: 17px;
						height: 18px;
						background: url(https://bvoatofficial.cafe24.com/bvtIMG/icon/blue_arrow_back_3x.png) no-repeat center;
						background-size: contain;
						transform: scaleX(-1);
					}
				}

				ol {
					display: flex;
					flex-flow: row nowrap;
					justify-content: center;
					align-items: center;

					li {
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 1.5rem;
						font-weight: normal;
						margin: 0 13px;

						a {
							display: flex;
							flex-flow: row nowrap;
							justify-content: center;
							align-items: center;
							width: 20px;
							height: 20px;
							border-radius: 50%;
						}
					}

					.this {
						font-weight: bold;
						color: $bvt-blue;
						background: $bvt-bg-blue;
					}
				}
			}
		}

		//Q&A
		#tab2 {
			div {
				.tab-tip {
					text-align: center;
					padding: 18px 0;

					.tab-tip-head {
						color: $bvt-darkgray;
						font-size: 1.45rem;
					}
				}

				.nodata {
					width: 100%;
					border: $bvt-btn-border-gray;
					text-align: center;
					font-size: 1.65rem;
					padding: 50px 0;
					margin: 15px 0;
				}

				.product_detail_qna {
					width: 100%;
					padding: 0 22px;

					.noAccess {
						color: $bvt-darkgray;
					}

					.tab-board-table {

						.descriptions {
							width: 100%;
							height: 80px;
							padding: 10px 18px;
							margin-bottom: 15px;
							border: $bvt-btn-border-gray;
							border-radius: 3px;
							transition: all .3s;

							&:hover,
							&:focus,
							&:active {
								box-shadow: $bvt-shadow;
								transition: all .3s;
							}

							.description_link {
								display: flex;
								flex-flow: column nowrap;
								justify-content: space-evenly;
								width: 100%;
								height: 100%;

								h1 {
									display: flex;
									flex-flow: row nowrap;
									align-items: center;
									font-size: 1.35rem;
									font-weight: 500;

									img {
										width: 18px;
										height: 13px;
										margin-right: 6px;
									}
								}

								p {
									display: flex;
									flex-flow: row nowrap;
									align-items: center;
									font-size: 1.1rem;
									color: $bvt-darkgray;

									img {
										width: 14px;
										object-fit: cover;
										margin-left: 14px;
									}

									.id {
										&::after {
											display: inline-block;
											content: "|";
											margin: 0 6px;
										}
									}
								}
							}

						}
					}
				}

				.tab-tips-btns {
					display: block;
					width: 100%;
					max-width: 450px;
					height: 50px;
					padding: 0 22px;
					margin: 11px 0;

					.noAccess {
						text-align: center;
						font-size: 1.6rem;
						padding: 20px 0;
					}

					.qna_btn {
						display: flex;
						justify-content: center;
						align-items: center;
						float: right;
						width: 100px;
						height: 50px;
						background: $bvt-blue;
						border-radius: 60px;
						cursor: pointer;

						a {
							display: block;
							color: $bvt-white;
							font-weight: 400;
							font-size: 1.3rem;
						}
					}
				}

				@include page-pagination;

			}
		}

		//배송안내
		#tab3 {
			margin-top: 20px;

			div {
				.tab_prd_info {
					padding: 10px;
					margin-bottom: 10px;

					.title {
						font-size: 1.5rem;
						font-weight: bold;
						border-bottom: $bvt-btn-border;
						padding-bottom: 12px;
						margin-bottom: 12px;
					}

					.content {
						font-size: 1.35rem;
						line-height: 1.8rem;

						>div {
							font-size: 1.35rem;
							line-height: 1.8rem;
						}

						>ul,
						>ul li,
						>ul li div {
							font-size: 1.35rem;
							line-height: 1.8rem;
						}
					}
				}
			}
		}
	}

}


//buy screen 버튼
#buyAction {
	position: fixed;
	width: 100%;
	max-width: 450px;
	height: max-content;
	z-index: 100;
	bottom: 0;
	overflow: hidden;
	box-shadow: $bvt-top-shadow;


	.webnmobile_product_html {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;

		// padding-top: calc(constant(safe-area-inset-bottom));
		// padding-top: calc(env(safe-area-inset-bottom));
		padding-bottom: calc(constant(safe-area-inset-bottom));
		padding-bottom: calc(env(safe-area-inset-bottom));
		padding-left: 17px;
		background: $bvt-white;

		button {
			font-size: 1.1rem;
			color: $bvt-darkgray;
			background: transparent;
			height: 60px;
		}

		.wish_btn {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			width: fit-content;
			padding: 0 17px 0 0;

			&::before {
				display: block;
				content: "";
				width: 26.75px;
				height: 24.17px;
				background: $wish_btn no-repeat center;
				background-size: contain;
				margin-bottom: 8.9px;
			}

			;
		}

		.share_btn {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			width: fit-content;
			padding: 0 17px 0 0;

			&::before {
				display: block;
				content: "";
				width: 26.75px;
				height: 24.17px;
				background: $share-btn-bottom no-repeat center;
				background-size: contain;
				margin-bottom: 8.9px;
			}
		}

		.gift_btn {
			display: flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			width: fit-content;
			font-weight: bold;
			color: $bvt-blue;

			&::before {
				display: block;
				content: "";
				width: 25px;
				height: 25px;
				background: $gift-icon no-repeat center;
				background-size: contain;
				margin-bottom: 8.9px;
			}
		}


		.buy_btn {
			display: flex;
			width: 100%;
			background: $bvt-blue;
			justify-content: center;
			align-items: center;
			font-size: 1.6rem;
			font-weight: bold;
			color: $bvt-white;
			margin-top: 5px;
			margin-left: 17px;
			margin-right: 5px;
			border-radius: 5px;
		}
	}


}