@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
:root {
  --wish_btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='41'%3E%3Cg data-name='그룹 2045' transform='translate(-348 -661)'%3E%3Ccircle cx='20.5' cy='20.5' r='20.5' fill='%23f2f4fc' data-name='타원 1276' transform='translate(348 661)'/%3E%3Cpath fill='%23022cff' stroke='%23022cff' stroke-width='.5' d='M378.3 673.4a6.49 6.49 0 0 0-8.4-.64l-1 .97-.32-.33a6.49 6.49 0 0 0-9.18 9.18l9.47 9.44 9.44-9.44a6.49 6.49 0 0 0 0-9.18Zm-8.7 8.59c1.2.84 2.82 2.38 3.94 3.17l-3.93 4.04Zm-8.7 0-.45-.45a5.02 5.02 0 0 1 7.1-7.1l.57.57v14.16l-6.86-6.85Zm16.37-.45-2.84 2.76c-.82-.57-1.74-1.5-2.9-2.31-.47-.33-1.33-1.12-1.92-1.53v-5.35a5.2 5.2 0 0 1 .55-.67 5.47 5.47 0 0 1 .68-.56 5.02 5.02 0 0 1 6.43 7.66Z' data-name='패스 2271'/%3E%3C/g%3E%3C/svg%3E");
  --like-icon-bk: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.085' height='24.626'%3E%3Cpath data-name='패스 1748' d='M24.609 2.475a7.6 7.6 0 0 0-9.848-.754l-1.156 1.141-.387-.387A7.6 7.6 0 0 0 2.474 13.219l11.084 11.054L24.609 13.22a7.6 7.6 0 0 0 0-10.746ZM14.415 12.528c1.4.983 3.292 2.79 4.609 3.717l-4.609 4.73Zm-10.2 0-.527-.527a5.874 5.874 0 0 1 8.307-8.308l.667.666v16.583l-8.021-8.019Zm19.172-.527-3.322 3.238c-.961-.676-2.037-1.754-3.4-2.711-.551-.386-1.557-1.307-2.249-1.791V4.474a6.1 6.1 0 0 1 .649-.781 6.411 6.411 0 0 1 .8-.655 5.875 5.875 0 0 1 7.528 8.963Z' fill='%23292929' stroke='%23292929' stroke-width='.5'/%3E%3C/svg%3E");
  --delivery-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.42' height='15.35'%3E%3Cg fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' data-name='Icon feather-truck'%3E%3Cpath d='M.75.75h11.54v10H.75Z' data-name='패스 2252'/%3E%3Cpath d='M12.29 4.6h3.08l2.3 2.3v3.85H12.3Z' data-name='패스 2253'/%3E%3Cpath d='M6.13 12.67a1.92 1.92 0 1 1-1.92-1.92 1.92 1.92 0 0 1 1.92 1.92Z' data-name='패스 2254'/%3E%3Cpath d='M16.13 12.67a1.92 1.92 0 1 1-1.92-1.92 1.92 1.92 0 0 1 1.92 1.92Z' data-name='패스 2255'/%3E%3C/g%3E%3C/svg%3E");
  --mileage-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.93' height='17.93'%3E%3Cg fill='%23707070' data-name='그룹 2046'%3E%3Cpath d='M12.55 9.86h-1.8a1.8 1.8 0 1 1-3.58 0h-1.8a3.59 3.59 0 1 0 7.18 0Z' data-name='패스 2267'/%3E%3Cpath d='M7.17 7.18a.9.9 0 1 1-.9-.9.9.9 0 0 1 .9.9Z' data-name='패스 2268'/%3E%3Cpath d='M11.66 8.07a.9.9 0 1 0-.9-.9.9.9 0 0 0 .9.9Z' data-name='패스 2269'/%3E%3Cpath fill-rule='evenodd' d='M17.93 8.96A8.96 8.96 0 1 1 8.96 0a8.96 8.96 0 0 1 8.97 8.96Zm-1.8 0A7.17 7.17 0 1 1 8.97 1.8a7.17 7.17 0 0 1 7.18 7.17Z' data-name='패스 2270'/%3E%3C/g%3E%3C/svg%3E");
  --stamp-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.92' height='19.75'%3E%3Cpath fill='%23707070' d='M15.51 11.29h-4.23v-2.2a5.28 5.28 0 0 1 .82-2.71 4.23 4.23 0 1 0-7.8-2.93 4.17 4.17 0 0 0 .53 2.94 5.12 5.12 0 0 1 .8 2.63v2.27H1.42A1.41 1.41 0 0 0 0 12.69v2.83a1.41 1.41 0 0 0 1.41 1.4v1.41a1.41 1.41 0 0 0 1.41 1.42H14.1a1.41 1.41 0 0 0 1.41-1.42v-1.4a1.41 1.41 0 0 0 1.41-1.42V12.7a1.41 1.41 0 0 0-1.41-1.41ZM5.7 3.7a2.82 2.82 0 1 1 5.2 1.96 6.88 6.88 0 0 0-.97 2.8H7a6.73 6.73 0 0 0-.97-2.8 2.78 2.78 0 0 1-.35-1.96Zm4.18 6.17v1.41H7.05v-1.4Zm4.23 8.47H2.82v-1.41H14.1Zm-12.7-2.82V12.7h14.1v2.82Z'/%3E%3C/svg%3E");
  --icon-rate: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 12'%3E%3Cpath fill='%23022CFF' d='m6.12.94 1.23 2.47c.09.17.22.38.41.41l2.67.41c.49.07.76.69.41 1.03L8.8 7.1a.81.81 0 0 0-.2.61l.6 2.68c.1.48-.59.84-1.02.61L5.71 9.78a.35.35 0 0 0-.42 0l-2.46 1.23A.57.57 0 0 1 2 10.4l.4-2.68a.81.81 0 0 0-.2-.61L.16 5.26c-.35-.34-.08-.96.4-1.03l2.68-.41c.2-.03.33-.24.41-.41L4.88.94a.74.74 0 0 1 1.24 0Z'/%3E%3C/svg%3E");
  --icon-likes: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 13'%3E%3Cpath stroke='%2300F' stroke-linecap='round' stroke-width='1.2' d='M9.53 12.36H1.39a.4.4 0 0 1-.39-.4V5.53c0-.21.18-.4.4-.4h1.8c.47 0 .9-.23 1.13-.63l1.78-2.97a1.07 1.07 0 0 1 1.95.86L7.4 4.62a.4.4 0 0 0 .38.5h3c.87 0 1.5.83 1.27 1.67l-1.25 4.6c-.16.57-.68.97-1.27.97Z'/%3E%3Cpath stroke='%2300F' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M3.3 12.36V5.13'/%3E%3C/svg%3E");
  --icon-cmt: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 15'%3E%3Cpath stroke='%2300F' stroke-width='1.2' d='M5.1 11.38v-.6H2.37c-.5 0-.95-.17-1.28-.46a1.32 1.32 0 0 1-.49-.99V2.05c0-.36.16-.72.49-1A2 2 0 0 1 2.37.6h11.95a2 2 0 0 1 1.29.45c.32.28.49.64.49 1v7.28c0 .35-.17.71-.5 1-.32.28-.78.45-1.28.45H8.73l-.16.13-3.18 2.57a.3.3 0 0 1-.22 0 .16.16 0 0 1-.06-.05H5.1v-2.05Z'/%3E%3Cpath fill='%2300F' d='M11.23 6.6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-2.73 0a.75.75 0 1 0-.01-1.5.75.75 0 0 0 0 1.5Zm-2.75 0a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z'/%3E%3C/svg%3E");
}

#productDetailTop {
  position: relative;
  margin-top: 60px;
}
#productDetailTop .product_thumnail_wrap {
  position: relative;
  width: 100%;
}
#productDetailTop .product_thumnail_wrap .thumb_wrapper {
  width: 100%;
  font-size: 0;
}
#productDetailTop .product_thumnail_wrap .thumb_wrapper .thumb {
  position: relative;
  width: 100%;
  font-size: 0;
}
#productDetailTop .product_thumnail_wrap .thumb_wrapper .thumb > a,
#productDetailTop .product_thumnail_wrap .thumb_wrapper .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 0;
}
#productDetailTop .product_thumnail_wrap .thumb_wrapper .thumb > a > img,
#productDetailTop .product_thumnail_wrap .thumb_wrapper .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#productDetailTop .product_thumnail_wrap .thumb_wrapper .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}
#productDetailTop .product_thumnail_wrap .swiper-pagination-thumb {
  position: absolute;
  width: 57px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px;
  background: rgba(0, 0, 0, 0.4392156863);
  left: calc(100% - 57px - 17px);
  bottom: 17px;
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
  letter-spacing: 2.5px;
  padding: 0 0 2px 2.5px;
}
#productDetailTop .product_info_wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 17px;
  box-sizing: border-box;
  margin-top: 30px;
  margin-bottom: 27px;
  border-bottom: 7px solid #F2F2F2;
  /* 카테고리 - 가치태그 */
  /* 상단 브랜드 미니샵 입장*/
}
#productDetailTop .product_info_wrap #categoryTagBox {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: first baseline;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  bottom: 0;
}
#productDetailTop .product_info_wrap #categoryTagBox .cate_item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: 28px;
  padding: 0 11px;
  box-sizing: border-box;
  border: 1px solid #E2E2E2;
  border-radius: 14px;
  margin: 0 6px 6px 0;
}
#productDetailTop .product_info_wrap #categoryTagBox .cate_item > a {
  font-size: 1.2rem;
  font-weight: 300;
}
#productDetailTop .product_info_wrap .top_supply_link_wrap {
  margin-bottom: 12px;
}
#productDetailTop .product_info_wrap .minishop_btn {
  font-size: 1.25rem;
  font-weight: 400;
  color: #707070;
  background: transparent;
}
#productDetailTop .product_info_wrap .minishop_btn::after {
  display: inline-block;
  width: 4.93px;
  height: 8.61px;
  margin-left: 11px;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.925' height='8.615'%3E%3Cpath fill='%23707070' d='M3.441 4.308.181 7.565a.616.616 0 0 0 .872.869l3.693-3.69a.614.614 0 0 0 .018-.849L1.056.179a.616.616 0 1 0-.872.869Z' data-name='Icon ionic-ios-arrow-back'/%3E%3C/svg%3E");
}
#productDetailTop .product_info_wrap h2.product_name,
#productDetailTop .product_info_wrap h2.product_name span {
  color: #292929;
  font-size: 1.7rem;
  font-weight: normal;
  word-wrap: break-word;
  word-break: keep-all;
  letter-spacing: -0.5px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 3rem;
  height: 5.9rem;
  margin-bottom: 40px;
}
#productDetailTop .product_info_wrap .product_price {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  /* 가격 표시 */
}
#productDetailTop .product_info_wrap .product_price .price_wrap {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
#productDetailTop .product_info_wrap .product_price .price_wrap > .price_item {
  font-size: 2.2rem;
  font-weight: bold;
  color: #292929;
  margin-bottom: 0;
  padding-bottom: 0;
  order: 2;
}
#productDetailTop .product_info_wrap .product_price .price_wrap .strike_price {
  text-decoration: line-through !important;
  color: #B7B7B7 !important;
  font-size: 1.5rem !important;
  top: -25px;
  left: 0;
  padding-bottom: 0;
}
#productDetailTop .product_info_wrap .product_price .price_wrap .onpromotion {
  color: #292929 !important;
}
#productDetailTop .product_info_wrap .product_price .price_wrap .onpromotion::after {
  color: #292929 !important;
}
#productDetailTop .product_info_wrap .product_price .price_wrap > .discountrate {
  position: relative;
  font-size: 2.2rem;
  font-weight: bold;
  color: #003DD3;
  letter-spacing: -0.5px;
  margin: 0;
  margin-right: 7px;
}
#productDetailTop .product_info_wrap .product_price .button_wrap {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  right: 17px;
  padding-bottom: 20px;
}
#productDetailTop .product_info_wrap .product_price .button_wrap .wish_btn {
  display: block;
  width: 41px;
  height: 41px;
  background: var(--wish_btn) no-repeat center;
  text-indent: -9999px;
  margin-right: 7px;
}
#productDetailTop .product_info_wrap .product_price .button_wrap .share_btn {
  display: block;
  width: 41px;
  height: 41px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2024' transform='translate(-406 -606)'%3E%3Ccircle data-name='타원 717' cx='17.5' cy='17.5' r='17.5' transform='translate(406 606)' fill='%23f2f2f2'/%3E%3Cg data-name='Icon feather-share-2' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath data-name='패스 1743' d='M429.98 617.663a2.663 2.663 0 1 1-2.664-2.663 2.663 2.663 0 0 1 2.663 2.663Z'/%3E%3Cpath data-name='패스 1744' d='M419.327 623.877a2.663 2.663 0 1 1-2.664-2.663 2.663 2.663 0 0 1 2.664 2.663Z'/%3E%3Cpath data-name='패스 1745' d='M429.98 630.091a2.663 2.663 0 1 1-2.664-2.663 2.663 2.663 0 0 1 2.664 2.663Z'/%3E%3Cpath data-name='패스 1746' d='m418.962 625.218 6.063 3.535'/%3E%3Cpath data-name='패스 1747' d='m425.017 619.004-6.055 3.535'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  text-indent: -9999px;
}
#productDetailTop #productDetail {
  width: 100%;
  padding: 0 17px;
  border-bottom: 7px solid #F2F2F2;
}
#productDetailTop #productDetail .product_detail li {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
}
#productDetailTop #productDetail .product_detail li .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 125px;
  min-width: 100px;
  font-size: 1.35rem;
  font-weight: 300;
  color: #707070;
}
#productDetailTop #productDetail .product_detail li .detail {
  display: flex;
  flex-flow: column nowrap;
  width: calc(100% - 125px);
  font-size: 1.35rem;
  font-weight: 300;
  color: #292929;
}
#productDetailTop #productDetail .product_detail li .detail > span {
  margin-bottom: 4px;
}
#productDetailTop #productDetail .product_detail li .detail > span:nth-child(1) {
  font-weight: bold;
}
#productDetailTop #productDetail .product_detail li .detail em {
  font-weight: bold;
  margin-bottom: 5px;
}
#productDetailTop #productDetail .product_detail .mileage {
  margin-bottom: 19px;
}
#productDetailTop #productDetail .product_detail .mileage .title::before {
  display: inline-block;
  content: "";
  width: 17.93px;
  height: 17.93px;
  background: var(--mileage-icon) no-repeat center;
  margin-right: 14.1px;
}
#productDetailTop #productDetail .product_detail .mileage .detail .mileage_info .crew_mileage {
  font-weight: 300;
}
#productDetailTop #productDetail .product_detail .mileage .detail .mileage_txt {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  color: #707070;
}
#productDetailTop #productDetail .product_detail .mileage .detail .mileage_txt::before {
  display: inline-block;
  content: " ";
  width: 14.63px;
  height: 14.63px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='%23707070' d='M7.31 0a7.31 7.31 0 1 0 0 14.63A7.31 7.31 0 0 0 7.31 0Zm.74 10.97H6.57v-4.4h1.48v4.4Zm0-5.84H6.57V3.66h1.48v1.47Z'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-right: 6px;
}
#productDetailTop #productDetail .product_detail .stamp {
  margin-bottom: 19px;
}
#productDetailTop #productDetail .product_detail .stamp .title::before {
  display: inline-block;
  content: "";
  width: 16.92px;
  height: 19.75px;
  background: var(--stamp-icon) no-repeat center;
  margin-right: 14.1px;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-right: 15px;
  margin: 9px 0 0 0;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_list li {
  width: 25%;
  max-width: 53px;
  border-radius: 50%;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59' height='59'%3E%3Ccircle data-name='타원 721' cx='29.5' cy='29.5' r='29.5' fill='%23f2f2fc'/%3E%3C/svg%3E") no-repeat center;
  margin-right: 0.5%;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_list li > span {
  text-indent: -9999px;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_list li::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_txt {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  color: #707070;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_txt a {
  display: inline;
  text-decoration: underline;
  margin-left: 3px;
  color: #707070;
}
#productDetailTop #productDetail .product_detail .stamp .stamp_txt::before {
  display: inline-block;
  content: " ";
  width: 14.63px;
  height: 14.63px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='%23707070' d='M7.31 0a7.31 7.31 0 1 0 0 14.63A7.31 7.31 0 0 0 7.31 0Zm.74 10.97H6.57v-4.4h1.48v4.4Zm0-5.84H6.57V3.66h1.48v1.47Z'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-right: 6px;
}
#productDetailTop #productDetail .product_detail .delivery {
  position: relative;
}
#productDetailTop #productDetail .product_detail .delivery .title::before {
  display: inline-block;
  content: "";
  width: 17.5px;
  height: 14.2px;
  background: var(--delivery-icon) no-repeat center;
  background-size: contain;
  margin-right: 14.1px;
}
#productDetailTop #productDetail .product_detail .delivery .detail span {
  font-size: 1.35rem !important;
  font-weight: normal;
}
#productDetailTop #productDetail .product_detail .minishop {
  margin-bottom: 32.6px;
}
#productDetailTop #productDetail .product_detail .minishop .title {
  visibility: hidden;
}
#productDetailTop #productDetail .product_detail .minishop .detail {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#productDetailTop #productDetail .product_detail .minishop .detail .minishop_btn {
  background: transparent;
  font-size: 1.35rem;
  color: #707070;
  letter-spacing: -1px;
}
#productDetailTop #productDetail .product_detail .minishop .detail .minishop_btn::after {
  display: inline-block;
  content: "";
  width: 4.93px;
  height: 8.61px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.925' height='8.615'%3E%3Cpath fill='%23707070' d='M3.441 4.308.181 7.565a.616.616 0 0 0 .872.869l3.693-3.69a.614.614 0 0 0 .018-.849L1.056.179a.616.616 0 1 0-.872.869Z' data-name='Icon ionic-ios-arrow-back'/%3E%3C/svg%3E");
  margin-top: 13.4px;
  margin-left: 15px;
}

#productRelation {
  width: 100%;
  max-width: 450px;
  margin-top: 25px;
  padding: 0 11px;
}
#productRelation > h2 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #707070;
}
#productRelation > h3 {
  font-size: 1.6rem;
  margin-bottom: 12px;
}
#productRelation .product_relation_list {
  width: 100%;
}
#productRelation .product_relation_list > ul {
  width: 100%;
}
#productRelation .product_relation_list > ul img {
  height: 100%;
}
#productRelation .price {
  font-size: 1.24rem;
  font-weight: 500;
}

.detail-aside-funding {
  width: 100%;
  max-width: 450px;
  margin-top: -40px;
}

/* 상품 정보 */
.info_box {
  /* border-radius: 12px;*/
  position: relative;
  background: white;
  padding: 0 11px;
}
.info_box .title {
  font-size: 1.34rem;
  font-weight: 500;
}
.info_box .title span {
  color: #003DD3;
}
.info_box .prd_name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  display: -webkit-box;
  max-width: calc(100% - 50px);
}
.info_box #getdesc {
  font-size: 1.34rem;
  color: #ABABAB;
}

#funding-dday {
  font-size: 1.85rem;
  font-weight: bold;
}

.gray2 {
  margin-top: 2px;
  font-size: 1.1rem;
  color: #707070;
}

.info_box > img {
  width: auto;
  height: auto;
  max-width: 75px;
  margin-bottom: 15px;
}

.info_box-desc {
  padding-top: 9px;
}

.info_box .product_custom {
  text-decoration: line-through;
  color: #ABABAB;
  margin-right: 10px;
}

.info_box .price {
  margin-top: 9px;
  padding-right: 5px;
}

.info_box .price2 {
  display: inline-block;
  font-size: 13px;
  text-decoration: line-through;
  color: #C7C7C7;
}

.info_like {
  height: auto;
  position: absolute;
  right: 13px;
  top: 0;
}

.info_like .gdVote {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: none;
  padding: 0;
  box-shadow: 0px 3px 7px 0px #CBD3FF;
}

.info_like .gdVote:hover {
  border: 2px solid #022CFF;
  transition: ease-in 0.07s;
  cursor: pointer;
  box-shadow: 0px 3px 7px 0px #CBD3FF;
}

.info_like .gdVote img {
  height: 19px;
  width: auto;
}

/* 펀딩 정보 */
.funding_box .funding_info_box {
  display: none;
  padding: 0 11px;
}
.funding_box .gradientline {
  margin: 17px 0;
}
.funding_box .notice_box {
  margin-top: 40px;
}
.funding_box .notice_box img {
  width: 100%;
}

/* 펀딩 공지 */
.notice_desc > div > div > img {
  width: 100%;
}

/* 펀딩 커스텀 정보 */
.custom_box {
  display: flex;
  justify-content: space-between;
}

.custom_box_1 {
  background-color: #EFF7FF;
  border-radius: 5px;
  padding: 7px 10px;
  color: #022CFF;
}

.custom_box_2 {
  background-color: #E0FFEE;
  border-radius: 5px;
  padding: 7px 10px;
  color: #01AF8A;
}
.custom_box_2 > div {
  font-size: 1.14rem;
}
.custom_box_2 > span {
  font-size: 1.8rem;
  font-weight: 600;
}

.custom_box_1 > img,
.custom_box_2 > img {
  margin-top: 8px;
  margin-left: 7.5px;
}

.detail_tab_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #E2E2E2;
  box-sizing: border-box;
  color: #292929;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.detail_tab_wrap .tab {
  width: -moz-fit-content !important;
  width: fit-content !important;
  background: transparent !important;
  margin-right: 32px;
  color: #707070;
  box-shadow: none;
  font-size: 1.45rem !important;
}
.detail_tab_wrap .tab button {
  font-size: 1.45rem !important;
  color: #707070;
  background: transparent;
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "나눔고딕", "맑은 고딕", "Malgun Gothic", "돋움", dotum, Verdana, AppleGothic, sans-serif;
  border-bottom: 3px solid transparent;
  padding: 0 1px 12px 1px;
  box-sizing: border-box;
}
.detail_tab_wrap .tab .active {
  font-size: 1.45rem !important;
  color: #003DD3;
  background: transparent;
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "나눔고딕", "맑은 고딕", "Malgun Gothic", "돋움", dotum, Verdana, AppleGothic, sans-serif;
  border-bottom: 3px solid #003DD3;
  padding: 0 1px 12px 1px;
  box-sizing: border-box;
  font-weight: bold;
}
.detail_tab_wrap .tab:last-child {
  margin-right: 0 !important;
}

.detail_tab_wrap.active {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  max-width: 450px;
  min-width: 200px;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 2;
  background: #ffffff;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 100%);
}
.detail_tab_wrap.active .tab_custom {
  height: 29px;
}

#productDetailBottom {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  display: flex;
  transition-property: height;
  box-sizing: content-box;
  padding: 0 0 20px 0;
  overflow: hidden;
}
#productDetailBottom .detail_swiper_wrap {
  height: auto;
  padding-bottom: 100px;
  margin-bottom: 20px;
}
#productDetailBottom .detail_swiper_wrap > div {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0 11px;
}
#productDetailBottom .detail_swiper_wrap #tab0 {
  width: 100%;
  max-width: 450px;
  padding: 0 !important;
}
#productDetailBottom .detail_swiper_wrap #tab0 .tab_detail_page {
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "나눔고딕", "맑은 고딕", "Malgun Gothic", "돋움", dotum, Verdana, AppleGothic, sans-serif !important;
  letter-spacing: -0.5px;
}
#productDetailBottom .detail_swiper_wrap #tab0 .tab_detail_page span,
#productDetailBottom .detail_swiper_wrap #tab0 .tab_detail_page p,
#productDetailBottom .detail_swiper_wrap #tab0 .tab_detail_page a,
#productDetailBottom .detail_swiper_wrap #tab0 .tab_detail_page div {
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "나눔고딕", "맑은 고딕", "Malgun Gothic", "돋움", dotum, Verdana, AppleGothic, sans-serif !important;
  letter-spacing: -0.5px;
}
#productDetailBottom .detail_swiper_wrap #tab0 img {
  position: relative;
  width: 100% !important;
  max-width: 450px;
  min-width: 200px;
  backface-visibility: hidden;
  transform: translateZ(0);
}
#productDetailBottom .detail_swiper_wrap #tab0 iframe {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
#productDetailBottom .detail_swiper_wrap #tab0 video {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
#productDetailBottom .detail_swiper_wrap #tab1 {
  width: 100%;
  padding: 0 !important;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewAid_tempWrapper__7MGRC.ReviewAid_mobile__iZazx {
  grid-gap: 20px !important;
  padding: 0px 0 30px !important;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewPageSummary_mobile__Bs7M6 {
  gap: 15px !important;
  padding: 10px 0 15px 10px !important;
}
#productDetailBottom .detail_swiper_wrap #tab1 .PhotoReviews_ReviewPageHeader__T-2hw .PhotoReviews_horizon__Svoiu .PhotoReviews_photo-wrapper__vRcim {
  padding: 0 10px 20px !important;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewFilter_mobile__iwCfm {
  padding: 10px 5px;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewFilter_ReviewFilter__CrFwx .ReviewFilter_filter-wrapper__UY81t.ReviewFilter_mobile__iwCfm {
  padding: 0 !important;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewFilter_ReviewFilter__CrFwx .ReviewFilter_filter-wrapper__UY81t .ReviewFilter_photo-filter__LMvVR {
  align-items: center;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewPageContent_ReviewPageContent__OBfzb.ReviewPageContent_mobile__oSZWT {
  padding: 5px 10px 20px !important;
}
#productDetailBottom .detail_swiper_wrap #tab1 .ReviewPageContent_mobile__oSZWT {
  padding: 0 0 15px !important;
}
#productDetailBottom .detail_swiper_wrap #tab2 {
  padding: 11px 0;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tip {
  text-align: center;
  padding: 18px 0;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tip .tab-tip-head {
  color: #707070;
  font-size: 1.45rem;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .nodata {
  width: 100%;
  border: 1px solid #E2E2E2;
  text-align: center;
  font-size: 1.65rem;
  padding: 50px 0;
  margin: 15px 0;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna {
  width: 100%;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .noAccess {
  color: #707070;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions {
  width: 100%;
  height: 80px;
  padding: 10px 18px;
  margin-bottom: 15px;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  transition: all 0.3s;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions:hover, #productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions:focus, #productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions:active {
  box-shadow: 3px 7px 11px #EDEFF5;
  transition: all 0.3s;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link h1 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.35rem;
  font-weight: 500;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link h1 img {
  width: 18px;
  height: 13px;
  margin-right: 6px;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link p {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 1.1rem;
  color: #707070;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link p img {
  width: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 14px;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link p .id::after {
  display: inline-block;
  content: "|";
  margin: 0 6px;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns {
  display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 0 22px;
  margin: 11px 0;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns .noAccess {
  text-align: center;
  font-size: 1.6rem;
  padding: 20px 0;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns .qna_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 73px;
  height: 36px;
  background: #003DD3;
  border-radius: 3px;
  cursor: pointer;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns .qna_btn a {
  display: block;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.3rem;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .btnPrev_wrap,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .first,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .last,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .btnPrev,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .first:hover,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .last:hover,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .btnPrev:hover,
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination ol li {
  margin: 0 11px;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
#productDetailBottom .detail_swiper_wrap #tab2 div .page-pagination ol li .this {
  font-weight: 600;
  color: #003DD3;
}
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info {
  padding: 10px;
  margin-bottom: 10px;
}
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .title {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #003DD3;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content {
  font-size: 1.35rem;
  line-height: 1.8rem;
}
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > div {
  font-size: 1.35rem;
  line-height: 1.8rem;
}
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > ul,
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > ul li,
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > ul li div {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#buyAction {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: -moz-max-content;
  height: max-content;
  z-index: 100;
  bottom: 0;
  overflow: hidden;
}
#buyAction .buy_action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 65px;
  padding-top: calc(constant(safe-area-inset-bottom) - 5px);
  padding-top: calc(env(safe-area-inset-bottom) - 5px);
  padding-bottom: calc(constant(safe-area-inset-bottom));
  padding-bottom: calc(env(safe-area-inset-bottom));
  background: #ffffff;
}
#buyAction .buy_action button {
  font-size: 1.15rem;
  color: #707070;
  background: transparent;
  height: 65px;
}
#buyAction .buy_action .wish_btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: calc((100% - 278px) / 1.85);
  height: 65px;
}
#buyAction .buy_action .wish_btn::before {
  display: block;
  content: "";
  width: 26.75px;
  height: 24.17px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.25' height='24.776'%3E%3Cpath fill='%23707070' stroke='%23707070' stroke-width='.5' d='M24.761 2.489a7.642 7.642 0 0 0-9.909-.759l-1.163 1.148-.389-.389A7.645 7.645 0 0 0 2.489 13.3l11.153 11.123 11.12-11.122a7.646 7.646 0 0 0 0-10.812ZM14.506 12.605c1.414.989 3.313 2.808 4.638 3.74l-4.638 4.76Zm-10.262 0-.53-.53a5.91 5.91 0 0 1 8.358-8.359l.671.67v16.687l-8.071-8.068Zm19.291-.53-3.343 3.258c-.967-.68-2.049-1.765-3.424-2.728-.554-.388-1.566-1.315-2.263-1.8v-6.3a6.125 6.125 0 0 1 .653-.786 6.434 6.434 0 0 1 .8-.659 5.911 5.911 0 0 1 7.575 9.019Z' data-name='패스 2324'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-bottom: 8.9px;
}
#buyAction .buy_action .share_btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: calc((100% - 278px) / 1.85);
  height: 65px;
}
#buyAction .buy_action .share_btn::before {
  display: block;
  content: "";
  width: 26.75px;
  height: 24.17px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.964' height='25.293'%3E%3Cg fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' data-name='Icon feather-share-2'%3E%3Cpath d='M21.964 4.494A3.494 3.494 0 1 1 18.47 1a3.494 3.494 0 0 1 3.494 3.494Z' data-name='패스 1743'/%3E%3Cpath d='M7.988 12.647a3.494 3.494 0 1 1-3.494-3.494 3.494 3.494 0 0 1 3.494 3.494Z' data-name='패스 1744'/%3E%3Cpath d='M21.964 20.799a3.494 3.494 0 1 1-3.494-3.494 3.494 3.494 0 0 1 3.494 3.494Z' data-name='패스 1745'/%3E%3Cpath d='m7.511 14.405 7.955 4.635' data-name='패스 1746'/%3E%3Cpath d='m15.454 6.253-7.943 4.635' data-name='패스 1747'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-bottom: 8.9px;
}
#buyAction .buy_action .gift_btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: calc((100% - 278px) / 1.75);
  height: 65px;
  font-weight: bold;
  color: #003DD3;
}
#buyAction .buy_action .gift_btn::before {
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27'%3E%3Cg fill='none' stroke='%23003dd3' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' data-name='Icon feather-gift'%3E%3Cpath d='M23.5 13.5V26h-20V13.5' data-name='패스 2325'/%3E%3Cpath d='M13.5 26V7.25' data-name='패스 2327'/%3E%3Cpath d='M13.5 7.25H7.875a3.125 3.125 0 1 1 0-6.25C12.25 1 13.5 7.25 13.5 7.25Z' data-name='패스 2328'/%3E%3Cpath d='M13.5 7.25h5.625a3.125 3.125 0 1 0 0-6.25C14.75 1 13.5 7.25 13.5 7.25Z' data-name='패스 2329'/%3E%3Cpath d='M1 7.25h25v6.25H1Z' data-name='패스 2326'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  margin-bottom: 8.9px;
}
#buyAction .buy_action .buy_btn {
  width: 100%;
  height: 65px;
  background: #003DD3;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #ffffff;
}/*# sourceMappingURL=detail.css.map */