@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

//변수
:root {
    --box-dashline: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='428' height='1'%3E%3Cpath data-name='패스 1753' d='M0 .5h428' fill='none' stroke='%23eaeaf3' stroke-dasharray='10 3'/%3E%3C/svg%3E");

    --like-icon-bk: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.085' height='24.626'%3E%3Cpath data-name='패스 1748' d='M24.609 2.475a7.6 7.6 0 0 0-9.848-.754l-1.156 1.141-.387-.387A7.6 7.6 0 0 0 2.474 13.219l11.084 11.054L24.609 13.22a7.6 7.6 0 0 0 0-10.746ZM14.415 12.528c1.4.983 3.292 2.79 4.609 3.717l-4.609 4.73Zm-10.2 0-.527-.527a5.874 5.874 0 0 1 8.307-8.308l.667.666v16.583l-8.021-8.019Zm19.172-.527-3.322 3.238c-.961-.676-2.037-1.754-3.4-2.711-.551-.386-1.557-1.307-2.249-1.791V4.474a6.1 6.1 0 0 1 .649-.781 6.411 6.411 0 0 1 .8-.655 5.875 5.875 0 0 1 7.528 8.963Z' fill='%23292929' stroke='%23292929' stroke-width='.5'/%3E%3C/svg%3E");
}

// 상품 정보 상단
#productDetailTop {
    position: relative;
    margin-top: 40px;//top_nav hide

    .product_brand {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 16px 11px 15px;

        h2,
        h3 {
            font-size: 1.25rem;
            font-weight: 300;
            color: $bvt-darkgray;
            margin-bottom: 2px;

            em {
                font-weight: 600;
            }
        }
    }

    .product_thumnail_wrap {
        position: relative;
        max-width: 450px;
        /* 1:1 ratio */
        padding-top: 100%;
        overflow: hidden;

        .product_icon {
            position: absolute;
            width: 75px;
            height: 75px;
            top: 0;
            left: 0;
        }

        img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    .product_info_wrap {
        position: relative;
        width: 100%;
        height: auto;
        padding: 17px 11px;
        border-bottom: $bvt-btn-border-gray;
        box-sizing: border-box;

        h2 {
            font-size: 1.43rem;
            font-weight: 600;
            color: $bvt-black;
            margin-bottom: 25px;
        }

        #categoryTagBox {
            display: flex;
            flex-flow: row wrap;
            justify-content: first baseline;
            align-items: center;
            width: 100%;
            margin: 20px 0 0 0;
            .cate_item {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 28px;
                padding: 0 11px;
                box-sizing: border-box;
                border: $bvt-btn-border-gray;
                border-radius: 14px;
                margin: 0 6px 6px 0;
                >a{
                    font-size: 1.2rem;
                    font-weight: normal;
                }
            }
        }

        .share_btn {
            position: absolute;
            display: block;
            width: 35px;
            height: 35px;
            background: $share-btn no-repeat center;
            text-indent: -9999px;
            top: calc(50% - 30px);
            right: 11px;
        }
    }

    .delivery_wrap {
        width: 100%;
        padding: 0 11px;
        .delivery_info {
            width: 100%;
            margin: 24px 0;

            li {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 6px;
                >p{
                    font-size: 1.25rem;
                    color: $bvt-black;
                }

                .delivery_title {
                    position: relative;
                    font-weight: 600;
                }

                .delivery_detail {
                    position: absolute;
                    left: 80px;
                    font-weight: 300;

                    >em {
                        font-weight: 600;
                        color: $bvt-blue;
                    }
                }
                .delv_price_B{
                    font-weight: 700 !important;
                }

                >div{
                    position: absolute;
                    left: -7px;
                    z-index: 9;
                    .btnHelp,img{
                        display: none;
                    }
                    >a{ 
                            display: block;
                            width: 5px;
                            height: 6px;
                            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 5'%3E%3Ccircle cx='2.5' cy='2.5' r='2.5' fill='%23022cff' data-name='타원 711'/%3E%3C/svg%3E") no-repeat center;   
                    }

                    >div{
                        background: $bvt-bg-skyblue;
                        padding: 9px;
                    }
                    .title, p{
                        font-size: 1.3rem;
                        font-weight: 700;
                        margin-bottom: 3px;
                    }
                    ul{
                        li{
                            margin: 0;
                            font-size: 1.1rem;
                            strong{
                                margin-right: 5px;
                            }
                            span{
                                font-weight: 600;
                                color: $bvt-blue;
                            }
                        }
                    }
                    .close>a,.btnClose{
                        display: block;
                            width: 10px;
                            height: 10px;
                            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.43 13.42'%3E%3Cpath fill='%23022cff' d='m8.3 6.71 4.8-4.8A1.12 1.12 0 0 0 11.52.33l-4.8 4.8-4.8-4.8A1.12 1.12 0 1 0 .33 1.9l4.8 4.8-4.8 4.8a1.12 1.12 0 0 0 1.58 1.59l4.8-4.8 4.8 4.8a1.12 1.12 0 1 0 1.59-1.59Z' data-name='Icon ionic-ios-close'/%3E%3C/svg%3E") no-repeat center;  
                            margin-top: 5px;
                    }
                }

            }
        }
    }

    .mileage_wrap {
        position: relative;
        width: 100%;
        background: url(/bvtIMG/page_image/common/top_wave_bg.svg) no-repeat;
        background-size: 100%;
        padding: 35px 11px 0;
        &::after {
            position: relative;
            bottom: 0;
            display: block;
            content: " ";
            width: 100%;
            height: 2px;
            background: var(--box-dashline) no-repeat;
        }

        >h1 {
            font-size: 1.45rem;
            margin-bottom: 2px;
        }

        #mileage {
            position: relative;
            margin-bottom: 135px;
            color: $bvt-darkgray;

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 2px;
                background: $mileage-bar no-repeat;
                top: 32px;
            }

            .mileage_voter {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                position: absolute;
                left: calc(50% - 35px);

                p {
                    font-size: 1.35rem;
                    &:nth-child(1) {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        position: inherit;
                        top: 36px;
                        font-size: 1.2rem;

                        &::before {
                            display: block;
                            content: "▲";

                        }
                    }

                    &:nth-child(2) {
                        >em {
                            color: $bvt-black;
                            font-weight: 700;
                        }

                        >span {
                            color: $bvt-black;
                            font-weight: 300;
                        }
                    }
                }
            }

            .mileage_crew {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                position: absolute;
                right: 5px;

                p {
                    font-size: 1.35rem;
                    margin-right: -5px;
                    &:nth-child(1) {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-end;
                        position: inherit;
                        top: 36px;
                        right: -3px;
                        font-size: 1.2rem;

                        &::before {
                            display: block;
                            content: "▲";

                        }
                    }

                    &:nth-child(2) {
                        >em {
                            color: $bvt-black;
                            font-weight: 700;
                        }

                        >span {
                            color: $bvt-black;
                            font-weight: 300;
                        }
                    }
                }
            }

            .mileage_txt {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                height: 18px;
                top: 90px;
                font-size: 1.1rem;

                >a {
                    color: $bvt-blue;
                    text-decoration: underline;
                }
            }

            .mileage_crew_txt {
                &::before {
                    display: inline-block;
                    content: " ";
                    width: 14px;
                    height: 14px;
                    background: $info-iconblue;
                    background-size: contain;
                    margin-right: 5px;
                }
            }

            .mileage_mileage_txt {

                &::before {
                    display: inline-block;
                    content: " ";
                    width: 14px;
                    height: 14px;
                    background: $info-icon;
                    background-size: contain;
                    margin-right: 5px;
                }
            }



        }

    }

    .stamp_wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        background: $bvt-bg-lightblue;
        padding: 35px 11px;
        box-sizing: border-box;

        .stamp_title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 1.45rem;
            margin-bottom: 14px;

            >span {
                font-weight: 300;

                .stamp_pcs {
                    font-weight: 700;
                }
            }
        }

        .stamp_list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 305px;
            margin-bottom: 24px;
            height: 60px;

            li {
                width: 60px;
                height: 60px;
                text-indent: -9999px;
                background: $stamp-board;
            }

        }

        .stamp_txt {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 18px;
            font-size: 1.1rem;
            color: $bvt-darkgray;

            >a {
                display: inline;
                text-decoration: underline;
                margin-left: 3px;
                color: $bvt-darkgray;
            }

            &::before {
                display: inline-block;
                content: " ";
                width: 14px;
                height: 14px;
                background: $info-icon;
                background-size: contain;
                margin-right: 5px;
            }
        }
    }

    .product_relation_wrap{
        width: 100%;
        max-width: 450px;
        margin-top: 25px;
        padding: 0 11px;
        >h2{
            font-size: 1.25rem;
            font-weight: 300;
            color: $bvt-darkgray;
        }
        >h3{
            font-size: 1.6rem;
            margin-bottom: 12px;
        }
        .product_relation_list{
            width: 100%;
            >ul{
                width: 100%;
                img{
                    height: 100%;
                }
            }
        }
        .product_name, .product_name span {
            color: $bvt-black;
            font-size: 1.25rem;
            font-weight: normal;
            word-wrap: break-word;
            word-break: keep-all;
            @include ellipsis(2, 1.5rem);
            margin-bottom: 18px;
        }
        .price{
            font-size: 1.24rem;
            font-weight: 500;
        }
    }
}
//펀딩

.detail-aside-funding {
    width: 100%;
    float: right;
    padding: 12px 0;
}
.detail-goods-info {
    background-color: #F8F9FD;
    border-radius: 7px;
    padding: 17px;
    margin: 35px 0;
}
/* 상품 정보 */

.info_box {
    /* border-radius: 12px;*/
    position: relative;
    background: white;
    padding: 0 11px;
    .title{
        font-size: 1.34rem;
        font-weight: 500;
        span{
            color: $bvt-blue;
        }
    }
    .prd_name{
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 10px;
        display: -webkit-box;
        max-width: calc(100% - 50px);
    
    }
    #getdesc{
        font-size: 1.34rem;
        color: $bvt-lostfocus-gray;
    }

}

#funding-dday{
    font-size: 1.8rem;
    font-weight: 700;
}
.gray2{
    margin-top: 2px;
    font-size: 1.1rem;
    color: $bvt-darkgray;
}
.info_box>img {
    width: auto;
    height: auto;
    max-width: 75px;
    margin-bottom: 15px;
}

.info_box-desc {
    padding-top: 9px;
}

.info_box .product_custom {
    text-decoration: line-through;
    color: #ABABAB;
    margin-right: 10px;
}

.info_box .price {
    margin-top: 9px;
    padding-right: 5px;
}

.info_box .price2 {
    display: inline-block;
    font-size: 13px;
    text-decoration: line-through;
    color: #C7C7C7;
}

.info_like {
    height: auto;
    position: absolute;
    right: 13px;
    top:0;
}

.info_like .gdVote {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: none;
    padding: 0;
    -webkit-box-shadow: 0px 3px 7px 0px #CBD3FF;
    -moz-box-shadow: 0px 3px 7px 0px #CBD3FF;
    box-shadow: 0px 3px 7px 0px #CBD3FF;
}

.info_like .gdVote:hover {
    border: 2px solid #022CFF;
    -webkit-transition: ease-in 0.07s;
    transition: ease-in 0.07s;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 7px 0px #CBD3FF;
    -moz-box-shadow: 0px 3px 7px 0px #CBD3FF;
    box-shadow: 0px 3px 7px 0px #CBD3FF;
}

.info_like .gdVote img {
    height: 19px;
    width: auto;
}

/* 펀딩 정보 */

.funding_box {
    padding: 22px 11px 0;
    border-radius: 0 0 12px 12px;
}

.funding_box>.gradientline {
    margin: 17px 0;
}

.notice_box {
    // margin-top: 40px;
}

/* 펀딩 공지 */

.notice_desc>div>div>img {
    width: 100%;
}

/* 펀딩 커스텀 정보 */

.custom_box {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.custom_box_1 {
    background-color: #EFF7FF;
    border-radius: 5px;
    padding: 7px 10px;
    color: #022CFF;
}

.custom_box_2 {
    background-color: #E0FFEE;
    border-radius: 5px;
    padding: 7px 10px;
    color: #01AF8A;
    >div{
        font-size: 1.14rem;
    }
    >span{
        font-size: 1.8rem;
        font-weight: 600;
    }
}

.custom_box_1>img, .custom_box_2>img {
    margin-top: 8px;
    margin-left: 7.5px;
}




// 상품 정보 하단
.detail_tab_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    width: 100%;
    border-bottom: $bvt-btn-border-gray;
    padding: 52px 11px 9px;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: $bvt-black;

    .tab_custom {
        width: fit-content !important;
        height: 20px  !important;
        background: transparent  !important;
        margin-right: 15px  !important;
        font-size: 1.45rem  !important;
        color: $bvt-darkgray;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        color: $bvt-black;
        font-weight: bold;
        &::after {
            display: block;
            content: "";
            width: 102%;
            height: 3px;
            background: $bvt-black;
            border-radius: 3px;
            margin-top: 6px;
        }
    }
}


#productDetailBottom {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    display: flex;
    transition-property: height;
    box-sizing: content-box;
    padding: 20px 0;
    overflow: hidden;


    .detail_swiper_wrap {
        height: auto;
        padding-bottom: 100px;
        margin-bottom: 20px;
        //각각의 탭
        >div{
            width: 100%;
            max-width: 100%;
            overflow-x: hidden;
            padding: 0 11px;
        }
        #tab0 {
            img {
                position: relative;
                //220824 이미지 태그 내 inline으로 width 1924 height 설정 들어가서 (원인 모름) important 삽입
                width: 100% !important; 
                height: auto !important;
                max-width: 450px;
                min-width: 200px;
                object-fit: cover;
                object-position: 50% 50%;
            }

            iframe {
                position: relative;
                width: 100%;
                max-width: 450px;
                min-width: 200px;
                object-fit: cover;
                object-position: 50% 50%;
            }

            video {
                position: relative;
                width: 100%;
                max-width: 450px;
                min-width: 200px;
                object-fit: cover;
                // object-position: 50% 50%;
            }
        }
        #tab1{
            iframe{

                //소비기록 상단 마진값 제하기
                margin-top: -50px;
            }
        }
        #tab2 {
            div {
                .tab-tip {
                    text-align: center;
                    padding: 18px 0;

                    .tab-tip-head {
                        color: $bvt-darkgray;
                        font-size: 1.45rem;
                    }
                }

                .nodata {
                    width: 100%;
                    border: $bvt-btn-border-gray;
                    text-align: center;
                    font-size: 1.6rem;
                    padding: 50px 0;
                    margin: 15px 0;
                }

                .product_detail_qna {
                    width: 100%;
                    padding: 0 22px;

                    .noAccess {
                        color: $bvt-darkgray;
                    }

                    .tab-board-table {

                        .descriptions {
                            width: 100%;
                            height: 80px;
                            padding: 10px 18px;
                            margin-bottom: 15px;
                            border: $bvt-btn-border-gray;
                            border-radius: 3px;
                            transition: all .3s;

                            &:hover,
                            &:focus,
                            &:active {
                                box-shadow: $bvt-shadow;
                                transition: all .3s;
                            }

                            .description_link {
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: space-evenly;
                                width: 100%;
                                height: 100%;

                                h1 {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;
                                    font-size: 1.35rem;
                                    font-weight: 500;

                                    img {
                                        width: 18px;
                                        height: 13px;
                                        margin-right: 6px;
                                    }
                                }

                                p {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;
                                    font-size: 1.1rem;
                                    color: $bvt-darkgray;

                                    img {
                                        width: 14px;
                                        object-fit: cover;
                                        margin-left: 14px;
                                    }

                                    .id {
                                        &::after {
                                            display: inline-block;
                                            content: "|";
                                            margin: 0 6px;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

                .tab-tips-btns {
                    display: block;
                    width: 100%;
                    max-width: 450px;
                    height: 50px;
                    padding: 0 22px;
                    margin: 11px 0;

                    .noAccess {
                        text-align: center;
                        font-size: 1.6rem;
                        padding: 20px 0;
                    }

                    .qna_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        float: right;
                        width: 100px;
                        height: 50px;
                        background: $bvt-blue;
                        border-radius: 60px;
                        cursor: pointer;

                        a {
                            display: block;
                            color: $bvt-white;
                            font-weight: 400;
                            font-size: 1.3rem;
                        }
                    }
                }
                @include page-pagination;

            }
        }

        #tab3 {
            div {
                .tab_prd_info {
                    padding: 10px;
                    margin-bottom: 10px;

                    .title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        border-bottom: $bvt-btn-border;
                        padding-bottom: 12px;
                        margin-bottom: 12px;
                    }

                    .content {
                        font-size: 1.35rem;
                        line-height: 1.8rem;

                        >div {
                            font-size: 1.35rem;
                            line-height: 1.8rem;
                        }

                        >ul,
                        >ul li,
                        >ul li div {
                            font-size: 1.35rem;
                            line-height: 1.8rem;
                        }
                    }
                }
            }
        }
    }

}


//buy screen 버튼
#buyAction{
    position: fixed;
    width: 100%;
    max-width: 450px;
    height: max-content;
    z-index: 100;
    bottom: 0;
    overflow: hidden;
    >ul{
        width: 100%;
        max-width: 450px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        li{
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            min-height: 64px;
            max-height: max-content;
            padding-top: calc(constant(safe-area-inset-bottom) - 20px);
            padding-top: calc(env(safe-area-inset-bottom) - 20px);
            padding-bottom: calc(constant(safe-area-inset-bottom));
            padding-bottom: calc(env(safe-area-inset-bottom));
            &:nth-child(1){
                width: 80px;
                background: $bvt-white;
            }
            &:nth-child(2){
                width: 80px;
                background: $bvt-black;
            }
            &:nth-child(3){
                width: calc(100% - 160px);
                background: $bvt-blue;
            }


            button{
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                height: 40px;
                font-weight: 600;
                font-size: 1.5rem;
                bottom: 0;
                background: none;
            }
        
            .wish_btn{
                color: $bvt-black;
                font-size: 1.15rem;
                &::before{
                    display: block;
                    content:"";
                    width: 21px;
                    height: 21px;
                    background: var(--like-icon-bk) no-repeat;
                    background-size: contain;
                    margin-bottom: 4px;
                }
            }
            .gift_btn{
                color: $bvt-white;
                font-size: 1.15rem;
                padding-bottom: 0;
                &::before{
                    display: block;
                    content:"";
                    width: 21px;
                    height: 21px;
                    background: $gift-icon no-repeat;
                    background-size: contain;
                    margin-bottom: 4px;
                }
            }
            .buy_btn{
                color: $bvt-white;
                justify-content: center;

            }
        }
    }

}

