@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#explorer {
  width: 100%;
  max-width: 450px;
  padding: 80px 0 120px;
  /* 브랜드 카운트 */
}
#explorer #indexSupplyCnt {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 9px 0;
  background: #F5FF02;
  margin-bottom: 29px;
}
#explorer #indexSupplyCnt #joinbanner {
  border: 0;
  font-size: 1.7rem;
  font-weight: 400;
}
#explorer #indexSupplyCnt #joinbanner em {
  font-weight: 600;
}

#explorerTitle {
  width: 100%;
  max-width: 450px;
  padding: 0 29px;
  margin-bottom: 43px;
}
#explorerTitle .explorer_banner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  padding: 18px 0;
  margin-bottom: 25px;
}
#explorerTitle .explorer_banner h4 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 6px;
}
#explorerTitle .explorer_banner p {
  font-size: 1.7rem;
  font-weight: 400;
}
#explorerTitle .spring_menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#explorerTitle .spring_menu li {
  width: 23.5%;
  max-width: 91px;
}
#explorerTitle .spring_menu li a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
#explorerTitle .spring_menu li a img {
  width: 100%;
  margin-bottom: 9px;
  transform: translateZ(0);
}
#explorerTitle .spring_menu li a span {
  font-size: 1.5rem;
  font-weight: 300;
}

#indexListmain {
  width: 100%;
  max-width: 450px;
}
#indexListmain ul .index_list {
  width: 100%;
  max-width: 450px;
  margin-bottom: 0;
}
#indexListmain ul .index_list > div {
  padding: 0 29px;
}
#indexListmain ul .index_list > div .banner {
  width: 100%;
  max-width: 450px;
  margin-bottom: 37px;
}
#indexListmain ul .index_list > div .banner a, #indexListmain ul .index_list > div .banner a > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateZ(0);
}
#indexListmain ul .index_list > div > ul .list_item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(50% - 12px);
  max-width: 181px;
  margin-bottom: 27px;
}
#indexListmain ul .index_list > div > ul .list_item .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
#indexListmain ul .index_list > div > ul .list_item .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
#indexListmain ul .index_list > div > ul .list_item .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}
#indexListmain ul .index_list > div .list_item_progress {
  margin: 0 0 69.7px 0;
}

/* 둘러보기 이동 */
.linktolookaround {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 58px);
  margin: 0 auto;
  background: #F2F2F2;
  border-radius: 9px;
  padding: 21px 27px;
  font-size: 1.7rem;
  font-weight: 600;
  box-sizing: border-box;
}
.linktolookaround svg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 6.5px;
  height: 1.1rem;
}
@media (max-width: 360px) {
  .linktolookaround {
    font-size: 1.55rem;
  }
}

/* 둘러보기 이동 */
.icon {
  height: 25px !important;
  margin-top: 6%;
}
.icon img {
  width: auto;
  height: inherit;
  margin-right: 5px;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=explorer.css.map */