@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#fundingIndex {
    width: 100%;
    max-width: 450px;
    padding: 80px 0 120px;
}

/* 펀딩 타이틀 */
#fundingIndexPlayingTitle,
#fundingIndexClosingTitle {
    margin: 37px 0 19px 0;

    h2 {
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 7px;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 300;
        color: $bvt-lostfocus-gray;
    }
}

/* 펀딩 배너*/
.indextitle {
    margin-top: 108px;
}

.fundingbanner {
    border: #DDDDDD 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-bottom: 45px;
    font-size: 15px;
    color: #707070;
    text-align: center;

    span {
        color: $bvt-blue;
    }

}

/* 펀딩 종료 배너*/

.fundingendbanner {
    border-radius: 10px;
    width: 100%;
    padding: 40px;
    margin-bottom: 80px;
    font-size: 15px;
    color: #707070;
    text-align: center;
    box-shadow: 3px 7px 11px rgba(0, 0, 0, 0.16);

    em {
        font-weight: 500;
    }
}

/* 진행 펀딩 */
// .listmain_18{

// }

/* 종료 펀딩 */
.listmain_26>.bvt-funding>li> {
    .thumb>a>img {
        -webkit-filter: opacity(50%) !important;
        filter: opacity(50%) !important;
    }

    .desc>.title>a,
    .desc>.summary {
        color: $bvt-darkgray !important;
    }
}


/* 펀딩 가격 */
//     .price,
//     .price * {
//         font-size: 0.85em !important;
//         color: #022CFF !important;
//         font-weight: 700 !important;
//     }
.funding_price {
    margin-bottom: 11px;
}

/* 펀딩 가격 */



// /* 펀딩 index 종료 */

// .xans-product-listmain-26 .bvt-funding .box-img>a>Img {
//     -webkit-filter: opacity(50%);
//     filter: opacity(50%);
// }

// .xans-product-listmain-26 .bvt-funding .box-desc .title * {
//     color: #707070 !important;
// }

// .xans-product-listmain-26 .bvt-funding .box-desc .desc {
//     color: #707070 !important;
// }
// .xans-product-listmain-26 .bvt-funding .box-desc .funding_price .product_price {
//     font-size: 1.4rem !important;
//     color: #70707000 !important;
// }
// /*index_funding_swipe*/

// .bvt-funding .swiper-slide {
//     border-radius: 7px;
//     padding-bottom: 25px;
// }

// .swiper-container>.bvt-funding {
//     padding-bottom: 30px;
// }

/*더보기버튼*/

#product_listmore {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 40px 0 0 0;

    a {
        display: block;
        border: 1px solid #ddd;
        background: $bvt-whitegray;
        padding: 10px 13px;
        font-size: 10pt;
        text-align: center;
        text-decoration: none;

        &::hover {
            background: #000;
            color: #fff;
        }

    }
}