@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


/* 펀딩 메인진열 */
#fundingListmain,
#fundingEndListmain {
	width: 100%;
	padding: 0 11px;
}

//메인 진열에 펀딩 없는 경우 카카오 플친 처리
.list_nocontents_wrap {
	position: relative;
	width: 100%;
	border-radius: 20px;
	box-shadow: 3px 7px 11px 0px rgba(242, 242, 242, 1);
	transition: all 0.8s;
	overflow: hidden;

	.thumbnail {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 234px;
		background: #FDFDF5;

		.discountrate {
			position: absolute;
			top: 13px;
			left: 15px;
			padding: 10px 13px;
			font-size: 1.5rem;
			font-weight: bold;
			color: $bvt-white;
			background: $bvt-blue;
			border-radius: 31px;
			z-index: 1;
		}
	}

	.description {
		width: 100%;
		padding: 23.2px 15px 35px;

		p {
			font-size: 2rem;
			font-weight: bold;
			margin-bottom: 12px;
		}

		span {
			font-size: 1.5rem;
			font-weight: normal;
			color: $bvt-darkgray;
			line-height: 2.4rem;
		}
	}
}

//카카오 버튼
.bvt_kakao {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 6px 33px;
	border-radius: 22px;
	border: 1px solid #FADC3F;
	background: #FFF7CC;
	color: #3B1E1E;
	font-size: 1.6rem;
	font-weight: bold;

	&::before {
		display: inline-block;
		content: '';
		width: 34px;
		height: 34px;
		background: $kakao-logo;
	}
}


.bvt-funding {
	position: relative;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;

	.list_item {
		position: relative;
		width: 100%;
		max-width: 428px;
		box-shadow: 3px 7px 11px 0px rgba(242, 242, 242, 1);
		margin-bottom: 33px;
		overflow: hidden;
		@include product-thumb(4px);

		//펀딩 사진 높이 수정
		.thumb {
			position: relative;
			height: 234px;
			overflow: hidden;

			.img_wrap {
				img {
					top: -28%;
				}
			}


		}

		//할인율/아이콘
		.img_data {
			position: absolute;
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;


			.icon {
				height: 29px;

				img {
					object-fit: cover;
					image-rendering: -webkit-optimize-contrast;
				}
			}

			.price_wrap {
				width: 100%;
				align-items: flex-end;
			}

			.fixprice,
			.realprice {
				display: none;
			}

			.discountrate {
				position: absolute;
				top: calc(234px - 17.5px);
				right: 0;
				color: $bvt-darkblue;
				background: $bvt-white;
				border: 1px solid $bvt-darkblue;
				border-radius: 18px;
				padding: 7px 13px;
				box-sizing: border-box;
				margin-right: 24px;
			}
		}

		//D-Day 및 종료 아이콘
		//2023-02 사용 안함 처리
		.ddayPrd {
			display: none;
			// position: relative;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			// background: $bvt-blue;
			// color: $bvt-white;
			// font-size: 1.22rem;
			// border-radius: 50%;
			// width: 55px;
			// height: 55px;
			// top: -30px;
			// right: 11px;
			// float: right;
			// padding: 0 !important;
			// text-align: center;

			>span {
				font-weight: bold;
			}
		}

		.desc {
			position: relative;
			width: 100%;
			padding: 24.2px 15px;


			.summary {
				position: relative;
				font-size: 1.25rem;
				font-weight: normal;
				margin-bottom: 6px;
				color: $bvt-darkgray;
			}

			//공구 / 펀딩 구분 아이콘
			//2023-02 사용 안함 처리
			.typePrd {
				display: none;
				font-size: 1.5rem;
				font-weight: bold;
				color: $bvt-blue;
				margin-bottom: 11px;
			}

			//모델명
			.title {
				font-size: 1.9rem;
				font-weight: bold;
				margin-bottom: 10px;
			}

			.simple_desc {
				font-size: 1.5rem;
				font-weight: normal;
				color: $bvt-black;
				@include only-ellipsis(2, 1.8rem)
			}

			.promotion_date {
				display: flex;
				align-items: flex-start;
				font-size: 1.4rem;
				font-weight: bold;
				color: $bvt-blue;
				margin-top: 11px;
			}

			//구매자 수, 할인율 처리
			//2023-02 사용 안함 처리
			.custom_voter {
				display: none;
				// display: flex;
				// justify-content: space-between;
				margin: 7px 0;

				div {
					&:nth-child(1) {
						//구매 인원
						font-size: 1.25rem;
						color: $bvt-blue;
					}

					&:nth-child(2) {
						//현재 할인율
						font-size: 1.24rem;
						color: #01AF8A;
					}
				}
			}

		}
	}
}