@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#fundingIndex{
    width: 100%;
    max-width: 450px;
    padding: 23px 11px;
    margin: 80px 0 120px;
}

/* 펀딩 타이틀 */
#fundingIndexPlayingTitle,
#fundingIndexClosingTitle {
    margin: 19px 0;
    padding: 0 11px;

    h2 {
        font-size: 1.9rem;
        font-weight: 700;
        margin-bottom: 2px;
    }

    h3 {
        font-size: 1.3rem;
        font-weight: 300;
        color: $bvt-lostfocus-gray;
    }
}


/* 펀딩 배너*/
.indextitle {
    margin-top: 108px;
}

.fundingbanner {
    border: #DDDDDD 1px solid;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    margin-bottom: 45px;
    font-size: 15px;
    color: #707070;
    text-align: center;
    span{
        color: $bvt-blue;
    }

}

/* 펀딩 종료 배너*/

.fundingendbanner {
    border-radius: 10px;
    width: 100%;
    padding: 40px;
    margin-bottom: 80px;
    font-size: 15px;
    color: #707070;
    text-align: center;
    box-shadow: 3px 7px 11px rgba(0, 0, 0, 0.16);
    em{
        font-weight: 500;
    }
}

/* 펀딩 메인진열 */

.funding_list{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.bvt-funding{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 11px 0;
    >li{
        position: relative;
        border-bottom: $bvt-btn-border-gray;
        margin-bottom: 45px;
        border-radius: 10px;
        transition: all 0.6s;
        &:hover {
            border-radius: 10px;
            transition: all 0.4s;
            box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.07);
        }   
        .msgBox {
            background-color: #022CFF;
            color: #ffffff;
            font-size: 15px;
            position: relative;
            z-index: 1;
            float: right;
            border-radius: 100px;
            top: 20px;
            right: 15px;
            margin-top: -20px;
            height: 40px;
            line-height: 8px;
        }
        .thumb{
            position: relative;
            width: 100%;
            >a{
                display: block;
                position: relative;
                padding-top: 55%;
                overflow: hidden;
                border-radius: 4px;
                >img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: auto;
                    width: 100%;
                    left: 50%;
                    transform: translate(-50%, -22%);
                }
            }
            .icon {
                position: absolute;
                width: 50px;
                height: 20.5px;
                border-radius: 4px;
                top: 4.6px;
                left: 4.6px;
            }
        }
        .ddayPrd {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $bvt-blue;
            color: $bvt-white;
            font-size: 1.22rem;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            top: -30px;
            right: 11px;
            float: right;
            padding: 0 !important;
            text-align: center;
            >span{
                font-weight: 600;
            }
        }
        .desc{
            width: 100%;
            padding: 11px 11px 60px;
            .typePrd{
                font-size: 1.5rem;
                font-weight: bold;
                color: $bvt-blue;
                margin-bottom: 11px;
            }
            .title{
                font-size: 2rem;
                font-weight: bold;
                margin-bottom: 11px;
            }
            .summary{
                font-size: 1.5rem;
                margin-bottom: 11px;
                @include only-ellipsis(1, 1.8rem);
            }
            .custom_voter{
                display: flex;
                justify-content: space-between;
                margin: 7px 0;
                div{
                    &:nth-child(1){
                        //구매 인원
                        font-size: 1.25rem;
                        color: $bvt-blue;
                    }
                    &:nth-child(2) {
                        //현재 할인율
                        font-size: 1.25rem;
                        color: #01AF8A;
                    }
                }
            }
            @include wish-button(41px, 41px, 11px, 11px)
        }
    }
}
/* 진행 펀딩 */
// .listmain_18{

// }

/* 종료 펀딩 */
.listmain_26 > .bvt-funding > li > {
    .thumb > a > img{
        -webkit-filter: opacity(50%) !important;
        filter: opacity(50%) !important;
    }
    .desc > .title > a, .desc > .summary {
        color: $bvt-darkgray !important;
    }
}


/* 펀딩 가격 */
//     .price,
//     .price * {
//         font-size: 0.85em !important;
//         color: #022CFF !important;
//         font-weight: 700 !important;
//     }
.funding_price{
    margin-bottom: 11px;
}
/* 펀딩 가격 */



// /* 펀딩 index 종료 */

// .xans-product-listmain-26 .bvt-funding .box-img>a>Img {
//     -webkit-filter: opacity(50%);
//     filter: opacity(50%);
// }

// .xans-product-listmain-26 .bvt-funding .box-desc .title * {
//     color: #707070 !important;
// }

// .xans-product-listmain-26 .bvt-funding .box-desc .desc {
//     color: #707070 !important;
// }
// .xans-product-listmain-26 .bvt-funding .box-desc .funding_price .product_price {
//     font-size: 1.4rem !important;
//     color: #70707000 !important;
// }
// /*index_funding_swipe*/

// .bvt-funding .swiper-slide {
//     border-radius: 7px;
//     padding-bottom: 25px;
// }

// .swiper-container>.bvt-funding {
//     padding-bottom: 30px;
// }

/*더보기버튼*/

#product_listmore {
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 40px 0 0 0;

    a {
        display: block;
        border: 1px solid #ddd;
        background: $bvt-whitegray;
        padding: 10px 13px;
        font-size: 10pt;
        text-align: center;
        text-decoration: none;

        &::hover {
            background: #000;
            color: #fff;
        }

    }
}