@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";



//상품 설명
@include product-thumb(17px, 15px, 10px, 9.7px, 8.7px);

@include product-desc(7px, 1rem, 1.15rem, 1.3rem);


/* 더보기 버튼 */
.paginate_moreview {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 42px;
    .moreview_btn{
        width: 100%;
        max-width: 360px;
        height: 40px;
        background: $bvt-white;
        border: $bvt-btn-border;
        border-radius: 5px;
        color: $bvt-blue;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 auto;
        cursor: pointer;
        svg{
            margin: 2px 0 0 6px;
        }
    }
}

/* swiper progress 공통 */

.list_item_progress {
    width: calc(100% - 22px);
    margin-left: -11px;
    height: 3px;
}

.swiper-pagination-progressbar {
    background: #E7ECEF;
}
