@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";



/**
/* 구좌별 메인진열 */
/* 구좌별 스타일 명시
*/

/* 메인진열 섹션 */

#indexListmain {
	padding: 0 17px;
}

.list3x2list,
.list3x2,
.only3,
.only3item,
.tab_design2>.list_contents_wrap {
	overflow: hidden;
}

;

//지금 인기가 많아요
.list3x2list {

	//넘버링
	.numbering {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 23px;
		height: 23px;
		background: $bvt-white;
		color: $bvt-blue;
		font-weight: bold;
		font-size: 1.4rem;
		border-radius: 50%;
		z-index: 1;
		top: 7.4px;
		left: 6.8px;
		box-shadow: 3px 3px 5px 0px #0D349513;
	}
}

//인기 브랜드 둘러보기
.only3 {
	.list_contents_wrap {
		position: relative;

		.only3item {

			.brand_banner {
				display: block;
				width: 100%;
				margin-bottom: 14.6px;

				a {
					display: block;
					width: 100%;
					border-radius: 10px;
					overflow: hidden;

					img {
						width: 100%;
						object-fit: cover;
					}
				}
			}
		}

	}
}


.tab_design {
	.list_content_tap {
		margin-bottom: 16.6px;

		ul {
			display: flex;
			flex-flow: row nowrap;

			/* tab  wrpper*/
			li {
				display: flex;
				flex-flow: row nowrap;
				align-items: center;
				justify-content: center;
				border: $bvt-btn-border-gray;
				border-radius: 22px;
				background-color: $bvt-white;
				margin-right: 6px;
				box-sizing: border-box;
				padding: calc(2% + 1px) calc(3% + 1px);

				a {
					display: block;
					width: 100%;
					height: 100%;
					font-size: 1.4rem;
					font-weight: normal;
					color: $bvt-darkgray;
					line-height: 1.5rem;
					letter-spacing: -.4px;
				}
			}

			li.active {
				background: $bvt-blue;
				border: 1px solid $bvt-blue;
				box-sizing: border-box;
				padding: calc(2% + 1px) calc(3% + 1px);

				a {
					display: block;
					width: 100%;
					height: 100%;
					font-size: 1.4rem;
					color: $bvt-white;
					font-weight: normal;
					box-sizing: border-box;
					line-height: 1.5rem;
					letter-spacing: -.4px;
				}
			}
		}

	}


}

.prdList {

	.list_item {
		display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		margin-top: 0 !important;
	}
}

@include product-thumb(10px);
@include product-desc(0.75rem, 11px, 1.3rem, 1.3rem);