@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


/**
/* 크기별 메인진열 (width 체크) */
/* 상위에 클래스 넣고 사용
*/

/** listmain_double_mid */
.doublemid {
    // 이미지 182px
    //spaceBetween: 12,
    >ul{
        .list_item {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(50% - 12px);
            max-width: 182px;
            margin-bottom: 27px;
    
            //위시버튼
            @include wish-button(21px, 18.98px, 0, 0);
    
        }
    }
}
/* listmain_small_big */
.singlebig {
    // 이미지 222.5px
    //spaceBetween: 15,
    >ul{
        .list_item {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(50% - 15px);
            max-width: 222.5px;
            margin-bottom: 27px;
    
            //위시버튼
            @include wish-button(21px, 18.98px, 0, 0);
    
        }
    }
}
/* listmain_double_small */
.doublesmall {
    // 이미지 135.5px
    //spaceBetween: 10.9,
    >ul{
        .list_item {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(50% - 10.9px);
            max-width: 135.5px;
            margin-bottom: 27px;
    
            //위시버튼
            @include wish-button(17px, 15px, 0, 0);
        }
    }
}
/* listmain_double_small */
.singlemid {
    // 이미지 182px
    //spaceBetween: 13,
    >ul{
        .list_item {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(50% - 13px);
            max-width: 182px;
            margin-bottom: 27px;
            //위시버튼
            @include wish-button(21px, 18.98px, 0, 0);
        }
    }
}
/* moreview */
.moreview {
    // 이미지 207px
    >ul{
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        .list_item {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(50% - 10px);
            max-width: 207px;
            margin-bottom: 27px;
    
            //위시버튼
            @include wish-button(21px, 18.98px, 0, 0);
        }
        >li:nth-child(2n-1) {
            margin-right: 13.8px;
        }
    }
}

/* 크기별 메인진열 (width 체크) */

/**
/* 구좌별 메인진열 (width 체크) */
/* 구좌별 스타일 명시
*/

/* 메인 진열 공통 */
.index_list{
    width: 100%;
    max-width: 450px;
    margin-bottom: 67px;
    overflow: hidden;
    //메인 진열 제목
    >h3{
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 18px;
        padding: 0 11px;
    }

    //개별 module="product_listmain" 공통
    .xans-product-listmain{
        padding: 0 11px;
    }
    //상품 설명 (mixin)
    @include product-desc(7px, 1rem, 1.1rem, 1.3rem);

    // 이미지 정사각형 공통 (mixin)
    // thumb 부모에게 width 정해줘야 함!
    @include product-thumb(21px, 18.98px, 0, 0);

}
/* 메인 진열 공통 */


/* 메인 진열 개별 */
// 추천 상품 : 가치소비 입문 어때요?
#indexListmainRecommend{

}

// 주간 상품 : Weekly Special
#indexListmainWeekly{
    ul{
        //공통 배너 사이즈
        h4.banner{
            width: 100%;
            margin-bottom: 23px;
            padding: 0 11px;
            a{
                display: block;
                width: 100%;
                height: 100%;
            }
            img{
                width: 100%;
                object-fit: cover;
            }
        }
       //주간 상품 구좌 1
       .listmain_weekly_1{
            // 이미지 182px
            //spaceBetween: 12,
            .listmain_1{   
                ul{
                    .list_item {
                        position: relative;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: flex-start;
                        justify-content: space-between;
                        width: 100%;
                        max-width: 183px;
                        //위시버튼
                        @include wish-button(21px, 18.98px, 0, 0);
                    }
                }
            }
       }
       //주간 상품 구좌 2
       .listmain_weekly_2{
        margin-bottom: 0;
        // 이미지 182px
        //spaceBetween: 12,
        .listmain_2{
            ul{
                .list_item {
                    position: relative;
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: space-between;
                    width: calc(50% - 12px);
                    max-width: 183px;
                    margin-bottom: 27px;
            
                    //위시버튼
                    @include wish-button(21px, 18.98px, 0, 0);
                }
            }
        }
       }
    }

}

// 트렌드 스토리 : Trend Story
#indexListmainTrend{
    width: 100%;
    h3{
        position: relative;
        width: 100%;
        .swiper-pagination-fraction{
            position: absolute;
            top: 0;
            right: 11px;
            left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 56px;
            height: 31px;
            background: $bvt-black;
            font-size: 1.4rem;
            font-weight: 400;
            color: $bvt-white;
            border-radius: 15px;
        }
    }
    .listmain_trend{
        position: relative;
        width: 100%;
        padding: 0 11px;
        >ul{
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            //Trend Story는 기존 상품 메인진열이 row 방향으로 flow 되므로
            //별도로 class에 넣어줌
            >li{
                display: flex;
                flex-flow: column nowrap;
                width: 100%;
                max-width: 259px;
                min-width: 242px;

                //배너 + 텍스트
                .trend_title{
                    margin-bottom: 26px;
                    .banner{
                        width: 100%;
                        margin-bottom: 12px;
                        img{
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                    .trend_text{
                        font-size: 1.3rem;
                        color: $bvt-darkgray;
                        @include ellipsis(3, 1.8rem)
                    }
                }
                
                //개별 상품 메인 진열
                >.xans-product-listmain{
                    padding: 0;
                    .prdList{
                        display: flex;
                        flex-flow: column nowrap;
                        align-content: center;
                        justify-content: flex-start;
                        align-items: flex-start;
                        .list_item{
                            display: flex;
                            flex-flow: row nowrap;
                            width: 100%;
                            min-height: 83px;
                            margin-bottom: 15px;
                            .thumb{
                                width: 100% !important;
                                max-width: 83px;
                                height: inherit !important;
                                margin-right: 17px;
                                // a{
                                //     padding-top: 100% !important;
                                // }
                            }
                            
                            .brand, .summary, .wish {
                                //Trend Story에서 brand, summary, wish 사용 x
                                display: none;
                            }
                            .desc{
                                width: 100%;
                                padding: 0;
                                .product_name{
                                    margin-bottom: 18%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    
}

// MD's PICK!
#indexListmainMD{
    width: 100%;
    max-width: 450px;
    //클릭 스크롤 메뉴
    .listmain_md_tab_wrap{
        width: 100%;
        max-width: 450px;
        margin-bottom: 17px;
        padding: 0 11px;
        .listmain_md_tab{
            li{
                margin-right: 11px;
                button{
                    border: $bvt-btn-border-gray;
                    border-radius: 2px;
                    background: none;
                    padding: 5px 14px;
                    font-size: 1.45rem;
                    font-weight: 600;
                    color: $bvt-darkgray;
                }
                button.active{
                    border-color: black;
                    border-radius: 2px;
                    background: $bvt-black;
                    color: $bvt-white;
                    
                }
            }
        }
    }
    //메인진열 리스트
    
}

//실시간 구매 
#indexListmainRealTime{
    background: $bvt-bg-blue;
    padding: 37px 0;
    h3{
        margin-bottom: 32px;
    }
    .purchaser {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: $bvt-btn-border;
        background: $bvt-white;
        font-size: 1.45rem;
        font-weight: 600;
        color: $bvt-blue;
        letter-spacing: -0.1px;
        padding: 5.5px 4%;
        z-index: 9;
        top: -15px;
        right: 11px;

        >span {
            margin-left: 4px;
        }
    }
}

//BEST 10
//row->column으로 flow 변경
#indexListmainBest{
    >.weekbest>ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        .list_item{
            display: flex;
            flex-flow: row nowrap;
            margin-bottom: 12.05px;
            .thumb{
                max-width: 130px;
                margin-right: 17px;
            }
            @media (max-width: 375px) {
                .thumb{
                    max-width: 120px;
                    min-width: 120px;
                }
            }
            .summary{
                margin-bottom: 17px;
            }
            //순위 표시
                    //1-3위 배경
                    &:nth-child(1),&:nth-child(2),&:nth-child(3){
                        &::before{
                            position: absolute;
                            display: flex;
                            box-align: start;
                            align-items: center;
                            -moz-box-pack: center;
                            -webkit-box-pack: center;
                            justify-content: center;
                            content: "";
                            width: 25px;
                            height: 25px;
                            background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 37 37'%3E%3Cg filter='url(%23a)'%3E%3Cpath d='M31 6H6v25l12.5-5L31 31V6Z' fill='%23022CFF'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='0' width='37' height='37' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_302_304'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_302_304' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat center;
                            background-size: cover;
                            font-size: 1.55rem;
                            font-weight: 600;
                            color: $bvt-white;
                            z-index: 9;
                            top: -8px;
                            left: 7px;
                            padding: 0 0 4px 0;
                        }
                    }
                    //6-10위 배경
                    &:nth-child(n+4):nth-child(-n+10){
                        &::before{
                            position: absolute;
                            display: flex;
                            box-align: start;
                            align-items: center;
                            -moz-box-pack: center;
                            -webkit-box-pack: center;
                            justify-content: center;
                            content: "";
                            width: 25px;
                            height: 25px;
                            background: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23filter0_d_302_305)'%3E%3Cpath d='M26 6H6V26L16 22L26 26V6Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_302_305' x='0' y='0' width='32' height='32' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset/%3E%3CfeGaussianBlur stdDeviation='3'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_302_305'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_302_305' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center;
                            background-size: cover;
                            font-size: 1.4rem;
                            font-weight: 600;
                            color: $bvt-blue;
                            z-index: 9;
                            top: -8px;
                            left: 7px;
                            padding: 0 0 4px 0;
                        }
                    }
                    //숫자 삽입
                    &:nth-child(1){&::before{content: "1"!important;}}
                    &:nth-child(2){&::before{content: "2"!important;}}
                    &:nth-child(3){&::before{content: "3"!important;}}
                    &:nth-child(4){&::before{content: "4"!important;}}
                    &:nth-child(5){&::before{content: "5"!important;}}
                    &:nth-child(6){&::before{content: "6"!important;}}
                    &:nth-child(7){&::before{content: "7"!important;}}
                    &:nth-child(8){&::before{content: "8"!important;}}
                    &:nth-child(9){&::before{content: "9"!important;}}
                    &:nth-child(10){&::before{content: "10"!important;}}
        }
    }
}

//추천 가치태그
#indexListmainTag{
    width: 100%;
    h4>.show_all{
        a{
            font-size: 1.4rem;

            &::after{
                width: 5px;
                height: 10px;
            }
        }
    }
    .tag_category_wrap{
        width: 100%;
        li.tag{
            width: 100%;

            h4{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                font-size: 1.8rem;
                font-weight: 700;
                color: #585858;
                padding: 0 11px;
                margin-bottom: 21px;

            }

            .tag_category{
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                width: 100%;
                margin-bottom: 27px;
                padding: 0 11px;

                >li{
                    position: relative;
                    width: 20%;
                    >a{
                        position: relative;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        width: 100%;
                        img{
                            width: 63px;
                            height: 63px;
                            border-radius: 50%;
                            margin-bottom: 10px;
                            border: 1px solid #EEEDED; 
                        }
                        p.tag_title{
                            
                            display: block;
                            font-size: 1.2rem;
                            font-weight: 400;
                            color: $bvt-darkgray;
                            text-align: center;
                            word-wrap: normal;
                            word-break: keep-all;
                            
                        }

                        @media (max-width: 375px) {
                            img{
                                width: 54px;
                                height: 54px;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}

/* 메인 진열 개별 */
/* 구좌별 메인진열 (width 체크) */


/* 개별 아이템 */

//전체보기 공통
.show_all{
    float: right;

    >a{
        font-size: 1.6rem;
        font-weight: 500;
        letter-spacing: -0.0025em;
        color: #9a9a9a;

        &::after{
            display: inline-block;
            content: "";
            background: $on-arrow no-repeat center;
            background-size: contain;
            width: 7px;
            height: 11px;
            margin-left: 4px;
        }
    }
}

//상품 안내 아이콘 (카페24)
.icon {
    position: absolute;
    width: 50px;
    height: 20.5px;
    border-radius: 4px;
    top: 4.6px;
    left: 4.6px;

    img {
        object-fit: cover;
    }
}

/* 더보기 버튼 */

//더보기 화살표 공통
.moreview_rightarrow{
    &::after{
        display: block;
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 15 12'%3E%3Cpath stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.08' d='M1.35 6h12.3M7.5 1.08 13.65 6 7.5 10.92'/%3E%3C/svg%3E");
    }
}


/* 더보기 버튼 */
// 페이지 클릭 전환
.page_moreview_btn, .movepage_btn{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42px;
    background: none;
    border: $bvt-btn-border-gray;
    margin: 26px 0 0 0;
    a{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        font-weight: 400;
        color: $bvt-darkgray;
        text-align: center;
    }
    >span{
        display: inline-block;
        width: fit-content;
        font-size: 1.5rem;
        font-weight: 400;
        color: $bvt-darkgray;
        &:nth-child(2){
            margin-left: 5px;
            letter-spacing: -1px;
        }
    }
    .moreview_rightarrow{
        &::after{
            display: inline-block;
            content: "";
            background: $right-arrow no-repeat center;
            width: 12.3px;
            height: 9.84px;
            margin-left: 6px;
        }
    }
}


//border blue 
//best.html 순위 더보기
.item_moreview_btn {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 42px;
    .moreview_btn{
        width: 100%;
        max-width: 360px;
        height: 40px;
        background: $bvt-white;
        border: $bvt-btn-border;
        border-radius: 5px;
        color: $bvt-blue;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0 auto;
        cursor: pointer;
        svg{
            margin: 2px 0 0 6px;
        }
    }
}

/* 페이지 프로그레스 */
.list_item_progress {
    width: calc(100% - 22px);
    height: 3px;
    margin-top: 26px;
}

.swiper-pagination-progressbar {
    background: #E7ECEF;
}



/* 개별 아이템 */

    

