@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

// 상품 추천 목록

#productListrecommendList {
    padding: 0 11px 37px;

    // 상품 개별
    .listrecommend_list {
        padding-bottom: 27.5px;

        .recommend_product {
            position: relative;

        }
    }

}
//상품 이미지 구역
@include product-thumb(32px, 32px, 9.7px, 8.7px);

//상품 브랜드 구역
.recommend_product_brand {
    width: 100%;
    height: 32px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    .brand {
        font-size: 1rem !important;
        color: $bvt-darkgray;
    }

    .summary_desc {
        font-size: 1rem;
        color: $bvt-darkgray;
        @include ellipsis(2, 2.2rem);
    }
}

//상품 설명
.desc {
    padding: 7px 0 0 0;
    .brand {
        font-size: 1rem;
        color: $bvt-darkgray;
        margin-bottom: 3px;
    }

    .summary {
        display: block;
        font-size: 1.15rem;
        color: $bvt-darkgray;
        @include only-ellipsis(1, 1.3rem);
        margin-bottom: 7px;
    }

    .product_name, .product_name span {
        color: $bvt-black;
        font-size: 1.3rem;
        font-weight: bold;
        word-wrap: break-word;
        word-break: keep-all;
        @include ellipsis(2, 1.5rem);
        margin-bottom: 7px;
    }

}

//프로그래스 바
.product_list_pagination {
    height: 3px;
}