@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

//상품 목록

#productListnormalList {
    width: 100%;
    padding: 0 11px;

    .product_listnormal_list_wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;

        // 상품 개별
        .listnormal_list {
            position: relative;
            width: 49%;
            height: auto;
            padding-bottom: 30px;

            .normal_product {
                position: relative;
                display: inline;
                padding-bottom: 30px;
            }
        }
    }
}

//상품 이미지 구역
@include product-thumb(21px, 18.98px, 0px, 0px, 0px);


//상품 설명
.desc {
    padding: 9px 0 0 0;

    .summary {
        font-size: 1.2rem;
    }

    .product_name,
    .product_name span {
        font-size: 1.4rem;
    }

}

@include product-desc(9px, 0rem, 1.2rem, 1.4rem);

//하단 아이콘 신버전
.icon {
    position: absolute;
    height: 25px;
    margin-top: 4%;
    top: 3px;
    left: 10px;
    z-index: 1;

    img {
        width: auto;
        height: inherit;
        margin-right: 5px;
        object-fit: contain;
    }
}