@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

// 상품 추천 목록

#productListrecommendList {
    padding: 0 11px 37px;

    // 상품 개별
    .listrecommend_list {
        padding-bottom: 27.5px;
        .recommend_product {
            position: relative;

        }
    }
    //상품 이미지 구역
    @include product-thumb(21px, 19px, 10px, 0px, 0px);
    //상품 설명 desc
    @include product-desc(7px, 1rem, 1.15rem, 1.3rem);

}

//상품 브랜드 구역
.recommend_product_brand {
    width: 100%;
    height: 32px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

}

//프로그래스 바
.product_list_pagination {
    height: 3px;
}