@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

// 상품 추천 목록

#productListrecommendList {
    padding: 0 11px 0;

    // 상품 개별
    .listrecommend_list {
        width: 50%;
        margin-bottom: 25px;

        .recommend_product {
            position: relative;
        }
    }

}

//상품 이미지 구역
@include product-thumb(4px);

//상품 설명 (fontsize 오류 컨트롤)
.listrecommend_list {
    .desc {
        padding: 6px 0 0 0;

        .brand {
            display: block;
            font-size: 11px !important;
            color: $bvt-darkgray;
            @include only-ellipsis(1, 1.3rem);
        }

        .product_name,
        .product_name span,
        .product_name a {
            color: $bvt-black !important;
            font-size: 13px !important;
            font-weight: bold;
            word-wrap: break-word;
            word-break: keep-all;
            @include ellipsis(2, 1.5rem);
            margin-bottom: 18px;
        }

    }
}


//프로그래스 바
.product_list_pagination {
    height: 3px;
}