@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#specialProject {
  width: 100%;
  max-width: 450px;
  margin: 81px 0 100px;
}
#specialProject #specialProjectTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
}
#specialProject #specialProjectTitle h2 {
  font-size: 1.8rem;
  font-weight: 700;
  border: none;
}
#specialProject #specialProjectTitle h3 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0 11px;
}
#specialProject #specialProjectTitle h4 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #707070;
  padding: 0 11px;
}
#specialProject #specialProjectTitle h4 span {
  display: inline-block;
}
#specialProject #specialProjectTitle h4 span:nth-child(1) {
  margin-bottom: 14px;
}
#specialProject #specialProjectTitle .banner {
  width: 100%;
  margin: 0 0 29px;
}
#specialProject #specialProjectTitle .banner > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#specialProject .project_productlist_wrap {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#specialProject .project_productlist_wrap .project_coupon_wrap {
  width: 100%;
  max-width: 450px;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_title {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: left;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li {
  position: relative;
  width: 48.5%;
  height: 87px;
  border: 1px solid #003DD3;
  border-radius: 10px;
  background: #F5F6FC;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 7.4%;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a::after {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("/bvtIMG/icon/coupon_down_arr.png") no-repeat center;
  background-size: contain;
  right: 7.6%;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p {
  color: #003DD3;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 400;
}
#specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(2) {
  font-size: 1.9rem;
  font-weight: 600;
}
@media (max-width: 430px) {
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a::after {
    content: "";
    width: 20.5px;
    height: 20.5px;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(1) {
    font-size: 1.38rem;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(2) {
    font-size: 1.82rem;
  }
}
@media (max-width: 400px) {
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a::after {
    content: "";
    width: 17.5px;
    height: 17.5px;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(1) {
    font-size: 1.32rem;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(2) {
    font-size: 1.7rem;
  }
}
@media (max-width: 370px) {
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a::after {
    content: "";
    width: 16px;
    height: 16px;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(1) {
    font-size: 1.23rem;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(2) {
    font-size: 1.55rem;
  }
}
@media (max-width: 350px) {
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a::after {
    content: "";
    width: 13px;
    height: 13px;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(1) {
    font-size: 1.2rem;
  }
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a > p:nth-child(2) {
    font-size: 1.5rem;
  }
}
@media (max-width: 330px) {
  #specialProject .project_productlist_wrap .project_coupon_wrap .coupon_list > li a::after {
    content: "";
    display: none;
  }
}
#specialProject .project_productlist_wrap .project_productlist {
  margin-bottom: 20px;
}
#specialProject .project_productlist_wrap .project_productlist > ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#specialProject .project_productlist_wrap .project_productlist > ul > li {
  position: relative;
  width: 49%;
  padding-bottom: 30px;
}
#specialProject .project_productlist_wrap .desc {
  padding: 7px 0 17px 0;
}
#specialProject .project_productlist_wrap .desc .brand {
  font-size: 1rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4rem;
  margin-bottom: 3px;
  font-weight: normal;
}
#specialProject .project_productlist_wrap .desc .summary {
  display: block;
  font-size: 1.1rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.4rem;
  margin-bottom: 7px;
  font-weight: normal;
}
#specialProject .project_productlist_wrap .desc .product_name,
#specialProject .project_productlist_wrap .desc .product_name > span,
#specialProject .project_productlist_wrap .desc .product_name > a {
  color: #292929 !important;
  font-size: 1.3rem !important;
  font-weight: normal !important;
  word-wrap: break-word;
  word-break: keep-all;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.8rem;
  height: 3.5rem;
  margin-bottom: 12px;
}
#specialProject .project_productlist_wrap .thumb {
  position: relative;
  width: 100%;
  font-size: 0;
}
#specialProject .project_productlist_wrap .thumb > a,
#specialProject .project_productlist_wrap .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#specialProject .project_productlist_wrap .thumb > a > img,
#specialProject .project_productlist_wrap .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#specialProject .project_productlist_wrap .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}/*# sourceMappingURL=project_package.css.map */