@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#searchModal {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background: #F5F6FC;
  margin: 0 auto;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 22px;
}
#searchModal #searchModalHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 40px;
}
#searchModal #searchModalHeader .search_close_btn {
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_logo {
  display: block;
  width: 73px;
  height: 40px;
  background: url("https://bvoatofficial.cafe24.com/bvtIMG/Bvoat_022CFF_Text_logo_trans_fit.png") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_logo > span {
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_cart {
  position: relative;
  width: 25px;
  height: 23px;
}
#searchModal #searchModalHeader .header_cart a {
  display: block;
  width: 25px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.838' height='25.417'%3E%3Cg data-name='그룹 2020' transform='translate(1 1.234)' stroke='%23000'%3E%3Cpath data-name='선 2' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M0 0h3.243'/%3E%3Cpath data-name='선 263' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7.703 15.811 3.243 0'/%3E%3Cpath data-name='선 264' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7.703 15.811h13.379'/%3E%3Cpath data-name='선 265' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='m25.542 4.46-4.46 11.352'/%3E%3Cpath data-name='선 266' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M25.541 4.46H4.865'/%3E%3Crect data-name='사각형 1123' width='3.886' height='3.685' rx='1.843' transform='translate(6.869 19.998)'/%3E%3Crect data-name='사각형 1124' width='3.886' height='3.685' rx='1.843' transform='translate(18.303 19.998)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_cart .count {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #022CFF;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  top: -3px;
  right: -7px;
}
#searchModal #searchModalHeader .header_cart .count > em {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-indent: 0;
  z-index: 100;
  top: 1.5px;
}
#searchModal #searchModalTitle {
  width: 100%;
  margin: 19px 0;
  padding: 0 11px;
}
#searchModal #searchModalTitle h2 {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchModalTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
#searchModal #searchBarForm {
  width: 100%;
  max-width: 450px;
}
#searchModal #searchBarForm .search_input_box {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#searchModal #searchBarForm .search_input_box .search_input {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#searchModal #searchBarForm .search_input_box .search_input #keyword {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 23px;
  border: 1px solid #C4C4C4;
  font-size: 1.6rem;
  font-weight: 500;
  color: #707070;
  padding-left: 20px;
}
#searchModal #searchBarForm .search_input_box .search_input .search_btn {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.2' height='24.2'%3E%3Cg data-name='Icon feather-search' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1690' d='M20.365 10.683A9.683 9.683 0 1 1 10.683 1a9.683 9.683 0 0 1 9.683 9.683Z'/%3E%3Cpath data-name='패스 1691' d='m22.786 22.786-5.265-5.265'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#searchModal #searchBarForm .search_input_box .recent_keyword {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 18px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent {
  margin: 14px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list {
  display: flex;
  flex-flow: row wrap;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #022CFF;
  color: #ffffff;
  font-size: 1.1rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 18px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot {
  margin: 14px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list {
  display: flex;
  flex-flow: row wrap;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #022CFF;
  color: #ffffff;
  font-size: 1.1rem;
}

.dimmed {
  display: none;
}

#searchResult {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 81px 0 100px;
}
#searchResult #searchResultTitle {
  margin-bottom: 18px;
}
#searchResult #searchResultTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
}
#searchResult #searchResultTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
#searchResult #searchResultEmpty {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#searchResult #searchResultEmpty .empty {
  text-align: center;
  margin: 50px;
  font-size: 1.8rem;
  font-weight: 500;
}
#searchResult #searchResultEmpty .empty_info > li {
  font-size: 1.4rem;
}

#searchResultProductList {
  width: 100%;
  padding: 0 11px;
  margin-top: -100px;
}
#searchResultProductList .product_listnormal_list_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
#searchResultProductList .product_listnormal_list_wrap .listnormal_list {
  width: 49%;
  height: auto;
  padding-bottom: 30px;
}
#searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product {
  position: relative;
  display: inline;
  padding-bottom: 30px;
}
#searchResultProductList .thumb {
  position: relative;
  width: 100%;
}
#searchResultProductList .thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 2px;
  font-size: 0;
}
#searchResultProductList .thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#searchResultProductList .thumb .icon {
  position: absolute;
  width: 50px;
  height: 20.5px;
  border-radius: 4px;
  top: 4.6px;
  left: 4.6px;
}
#searchResultProductList .thumb .icon img {
  -o-object-fit: cover;
     object-fit: cover;
}
#searchResultProductList .thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
#searchResultProductList .thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
#searchResultProductList .thumb .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}
#searchResultProductList .desc {
  padding: 7px 0 0 0;
}
#searchResultProductList .desc .brand {
  font-size: 1rem !important;
  color: #707070;
  margin-bottom: 3px;
}
#searchResultProductList .desc .summary {
  font-size: 1.15rem !important;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.45rem;
  margin-bottom: 7px;
}
#searchResultProductList .desc .product_name,
#searchResultProductList .desc .product_name span {
  color: #292929 !important;
  font-size: 1.3rem !important;
  font-weight: bold;
  word-wrap: break-word;
  word-break: keep-all;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6rem;
  height: 3.25rem;
  margin-bottom: 20px;
}
#searchResultProductList .desc > li:nth-child(1) {
  font-size: 10px !important;
  color: #707070;
}
#searchResultProductList .desc > li:nth-child(2) {
  font-size: 11.5px !important;
  color: #707070;
}

.page-pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.page-pagination .btnPrev_wrap, .page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page-pagination .first, .page-pagination .last, .page-pagination .btnPrev, .page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
.page-pagination .first:hover, .page-pagination .last:hover, .page-pagination .btnPrev:hover, .page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
.page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
.page-pagination ol li {
  margin: 0 11px;
}
.page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
.page-pagination ol li .this {
  font-weight: 600;
  color: #022CFF;
}/*# sourceMappingURL=search.css.map */