@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#searchModal {
  position: fixed;
  width: 100vw;
  max-width: 450px;
  height: 100vh;
  background: #F5F6FC;
  margin: 0 auto;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 22px;
}
#searchModal #searchModalHeader {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 450px;
  height: 60px;
  padding: 0 17px;
}
#searchModal #searchModalHeader > a .header_logo {
  display: block;
  width: 96.39px;
  height: 24px;
  background: url("https://bvoatofficial.cafe24.com/bvtIMG/logo/v2_logo_3x.png") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .search_close_btn {
  position: absolute;
  right: 17px;
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#searchModal #searchModalTitle {
  width: 100%;
  text-align: center;
  margin-top: 122px;
  margin-bottom: 19.4px;
}
#searchModal #searchModalTitle h2 {
  font-weight: bold;
  font-size: 2.45rem;
  font-family: inherit;
  letter-spacing: -0.6px;
}
#searchModal #searchBarForm {
  width: 100%;
  max-width: 450px;
}
#searchModal #searchBarForm .search_input_box {
  width: 100%;
  max-width: 450px;
}
#searchModal #searchBarForm .search_input_box .search_input {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 59.5px;
}
#searchModal #searchBarForm .search_input_box .search_input #keyword {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 23px;
  border: 1px solid #003DD3;
  font-size: 1.6rem;
  font-weight: 500;
  color: #707070;
  padding-left: 20px;
}
#searchModal #searchBarForm .search_input_box .search_input .search_btn {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.835' height='27.328'%3E%3Cpath fill='%23003dd3' fill-rule='evenodd' stroke='%23003dd3' d='M12.874.5a12.367 12.367 0 0 1 9.116 20.731l3.978 3.97a.953.953 0 0 1-1.347 1.349l-4.026-4.015A12.371 12.371 0 1 1 12.874.5Zm0 1.906a10.468 10.468 0 1 0 10.467 10.467A10.479 10.479 0 0 0 12.874 2.406Z' data-name='Iconly/Light-Outline/Search'/%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#searchModal #searchBarForm .search_input_box .recent_keyword {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 18px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent {
  margin: 14px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list {
  display: flex;
  flex-flow: row wrap;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #003DD3;
  color: #ffffff;
  font-size: 1.1rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_title {
  font-weight: bold;
  font-size: 1.95rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot {
  margin: 19.4px 0 0 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li {
  background: #ffffff;
  border-radius: 90px;
  padding: 2% 3.8%;
  font-size: 1.45rem;
  font-weight: bold;
  margin: 0 6px 10.8px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li a {
  color: #707070;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #003DD3;
  color: #ffffff;
  font-size: 1.1rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li:nth-child(4) {
  margin: 0 0 10.8px 0;
}

.dimmed {
  display: none;
}

#searchResult {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 81px 0 100px;
}
#searchResult #searchResultTitle {
  margin-bottom: 18px;
}
#searchResult #searchResultTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
}
#searchResult #searchResultTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
#searchResult #searchResultEmpty {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#searchResult #searchResultEmpty .empty {
  text-align: center;
  margin: 50px;
  font-size: 1.8rem;
  font-weight: 500;
}
#searchResult #searchResultEmpty .empty_info > li {
  font-size: 1.4rem;
}

#searchResultProductList {
  width: 100%;
  padding: 0 11px;
  margin-top: -100px;
}
#searchResultProductList .product_listnormal_list_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
#searchResultProductList .product_listnormal_list_wrap .listnormal_list {
  width: 49%;
  height: auto;
  padding-bottom: 30px;
}
#searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product {
  position: relative;
  display: inline;
  padding-bottom: 30px;
}

.thumb {
  position: relative;
  width: 100%;
}
.thumb > a,
.thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.thumb > a > img,
.thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}

.desc {
  padding: 7px 0 25.5px 0;
}
.desc .brand {
  font-size: 1rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.45rem;
  margin-bottom: 3px;
  font-weight: normal;
}
.desc .summary {
  display: block;
  font-size: 1.15rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.45rem;
  margin-bottom: 7px;
  font-weight: normal;
}
.desc .product_name,
.desc .product_name > span,
.desc .product_name > a {
  color: #292929 !important;
  font-size: 1.3rem !important;
  font-weight: normal !important;
  word-wrap: break-word;
  word-break: keep-all;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.8rem;
  height: 3.5rem;
  margin-bottom: 12px;
}

.page-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.page-pagination .btnPrev_wrap,
.page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page-pagination .first,
.page-pagination .last,
.page-pagination .btnPrev,
.page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
.page-pagination .first:hover,
.page-pagination .last:hover,
.page-pagination .btnPrev:hover,
.page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
.page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
.page-pagination ol li {
  margin: 0 11px;
}
.page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
.page-pagination ol li .this {
  font-weight: 600;
  color: #003DD3;
}/*# sourceMappingURL=search.css.map */