@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


#searchModal {
    position: fixed;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background: $bvt-bg-skyblue;
    margin: 0 auto;
    overflow: hidden;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 22px;

    #searchModalHeader {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 450px;
        height: 40px;

        .search_close_btn {
            width: 18px;
            height: 18px;
            background: $x-btn no-repeat;
            background-size: cover;
            text-indent: -9999px;
        }

        .header_logo {
            display: block;
            width: 73px;
            height: 40px;
            background: $bvt-logo no-repeat center;
            background-size: contain;
            text-indent: -9999px;

            >span {
                text-indent: -9999px;
            }
        }

        .header_cart {
            position: relative;
            width: 25px;
            height: 23px;

            a {
                display: block;
                width: 25px;
                height: 23px;
                background: $cart-icon no-repeat center;
                background-size: contain;
                text-indent: -9999px;
            }

            .count {
                position: absolute;
                width: 15px;
                height: 15px;
                background: $bvt-blue;
                font-weight: 700;
                color: $bvt-white;
                border-radius: 50%;
                text-align: center;
                top: -3px;
                right: -7px;

                >em {
                    position: relative;
                    display: block;
                    font-size: 1rem;
                    font-weight: 600;
                    color: $bvt-white;
                    text-indent: 0;
                    z-index: 100;
                    top: 1.5px;
                }
            }
        }
    }

    #searchModalTitle {
        width: 100%;
        margin: 19px 0;
        padding: 0 11px;

        h2 {
            font-weight: 700;
            font-size: 2.5rem;
            font-family: 'Jost', 'Noto Sans KR';
        }

        h3 {
            font-weight: 300;
            font-size: 1.4rem;
            color: $bvt-darkgray;
        }
    }

    #searchBarForm {
        width: 100%;
        max-width: 450px;

        .search_input_box {
            width: 100%;
            max-width: 450px;
            padding: 0 11px;

            .search_input {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                #keyword {
                    display: block;
                    width: 100%;
                    height: 45px;
                    border-radius: 23px;
                    border: $bvt-input-border;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: $bvt-darkgray;
                    padding-left: 20px;
                }

                .search_btn {
                    position: absolute;
                    width: 21px;
                    height: 21px;
                    right: 12px;
                    background: $search-icon no-repeat;
                    background-size: cover;
                    text-indent: -9999px;
                }
            }

            .recent_keyword {
                width: 100%;
                max-width: 450px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                margin: 18px 0;

                .search_title {
                    font-weight: 700;
                    font-size: 1.6rem;
                    font-family: 'Jost', 'Noto Sans KR';
                }

                .search_recent {
                    margin: 14px 0;

                    .empty {
                        text-align: center;
                        margin-top: 50px;
                        font-size: 1.6rem;
                    }

                    .recent_list {
                        display: flex;
                        flex-flow: row wrap;

                        >li {
                            background: $bvt-white;
                            border-radius: 6px;
                            padding: 3px 6px;
                            font-size: 1.3rem;
                            font-weight: 500;
                            margin: 0 3px 3px 0;

                            >a {}

                            >button {
                                width: 27px;
                                height: 22px;
                                background-color: $bvt-blue;
                                color: $bvt-white;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }

            .hot_keyword {
                width: 100%;
                max-width: 450px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                margin: 18px 0;

                .search_title {
                    font-weight: 700;
                    font-size: 1.6rem;
                    font-family: 'Jost', 'Noto Sans KR';
                }

                .search_hot {
                    margin: 14px 0;

                    .empty {
                        text-align: center;
                        margin-top: 50px;
                        font-size: 1.6rem;
                    }

                    .hot_list {
                        display: flex;
                        flex-flow: row wrap;

                        >li {
                            background: $bvt-white;
                            border-radius: 6px;
                            padding: 6px 10px;
                            font-size: 1.3rem;
                            font-weight: 500;
                            margin: 0 3px 3px 0;

                            >a {}

                            >button {
                                width: 27px;
                                height: 22px;
                                background-color: $bvt-blue;
                                color: $bvt-white;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dimmed {
    display: none;
}

// 결과 목록
#searchResult {
    width: 100%;
    max-width: 450px;
    padding: 23px 11px;
    margin: 81px 0 100px; //top_nav hide

    #searchResultTitle {
        margin-bottom: 18px;

        h2 {
            font-weight: 600;
            font-size: 2.2rem;
        }

        h3 {
            font-weight: 300;
            font-size: 1.4rem;
            color: $bvt-darkgray;
        }
    }

    #searchResultEmpty {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .empty {
            text-align: center;
            margin: 50px;
            font-size: 1.8rem;
            font-weight: 500;
        }

        .empty_info {
            >li {
                font-size: 1.4rem;
            }
        }
    }


}

#searchResultProductList {
    width: 100%;
    padding: 0 11px;
    margin-top: -100px;

    .product_listnormal_list_wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;

        // 상품 개별
        .listnormal_list {
            width: 49%;
            height: auto;
            padding-bottom: 30px;

            .normal_product {
                position: relative;
                display: inline;
                padding-bottom: 30px;
            }
        }
    }

    //상품 이미지 구역
    @include product-thumb(21px, 18.98px, 0, 0);
    //상품 상세 정보 구역
    @include product-desc(7px, 1rem, 1.15rem, 1.3rem);

    //상품 아이콘
    .icon {
        height: 25px !important;
        margin-top: 5%
    }

}

//페이지네이션
@include page-pagination;