@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


#searchModal {
    position: fixed;
    width: 100vw;
    max-width: 450px;
    height: 100vh;
    background: $bvt-bg-skyblue;
    margin: 0 auto;
    overflow: hidden;
    z-index: 999;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 0 22px;

    #searchModalHeader {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 450px;
        height: 60px;
        padding: 0 17px;

        >a {
            .header_logo {
                display: block;
                width: 96.39px;
                height: 24px;
                background: $bvt-logo no-repeat center;
                background-size: contain;
                text-indent: -9999px;
            }
        }

        .search_close_btn {
            position: absolute;
            right: 17px;
            width: 18px;
            height: 18px;
            background: $x-btn no-repeat;
            background-size: cover;
            text-indent: -9999px;
        }



    }

    #searchModalTitle {
        width: 100%;
        text-align: center;
        margin-top: 122px;
        margin-bottom: 19.4px;

        h2 {
            font-weight: bold;
            font-size: 2.45rem;
            font-family: inherit;
            letter-spacing: -.6px;
        }
    }

    #searchBarForm {
        width: 100%;
        max-width: 450px;

        .search_input_box {
            width: 100%;
            max-width: 450px;

            .search_input {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                margin-bottom: 59.5px;

                #keyword {
                    display: block;
                    width: 100%;
                    height: 45px;
                    border-radius: 23px;
                    border: $bvt-btn-border;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: $bvt-darkgray;
                    padding-left: 20px;
                }

                .search_btn {
                    position: absolute;
                    width: 21px;
                    height: 21px;
                    right: 12px;
                    background: $search-icon no-repeat;
                    background-size: cover;
                    text-indent: -9999px;
                }
            }

            .recent_keyword {
                width: 100%;
                max-width: 450px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                margin: 18px 0;

                .search_title {
                    font-weight: 700;
                    font-size: 1.6rem;
                    font-family: 'Jost', 'Noto Sans KR';
                }

                .search_recent {
                    margin: 14px 0;

                    .empty {
                        text-align: center;
                        margin-top: 50px;
                        font-size: 1.6rem;
                    }

                    .recent_list {
                        display: flex;
                        flex-flow: row wrap;

                        >li {
                            background: $bvt-white;
                            border-radius: 6px;
                            padding: 3px 6px;
                            font-size: 1.3rem;
                            font-weight: 500;
                            margin: 0 3px 3px 0;

                            >button {
                                width: 27px;
                                height: 22px;
                                background-color: $bvt-blue;
                                color: $bvt-white;
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }

            .hot_keyword {
                width: 100%;
                max-width: 450px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;

                .search_title {
                    font-weight: bold;
                    font-size: 1.95rem;
                }

                .search_hot {
                    margin: 19.4px 0 0 0;

                    .empty {
                        text-align: center;
                        margin-top: 50px;
                        font-size: 1.6rem;
                    }

                    .hot_list {
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;

                        >li {
                            background: $bvt-white;
                            border-radius: 90px;
                            padding: 2% 3.8%;
                            font-size: 1.45rem;
                            font-weight: bold;
                            margin: 0 6px 10.8px 0;

                            a {
                                color: $bvt-darkgray;

                            }

                            >button {
                                width: 27px;
                                height: 22px;
                                background-color: $bvt-blue;
                                color: $bvt-white;
                                font-size: 1.1rem;
                            }

                            &:nth-child(4) {
                                margin: 0 0 10.8px 0;

                            }
                        }
                    }
                }
            }
        }
    }
}

.dimmed {
    display: none;
}

// 결과 목록
#searchResult {
    width: 100%;
    max-width: 450px;
    padding: 23px 11px;
    margin: 81px 0 100px; //top_nav hide

    #searchResultTitle {
        margin-bottom: 18px;

        h2 {
            font-weight: 600;
            font-size: 2.2rem;
        }

        h3 {
            font-weight: 300;
            font-size: 1.4rem;
            color: $bvt-darkgray;
        }
    }

    #searchResultEmpty {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        .empty {
            text-align: center;
            margin: 50px;
            font-size: 1.8rem;
            font-weight: 500;
        }

        .empty_info {
            >li {
                font-size: 1.4rem;
            }
        }
    }


}

#searchResultProductList {
    width: 100%;
    padding: 0 11px;
    margin-top: -100px;

    .product_listnormal_list_wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
        height: auto;

        // 상품 개별
        .listnormal_list {
            width: 49%;
            height: auto;
            padding-bottom: 30px;

            .normal_product {
                position: relative;
                display: inline;
                padding-bottom: 30px;
            }
        }
    }


}

//상품 이미지 구역
@include product-thumb(4px);
//상품 상세 정보 구역
@include product-desc(9px, 1.2rem, 1.2rem, 1.4rem);

//페이지네이션
@include page-pagination;