@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#searchModal {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background: #F5F6FC;
  margin: 0 auto;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0 22px;
}
#searchModal #searchModalHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 40px;
}
#searchModal #searchModalHeader .search_close_btn {
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_logo {
  display: block;
  width: 73px;
  height: 40px;
  background: url("https://bvoatofficial.cafe24.com/bvtIMG/logo/v2_logo_3x.png") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_logo > span {
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_cart {
  position: relative;
  width: 25px;
  height: 23px;
}
#searchModal #searchModalHeader .header_cart a {
  position: relative;
  display: block;
  width: 26.56px;
  height: 24px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.348' height='26.779'%3E%3Cg fill='%23003dd3' data-name='Iconly/Bulk/Buy'%3E%3Cpath d='M7.42 22.639a2.07 2.07 0 1 1-2.077 2.077 2.073 2.073 0 0 1 2.077-2.077Zm15.371 0a2.07 2.07 0 1 1-2.077 2.077 2.073 2.073 0 0 1 2.078-2.077Z' opacity='.4'/%3E%3Cpath d='M1.064 0 1.2.011 4.462.5a1.032 1.032 0 0 1 .847.929l.26 3.061a.834.834 0 0 0 .831.77h18.455a2.325 2.325 0 0 1 1.927.915 2.906 2.906 0 0 1 .518 2.349L26 17.487a3.487 3.487 0 0 1-3.457 2.992H7.639a3.483 3.483 0 0 1-3.471-3.2L2.911 2.389.848 2.034A1.029 1.029 0 0 1 .015.859 1.045 1.045 0 0 1 1.2.011Zm19.3 10.314h-3.789a1.025 1.025 0 1 0 0 2.05h3.785a1.025 1.025 0 0 0 0-2.05Z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}
#searchModal #searchModalHeader .header_cart .count {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #003DD3;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  top: -3px;
  right: -7px;
}
#searchModal #searchModalHeader .header_cart .count > em {
  position: relative;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  text-indent: 0;
  z-index: 100;
  top: 1.5px;
}
#searchModal #searchModalTitle {
  width: 100%;
  margin: 19px 0;
  padding: 0 11px;
}
#searchModal #searchModalTitle h2 {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchModalTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
#searchModal #searchBarForm {
  width: 100%;
  max-width: 450px;
}
#searchModal #searchBarForm .search_input_box {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#searchModal #searchBarForm .search_input_box .search_input {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#searchModal #searchBarForm .search_input_box .search_input #keyword {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 23px;
  border: 1px solid #C4C4C4;
  font-size: 1.6rem;
  font-weight: 500;
  color: #707070;
  padding-left: 20px;
}
#searchModal #searchBarForm .search_input_box .search_input .search_btn {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26.835' height='27.328'%3E%3Cpath fill='%23003dd3' fill-rule='evenodd' stroke='%23003dd3' d='M12.874.5a12.367 12.367 0 0 1 9.116 20.731l3.978 3.97a.953.953 0 0 1-1.347 1.349l-4.026-4.015A12.371 12.371 0 1 1 12.874.5Zm0 1.906a10.468 10.468 0 1 0 10.467 10.467A10.479 10.479 0 0 0 12.874 2.406Z' data-name='Iconly/Light-Outline/Search'/%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}
#searchModal #searchBarForm .search_input_box .recent_keyword {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 18px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent {
  margin: 14px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list {
  display: flex;
  flex-flow: row wrap;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}
#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #003DD3;
  color: #ffffff;
  font-size: 1.1rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 18px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Jost", "Noto Sans KR";
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot {
  margin: 14px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list {
  display: flex;
  flex-flow: row wrap;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}
#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #003DD3;
  color: #ffffff;
  font-size: 1.1rem;
}

.dimmed {
  display: none;
}

#searchResult {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin: 81px 0 100px;
}
#searchResult #searchResultTitle {
  margin-bottom: 18px;
}
#searchResult #searchResultTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
}
#searchResult #searchResultTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
#searchResult #searchResultEmpty {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#searchResult #searchResultEmpty .empty {
  text-align: center;
  margin: 50px;
  font-size: 1.8rem;
  font-weight: 500;
}
#searchResult #searchResultEmpty .empty_info > li {
  font-size: 1.4rem;
}

#searchResultProductList {
  width: 100%;
  padding: 0 11px;
  margin-top: -100px;
}
#searchResultProductList .product_listnormal_list_wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}
#searchResultProductList .product_listnormal_list_wrap .listnormal_list {
  width: 49%;
  height: auto;
  padding-bottom: 30px;
}
#searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product {
  position: relative;
  display: inline;
  padding-bottom: 30px;
}

.thumb {
  position: relative;
  width: 100%;
}
.thumb > a,
.thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.thumb > a > img,
.thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}

.desc {
  padding: 7px 0 0 0;
}
.desc .brand {
  font-size: 1rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.45rem;
  margin-bottom: 3px;
  font-weight: normal;
}
.desc .summary {
  display: block;
  font-size: 1.15rem;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.45rem;
  margin-bottom: 7px;
  font-weight: normal;
}
.desc .product_name,
.desc .product_name > span,
.desc .product_name > a {
  color: #292929 !important;
  font-size: 1.3rem !important;
  font-weight: normal !important;
  word-wrap: break-word;
  word-break: keep-all;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6rem;
  height: 3.2rem;
  margin-bottom: 18px;
}

.page-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
.page-pagination .btnPrev_wrap,
.page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page-pagination .first,
.page-pagination .last,
.page-pagination .btnPrev,
.page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
.page-pagination .first:hover,
.page-pagination .last:hover,
.page-pagination .btnPrev:hover,
.page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
.page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
.page-pagination ol li {
  margin: 0 11px;
}
.page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
.page-pagination ol li .this {
  font-weight: 600;
  color: #003DD3;
}/*# sourceMappingURL=search.css.map */