<!-- 회사 소개 -->
<!--@css(/css/module/layout/bvoat/footer.css)-->
<section id="footer">
    <div id="footer_wrap" module="Layout_footer">
        <article class="company_contact">
            <h4>
                소비는 투표다!<br>
                가치소비 라이프스타일 커머스 - <strong>비보트</strong>
            </h4>
            <div class="company_app_down">
                <a href="https://play.google.com/store/apps/details?id=bvoat.mobile" title="구글 플레이에서 비보트 앱 다운받기"
                    class="google_down" target="_blank">구글 플레이에서 비보트 앱
                    다운받기</a>
                <a href="https://apps.apple.com/app/id1542869878" title="앱스토어에서 비보트 앱 다운받기" class="appstore_down" target="_blank">앱스토어에서
                    비보트 앱 다운받기</a>
            </div>
            <p>제휴문의 : <a href="mailto:{$email}" target="_blank" title="제휴문의 및 비보트 이메일 ">{$email}</a>
            </p>
            <p>고객센터 : <a href="tel:+{$phone}" target="_blank" title="비보트 고객센터 전화번호">{$phone}</a>
                / 카카오톡 채널 : <a href="https://pf.kakao.com/_Rxnhnxb" title="비보트 카카오톡 채널" target="_blank">비보트</a> (운영시간 | 평일 13:00~18:00)
            </p>
        </article>
        <ul class="company_info_link">
            <li><a href="/member/privacy.html" title="개인정보 처리 방침">개인정보처리방침</a></li>
            <li><a href="/member/mall_agreement.html" title="이용약관">이용약관</a></li>
            <li><a href="/member/mall_rule.html" title="환불 정책">환불 정책</a></li>
            <li><a href="https://forms.gle/n7kMFhH8Yui3mdCk7" title="파트너쉽 / 입점 문의">파트너쉽/입점 문의</a></li>
        </ul>
        <details class="company_info">
            <summary> ㈜ 패신저스 사업자 정보 <span class="summary_marker_off">펼치기</span></summary>
            <span class="company_name">
                {$company_name} </span>
            <span class="company_ceo"> 대표 : {$president_name}</span>
            <span class="company_addr">주소 : {$mall_zipcode} {$mall_addr1}
                {$mall_addr2}</span>
            <span class="company_regno">사업자등록번호 : <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4518701571" title="사업자등록번호 조회하기" target="_blank">{$company_regno}</a></span>
            <span class="company_network">통신판매업신고번호 : {$network_regno}</span>
            <span class="company_cpo">개인정보관리책임자 : {$cpo_name} <a href="mailto:{$cpo_email}" title="개인정보관리책임자 이메일" target="_blank">{$cpo_email}</a>
            </span>
            <a href="/product/best.html">a</a>
            <a href="/product/realtime.html">b</a>

        </details>
    </div>
</section>
<script src="/js/module/layout/footer.js"></script>