<!-- 회사 소개 -->
<!--@css(/css/module/layout/bvoat/footer.css)-->
<section id="footer">
    <div id="footer_wrap" module="Layout_footer">

            <h4>친환경 라이프스타일 탐험, 비보트</h4>

        <ul class="company_app_link">
            <li class="appStore"><a class="appstore_down"  target="_blank"href="https://apps.apple.com/app/id1542869878" title="앱스토어에서 비보트 다운받기">앱스토어에서 비보트 다운받기</a></li>
            <li class="googlePlay"><a class="google_down"  target="_blank" href="https://play.google.com/store/apps/details?id=bvoat.mobile&pli=1" title="구글 플레이에서 비보트 다운받기">구글 플레이에서 비보트 다운받기</a></li>
        </ul>
        <ul class="company_contact_link">
            <li><a href="https://forms.gle/CxKTvHwnpM2MMyKq7" class="brand_contact"  target="_blank" title="브랜드 입점 문의">브랜드 입점 문의</a></li>
            <li><a href="https://forms.gle/ZS4BH59h7ydVaNAp7" class="b2b_contact" target="_blank" title="단체 구매 문의">단체 구매 문의</a></li>
        </ul>
        <ul class="company_info_link">
            <li><a href="/member/privacy.html" target="_blank" title="개인정보 처리 방침">개인정보처리방침</a></li>
            <li><a href="/member/mall_agreement.html" target="_blank" title="이용약관">이용약관</a></li>
            <li><a href="/member/mall_rule.html" target="_blank" title="환불 정책">환불 정책</a></li>
            <li class="mail">
                <p>제휴문의 : <a href="mailto:{$email}" target="_blank" title="제휴문의 및 비보트 이메일 ">{$email}</a>
                </p>
                <p>카카오톡 채널 : <a href="https://pf.kakao.com/_Rxnhnxb" target="_blank" title="카카오톡 문의하기">비보트 (운영시간 | 평일 13:00 ~ 18:00)</a>
                </p>
            </li>
        </ul>
        <details class="company_info">
            <summary> ㈜ 패신저스 사업자 정보 <span class="summary_marker_off">펼치기</span></summary>
            <span class="company_name">
                {$company_name} |  대표 : {$president_name}</span>

            <span class="company_addr">주소 : {$mall_zipcode} {$mall_addr1}
                {$mall_addr2}</span>
            <span class="company_regno">사업자등록번호 : <a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=4518701571" title="사업자등록번호 조회하기" target="_blank">{$company_regno}</a></span>
            <span class="company_network">통신판매업신고번호 : {$network_regno}</span>
        </details>
    </div>
</section>
<script src="/js/module/layout/footer.js"></script>