<!--@css(/layout/basic/css/header.css)-->

<section id="header">
    <section id="header_section">
        <div class="header_logo">비보트Bvoat</div>
        <ul class="header_menu">
            <li class="header_search">
                <a title="상품검색">검색</a>
            </li>
            <li class="header_cart">
                <a href="/order/basket.html" title="장바구니">장바구니</a>
                <div module="Layout_orderBasketcount"><span class="count">{$basket_count}</span></div>
            </li>
        </ul>
    </section>
    <!--@import(../nav/top_nav.html)-->
</section>