<!--@css(/css/module/layout/bvoat/header.css)-->
<article id="header_wrap" class="gradient">
    <section id="header_logo_section">
        <div class="back_btn visiblehidden">
            <button class="move_back_btn" onclick="history.go(-1)">
            </button>
        </div>
        <a href="/" title="비보트 메인으로" target="_self"><span class="header_logo">비보트 Bvoat</span></a>
        <ul class="header_menu">
            <li class="header_wish">
                <a href="/myshop/wish_list.html" title="위시리스트">
                </a>
            </li>
            <li class="header_search">
                <button type="button" class="search_btn" title="상품 검색"
                    onclick="classToggle(document.querySelector('#searchModal'), 'displaynone')">검색</button>
            </li>
            <li class="header_cart" >
                <a href="/order/basket.html" module="Layout_orderBasketcount">
                    <span class="count"><em>{$basket_count}</em></span>
                </a>
            </li>
        </ul>
    </section>
</article>