<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
    
<head>
   <!-- META TAG -->

    <meta property="og:title" content="비보트 - 오늘부터 가치소비">
    <meta property="og:description" content="우리는 가치 있는 선택들이 모여 가치 있는 세상을 만든다고 믿습니다. 비건, 친환경, 사회가치까지, 더 나은 세상에 소비로 투표하세요.">

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    
    <!-- META TAG -->


    <title>기본 레이아웃</title>
    
    <!-- CSS, FONT INFO -->

    <!--@css(/layout/basic/css/common.css)--><!-- 해당 CSS는 쇼핑몰 전체 페이지에 영향을 줍니다. 삭제와 수정에 주의해주세요. -->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-button.css)-->
    <!--@js(/layout/basic/js/basic.js)-->
</head>
<body>
<!--@contents-->
</body>
</html>
