<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
  <!-- mete tag -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
  <meta name="format-detection" content="telephone=no">
  <!-- PG크로스브라우징필수내용 -->
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta http-equiv="Pragma" content="no-cache" />
  <!-- PG크로스브라우징필수내용 -->
  <!-- canonical -->
  <link rel="canonical" href="https://bvoat.com/">
  <!-- mete tag -->
  <!-- css -->
  <!-- 공통 css -->
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap" rel="stylesheet">
  <!--@css(/layout/basic/css/common.css)-->
  <!--@css(/css/module/layout/bvoat/common_modal.css)-->
  <!--@css(/layout/basic/css/swiper.min.css)-->

  <!-- layout css -->
  <!--@css(/layout/basic/css/layout.css)-->

  <!-- script -->
  <script src="/js/swiper_min.js"></script>
  <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  <script src="/layout/basic/js/KaKao.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
    window.jQuery1_11_3 = jQuery.noConflict(true);
  </script>

  <!--@js(/js/common.js)-->
  <script src="/js/bvt_common.js"></script>
  <script src="/layout/basic/js/basic.js"></script>


</head>

<body>
  <section id="bvtContainer">
    <!--@import(/layout/basic/search.html)-->
    <!--header-->
    <header id="bvtHeader">
      <!--@import(/layout/basic/header.html)-->
    </header>
    <!--contents-->
    <section id="bvtContents">
      <!--@contents-->
    </section>
    <!--bottom nav-->
    <footer id="bvtBottom">
      <!--@import(/layout/nav/bottom_nav.html)-->
    </footer>
  </section>
</body>

</html>