<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <!-- mete tag -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <!-- PG크로스브라우징필수내용 -->
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <!-- PG크로스브라우징필수내용 -->
    <meta property="og:title" content="비보트 - 오늘부터 가치소비">
    <meta property="og:description"
        content="우리는 가치 있는 선택들이 모여 가치 있는 세상을 만든다고 믿습니다. 비건, 친환경, 사회가치까지, 더 나은 세상에 소비로 투표하세요.">
    <!-- mete tag -->
    <title>비보트 - 오늘부터 가치소비</title>

    <!-- css -->
    <!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/layout.css)-->
    <!-- script -->
    <!-- Swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <!--@js(/layout/basic/js/basic.js)-->
    <!--@js(/js/common.js)-->
    <!--@js(/js/module/layout/quick_view.js)-->
</head>

<body>
    <section id="bvt_container">
        <!--header-->
        <!--@import(/layout/basic/header.html)-->
        <!--contents-->
        <section id="contents">
            <!--@contents-->
        </section>
        <!--bottom nav-->
        <!--@import(/layout/nav/bottom_nav.html)-->
    </section>
</body>

</html>