@charset "utf-8";
@import "../css/abstracts/variables";

:root{
    --feed: url("../../../images/icon/icon-feed-none.png");
    --category: url("../../../images/icon/icon-category-none.png");
    --store: url("../../../images/icon/icon-store-none.png");
    --like: url("../../../images/icon/icon-like-none.png");
    --user: url("../../../images/icon/icon-user-none.png");
    --text-width: 40px;
    --icon-width: 26px;
    --icon-height: 28px;
    --text-color-feed: #ABABAB;
    --text-color-category: #ABABAB;
    --text-color-store: #ABABAB;
    --text-color-like: #ABABAB;
    --text-color-user: #ABABAB;
}

#bottom_nav {
    position: sticky;
    width: 100%;
    height: 63px;
    display: flex;
    align-items: center;
    background: $bvt-white;
    box-shadow: $bvt-top-shadow;
    box-sizing: border-box;
    overflow: hidden;

    #bottom_nav_wrap{
            width: 100%;
        .bottom_nav_list{
            width: 100%;
            height: 64px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
    
            li{
                width: 18%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
    
                a{
                    position: relative;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: var(--text-width);
                    text-align: center;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
    
                &:nth-child(1){
                    a{
                        color: var(--text-color-feed);
                        &::before{
                            display: block;
                            position: relative;
                            width: var(--icon-width);
                            height: var(--icon-height);
                            content: " ";
                            background: var(--feed) no-repeat center;
                            background-size: contain;
                            padding-bottom: 6px;
                        }
                    }
                }
                &:nth-child(2){
                    a{
                        color: var(--text-color-category);
                        &::before{
                            display: block;
                            position: relative;
                            width: var(--icon-width);
                            height: var(--icon-height);
                            content: " ";
                            background: var(--category) no-repeat center;
                            background-size: contain;
                            padding-bottom: 6px;
                        }
                    }
                }
                &:nth-child(3){
                    a{
                        color: var(--text-color-store);
                        &::before{
                            display: block;
                            position: relative;
                            width: var(--icon-width);
                            height: var(--icon-height);
                            content: " ";
                            background: var(--store)  no-repeat center;
                            background-size: contain;
                            padding-bottom: 6px;
                        }
                    }
                }
                &:nth-child(4){
                    a{
                        color: var(--text-color-like);
                        &::before{
                            display: block;
                            position: relative;
                            width: var(--icon-width);
                            height: var(--icon-height);
                            content: " ";
                            background: var(--like) no-repeat center;
                            background-size: contain;
                            padding-bottom: 6px;
                        }
                    }
                }
                &:nth-child(5){
                    a{
                        color: var(--text-color-user);
                        &::before{
                            display: block;
                            position: relative;
                            width: var(--icon-width);
                            height: var(--icon-height);
                            content: " ";
                            background: var(--user) no-repeat center;
                            background-size: contain;
                            padding-bottom: 6px;
                        }
                    }
                }
    
            }
        }
    }
    
}