@charset "utf-8";
/* 폰트 선언 추가 */
@font-face {font-family: 'Noto Sans KR';font-style: normal;
    font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
    url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) 
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
    
    @font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) 
    format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff)
    format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

/* **************************** //필수 CSS 수정 및 삭제 불가 **************************** */

/* tag reset */

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
select,
textarea,
section,
article,
p,
blockquote,
th,
td,
img {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    word-break: keep-all;
}

html {
    width: 100%;
    height: 100%;
}

body,
code {
    /* font:0.75em Verdana, Dotum,AppleGothic,sans-serif;  */
    color: #292929;
    /* color:#353535;  */
    background: #ffffff;
    font-family: 'Noto Sans KR', noto-sans-cjk-kr, AppleGothic, 'Jost', 'Nunito', 'noto sans', Verdana, Dotum, sans-serif;
    letter-spacing: -0.1px;
    font-stretch: 99%;    
    font-variant: tabular-nums;
    font-feature-settings: "tnum";
}

/* body { min-width:1480px; } */
body#popup {
    min-width: 0;
}

ul,
ol,
li {
    list-style: none;
}

/* li { list-style:none; } */
img,
fieldset {
    /* border:none; 
    vertical-align:top;  */
    border: 0;
    image-rendering: -webkit-optimize-contrast;
    backface-visibility: hidden;
}

detail,
summary{
    padding: 0;
    box-sizing: border-box;
}

em,
address {
    font-style: normal
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    display: none;
}

th,
td {
    border: 0;
    vertical-align: top;
}

button {
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}

hr.layout {
    display: none;
}

a {
    text-decoration: none;
    color: #292929;
    cursor: pointer;
}

a, h1, h2, h3, h4, h5, h6, p, span, em, i {
    transform: rotate(0.04deg);
} 

/* a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
} */
a:hover,
a:active,
a:focus {
    text-decoration: none;
}

summary{
    cursor: pointer;
    list-style: none;
}

iframe{
    width: 100%;
    height: auto;
    border: none;   
}

fieldset{
    min-inline-size: 0 !important;
}
/* 드래그 시 노란색 표시 */

::selection {
    background-color: #fff239;
    color: #292929;
}

::-moz-selection {
    background-color: #fff239;
    color: #292929;
}

.objHidden {
    visibility: hidden;
    position: absolute;
    left: -1000px;
    top: -1000px;
    height: 0;
    width: 0;
}






/* 카페24 */

#content_CONTAINER table,
#bi_inquire_content_CONTAINER table {
    border: 0;
    margin: 0 0 -1px;
}

#content_CONTAINER table:before,
#bi_inquire_content_CONTAINER table:before {
    display: none;
}

#content_CONTAINER td,
#bi_inquire_content_CONTAINER td {
    width: auto !important;
    padding: 0;
}

table.nneditor-table {
    width: auto !important;
}

/* 결제진행바 */
#progressPaybarBackground {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#progressPaybarView {
    position: absolute;
    z-index: 100;
    top: 160px;
    left: 20px;
    width: 471px;
    font-size: 12px;
}

#progressPaybarView .box {
    height: 180px;
    background: url(//img.cafe24.com/images/ec_hosting/popup/layer_guide/bg_layer_box1.gif) 0 0 no-repeat;
}

#progressPaybarView .box .graph {
    padding: 15px 0 0 0;
    text-align: center;
}

#progressPaybarView .box .graph span {
    display: block;
    text-align: center;
    margin: 20px 0;
}

#progressPaybarView .box .txt {
    text-align: center;
    padding: 15px 0 0;
    color: #555555;
}

div.layerProgress {
    filter: alpha(opacity=40);
    opacity: 0.4;
    -moz-opacity: 0.4;
    background-color: #999;
}

/* contents */
#skipNavigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
}

#skipNavigation p,
#skipNavigation ul,
#skipNavigation ul li {
    height: 0;
}

#skipNavigation p a {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin-left: -1px;
    margin-bottom: -1px;
    text-align: center;
    color: #000;
    white-space: nowrap;
}

#skipNavigation p a:focus,
#skipNavigation p a:hover,
#skipNavigation p a:active {
    width: 100%;
    height: auto;
    padding: 10px 0;
    background: #c4122f;
    color: #fff;
    z-index: 100;
}

.displaynone {
    display: none;
}
.overhidden {
    overflow: hidden !important;
}
.zindexzero {
    z-index: 0 !important;
}
/* 가격 표시 */
.price_wrap{
    display: flex;
    flex-flow: row nowrap;
}
.price_wrap>.price{
    font-size: 1.48rem;
    font-weight: 600;
    color: #022cff;
}
.price_wrap>li>span, .price_wrap>li>span>span{
    font-size: 1.48rem !important;
    font-weight: 600 !important;
    color: #022cff !important;
}
.price::after{
    display: inline-block;
    content: "원";
    font-size: 1.42rem;
    font-weight: normal;
    color: #292929;
    margin-left: -1px;
}
.pricenonsale, .detail_product>span, .display_product>span>strong{
    text-decoration: line-through !important;
    color: #ABABAB !important;
    font-size :
    1.43rem !important;
    margin-left: 5px !important;
}
.pricenonsale::after, .detail_product::after{
    color: #ABABAB !important;
}

.dimmed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.8;
    filter: alpha(opacity=90);
}

/* **************************** 필수 CSS 수정 및 삭제 불가 **************************** */