@charset "utf-8";
@import "./abstracts/_variables";
@import "./abstracts/_mixin";



#footer {
    display: block;
    width: 100%;
    height: auto;
    padding: 33px 0 93px 11px;
    background: $bvt-bg-blue;

    #footer_wrap {
        display: flex;
        flex-flow: column nowrap;

        .company_contact {
            order: 2;

            h4 {
                font-size: 1.8rem;
                font-weight: 400;
                margin-bottom: 21px;
            }

            .company_app_down {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 235px;
                height: auto;
                margin-bottom: 14px;

                a {
                    width: 114px;
                    height: 36px;
                    text-indent: -9999px;
                    overflow: hidden;
                }

                .google_down {
                    background: url(../../../images/icon/icon-playstore.png) no-repeat center;
                    background-size: contain;
                }

                .appstore_down {
                    background: url(../../../images/icon/icon-appstore.png) no-repeat center;
                    background-size: contain;
                }
            }

            p {
                font-size: 1.2rem;

                >a {

                    &:active,
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }

        .company_info_link {
            width: auto;
            height: fit-content;
            margin-bottom: 24px;
            order: 1;

            li {
                display: inline-block;
                margin-right: 10px;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: -0.6px;
            }
        }

        details {
            order: 3;
            margin-top: 40px;
            width: auto;
            height: auto;
            font-size: 1.3rem;

            summary{
                font-size: 1.3rem;
                font-weight: 700;
                color: $bvt-second-darkgray;
                margin-bottom: 20px;


                .summary_marker_off{
                    display: inline-block;
                    width: 17px;
                    height: 9px;
                    margin-left: 5px;
                    background: url(../../../images/icon/icon-details-arrow.png) no-repeat center;
                    background-size: contain;
                    transition: all 0.2s;
                    text-indent: -9999px;
                    overflow: hidden;
                }
                .summary_marker_on{
                    position: relative;
                    display: inline-block;
                    width: 8px;
                    height: 14px;
                    top: 2px;
                    margin-left: 11px;
                    background: url(../../../images/icon/icon-details-arrow-on.png) no-repeat center;
                    background-size: contain;
                    transition: all 0.1s;
                    text-indent: -9999px;
                    overflow: hidden;
                }
            }

            summary::marker{
                content: "";                
            }


            .company_name{

                &::after{
                    display: inline-block;
                    content: "|";
                    font-size: 1.3rem;
                }
            }

            .company_addr{
                display: block;
            }

            .company_regno{
                display: block;
            }

            .company_network{
                display: block;
            }

            .company_cpo{
                display: block;
            }
        }
        details[open] summary::marker{
            content: "";
        }

    }
}