@charset "utf-8";
@import "./abstracts/_variables";
@import "./abstracts/_mixin";

#header_wrap {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    #header_logo_section {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        padding: 0 11px;
        .header_logo {
            width: 73px;
            height: 40px;
            background: url("../../../images/logo/Bvoat.png") no-repeat center;
            background-size: contain;
            text-indent: -9999px;
        }

        .header_menu {
            position: absolute;
            width: 60px;
            height: 40px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            right: 11px;

            li {
                position: relative;
                &:nth-child(1) {
                    a {
                        position: relative;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url("../../../images/icon/icon-search.png") no-repeat center;
                        background-size: contain;
                        text-indent: -9999px;
                    }
                }

                &:nth-child(2) {
                    a {
                        position: relative;
                        display: block;
                        width: 23px;
                        height: 23px;
                        background: url("../../../images/icon/icon-cart.png") no-repeat center;
                        background-size: contain;
                        text-indent: -9999px;
                    }

                    .xans-layout-orderbasketcount {
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        top: -20%;
                        right: -24%;
                        background: $bvt-blue;
                        font-weight: 700;
                        color: $bvt-white;
                        border-radius: 50%;
                        text-align: center;
                    }
                }
            }
        }
    }

}