@charset "utf-8";
@import "../../../css/abstracts/mixin";
@import "../../../css/abstracts/variables";
// 개별 메인진열(구좌) 설정은 listmain.css에서 작업
// 해당 css는 index에서만 쓰는 메인진열 혹은 메뉴 등에 한해서만 작성

#bvtHome {
    width: 100%;
    max-width: 450px;
    margin: 81px auto;

    /* 인덱스 보터 카운트 */
    #indexUserCnt {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        padding: 9px 0;
        background: $bvt-point-yellow;
        margin-bottom: 29px;

        #joinbanner {
            border: 0;
            font-size: 1.7rem;
            font-weight: 400;
            span{
                position: relative;
                display: inline-block;
                top: 1px;
            }
            em {
                font-weight: 600;
            }
        }

    }

    /* 인덱스 보터 카운트 */
    /* 메인 타이틀 */
    #indexTitle {
        width: 100%;
        max-width: 450px;
        margin-bottom: 37px;
        padding: 0 29px;

        em {
            display: block;
            font-weight: 600;
            font-size: 1.8rem;
            color: $bvt-blue;
            margin-bottom: 14px;
        }

        h1 {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            font-weight: 700;
            font-size: 3.5rem;
            line-height: 4.1rem;
            margin-bottom: 27px;
            overflow: hidden;
        }

        p {
            font-weight: 400;
            font-size: 1.7rem;
            line-height: 2.8rem;
        }
    }

    /* 메인 타이틀 */
    /* 메인 소개/카카오 배너 */
    #indexintroBanner {
        width: 100%;
        max-width: 450px;
        padding: 0 29px;
        margin-bottom: 27px;

        .total_discount_banner {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: $bvt-btn-border-gray;
            border-radius: 5px;
            padding: 18px 0;
            margin-bottom: 9px;

            h4 {
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 6px;
            }

            p {
                font-size: 1.7rem;
                font-weight: 400;
            }
        }

        .kakao_friend_banner {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            border: 1px solid #FADC3F;
            border-radius: 5px;
            background: #FFF7CC;
            font-weight: 600;
            font-size: 1.7rem;
            color: #3B1E1E;
            padding: 12px 0;

            svg {
                width: 22px;
                margin-right: 10px;
            }
        }
    }

    /* 메인 소개/카카오 배너 */


    /* 메인진열 */
    #indexListmain {
        padding: 0 29px;
        margin-bottom: 60px;

        div.listmain {
            padding: 0;

            ul.prdList {
                display: flex;
                flex-flow: column nowrap;

                >li {

                    margin-bottom: 61px;
                    @include product-thumb(0px, 0px, 0px, 0px);

                    .promotion_date {
                        position: absolute;
                        padding: 6px 14px;
                        background: $bvt-white;
                        border-radius: 18px;
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: $bvt-blue;
                        top: 14px;
                        left: 14px;
                        z-index: 9;
                        letter-spacing: -0.2px;
                    }

                    .desc {
                        margin: 21px 0;

                        .title {
                            font-size: 1.5rem;
                            font-weight: 600;
                            color: $bvt-blue;
                            margin-bottom: 14px;
                        }

                        .product_model {
                            font-size: 2.1rem;
                            font-weight: 600;
                            margin-bottom: 19px;
                            @include only-ellipsis(1, 2.3rem);
                        }

                        .simple {
                            font-size: 1.7rem;
                            font-weight: 300;
                            line-height: 2.9rem;
                            @include ellipsis(3, 2.6rem);
                        }
                    }

                    .icon {
                        height: 30px;
                        img {
                            margin-right: 8px;
                        }
                    }
                }
            }
        }

        /* 둘러보기 이동 */
        .linktolookaround {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: $bvt-whitegray;
            border-radius: 9px;
            padding: 21px 27px;
            font-size: 1.7rem;
            font-weight: 600;

            svg {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 6.5px;
                height: 1.1rem;
            }

            @media (max-width: 360px) {
                font-size: 1.55rem;
            }
        }

        /* 둘러보기 이동 */

    }

    /* 메인진열 */


}