@charset "utf-8";
@import "./abstracts/_variables";
@import "./abstracts/_mixin";

#bvt_container{
    max-width: 450px;
    min-width: 300px;
    overflow-x: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    #contents{
        padding: 0 11px;
    }
}