@charset "utf-8";
@import "./abstracts/_variables";
@import "./abstracts/_mixin";

body{
    position: relative;
    display: flex;
    max-width: 450px;
    min-width: 200px;
    overflow-x: hidden;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: border-box;
    
    #header{
        position: sticky;
        display: block;
        z-index: 99;
        max-width: 450px;
        min-width: 200px;
        width: 100%;
        top: 0;
        background: #ffffff71;    
        backdrop-filter: blur(80px) brightness(150%);
        overflow: hidden;
        margin: 0 auto;
    }
    #contents{
        width: 100%;
        height: auto;
        max-width: 450px;
        min-width: 200px;
        padding: 0 11px;
    }
    #bottom{
        position: sticky;
        display: block;
        z-index: 99;
        max-width: 450px;
        min-width: 200px;
        width: 100%;
        bottom: 0;
        background: $bvt-white;   
        box-shadow: $bvt-top-shadow;
        overflow: hidden;
    }
}

@include query-small-mobile;