#top_nav {
  border-bottom: 1px solid #E2E2E2;
  -webkit-backdrop-filter: blur(30%) brightness(50%) opacity(71%);
          backdrop-filter: blur(30%) brightness(50%) opacity(71%);
}

#top_nav > .default_top_nav {
  width: 100%;
  height: 40px;
}

#top_nav > .default_top_nav .top_nav_list {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top_nav > .default_top_nav .top_nav_list .top_nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.45rem;
  font-weight: normal;
  margin: 0 15px;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
}

#top_nav > .default_top_nav .top_nav_list .top_nav_item > a {
  display: block;
}

#top_nav > .default_top_nav .top_nav_list .top_nav_active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
}

#top_nav > .default_top_nav .top_nav_list .top_nav_active > a {
  color: #022CFF;
}

#top_nav > .default_top_nav .top_nav_list .top_nav_active::before {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #022CFF;
  top: -1px;
  right: -6px;
}

#top_nav > .default_top_nav .top_nav_list .top_nav_active::after {
  position: absolute;
  display: block;
  content: " ";
  width: 120%;
  height: 3px;
  background: #022CFF;
  border-radius: 50px;
  bottom: -10px;
}

#top_nav > .community_top_nav {
  width: 100%;
  height: 40px;
}

#top_nav > .community_top_nav .top_nav_list {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top_nav > .community_top_nav .top_nav_list .top_nav_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.45rem;
  font-weight: 500;
  margin: 0 15px;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
  height: inherit;
}

#top_nav > .community_top_nav .top_nav_list .top_nav_item > a {
  display: block;
}

#top_nav > .community_top_nav .top_nav_list .top_nav_active {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
}

#top_nav > .community_top_nav .top_nav_list .top_nav_active::after {
  position: absolute;
  display: block;
  content: " ";
  width: 120%;
  height: 3px;
  background: #022CFF;
  border-radius: 50px;
  bottom: 0;
}
/*# sourceMappingURL=top_nav.css.map */