/* 공통 디자인 */


//상품 목록 이미지 thumbnail 공통 처리
@mixin product-thumb($width, $height, $padding, $bottom, $left) {

    //상품 이미지 구역 반드시 부모에 width 설정되어 있어야 해당 사이즈로 시작
    .thumb {
        position: relative;
        width: 100%;

        >a {
            display: block;
            position: relative;
            width: 100%;
            padding-top: 100%;
            overflow: hidden;
            border-radius: 4px;

            >img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @include wish-button($width, $height, $padding, $bottom, $left)
    }

    //상품 안내 아이콘
    .icon {
        position: absolute;
        height: 25px;
        margin-top: 4%;
        top: 3px;
        left: 10px;
        z-index: 1;

        img {
            object-fit: cover;
        }
    }
}

//상품 목록 하단 정보
@mixin product-desc($top-padding, $brand-ftsize, $summary-ftsize, $name-ftsize) {

    //상품 설명
    .desc {
        padding: $top-padding 0 0 0;

        .brand {
            font-size: $brand-ftsize;
            color: $bvt-darkgray;
            margin-bottom: 3px;
        }

        .summary {
            display: block;
            font-size: $summary-ftsize;
            color: $bvt-darkgray;
            @include only-ellipsis(1, $summary-ftsize);
            margin-bottom: 7px;
        }

        .product_name,
        .product_name span {
            color: $bvt-black !important;
            font-size: $name-ftsize !important;
            font-weight: bold;
            word-wrap: break-word;
            word-break: keep-all;
            @include ellipsis(2, $name-ftsize);
            margin-bottom: 18px;
        }
    }
}

//위시 버튼
@mixin wish-button($width, $height, $padding, $bottom, $left) {
    .wish {
        position: absolute;
        width: auto;
        height: auto;
        cursor: pointer;
        bottom: $bottom;
        left: $left;
        background: #fff;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: auto;
            border: 0;
            bottom: pink;
            cursor: pointer;

            img {
                position: relative;
                width: calc($width + ($padding * 2));
                height: calc($height + ($padding * 2));
                padding: $padding;
                object-fit: contain;
            }
        }
    }
}

//페이지 하단 페이지네이션
@mixin page-pagination {
    .page-pagination {
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;

        //전체 박스
        .paginate-box {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: auto;
            height: 40px;
            background: $bvt-bg-lightblue;
            border-radius: 30px;
            padding: 1% 5%;
            font-size: 1.3rem;

        }

        //버튼 랩
        .btnPrev_wrap,
        .btnNext_wrap {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        //좌우 버튼
        .first,
        .last,
        .btnPrev,
        .btnNext {
            width: 30px;
            height: 30px;
            background: $bvt-white;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            margin: 0 2px;
            color: $bvt-darkgray;
            font-size: 1.1rem;

            &:hover {
                font-weight: 700;
                transition: all .3s;
            }
        }

        //가운데 숫자
        ol {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: space-evenly;
            margin: 0 5px;

            li {
                margin: 0 11px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-weight: 400;
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $bvt-darkgray;
                }

                .this {
                    font-weight: 600;
                    color: $bvt-blue;
                }
            }
        }
    }
}

//더 보러가기

//상품 더 보기
@mixin more-product-view($height, $padding, $bg, $color, $border, $borderradius, $ftsize, $ftweight) {

    /* 더보기 버튼 */
    .moreview,
    .paginate_moreview {
        display: block;
        width: 100%;
        height: auto;
        padding: $padding;
    }

    .moreview_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: $height;
        background: $bg;
        color: $color;
        border: $border;
        border-radius: $borderradius;
        font-size: $ftsize;
        font-weight: $ftweight;
        cursor: pointer;

        svg {
            margin: 2px 0 0 6px;
        }

        &::after {
            display: inline-block;
            content: "〉";
            font-weight: 900;
            color: $bvt-darkgray;
            top: 50%;
            left: 50%;
            margin-left: 15px;
            transform: rotate(90deg);
        }
    }
}

@mixin move-list-view($height, $margin, $padding, $bg, $border, $borderradius, $color, $ftsize, $ftweight) {

    /* 더 보러가기 버튼 */
    .paginate_movelist {
        width: 100%;
        height: auto;
        margin: $margin;
        padding: $padding;
    }

    .movelist_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: $height;
        background: $bg;
        border: $border;
        border-radius: $borderradius;
        color: $color;
        font-size: $ftsize;
        font-weight: $ftweight;
        cursor: pointer;

        svg {
            margin-left: 6px;
        }
    }
}

//스탬프
@mixin stamp-variation {
    .whole_stamp {
        display: block;
        width: 100%;
        height: 100%;
        background: $whole-stamp;
        background-size: contain;
    }

    .half_stamp {
        display: block;
        width: 100%;
        height: 100%;
        background: $half-stamp;
        background-size: contain;
    }
}

/* ellipsis*/

// 높이 동일하게 맞추는 ellipsis
@mixin ellipsis($line-cnt, $line-height) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: $line-height + 0.3rem;
    height: (($line-height) * $line-cnt) + 0.8rem;
}

// ellipsis 처리만
@mixin only-ellipsis($line-cnt, $line-height) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: $line-height + 0.3rem;
}

/* ellipsis*/




/* 공통 디자인 */


/* 애니메이션 */

// 떠오르기 애니메이션
@mixin rise-item-keyframe {
    @keyframes rise-item {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
}

// 위에서 아래로 내려가기 애니메이션
@mixin fadeindown-item-keyframe {
    @keyframes fadeindown-item {
        from {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
}

// 위 아래 툴팁 애니메이션
@mixin up-and-down-keyframe($start, $end) {
    @keyframes up-and-down-item {
        0% {
            transform: translateY($start);
        }

        50% {
            transform: translateY($end);
        }

        100% {
            transform: translateY($start);
        }
    }
}

/* 애니메이션 */



/* 미디어쿼리 */
// 320px 아래의 기기  - 필요시 사용
@mixin query-small-mobile {
    @media (max-width: 320px) {
        .small_mobile_hide {
            display: none !important;
        }

        .small_mobile_input {
            &::placeholder {
                font-size: 8px !important;
            }
        }

        select {
            padding: 3px !important;
            font-size: 7px !important;
        }
    }
}

/* 미디어쿼리 */