/* 공통 스타일 */
// 높이 동일하게 맞춘 ellipsis
@mixin ellipsis($line-cnt, $line-height) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: $line-height + 0.4rem;
    height: (($line-height) * $line-cnt) + 0.7rem;
}

// ellipsis 처리만
@mixin only-ellipsis($line-cnt, $line-height) {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line-cnt;
    /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: $line-height + 0.4rem;
}
/* 공통 스타일 */


/* 애니메이션 */
// 떠오르기 애니메이션
@mixin rise-item-keyframe {
    @keyframes rise-item {
        from {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
}
// 위에서 아래로 내려가기 애니메이션
@mixin fadeindown-item-keyframe {
    @keyframes fadeindown-item {
        from {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            transform: translateZ(0);
        }
    }
}
// 위 아래 툴팁 애니메이션
@mixin up-and-down-keyframe($start, $end) {
    @keyframes up-and-down-item {
        0% {
            transform: translateY($start);
        }

        50% {
            transform: translateY($end);
        }

        100% {
            transform: translateY($start);
        }
    }
}
/* 애니메이션 */


/* 멤버십 관련 */
//스탬프
@mixin stamp-variation {
    .whole_stamp {
        display: block;
        width: 100%;
        height: 100%;
        background: $whole-stamp;
        background-size: contain;

    }

    .half_stamp {
        display: block;
        width: 100%;
        height: 100%;
        background: $half-stamp;
        background-size: contain;
    }
}
/* 멤버십 관련 */

/* 상품 목록 list 관련 공통 스타일 */

//상품 목록 이미지 구역 thumb공통 처리
@mixin product-thumb($width, $height, $bottom, $right) {

    //상품 이미지 구역
    .thumb {
        position: relative;
        width: 100%;

        >a {
            display: block;
            position: relative;
            padding-top: 100%;
            overflow: hidden;
            border-radius: 2px;
            font-size: 0;

            >img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @include wish-button($width, $height, $bottom, $right);
    }

    //상품 아이콘 
    //.icon에 높이 주어야 인식
    .icon{
        img{
            height: inherit;
            object-fit: cover;
        }
    }
}
//상품 목록 하단 정보
//필요시에만 사용
@mixin product-desc($top-padding, $brand-ftsz, $summary-ftsz, $name-ftsz) {
    //상품 설명
    .desc {
        padding: $top-padding 0 0 0;
        .brand {
            font-size: $brand-ftsz !important;
            color: $bvt-darkgray;
            @include only-ellipsis(1, $brand-ftsz);
            margin-bottom: 3px;
        }

        .summary {
            font-size: $summary-ftsz !important;
            color: $bvt-darkgray;
            @include only-ellipsis(1, $summary-ftsz);
            margin-bottom: 7px;
        }

        .product_name,
        .product_name span {
            color: $bvt-black !important;
            font-size: $name-ftsz !important;
            font-weight: bold;
            word-wrap: break-word;
            word-break: keep-all;
            @include ellipsis(2, $name-ftsz);
            margin-bottom: 20px;
        }
    }
}
//위시 버튼
@mixin wish-button($width, $height, $bottom, $right) {
    .wish {
        position: absolute;
        width: auto;
        height: auto;
        cursor: pointer;
        bottom: $bottom;
        right: $right;
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: inherit;
            height: inherit;
            border: 0;
            background: none;
            cursor: pointer;
            img {
                position: relative;
                width: calc($width + 20px);
                height: calc($height + 20px);
                padding: 10px;
                margin-top: 2.5px;
            }
        }
    }
}
//페이지 하단 페이지네이션
@mixin page-pagination {
    .page-pagination{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        //전체 박스
        .paginate-box {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: auto;
            height: 40px;
            background: $bvt-bg-lightblue;
            border-radius: 30px;
            padding: 1% 5%;
            font-size: 1.3rem;

        }
        //버튼 랩
        .btnPrev_wrap, .btnNext_wrap{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }
        //좌우 버튼
        .first, .last, .btnPrev, .btnNext {
            width: 30px;
            height: 30px;    
            background: $bvt-white;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            margin: 0 2px;
            color: $bvt-darkgray;
            font-size: 1.1rem;

            &:hover{
                font-weight: 700;
                transition: all .3s;
            }
        }

        //가운데 숫자
        ol {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
            justify-content: space-evenly;
            margin: 0 5px;
            li {
                margin: 0 11px;

                a {display: block;
                    width: 100%;
                    height: 100%;
                    font-weight: 400;
                    font-size: 1.3rem;
                    font-weight: 500;
                    color: $bvt-darkgray;
                }

                .this {
                    font-weight: 600;
                    color: $bvt-blue;
                }
            }
        }
    }
}
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
// 320px 아래의 기기 
@mixin query-small-mobile {
    @media (max-width: 320px) {
        .small_mobile_hide {
            display: none;
        }

        .small_mobile_input {
            &::placeholder {
                font-size: 8px !important;
            }
        }

        select {
            padding: 3px !important;
            font-size: 7px !important;
        }
    }
}
/* 미디어쿼리 */



