@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#memberCrew {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin-top: 60px;
}
#memberCrew #memberCrewContent {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
  text-align: center;
}
#memberCrew #memberCrewContent > section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  z-index: 1;
}
#memberCrew #memberCrewContent .crew_title {
  margin-bottom: 51px;
}
#memberCrew #memberCrewContent .crew_title em {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 14px;
}
#memberCrew #memberCrewContent .crew_title h3 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 27px;
}
#memberCrew #memberCrewContent .crew_title p {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.75rem;
}
#memberCrew #memberCrewContent #crewCouponZone {
  width: 100%;
  max-width: 450px;
  font-size: 0;
}
#memberCrew #memberCrewContent #crewCouponZone .crew_title_img {
  width: 100%;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list {
  width: 100%;
  position: relative;
  background: #F7F7F7;
  padding: 45px 11px 73px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 7px 11px 39px 0px rgba(0, 0, 0, 0.0862745098);
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone .crew_zone_title h3 {
  color: #003DD3;
  font-size: 1.65rem;
  letter-spacing: -0.5px;
  margin: 0;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone .crew_zone_title .crew_title_serve {
  font-weight: normal;
  margin-bottom: 4px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone .crew_zone_title .crew_title_main {
  font-size: 2.25rem;
  font-weight: bold;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone .couponSkinArea {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone .couponSkinArea .coupon {
  position: relative;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .couponZone .couponSkinArea .coupon .coupon_link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 450px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 23px 0 31.4px;
  margin-bottom: 25px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .crew_zone_title {
  margin-bottom: 17.6px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .crew_zone_title .crew_title_serve {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .crew_zone_title .crew_title_serve::before {
  display: block;
  content: "";
  width: 83px;
  height: 83px;
  background: url("/bvtIMG/coupon/newvoter_couponzone_image.jpg") no-repeat center;
  background-size: contain;
  margin-bottom: 6px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .couponSkinArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .couponSkinArea .coupon {
  width: 50%;
  max-width: 196.24px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .couponSkinArea .coupon:nth-child(1) {
  margin-right: 5.4px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .couponSkinArea .coupon .coupon_link {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .newvoter_couponzone .couponSkinArea .coupon .coupon_link img {
  width: 100%;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 23px 0 31.4px;
  margin-bottom: 19px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .crew_zone_title {
  margin-bottom: 21.6px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .crew_zone_title .crew_title_serve {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .crew_zone_title .crew_title_serve::before {
  display: block;
  content: "";
  width: 83px;
  height: 83px;
  background: url("/bvtIMG/coupon/voter_couponzone_image.jpg") no-repeat center;
  background-size: contain;
  margin-bottom: 6px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .couponSkinArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .couponSkinArea .coupon {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .couponSkinArea .coupon .coupon_link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .voter_couponzone .couponSkinArea .coupon .coupon_link img {
  width: 100%;
  max-width: 238.5px;
  backface-visibility: visible;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 23px 0 31.4px;
  position: relative;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .crew_zone_title {
  margin-bottom: 21.6px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .crew_zone_title .crew_title_serve {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .crew_zone_title .crew_title_serve::before {
  display: block;
  content: "";
  width: 83px;
  height: 83px;
  background: url("/bvtIMG/coupon/crew_couponzone_image.jpg") no-repeat center;
  background-size: contain;
  margin-bottom: 6px;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .couponSkinArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .couponSkinArea .coupon {
  width: 100%;
  max-width: 238.5px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .couponSkinArea .coupon .coupon_link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewCouponZone ul.crew_coupone_list .crew_couponzone .couponSkinArea .coupon .coupon_link img {
  width: 100%;
  max-width: 238.5px;
  backface-visibility: visible;
}
#memberCrew #memberCrewContent #crewCouponZone #moveLevelUp {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 800;
  color: #ffffff;
  animation: up-and-down-item 1.2s ease-in-out infinite;
  background: none;
  margin-top: 56px;
}
#memberCrew #memberCrewContent #crewCouponZone #moveLevelUp svg {
  width: 34.88px;
  height: 34.88px;
  margin-top: 16px;
}
#memberCrew #memberCrewContent #crewLevelUp {
  position: relative;
  width: 100%;
  max-width: 450px;
  background: #E376A0;
  padding: 62px 29px 30px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_title {
  color: #ffffff;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method {
  width: 100%;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list {
  width: 100%;
  max-width: 450px;
  height: auto;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .crew_method_list_content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  color: #ffffff;
  margin-bottom: 67px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .crew_method_list_content .crew_method_list_title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 39px;
  color: #ffffff;
  background: #003DD3;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 37px;
  margin-bottom: 9px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .crew_method_list_content .crew_method_list_heading {
  font-size: 2.1rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 19px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .crew_method_list_content .crew_method_txt {
  font-size: 1.65rem;
  font-weight: normal;
  color: #ffffff;
  line-height: 2.6rem;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .crew_method_list_content .crew_method_sub_txt,
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .crew_method_list_content .crew_method_sub_txt p {
  font-size: 1.4rem;
  font-weight: normal;
  color: #ffffff;
  line-height: 1.9rem;
  letter-spacing: -0.5px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_stamp {
  width: 100%;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_stamp .crew_method_img_wrap {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 36px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_stamp .crew_method_img_wrap .crew_method_img {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_stamp .crew_method_img_wrap .crew_method_img > li img {
  width: 100%;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_stamp .img_pagination {
  width: 100%;
  margin: 0 auto;
  height: 5px;
  opacity: 0.2;
  margin-bottom: 37px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend {
  width: 100%;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend .crew_method_list_heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend .crew_method_list_heading::before {
  position: relative;
  display: block;
  content: "";
  width: 114px;
  height: 114px;
  background: url("/bvtIMG/icon/crew_method_recommend_icon.png") no-repeat center;
  background-size: cover;
  margin-bottom: 19px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend .crew_method_btn_wrap {
  width: 100%;
  margin: 35px 0 27px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend .crew_method_btn_wrap button {
  width: 100%;
  height: 63px;
  font-size: 1.65rem;
  font-weight: bold;
  border-radius: 9px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend .crew_method_btn_wrap .crew_link_copy {
  background: #F5FF02;
  margin-bottom: 7px;
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "나눔고딕", "맑은 고딕", "Malgun Gothic", "돋움", dotum, Verdana, AppleGothic, sans-serif;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_recommend .crew_method_btn_wrap .crew_link_share {
  background: #ffffff;
  font-family: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo", "나눔고딕", "맑은 고딕", "Malgun Gothic", "돋움", dotum, Verdana, AppleGothic, sans-serif;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share {
  width: 100%;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_list_heading {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_list_heading::before {
  position: relative;
  display: block;
  content: "";
  width: 62px;
  height: 76px;
  background: url("/bvtIMG/icon/crew_method_url_icon.png") no-repeat center;
  background-size: cover;
  margin-bottom: 27.6px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap {
  width: 100%;
  margin: 47px 0 22px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form {
  width: 100%;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset label {
  font-size: 1.6rem;
  font-weight: 500;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset .share_input_wrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset .share_input_wrap input[type=url] {
  width: 100%;
  height: 52px;
  border-radius: 26px;
  padding: 1% 18% 0 5%;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset .share_input_wrap input[type=url]::-moz-placeholder {
  font-size: 1.5rem;
  font-weight: 300;
  color: #292929;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset .share_input_wrap input[type=url]::placeholder {
  font-size: 1.5rem;
  font-weight: 300;
  color: #292929;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset .share_input_wrap button {
  position: absolute;
  width: 66px;
  height: 37px;
  background: #003DD3;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 22px;
  right: 15px;
}
#memberCrew #memberCrewContent #crewLevelUp .crew_levelup_method .crew_levelup_method_list .method_share .crew_method_form_wrap > form fieldset .share_input_wrap button:disabled {
  background: #C4C4C4;
}
#memberCrew #memberCrewContent #crewText {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 450px;
  background: #ffffff;
  padding: 71px 29px 67px;
}
#memberCrew #memberCrewContent #crewText .list_anchor {
  width: 100%;
}
#memberCrew #memberCrewContent #crewText .list_anchor li {
  height: 63px;
  border-radius: 9px;
  background: #F5F5F5;
  padding: 0 27px;
}
#memberCrew #memberCrewContent #crewText .list_anchor li a {
  width: 100%;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: #003DD3;
  font-size: 1.5rem;
  font-weight: 600;
}
#memberCrew #memberCrewContent #crewText .list_anchor li span {
  color: #292929;
  font-weight: 400;
  letter-spacing: -0.6px;
}
#memberCrew #memberCrewContent #crewText .list_anchor li span::after {
  display: inline-block;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.5 11.37'%3E%3Cpath d='m4.54 5.69-4.3 4.3a.81.81 0 1 0 1.15 1.14l4.87-4.87a.81.81 0 0 0 .03-1.12L1.39.24A.81.81 0 1 0 .24 1.4Z' data-name='Icon ionic-ios-arrow-back'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  width: 6.5px;
  height: 11.37px;
  margin-left: 13px;
}
#memberCrew #memberCrewContent #crewText .list_anchor li:nth-child(1) {
  margin-bottom: 11px;
}
#memberCrew #memberCrewContent #crewText .list_anchor li:nth-child(2) a {
  color: #292929;
}
@media (max-width: 360px) {
  #memberCrew #memberCrewContent #crewText .list_anchor li a {
    font-size: 1.4rem;
    letter-spacing: -0.4px;
  }
}
#memberCrew #memberCrewContent #crewText #moveTop {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  color: #003DD3;
  background: none;
  animation: up-and-down-item 1.2s ease-in-out infinite;
}
#memberCrew #memberCrewContent #crewText #moveTop svg {
  width: 34.88px;
  height: 34.88px;
  margin: 63px 0 20.1px;
}
#memberCrew #memberCrewContent #crewRole {
  width: 100%;
  max-height: 450px;
  padding: 53px 22px 82px;
  background: #ffffff;
  color: #292929;
  text-align: center;
}
#memberCrew #memberCrewContent #crewRole > ul {
  font-size: 2.2rem;
  font-weight: bold;
  text-indent: -2%;
}
#memberCrew #memberCrewContent #crewRole > ul > li {
  font-size: 1.35rem;
  font-weight: normal;
  line-height: 2.1rem;
  letter-spacing: -0.5px;
  text-align: left;
  color: #707070;
}
#memberCrew #memberCrewContent #crewRole > ul > li:nth-child(1) {
  margin-top: 26px;
}

@keyframes up-and-down-item {
  0% {
    transform: translateY(-3%);
  }
  50% {
    transform: translateY(4%);
  }
  100% {
    transform: translateY(-3%);
  }
}/*# sourceMappingURL=crew.css.map */