@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


#memberCrew {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 450px;
    margin-top: 80px; //top_nav hide

    #memberCrewContent {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 450px;
        text-align: center;

        // 전체 섹션 공통
        >section {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            width: 100%;
            max-width: 450px;
            z-index: 1;
        }

        //전체 타이틀 공통
        .crew_title {
            margin-bottom: 51px;

            em {
                display: block;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 14px;
            }

            h3 {
                font-size: 3.5rem;
                font-weight: 800;
                margin-bottom: 27px;
            }

            p {
                font-size: 1.7rem;
                font-weight: 300;
                line-height: 2.8rem;
            }
        }

        //쿠폰존
        #crewCouponZone {
            width: 100%;
            max-width: 450px;

            ul.crew_coupone_list {
                width: 100%;

                //쿠폰 리스트 공통
                .couponSkinArea {
                    .coupon_list {
                        width: 100%;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;

                        .coupon_item {
                            width: 100%;
                            margin-bottom: -50px;
                            .coupon {
                                width: 100%;
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }
                        }

                    }
                }

                //월별 쿠폰
                .monthly_couponzone {
                    position: relative;
                    background: $bvt-point-yellow;
                    padding: 51px 0 79px;
                    overflow: hidden;

                    //개별 타이틀
                    .crew_title {
                        margin-bottom: 10px;
                        em {
                            color: $bvt-blue;
                        }
                    }

                    .couponSkinArea {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        &::after {
                            position: absolute;
                            display: block;
                            content: " ";
                            background: #DFE800;
                            width: 139%;
                            padding-bottom: 139%;
                            border-radius: 50%;
                            top: 60px;
                            z-index: 0;
                        }
                    }
                }

                //크루 쿠폰
                .crew_couponzone {
                    position: relative;
                    background: $bvt-blue;
                    padding: 70px 0 60px;
                    overflow: hidden;

                    //개별 타이틀
                    .crew_title {
                        color: $bvt-white;
                        margin-bottom: 10px;
                    }

                    .couponSkinArea {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                        &::after {
                            position: absolute;
                            display: block;
                            content: " ";
                            background: #3456FF;
                            width: 139%;
                            padding-bottom: 139%;
                            border-radius: 50%;
                            top: 60px;
                            z-index: 0;
                        }
                    }
                }
            }

            #moveLevelUp {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                font-size: 1.6rem;
                font-weight: 800;
                color: $bvt-white;
                animation: up-and-down-item 1.2s ease-in-out infinite;
                background: none;
                margin-top: 56px;

                svg {
                    width: 34.88px;
                    height: 34.88px;
                    margin-top: 16px;
                }
            }
        }


        #crewLevelUp {
            position: relative;
            width: 100%;
            max-width: 450px;
            background: $bvt-black;
            padding: 78px 29px 44px;

            //개별 타이틀
            .crew_title {
                color: $bvt-white;
                em {
                    color: $bvt-point-yellow;
                }
            }
            .crew_levelup_method{
                width: 100%;
                .crew_levelup_method_list {
                    width: 100%;
                    max-width: 450px;
                    height: auto;
    
                    //방법 공통
                    .crew_method_list_content {
                        position: relative;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        max-width: 450px;
                        color: $bvt-white;
                        margin-bottom: 85px;
    
                        //방법 1, 2, 3
                        .crew_method_list_title {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 84px;
                            height: 39px;
                            color: $bvt-blue;
                            background: $bvt-white;
                            font-size: 1.8rem;
                            font-weight: 500;
                            border-radius: 37px;
                            margin-bottom: 28px;
                        }
    
                        .crew_method_list_heading {
                            font-size: 2.1rem;
                            font-weight: 600;
                            color: $bvt-white;
                            margin-bottom: 19px;
                        }
    
                        .crew_method_txt {
                            font-size: 1.7rem;
                            font-weight: 300;
                            color: $bvt-white;
                            line-height: 3.0rem;
                        }
    
                        // 세부 설명
                        .crew_method_sub_txt,
                        .crew_method_sub_txt li {
                            font-size: 1.2rem;
                            font-weight: 200;
                            color: $bvt-point-yellow;
                            line-height: 2.1rem;
                        }
    
                    }
    
    
                    //개별 CSS
                    //방법 1
                    .method_stamp {
                        width: 100%;
                        .crew_method_img_wrap{
                            width: 100%;
                            margin-bottom: 17px;
                        .crew_method_img {
                            width: 100%;
                            display: flex;
                            flex-flow: row nowrap;
    
                            >li {
                                img{
                                    width: 100%;
                                }
    
                            }
                        }
                        }
    
                        .img_pagination {
                            width: 100%;
                            margin: 0 auto;
                            height: 5px;
                            opacity: .2;
                            margin-bottom: 37px;
                        }
                    }
    
                    //방법 2
                    .method_recommend {
                        width: 100%;
                        .crew_method_list_heading {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
    
                            &::before{
                                position: relative;
                                display: block;
                                content:"";
                                width: 114px;
                                height: 114px;
                                background: url('/bvtIMG/icon/crew_method_recommend_icon.png') no-repeat center;
                                background-size: cover;
                            }
                        }
    
                        .crew_method_btn_wrap {
                            width: 100%;
                            margin: 35px 0 30px;
                            button {
                                width: 100%;
                                height: 63px;
                                font-size: 1.7rem;
                                font-weight: 600;
                                border-radius: 9px;
                            }
    
                            .crew_link_copy {
                                background: $bvt-point-yellow;
                                margin-bottom: 7px;
                            }
    
                            .crew_link_share {
                                background: $bvt-white;
                            }
                        }
                    }
                    //방법 3
                    .method_share {
                        width: 100%;
                        .crew_method_list_heading {
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;
                            align-items: center;
    
                            &::before{
                                position: relative;
                                display: block;
                                content:"";
                                width: 62px;
                                height: 76px;
                                background: url('/bvtIMG/icon/crew_method_url_icon.png') no-repeat center;
                                background-size: cover;
                                margin-bottom: 27.6px;
                            }
                        }
                        .crew_method_form_wrap {
                            width: 100%;
                            margin: 47px 0 22px;
                            >form {
                                width: 100%;
                                fieldset {
                                    label {
                                        font-size: 1.6rem;
                                        font-weight: 500;
                                    }
    
                                    .share_input_wrap {
                                        width: 100%;
                                        display: flex;
                                        flex-flow: row nowrap;
                                        align-items: center;
                                        justify-content: center;
                                        input[type='url'] {
                                            width: 100%;
                                            height: 52px;
                                            border-radius: 26px;
                                            padding: 1% 18% 0 5%;
                                            box-sizing: border-box;
                                            font-size: 1.2rem;
                                            border: none;
    
                                            &::placeholder {
                                                font-size: 1.5rem;
                                                font-weight: 300;
                                                color: $bvt-black;
                                            }
                                        }
                                        //신청 버튼
                                        button {
                                            position: absolute;
                                            width: 66px;
                                            height: 37px;
                                            background: $bvt-blue;
                                            font-size: 1.3rem;
                                            font-weight: 600;
                                            color: $bvt-white;
                                            border-radius: 22px;
                                            right: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        #crewText {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 450px;
            background: $bvt-white;
            padding: 71px 29px 67px;

            .list_anchor{
                width: 100%;
                li{
                    height: 63px;
                    border-radius: 9px;
                    background: #F5F5F5;
                    padding: 0 27px;

                    a{
                        width: 100%;
                        height: inherit;
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;
                        align-items: center;
                        color: $bvt-blue;
                        font-size: 1.7rem;
                        font-weight: 600;
                        letter-spacing: -0.4px;
                    }
                    span{
                        color: $bvt-black;
                        font-weight: 400;
                        letter-spacing: -0.6px;
                        &::after{
                            display: inline-block;
                            content: "";
                            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6.5 11.37'%3E%3Cpath d='m4.54 5.69-4.3 4.3a.81.81 0 1 0 1.15 1.14l4.87-4.87a.81.81 0 0 0 .03-1.12L1.39.24A.81.81 0 1 0 .24 1.4Z' data-name='Icon ionic-ios-arrow-back'/%3E%3C/svg%3E") no-repeat center;
                            background-size: contain;
                            width: 6.5px;
                            height: 11.37px;
                            margin-left: 13px;
                        }
                    }

                    &:nth-child(1){
                        margin-bottom: 11px;
                    }
                        
                    &:nth-child(2){
                        a{
                            color: $bvt-black;
                        }
                    }

                    @media (max-width: 345px) {
                        a{
                            font-size: 1.45rem;
                        }
                    }
                }
            }

            #moveTop {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: center;
                font-size: 1.7rem;
                font-weight: 700;
                color: $bvt-blue;
                background: none;
                animation: up-and-down-item 1.2s ease-in-out infinite;
                svg{
                    width: 34.88px;
                    height: 34.88px;
                    margin: 63px 0 20.1px;
                }
            }
        }

        #crewRole {
            width: 100%;
            max-height: 450px;
            padding: 41px 18px 66px;
            background: $bvt-whitegray;
            color: $bvt-darkgray;
            text-align: left;

            >ul {
                font-size: 2rem;
                font-weight: 500;
                text-indent: -2%;

                >li {
                    font-size: 1.3rem;
                    font-weight: 300;
                    line-height: 1.8rem;
                    letter-spacing: normal;

                    &:nth-child(1) {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@include up-and-down-keyframe(-3%, 4%);