@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#bvtEvent{
	width: 100%;
    max-width: 450px;
    padding: 0;
    margin: 80px 0 120px;
 
	#bvtEventImg{
		width: 100%;
		>h2{
			font-size: 2.6rem;
			font-weight: 800;
			text-align: center;
			margin: 15px 0;
		}
		>p{
			font-size: 1.5rem;
			font-weight: 400;
			text-align: center;
			>span{
				font-weight: 700;
			}
		}
		>em{
			display: block;
			font-size: 1.6rem;
			margin: 15px 0;
			text-align: center;
		}
		figure{
			width: 100%;
			margin: 0;
			figcaption{
				visibility: hidden;
			}
			img{
				width: 100%;
			}
		}
	}
	#bvtEventModule{
		width: 100%;
		height: auto;
		//big_img width 181.74px
		.index_list{
			position: relative;
			width: 100%;
			padding: 0 15px;
			margin-bottom: 20px;
			h2{
				font-size: 2.2rem;
				padding: 20px 0;
			}
			>.listmain{
				width: 100%;
				padding: 0;
			}
		}
	}
}