@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


.find_article {
    width: 100%;
    max-width: 450px;
    padding: 23px 17px 100%;
    margin-top: 60px; //top_nav hide

    .find_title {
        margin-bottom: 18px;
        text-align: center;

        h2 {
            font-weight: bold;
            font-size: 2rem;
            line-height: 4rem;
        }

        h3 {
            font-weight: normal;
            font-size: 1.45rem;
            color: $bvt-darkgray;
        }
    }

    .find_form {
        fieldset {
            >ul {
                display: flex;
                flex-flow: column nowrap;
                flex-basis: auto;
                width: 100%;
                max-width: 450px;

                .find_input_wrap {
                    margin-bottom: 18px;

                    >span {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }

                    .txtInfo {
                        font-size: 1.2rem;
                        font-weight: normal;
                    }

                    .input_label {
                        display: block;
                        font-weight: bold;
                        font-size: 1.32rem;
                        color: $bvt-darkgray;
                        margin-bottom: 6px;
                    }

                    // input 박스
                    input {
                        width: 100%;
                        height: 44px;
                        padding: 12px 25px;
                        border-radius: 22px;
                        border: $bvt-input-border;
                        font-size: 1.35rem;
                        color: $bvt-darkgray;
                        box-sizing: border-box;

                        &::placeholder {
                            font-size: 1.2rem;
                            font-weight: lighter;
                            color: $bvt-lightgray;
                            letter-spacing: -0.3px;
                        }
                    }

                    #mobile1,
                    #mobile2,
                    #mobile3 {
                        width: 31%;
                    }

                    select {
                        width: 100%;
                        height: 45px;
                        font-size: 1.4rem;
                        cursor: pointer;
                    }
                }

                .check {
                    margin-bottom: 18px;

                    .input_label {
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: $bvt-darkgray;
                        margin: 0 15px 6px 0;
                        cursor: pointer;
                    }

                    input[type=radio] {
                        width: 18px;
                        height: 18px;
                        border: $bvt-btn-border-gray;
                        margin: 14px auto;
                        cursor: pointer;
                    }
                }
            }

            #findPwdIdBtn {
                width: 100%;
                height: 45px;
                background: $bvt-blue;
                color: $bvt-white;
                font-size: 1.5rem;
                font-weight: bold;
                font-family: inherit;
                border-radius: 5px;
            }
        }

        >ul {
            width: 100%;
            max-width: 450px;
            margin: 50px 0;

            >li {
                display: flex;
                flex-flow: column nowrap;
                background: $bvt-white;
                padding: 20px;
                border-radius: 16px;

                >p {
                    font-size: 1.4rem;
                    margin-bottom: 1rem;
                    line-height: 1.8rem;

                    >span {
                        color: $bvt-blue;
                        font-weight: bold;
                        text-align: center;
                    }
                }
            }
        }

        >a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 45px;
            background: $bvt-blue;
            color: $bvt-white;
            font-size: 1.5rem;
            font-weight: bold;
            font-family: inherit;
            border-radius: 5px;
            margin: 7px auto;
        }
    }

}

.find_btn {
    width: 100%;
    padding: 4%;
    background: $bvt-blue;
    color: $bvt-white;
    margin-top: 30px;
}

//find_passwd_method 수정

.ec-base-desc li {
    font-size: 1.4rem;
    margin: 15px 0 0 !important;

    .term {
        display: inline-block;
        width: 40%;
    }

    .desc {
        padding-left: 5% !important;
        font-size: 1.4rem;
    }
}

.xans-member-findpasswdmethod .inner .ec-base-button {
    padding: 40px 0;
}

.submit_btn {
    width: 48%;
    padding: 4%;
    background: $bvt-blue;
    color: $bvt-white;
    font-weight: bold;
    border-radius: 5px;
}

.cancle_btn {
    width: 48%;
    padding: 4%;
    background: $bvt-white;
    color: $bvt-blue;
    font-weight: bold;
    border-radius: 5px;
    border: $bvt-btn-border;
}