@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
.find_article {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px 100%;
  margin-top: 80px;
  background: #FAFAFE;
}
.find_article .find_title {
  margin-bottom: 18px;
}
.find_article .find_title h2 {
  font-weight: 600;
  font-size: 2.2rem;
}
.find_article .find_title h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
.find_article .find_form fieldset > ul {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: auto;
  width: 100%;
  max-width: 450px;
}
.find_article .find_form fieldset > ul .find_input_wrap {
  margin-bottom: 18px;
}
.find_article .find_form fieldset > ul .find_input_wrap > span {
  font-size: 1.5rem;
  font-weight: 600;
}
.find_article .find_form fieldset > ul .find_input_wrap .txtInfo {
  font-size: 1.2rem;
  font-weight: 300;
}
.find_article .find_form fieldset > ul .find_input_wrap .input_label {
  display: block;
  font-weight: bold;
  font-size: 1.32rem;
  color: #707070;
  margin-bottom: 6px;
}
.find_article .find_form fieldset > ul .find_input_wrap input {
  width: 100%;
  height: 44px;
  padding: 12px 25px;
  border-radius: 22px;
  border: 1px solid #C4C4C4;
  font-size: 1.35rem;
  color: #707070;
  box-sizing: border-box;
}
.find_article .find_form fieldset > ul .find_input_wrap input::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #C4C4C4;
  letter-spacing: -0.3px;
}
.find_article .find_form fieldset > ul .find_input_wrap input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #C4C4C4;
  letter-spacing: -0.3px;
}
.find_article .find_form fieldset > ul .find_input_wrap input::placeholder {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #C4C4C4;
  letter-spacing: -0.3px;
}
.find_article .find_form fieldset > ul .find_input_wrap #mobile1, .find_article .find_form fieldset > ul .find_input_wrap #mobile2, .find_article .find_form fieldset > ul .find_input_wrap #mobile3 {
  width: 31%;
}
.find_article .find_form fieldset > ul .find_input_wrap select {
  width: 100%;
  height: 45px;
  font-size: 1.4rem;
  cursor: pointer;
}
.find_article .find_form fieldset > ul .check {
  margin-bottom: 18px;
}
.find_article .find_form fieldset > ul .check .input_label {
  font-weight: bold;
  font-size: 1.5rem;
  color: #707070;
  margin: 0 15px 6px 0;
  cursor: pointer;
}
.find_article .find_form fieldset > ul .check input[type=radio] {
  width: 18px;
  height: 18px;
  border: 1px solid #E2E2E2;
  margin: 14px auto;
  cursor: pointer;
}
.find_article .find_form fieldset #findPwdIdBtn {
  width: 100%;
  height: 55px;
  background: #022CFF;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 100px;
  margin-top: 40px;
}
.find_article .find_form > ul {
  width: 100%;
  max-width: 450px;
  margin: 50px 0;
}
.find_article .find_form > ul > li {
  display: flex;
  flex-flow: column nowrap;
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
}
.find_article .find_form > ul > li > p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 2.3rem;
}
.find_article .find_form > ul > li > p > span {
  color: #022CFF;
  font-weight: 600;
  background: #FFF239;
  text-align: center;
}
.find_article .find_form > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 55px;
  background: #022CFF;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 100px;
  margin: 14px auto;
}

.find_btn {
  width: 100%;
  padding: 4%;
  background: #022CFF;
  color: #ffffff;
  margin-top: 30px;
}/*# sourceMappingURL=find.css.map */