@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 셀렉트 박스 화살표 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
:root {
  --result-bg: url("https://s3.ap-northeast-2.amazonaws.com/img.bvoat.com/shop/member/result-back.png");
  --result-title-bg: url("https://s3.ap-northeast-2.amazonaws.com/img.bvoat.com/shop/member/bvoat-logo-earthst.png");
}

#memberJoin {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px 100px;
  margin-top: 80px;
}
#memberJoin #memberJoinTitle {
  margin-bottom: 18px;
}
#memberJoin #memberJoinTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
}
#memberJoin #memberJoinTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}
#memberJoin #memberJoinField {
  position: relative;
  width: 100%;
  max-width: 450px;
}
#memberJoin #memberJoinField fieldset {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#memberJoin #memberJoinField fieldset #joinForm {
  position: relative;
  width: 100%;
  max-width: 450px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: auto;
  width: 100%;
  max-width: 450px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list {
  margin-bottom: 18px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .input_label {
  display: block;
  font-weight: bold;
  font-size: 1.32rem;
  color: #707070;
  margin-bottom: 6px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 450px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap input {
  width: 100%;
  height: 44px;
  padding: 12px 25px;
  border-radius: 22px;
  border: 1px solid #C4C4C4;
  font-size: 1.35rem;
  color: #707070;
  box-sizing: border-box;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap input::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #C4C4C4;
  letter-spacing: -0.3px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #C4C4C4;
  letter-spacing: -0.3px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap input::placeholder {
  font-size: 1.2rem;
  font-weight: lighter;
  color: #C4C4C4;
  letter-spacing: -0.3px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap #user_passwd_confirm {
  margin-top: 6px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap > select {
  padding: 0 21px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-right: 4px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.582' height='7.194'%3E%3Cpath data-name='Icon ionic-ios-arrow-forward' d='M6.293 5.025 11.051.264a.9.9 0 0 1 1.27 0 .907.907 0 0 1 0 1.274L6.93 6.932a.9.9 0 0 1-1.24.026L.262 1.541A.9.9 0 1 1 1.532.268Z' fill='%23ababab'/%3E%3C/svg%3E") no-repeat;
  background-position: 85%;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap .mobile_input_box {
  width: calc((100% - 44px) / 3);
  height: 44px;
  border-radius: 22px;
  font-size: 1.25rem;
  color: #707070;
  border: 1px solid #C4C4C4;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap #confirm_verify_mobile {
  margin-top: 6px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap #expiryTime {
  position: fixed;
  right: 7%;
  font-size: 1.2rem;
  font-weight: bold;
  color: #022CFF;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .member_join_input_wrap .input_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 123px;
  height: 44px;
  border: 1px solid #022CFF;
  border-radius: 22px;
  background: rgba(41, 41, 41, 0);
  font-size: 1.35rem;
  font-weight: bold;
  color: #022CFF;
  word-break: keep-all;
  cursor: pointer;
  margin-left: 3px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .val_check_msg {
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 1.2rem;
  font-weight: bold;
  color: #C4C4C4;
  margin: 3px 0 0 3px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_join_section .member_join_list .input_info_txt {
  font-size: 1.2rem;
  color: #022CFF;
  letter-spacing: -1px;
  margin: 3px 0 4px 1px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  width: 100%;
  vertical-align: middle;
  font-size: 1.35rem;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeAll {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  height: 52px;
  background-color: #F2F2F2;
  padding: 15px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeAll .agreeArea_title {
  display: flex;
  align-items: center;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeAll .agreeArea_title label {
  display: block;
  width: 350px;
  height: 19px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.35rem;
  color: #022CFF;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeAll .agreeArea_title input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control {
  width: 100%;
  transition: all 1s ease-in-out;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control .agreeArea_title {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 52px;
  padding: 15px;
  cursor: pointer;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control .agreeArea_title::-webkit-details-marker {
  font-size: 20px;
  margin-right: 5px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control .agreeArea_title > label {
  display: inline-block;
  height: 19px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #707070;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control .agreeArea_title > label > span {
  font-weight: lighter;
  color: #022CFF;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control .agreeArea_title > input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control > .contents {
  width: 100%;
  height: 0;
  color: #C4C4C4;
  transition: all 0.5s;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control:not([open]) .agreeArea_title::-webkit-details-marker {
  font-size: 20px;
  margin-right: 5px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control:not([open]) .agreeArea_title .agreeArea_arr {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 8px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.582' height='7.194'%3E%3Cpath data-name='Icon ionic-ios-arrow-forward' d='M6.293 5.025 11.051.264a.9.9 0 0 1 1.27 0 .907.907 0 0 1 0 1.274L6.93 6.932a.9.9 0 0 1-1.24.026L.262 1.541A.9.9 0 1 1 1.532.268Z' fill='%23ababab'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  right: 20px;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control:not([open]) .contents {
  width: 100%;
  height: 0;
  padding: 13px;
  font-size: 12px;
  color: #C4C4C4;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  transition: all 0.5s ease-in-out;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control[open] .agreeArea_title .agreeArea_arr {
  position: absolute;
  display: inline-block;
  width: 14px;
  height: 8px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.582' height='7.194'%3E%3Cpath data-name='Icon ionic-ios-arrow-forward' d='M6.289 2.168 1.531 6.929a.9.9 0 0 1-1.27 0 .907.907 0 0 1 0-1.274L5.652.261a.9.9 0 0 1 1.24-.026l5.428 5.417a.9.9 0 1 1-1.27 1.274Z' fill='%23ababab'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  right: 20px;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_control[open] .contents {
  width: 100%;
  height: 250px;
  padding: 13px;
  font-size: 12px;
  color: #C4C4C4;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  overflow: scroll;
  transition: all 0.5s;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing {
  width: 100%;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 30px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agreeArea_title {
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 52px;
  padding: 15px 15px 5px 15px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agreeArea_title label {
  display: inline-block;
  height: 19px;
  margin-left: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #707070;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agreeArea_title label > span {
  font-weight: lighter;
  color: #707070;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agreeArea_title label > p {
  margin-top: 3px;
  color: #C4C4C4;
  font-weight: 300;
  font-size: 1.2rem;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agreeArea_title input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agereeArea_marketing_list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 14px 0 0 46px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agereeArea_marketing_list li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agereeArea_marketing_list li input {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 20px 6px 0 0;
  cursor: pointer;
}
#memberJoin #memberJoinField fieldset #joinForm .member_agree_section .agreeArea_marketing .agereeArea_marketing_list li label {
  display: inline-block;
  margin: 20px 20px 0 0;
  color: #707070;
  font-weight: 100;
  vertical-align: middle;
  cursor: pointer;
}

.join_btn {
  position: fixed;
  display: flex;
  bottom: 0;
  width: calc(100% + 22px);
  max-width: 450px;
  height: 61px;
  align-items: center;
  justify-content: center;
  margin-left: -11px;
  z-index: 99;
  background-color: #022CFF;
  border: none;
  cursor: pointer;
}
.join_btn > p {
  color: #ffffff;
  font-size: 1.45rem;
  font-weight: 500;
}

#memberResult {
  width: 100%;
  max-width: 450px;
  margin-top: -40px;
}
#memberResult #memberResultTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 475px;
  padding: 68px 11px 0;
  margin-bottom: 36px;
  text-align: center;
  background: var(--result-bg) no-repeat;
  background-size: cover;
}
#memberResult #memberResultTitle h1 {
  display: none;
}
#memberResult #memberResultTitle h2 {
  width: 100%;
  max-width: 450px;
  height: 135px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: -0.5px;
  line-height: 1.6em;
  text-align: center;
  margin-bottom: 36px;
  background: var(--result-title-bg) no-repeat center;
  background-position-y: 19px;
}
#memberResult #memberResultTitle .member_result_card {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 151px;
  border-radius: 14px;
  box-shadow: 3px 7px 11px #EDEFF5;
  color: #292929;
  background: #ffffff;
}
#memberResult #memberResultTitle .member_result_card .profile_img {
  width: 68px;
  height: 68px;
}
#memberResult #memberResultTitle .member_result_card .profile_img > img {
  width: 68px;
  height: 68px;
  -o-object-fit: cover;
     object-fit: cover;
}
#memberResult #memberResultTitle .member_result_card .profile_group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  width: calc(100% - 110px);
}
#memberResult #memberResultTitle .member_result_card .profile_group .group_name {
  margin-top: 6px;
  font-size: 15px;
  font-weight: 400;
  color: #707070;
}
#memberResult #memberResultTitle .member_result_card .profile_group .profile_name {
  font-size: 23px;
  font-weight: 600;
}
#memberResult #memberResultTitle .member_result_card .profile_group .profile_txt {
  font-size: 13px;
  font-weight: 300;
  margin-top: 10px;
}
#memberResult #memberResultTxt {
  padding-bottom: 100px;
}
#memberResult #memberResultTxt .result_welcome_txt {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#memberResult #memberResultTxt .result_welcome_txt h3 {
  font-size: 17px;
  color: #292929;
}
#memberResult #memberResultTxt .result_welcome_txt p {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 300;
  color: #707070;
}

.result_btn {
  position: fixed;
  display: flex;
  bottom: 0;
  width: calc(100% + 22px);
  max-width: 450px;
  height: 61px;
  align-items: center;
  justify-content: center;
  margin-left: -11px;
  z-index: 99;
  background-color: #022CFF;
  border: none;
  color: #ffffff;
  font-size: 1.45rem;
  font-weight: 500;
  cursor: pointer;
}/*# sourceMappingURL=join.css.map */