@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

:root {
    --result-bg: url("https://s3.ap-northeast-2.amazonaws.com/img.bvoat.com/shop/member/result-back.png");
    --result-title-bg: url("https://s3.ap-northeast-2.amazonaws.com/img.bvoat.com/shop/member/bvoat-logo-earthst.png");
}

#memberJoin {
    width: 100%;
    max-width: 450px;
    padding: 19px 17px 100%;
    margin: 60px 0px 0px; //top_nav hide


    #memberJoinTitle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 26px;

        h1 {
            font-size: 2.45rem;
            font-weight: bold;
        }

        h2 {
            font-size: 1.45rem;
            font-weight: normal;
            margin-top: 6.9px;
        }
    }

    #memberJoinField {
        position: relative;
        width: 100%;
        max-width: 450px;

        fieldset {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            width: 100%;

            #joinForm {
                position: relative;
                width: 100%;
                max-width: 450px;

                .member_join_section {
                    display: flex;
                    flex-flow: column nowrap;
                    flex-basis: auto;
                    width: 100%;
                    max-width: 450px;

                    // 회원가입 정보 작성 리스트 
                    .member_join_list {
                        margin-bottom: 18.9px;

                        // 라벨
                        .input_label {
                            display: block;
                            font-weight: bold;
                            font-size: 1.45rem;
                            color: $bvt-black;
                            margin-bottom: 10.5px;
                        }

                        .member_join_input_wrap {
                            position: relative;
                            display: flex;
                            flex-flow: row nowrap;
                            justify-content: flex-start;
                            align-items: center;
                            width: 100%;
                            max-width: 450px;
                            font-size: 0;
                            ;

                            // input 박스
                            input {
                                width: 100%;
                                height: 44px;
                                padding: 12px 25px;
                                border-radius: 22px;
                                border: $bvt-input-border;
                                font-size: 1.35rem;
                                color: $bvt-darkgray;
                                box-sizing: border-box;
                                margin-right: 4px;

                                &::placeholder {
                                    font-size: 1.2rem;
                                    font-weight: lighter;
                                    color: $bvt-lightgray;
                                    letter-spacing: -0.3px;
                                }
                            }

                            /* 개별 input */
                            #member_id {
                                margin-right: 9.5px;
                            }

                            //비밀번호 확인
                            #user_passwd_confirm {
                                margin-top: 6.5px;
                            }

                            // 휴대전화
                            >select {
                                padding: 0 21px;
                                appearance: none;
                                background: $off-arrow no-repeat;
                                background-position: 85%;
                                margin-right: 4px;
                                cursor: pointer;
                            }

                            .mobile_input_box {
                                width: calc((100% - 112.27px) / 3);
                                height: 44px;
                                border-radius: 22px;
                                font-size: 1.25rem;
                                color: $bvt-darkgray;
                                border: $bvt-input-border;
                            }

                            #confirm_verify_mobile {
                                margin-top: 6px;
                            }

                            #expiryTime {
                                position: fixed;
                                right: 7%;
                                font-size: 1.2rem;
                                font-weight: bold;
                                color: $bvt-blue;
                            }

                            // 버튼
                            .input_btn {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 123px;
                                height: 44px;
                                border: $bvt-btn-border;
                                border-radius: 22px;
                                background: transparentize($bvt-black, 1);
                                font-size: 1.4rem;
                                font-weight: bold;
                                font-family: inherit;
                                letter-spacing: -.5px;
                                color: $bvt-blue;
                                word-break: keep-all;
                                cursor: pointer;
                            }

                        }

                        // 에러메시지
                        .val_check_msg {
                            word-wrap: break-word;
                            word-break: keep-all;
                            font-size: 1.2rem;
                            font-weight: bold;
                            color: $bvt-lightgray;
                            margin: 3px 0 0 3px;
                        }

                        .input_info_txt {
                            font-size: 1.25rem;
                            color: $bvt-darkgray;
                            letter-spacing: -.5px;
                            margin-top: 10.5px;
                        }
                    }

                }

                .member_agree_section {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: start;
                    align-items: center;
                    width: 100%;
                    vertical-align: middle;
                    font-size: 0;

                    .agreeAll {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        width: 100%;
                        height: 52px;
                        background-color: $bvt-whitegray;
                        padding: 15px;
                        font-size: 1.45rem;

                        .agreeArea_title {
                            display: flex;
                            align-items: center;

                            label {
                                display: block;
                                width: 350px;
                                height: 19px;
                                margin-left: 10px;
                                font-weight: bold;
                                font-size: 1.45rem;
                                color: $bvt-black;
                                cursor: pointer;
                            }

                            input {
                                width: 21px;
                                height: 21px;
                                cursor: pointer;
                            }
                        }
                    }

                    .agreeArea_control {
                        width: 100%;
                        transition: all 1s ease-in-out;

                        .agreeArea_title {
                            position: relative;
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            height: 52px;
                            padding: 15px;
                            cursor: pointer;
                            border-left: $bvt-btn-border-gray;
                            border-right: $bvt-btn-border-gray;
                            border-bottom: $bvt-btn-border-gray;

                            &::-webkit-details-marker {
                                font-size: 20px;
                                margin-right: 5px;
                            }

                            >label {
                                display: inline-block;
                                height: 19px;
                                margin-left: 10px;
                                font-weight: bold;
                                font-size: 14.5px;
                                color: $bvt-black;

                                >span {
                                    font-weight: lighter;
                                    color: $bvt-black;
                                }

                            }

                            >input {
                                width: 21px;
                                height: 21px;
                                cursor: pointer;
                            }
                        }

                        >.contents {
                            width: 100%;
                            height: 0;
                            color: $bvt-lightgray;
                            transition: all .5s;
                        }

                        &:not([open]) {
                            .agreeArea_title {
                                &::-webkit-details-marker {
                                    font-size: 20px;
                                    margin-right: 5px;
                                }

                                .agreeArea_arr {
                                    position: absolute;
                                    display: inline-block;
                                    width: 14px;
                                    height: 8px;
                                    background: $off-arrow no-repeat center;
                                    background-size: contain;
                                    right: 20px;
                                    cursor: pointer;
                                }
                            }

                            .contents {
                                width: 100%;
                                height: 0;
                                padding: 13px;
                                font-size: 12px;
                                color: $bvt-lightgray;
                                border-left: $bvt-btn-border-gray;
                                border-right: $bvt-btn-border-gray;
                                transition: all 0.5s ease-in-out;
                            }
                        }

                        &[open] {
                            .agreeArea_title {
                                .agreeArea_arr {
                                    position: absolute;
                                    display: inline-block;
                                    width: 14px;
                                    height: 8px;
                                    background: $open-arrow no-repeat center;
                                    background-size: contain;
                                    right: 20px;
                                    cursor: pointer;
                                }
                            }

                            .contents {
                                width: 100%;
                                height: 250px;
                                padding: 13px;
                                font-size: 12px;
                                color: $bvt-lightgray;
                                border-left: $bvt-btn-border-gray;
                                border-right: $bvt-btn-border-gray;
                                overflow: scroll;
                                transition: all .5s;
                            }
                        }
                    }

                    .agreeArea_marketing {
                        width: 100%;
                        border-left: $bvt-btn-border-gray;
                        border-right: $bvt-btn-border-gray;
                        border-bottom: $bvt-btn-border-gray;
                        padding-bottom: 30px;

                        .agreeArea_title {
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            height: 52px;
                            padding: 15px 15px 5px 15px;

                            label {
                                display: inline-block;
                                height: 19px;
                                margin-left: 10px;
                                font-weight: bold;
                                font-size: 14.5px;
                                color: $bvt-black;

                                >span {
                                    font-weight: lighter;
                                    color: $bvt-darkgray;
                                }

                                >p {
                                    margin-top: 10.5px;
                                    color: $bvt-darkgray;
                                    font-weight: normal;
                                    font-size: 1.3rem;
                                }
                            }

                            input {
                                width: 21px;
                                height: 21px;
                                cursor: pointer;
                            }
                        }

                        .agereeArea_marketing_list {
                            display: flex;
                            flex-flow: row nowrap;
                            align-items: center;
                            margin: 14px 0 0 46px;

                            li {
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: center;
                                align-items: center;
                                font-size: 13px;

                                input {
                                    display: inline-block;
                                    width: 17px;
                                    height: 17px;
                                    margin: 16.5px 9px 0 0;
                                    cursor: pointer;
                                }

                                label {
                                    display: inline-block;
                                    margin: 16.5px 19px 0 0;
                                    color: $bvt-darkgray;
                                    font-weight: normal;
                                    vertical-align: middle;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

.join_btn {
    position: fixed;
    display: flex;
    bottom: 0;
    width: calc(100%);
    max-width: 450px;
    height: 61px;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: $bvt-blue;
    border: none;
    cursor: pointer;

    >p {
        color: $bvt-white;
        font-size: 1.7rem;
        font-weight: bold;
        font-family: 'Pretendard', 'Noto Sans KR', 'Apple SD Gothic Neo', '나눔고딕', '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Verdana, AppleGothic, sans-serif;
    }
}


#memberResult {
    width: 100%;
    max-width: 450px;
    margin-top: -40px; //top_nav hide

    #memberResultTitle {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        max-width: 450px;
        height: 475px;
        padding: 68px 11px 0;
        margin-bottom: 36px;
        text-align: center;
        background: var(--result-bg) no-repeat;
        background-size: cover;

        h1 {
            display: none;
        }

        h2 {
            width: 100%;
            max-width: 450px;
            height: 135px;
            font-weight: 500;
            font-size: 24px;
            letter-spacing: -0.5px;
            line-height: 1.6em;
            text-align: center;
            margin-bottom: 36px;
            background: var(--result-title-bg) no-repeat center;
            background-position-y: 19px;
        }

        .member_result_card {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 151px;
            border-radius: 14px;
            box-shadow: $bvt-shadow;
            color: $bvt-black;
            background: $bvt-white;

            .profile_img {
                width: 68px;
                height: 68px;

                >img {
                    width: 68px;
                    height: 68px;
                    object-fit: cover;
                }
            }

            .profile_group {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                align-items: flex-start;
                width: calc(100% - 110px);

                .group_name {
                    margin-top: 6px;
                    font-size: 15px;
                    font-weight: 400;
                    color: $bvt-darkgray;
                }

                .profile_name {
                    font-size: 23px;
                    font-weight: 600;
                }

                .profile_txt {
                    font-size: 13px;
                    font-weight: 300;
                    margin-top: 10px;
                }

            }

        }

    }

    #memberResultTxt {
        padding-bottom: 100px;

        .result_welcome_txt {
            width: 100%;
            max-width: 450px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 17px;
                color: $bvt-black;
            }

            p {
                margin-top: 6px;
                font-size: 14px;
                font-weight: 300;
                color: $bvt-darkgray;
            }
        }
    }

}

.result_btn {
    position: fixed;
    display: flex;
    bottom: 0;
    width: calc(100% + 22px);
    max-width: 450px;
    height: 61px;
    align-items: center;
    justify-content: center;
    margin-left: -11px;
    z-index: 99;
    background-color: $bvt-blue;
    border: none;
    color: $bvt-white;
    font-size: 1.45rem;
    font-weight: 500;
    cursor: pointer;
}

//애스터리스크* 공통
i {
    font-style: normal;
    font-size: 1.5rem;
    font-weight: bold;
    color: $bvt-blue;
    margin-left: 2px;
}

em {
    font-weight: normal;
    margin-left: 2px;
}