@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#Basket {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px 150px;
  margin: 40px auto 80px;
}
#Basket #BasketTitle {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}
#Basket #BasketTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#Basket #BasketTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#Basket #BasketSection {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#Basket #BasketSection .empty {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #707070;
}

#BasketList {
  width: 100%;
  max-width: 450px;
}
#BasketList .boardList {
  width: 100%;
  max-width: 450px;
}
#BasketList .basket_list {
  width: 100%;
  max-width: 450px;
}
#BasketList .basket_list .basket_item {
  border-radius: 15px;
  border: 1px solid #E2E2E2;
  padding: 3% 5%;
  background: #ffffff;
  box-shadow: 3px 7px 11px #EDEFF5;
  margin-bottom: 15px;
}

.basket_count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  padding: 12px 23px;
  background: #F2F2F2;
  margin-bottom: 18px;
}
.basket_count > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.item_control {
  width: 100%;
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.item_control > input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.item_control .wish_btn {
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  padding: 3px 10px;
  font-size: 1.05rem;
  margin: 2px;
}
.item_control .del_btn {
  border: 1px solid #E2E2E2;
  border-radius: 30px;
  padding: 3px 10px;
  font-size: 1.05rem;
}

.item_desc {
  display: flex;
  flex-flow: row nowrap;
}
.item_desc .item_img {
  width: 85px;
}
.item_desc .item_img .thumb {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 85px;
}
.item_desc .item_img .thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.item_desc .item_img .thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.item_desc .item_img .order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #022CFF;
  font-size: 1.08rem;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 4px;
  padding: 4px 0;
}
.item_desc .item_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: calc(100% - 85px);
  padding: 0 12px;
}
.item_desc .item_info .item_name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 4px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2.2rem;
}
.item_desc .item_info .option {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.7rem;
}
.item_desc .item_info .price_list {
  margin-bottom: 8px;
}
.item_desc .item_info .price_list .display_product {
  font-size: 1.35rem;
  font-weight: 500;
  color: #292929;
  margin-top: 5px;
}
.item_desc .item_info .price_list .display_discount {
  font-size: 1.35rem;
  font-weight: 500;
  color: #292929;
}
.item_desc .item_info .mileage {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 12px;
}
.item_desc .item_info .mileage > img {
  display: none;
}
.item_desc .item_info .quantity {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 25px;
}
.item_desc .item_info .quantity .quan_down {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2025'%3E%3Cpath data-name='사각형 2328' fill='%23fff' d='M0 0h35v35H0z'/%3E%3Cpath data-name='Icon feather-minus' d='M11.5 17.5h13' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-position: center;
  border: 1px solid #E2E2E2;
}
.item_desc .item_info .quantity > input {
  width: 60px;
  height: 27px;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 3px;
  border: 1px solid #E2E2E2;
}
.item_desc .item_info .quantity .quan_up {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2025'%3E%3Cpath data-name='사각형 2328' fill='%23fff' d='M0 0h35v35H0z'/%3E%3Cg data-name='Icon feather-plus' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1754' d='M17.5 11v13'/%3E%3Cpath data-name='패스 1755' d='M11 17.5h13'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-position: center;
  border: 1px solid #E2E2E2;
}
.item_desc .item_info .total {
  width: 100%;
  padding: 4px 0;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  color: #022CFF;
}

.basket_select_action_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 35px;
}

.prd_select_btn {
  padding: 7px 16px;
  box-shadow: 0px 3px 7px rgba(112, 112, 112, 0.1529411765);
  border: 1px solid #E2E2E2;
  border-radius: 20px;
  background: #ffffff;
}

.select_clear {
  margin-left: 5px;
}

.basket_total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
}
.basket_total > li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 5px 5%;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  background: #FAFAFE;
  text-align: center;
  margin: 14px 5px;
}
.basket_total > li > h3 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.basket_total > li > p {
  display: flex;
  flex-flow: row nowrap;
  font-size: 1.3rem;
  font-weight: 400;
}
.basket_total > li .total_order {
  color: #022CFF;
  font-size: 1.4rem;
  font-weight: 600;
}

#orderFixItem {
  position: relative;
  width: 80%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 0 auto;
}
#orderFixItem > button {
  padding: 6% 12%;
  border-radius: 60px;
  font-weight: 500;
  font-size: 1.5rem;
}
#orderFixItem .order_select {
  background: #ffffff;
  border: 1px solid #022CFF;
  color: #022CFF;
}
#orderFixItem .order_all {
  background: #022CFF;
  color: #ffffff;
  margin-left: 6px;
}
#orderFixItem .naver_checkout {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 80px;
  left: 50%;
  transform: translate(-107px, 0);
}

.basket_select_btn_wrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.basket_select_btn_wrap > button {
  padding: 10px 20px;
  background: none;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 500;
  box-shadow: 0px 3px 7px rgba(112, 112, 112, 0.1529411765);
}/*# sourceMappingURL=basket.css.map */