#Basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin-top: -40px;
}

#Basket #BasketTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-bottom: 18px;
}

#Basket #BasketTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}

#Basket #BasketTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}

#Basket #BasketSection {
  width: 100%;
  max-width: 450px;
}

#Basket #BasketSection .basket_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 12px;
  padding: 12px 23px;
  background: #F2F2F2;
}

#Basket #BasketSection .basket_count > p {
  font-size: 1.5rem;
  font-weight: 500;
}

#Basket #BasketSection .basket_count > button {
  background: none;
  font-size: 1.45rem;
  font-weight: 600;
}

#Basket #BasketSection .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  color: #707070;
}

#Basket #BasketSection #BasketList {
  width: 100%;
  max-width: 450px;
}

#Basket #BasketSection #BasketList .basket_normal {
  width: 100%;
  max-width: 450px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list {
  width: 100%;
  max-width: 450px;
  padding: 11px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item {
  border-radius: 15px;
  border: 1px solid #E2E2E2;
  padding: 3% 5%;
  background: #ffffff;
  -webkit-box-shadow: 3px 7px 11px #EDEFF5;
          box-shadow: 3px 7px 11px #EDEFF5;
  margin-bottom: 12px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_control {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_control .item_check {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_control .non_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
  height: 20px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_control .non_checkbox > button {
  height: 20px;
  background: none;
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #E2E2E2;
  border-radius: 30px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_control .non_checkbox .wish_btn {
  width: 103px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_control .non_checkbox .del_btn {
  width: 30px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_img .item_img_link {
  position: relative;
  display: block;
  border-radius: 6px;
  overflow: hidden;
  width: 85px;
  height: 85px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_img .item_img_link > img {
  position: absolute;
  width: 85px;
  height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_img .order_btn {
  padding: 5px 0;
  background: #022CFF;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 4px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 85px);
  padding: 0 12px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 4px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_name > a {
  color: #022CFF;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.3rem;
  color: #707070;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price > p > .title {
  display: inline-block;
  font-weight: 500;
  color: #292929;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price .mileage > img {
  display: none;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price .quantity .quantity_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price .quantity .quantity_btn > img {
  width: 14px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price .quantity .quantity_btn > input {
  margin: 0 4px;
  border: none;
  text-align: center;
  font-size: 1.2rem;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_txt_wrap .item_price .quantity .quantity_btn > .quan_btn {
  background-color: #ffffff;
  font-size: 1.1rem;
  margin-left: 10px;
  padding: 7px;
}

#Basket #BasketSection #BasketList .basket_normal .basket_list .basket_item .item_desc .item_info .item_total {
  width: 100%;
  padding: 4px 0;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  color: #022CFF;
}

#Basket #BasketSection #BasketList .basket_select_btn_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#Basket #BasketSection #BasketList .basket_select_btn_wrap > button {
  padding: 10px 20px;
  background: none;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 500;
  -webkit-box-shadow: 0px 3px 7px #70707027;
          box-shadow: 0px 3px 7px #70707027;
}

#Basket #BasketSection .basket_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#Basket #BasketSection .basket_total > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 23px;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  background: #FAFAFE;
  text-align: center;
  margin: 14px 0;
}

#Basket #BasketSection .basket_total > li > h3 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

#Basket #BasketSection .basket_total > li > p {
  font-size: 1.3rem;
  font-weight: 300;
}

#Basket #BasketSection .basket_total > li .total_order {
  color: #022CFF;
  font-size: 1.5rem;
  font-weight: 600;
}

#Basket #BasketSection #orderFixItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#Basket #BasketSection #orderFixItem > button {
  padding: 20px 45px;
  border-radius: 60px;
  font-weight: 500;
  font-size: 1.6rem;
}

#Basket #BasketSection #orderFixItem .order_select {
  background: #ffffff;
  border: 1px solid #022CFF;
  margin-right: 12px;
  color: #022CFF;
}

#Basket #BasketSection #orderFixItem .order_all {
  background: #022CFF;
  color: #ffffff;
}
/*# sourceMappingURL=basket.css.map */