@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#Basket {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 23px 11px 150px;
    margin: 60px auto 80px; //top_nav hide

    #BasketTitle {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 24px;

        h1 {
            font-size: 2.4rem;
            font-weight: bold;
            letter-spacing: -.5px;
        }

    }

    #BasketSection {
        width: 100%;
        max-width: 450px;
        padding: 0 11px;

        .empty {
            text-align: center;
            margin-top: 50px;
            font-size: 1.9rem;
            font-weight: bold;
            line-height: 35px;
            padding-bottom: 100%;
            margin-bottom: 100%;
        }
    }
}


// 일반 상품 리스트
#BasketList {
    width: 100%;
    max-width: 450px;

    .boardList {
        width: 100%;
        max-width: 450px;
    }

    .basket_list {
        width: 100%;
        max-width: 450px;

        // 개별 아이템
        .basket_item {
            border-radius: 10px;
            border: $bvt-btn-border-gray;
            padding: 19.4px 16.1px;
            background: $bvt-white;
            margin-bottom: 10px;
        }
    }
}

// 상단 장바구니 갯수 표시
.basket_count {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    padding: 12px 23px;
    background: $bvt-whitegray;
    margin-bottom: 18px;

    >p {
        font-size: 1.5rem;
        font-weight: 500;
    }

}

//삭제/찜/주문

.item_control {
    width: 100%;
    height: 43px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 43px;
        border-radius: 5px;
        border: $bvt-btn-border-gray;
        font-size: 1.3rem;
        letter-spacing: -.4px;
        font-weight: normal;
        box-sizing: border-box;
    }

    .del_btn {
        width: 74px;
        min-width: 74px;
        margin-right: 4px;
        color: $bvt-darkgray;
    }

    .wish_btn {
        width: 100%;
        border: $bvt-btn-border;
        margin-right: 4px;
        color: $bvt-blue;
        background: $bvt-white;
    }

    .order_btn {
        width: 100%;
        border: $bvt-btn-border;
        background: $bvt-blue;
        color: $bvt-white;

    }

}

// 상품 상세
.item_desc {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 17px;

    .item_img {
        width: 100%;
        max-width: 114.5px;

        .thumb {
            position: relative;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            width: 100%;

            input[type="checkbox"] {
                position: absolute;
                width: 21px;
                height: 21px;
                z-index: 2;
                top: 7.3px;
                left: 5.6px;
                border-radius: 2px;
                border: 1px solid $bvt-darkgray;

                &:checked {
                    background: $bvt-blue;
                }
            }

            >a {
                display: block;
                position: relative;
                padding-top: 100%;
                overflow: hidden;
                border-radius: 10px;

                >img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
            }
        }

        .order_btn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            background: $bvt-blue;
            font-size: 1.08rem;
            color: $bvt-white;
            border-radius: 6px;
            margin-top: 4px;
            padding: 4px 0;
        }
    }

    .item_info {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        width: calc(100% - 114.59px - 19px);
        padding: 0 0 0 19px;

        //상품명
        .item_name {
            font-size: 1.75rem;
            font-weight: normal;
            margin-bottom: 11px;
            @include only-ellipsis(1, 2.5rem);
        }

        .option {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 8px;
            @include only-ellipsis(1, 1.3rem);
        }

        .price_list {
            margin-bottom: 5px;

            .display_product {
                font-size: 1.75rem;
                font-weight: bold;
                color: $bvt-black;
            }

            .display_discount {
                font-size: 1.35rem;
                font-weight: 500;
                color: $bvt-black;
            }

        }


        .delv_price {
            font-size: 1.25rem;
            font-weight: normal;
            color: $bvt-darkgray;
            letter-spacing: -0.4px;
            margin-bottom: 6.4px;
        }

        .quantity {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 25px;

            .quan_down {
                width: 25px;
                height: 25px;
                text-indent: -9999px;
                background: $minus-icon no-repeat;
                background-position: center;
                border: $bvt-btn-border-gray;
            }

            >input {
                width: 60px;
                height: 27px;
                text-align: center;
                font-size: 1.3rem;
                margin: 0 3px;
                border: $bvt-btn-border-gray;
            }

            .quan_up {
                width: 25px;
                height: 25px;
                text-indent: -9999px;
                background: $plus-icon no-repeat;
                background-position: center;
                border: $bvt-btn-border-gray;
            }

        }
    }
}

//상품 개별 가격
.total_price_each {
    width: 100%;
    padding: 4px 0;
    text-align: right;
    font-size: 1.65rem;
    font-weight: bold;
    color: $bvt-blue;
    border-top: $bvt-btn-border-gray;
    padding-top: 19px;
    margin-bottom: 13px;
}

// 상품 옵션

.item_option {
    width: 100%;
    font-size: 1.45rem;
    color: $bvt-black;
    letter-spacing: -.3px;
    padding-bottom: 18.6px;
    margin-bottom: 19px;

    .btnBasic {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 25px;
        border: $bvt-btn-border-gray;
        font-size: 1.25rem;
        font-weight: normal;
        color: $bvt-darkgray;
        background: $bvt-white;
        float: right;
    }

    .layerOptionModify {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        border-radius: 5px;
        background: $bvt-whitegray;
        margin-top: 14px;
        padding: 14.5px 24.2px;

        >ul {
            width: 100%;

            >li {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 5.2px;

                .optionItem,
                span {
                    font-size: 1.3rem;
                    font-weight: bold;
                }

                >select {
                    width: 80%;
                    height: 35px;
                    font-size: 1.3rem;
                    font-weight: normal;
                    color: $bvt-darkgray;
                    cursor: pointer;
                    border-radius: 20px;
                    padding: 0 8px;
                }

            }
        }

        .option_btn {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;

            >button {
                width: 55.11px;
                height: 28.57px;
                border-radius: 14px;
                background: $bvt-white;
                font-weight: normal;
                font-size: 1.25rem;
                margin: 0;
                box-sizing: border-box;
            }

            .modify_btn {
                border: $bvt-btn-border;
                color: $bvt-blue;
                margin-right: 4.9px;
            }

            .cancle_btn {
                border: $bvt-btn-border-gray;
                color: $bvt-darkgray;
            }
        }
    }
}

// 상품 선택 액션
.basket_select_action_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        border: $bvt-btn-border-gray;
        border-radius: 5px;
        background: $bvt-whitegray;
        font-size: 1.45rem;
        font-weight: bold;
        color: $bvt-darkgray;
        letter-spacing: -.3px;
    }

    #product_select_all {
        //전체선택
        min-width: 88px;
        background: #E6EEFF;
        border: $bvt-btn-border;
        color: $bvt-blue;
    }

    .basket_select_box {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;

        .select_del {
            width: 88px;
        }

        .select_clear {
            width: 39.5%;
            margin-left: 4px;
        }
    }
}

// 토탈
.basket_total {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 16px;
    border-top: 7px solid $bvt-whitegray;
    padding: 29px 32px 27px;

    .total {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        h2,
        h3,
        span,
        p {
            font-size: 1.5rem;
            font-weight: bold;
            color: $bvt-black;
        }


        &:nth-child(1) {
            margin-bottom: 13px;
        }

        &:nth-child(2) {
            margin-bottom: 13px;
        }

        //최종 금액
        .total_order {
            color: $bvt-blue;
        }
    }


}

.basket_total_btn_wrap {
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 66px;

    .order_select {
        width: 100%;
        height: 100%;
        color: $bvt-blue;
        margin-right: 4.5px;
        border-radius: 5px;
        background-color: #E6EEFF;
        font-size: 1.7rem;
        font-weight: bold;
        font-family: inherit;
    }

    .order_all {
        width: 100%;
        height: 100%;
        background: $bvt-blue;
        color: $bvt-white;
        border-radius: 5px;
        font-size: 1.7rem;
        font-weight: bold;
        font-family: inherit;
    }

    .naver_checkout {
        position: absolute;
        width: 100%;
        margin: 0 auto;
        top: 80px;
        left: 50%;
        transform: translate(-107px, 0);
    }
}

.basket_select_btn_wrap {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;

    >button {
        padding: 10px 20px;
        background: none;
        border-radius: 6px;
        font-size: 1.4rem;
        font-weight: 500;
        box-shadow: $bvt-btn-shadow;
    }
}


i {
    font-weight: normal;
    font-style: normal;
}