@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#Basket {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  max-width: 450px;
  padding: 23px 11px 150px;
  margin: 60px auto 80px;
}
#Basket #BasketTitle {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}
#Basket #BasketTitle h1 {
  font-size: 2.4rem;
  font-weight: bold;
  letter-spacing: -0.5px;
}
#Basket #BasketSection {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#Basket #BasketSection .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.9rem;
  font-weight: bold;
  line-height: 35px;
  padding-bottom: 100%;
  margin-bottom: 100%;
}

#BasketList {
  width: 100%;
  max-width: 450px;
}
#BasketList .boardList {
  width: 100%;
  max-width: 450px;
}
#BasketList .basket_list {
  width: 100%;
  max-width: 450px;
}
#BasketList .basket_list .basket_item {
  border-radius: 10px;
  border: 1px solid #E2E2E2;
  padding: 19.4px 16.1px;
  background: #ffffff;
  margin-bottom: 10px;
}

.basket_count {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  padding: 12px 23px;
  background: #F2F2F2;
  margin-bottom: 18px;
}
.basket_count > p {
  font-size: 1.5rem;
  font-weight: 500;
}

.item_control {
  width: 100%;
  height: 43px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.item_control a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  border-radius: 5px;
  border: 1px solid #E2E2E2;
  font-size: 1.3rem;
  letter-spacing: -0.4px;
  font-weight: normal;
  box-sizing: border-box;
}
.item_control .del_btn {
  width: 74px;
  min-width: 74px;
  margin-right: 4px;
  color: #707070;
}
.item_control .wish_btn {
  width: 100%;
  border: 1px solid #003DD3;
  margin-right: 4px;
  color: #003DD3;
  background: #ffffff;
}
.item_control .order_btn {
  width: 100%;
  border: 1px solid #003DD3;
  background: #003DD3;
  color: #ffffff;
}

.item_desc {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 17px;
}
.item_desc .item_img {
  width: 100%;
  max-width: 114.5px;
}
.item_desc .item_img .thumb {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}
.item_desc .item_img .thumb input[type=checkbox] {
  position: absolute;
  width: 21px;
  height: 21px;
  z-index: 2;
  top: 7.3px;
  left: 5.6px;
  border-radius: 2px;
  border: 1px solid #707070;
}
.item_desc .item_img .thumb input[type=checkbox]:checked {
  background: #003DD3;
}
.item_desc .item_img .thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.item_desc .item_img .thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.item_desc .item_img .order_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #003DD3;
  font-size: 1.08rem;
  color: #ffffff;
  border-radius: 6px;
  margin-top: 4px;
  padding: 4px 0;
}
.item_desc .item_info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: calc(100% - 114.59px - 19px);
  padding: 0 0 0 19px;
}
.item_desc .item_info .item_name {
  font-size: 1.75rem;
  font-weight: normal;
  margin-bottom: 11px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2.8rem;
}
.item_desc .item_info .option {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 8px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6rem;
}
.item_desc .item_info .price_list {
  margin-bottom: 5px;
}
.item_desc .item_info .price_list .display_product {
  font-size: 1.75rem;
  font-weight: bold;
  color: #292929;
}
.item_desc .item_info .price_list .display_discount {
  font-size: 1.35rem;
  font-weight: 500;
  color: #292929;
}
.item_desc .item_info .delv_price {
  font-size: 1.25rem;
  font-weight: normal;
  color: #707070;
  letter-spacing: -0.4px;
  margin-bottom: 6.4px;
}
.item_desc .item_info .quantity {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 25px;
}
.item_desc .item_info .quantity .quan_down {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2025'%3E%3Cpath data-name='사각형 2328' fill='%23fff' d='M0 0h35v35H0z'/%3E%3Cpath data-name='Icon feather-minus' d='M11.5 17.5h13' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-position: center;
  border: 1px solid #E2E2E2;
}
.item_desc .item_info .quantity > input {
  width: 60px;
  height: 27px;
  text-align: center;
  font-size: 1.3rem;
  margin: 0 3px;
  border: 1px solid #E2E2E2;
}
.item_desc .item_info .quantity .quan_up {
  width: 25px;
  height: 25px;
  text-indent: -9999px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2025'%3E%3Cpath data-name='사각형 2328' fill='%23fff' d='M0 0h35v35H0z'/%3E%3Cg data-name='Icon feather-plus' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1754' d='M17.5 11v13'/%3E%3Cpath data-name='패스 1755' d='M11 17.5h13'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-position: center;
  border: 1px solid #E2E2E2;
}

.total_price_each {
  width: 100%;
  padding: 4px 0;
  text-align: right;
  font-size: 1.65rem;
  font-weight: bold;
  color: #003DD3;
  border-top: 1px solid #E2E2E2;
  padding-top: 19px;
  margin-bottom: 13px;
}

.item_option {
  width: 100%;
  font-size: 1.45rem;
  color: #292929;
  letter-spacing: -0.3px;
  padding-bottom: 18.6px;
  margin-bottom: 19px;
}
.item_option .btnBasic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 25px;
  border: 1px solid #E2E2E2;
  font-size: 1.25rem;
  font-weight: normal;
  color: #707070;
  background: #ffffff;
  float: right;
}
.item_option .layerOptionModify {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  background: #F2F2F2;
  margin-top: 14px;
  padding: 14.5px 24.2px;
}
.item_option .layerOptionModify > ul {
  width: 100%;
}
.item_option .layerOptionModify > ul > li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.2px;
}
.item_option .layerOptionModify > ul > li .optionItem,
.item_option .layerOptionModify > ul > li span {
  font-size: 1.3rem;
  font-weight: bold;
}
.item_option .layerOptionModify > ul > li > select {
  width: 80%;
  height: 35px;
  font-size: 1.3rem;
  font-weight: normal;
  color: #707070;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 8px;
}
.item_option .layerOptionModify .option_btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.item_option .layerOptionModify .option_btn > button {
  width: 55.11px;
  height: 28.57px;
  border-radius: 14px;
  background: #ffffff;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 0;
  box-sizing: border-box;
}
.item_option .layerOptionModify .option_btn .modify_btn {
  border: 1px solid #003DD3;
  color: #003DD3;
  margin-right: 4.9px;
}
.item_option .layerOptionModify .option_btn .cancle_btn {
  border: 1px solid #E2E2E2;
  color: #707070;
}

.basket_select_action_wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}
.basket_select_action_wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  background: #F2F2F2;
  font-size: 1.45rem;
  font-weight: bold;
  color: #707070;
  letter-spacing: -0.3px;
}
.basket_select_action_wrap #product_select_all {
  min-width: 88px;
  background: #E6EEFF;
  border: 1px solid #003DD3;
  color: #003DD3;
}
.basket_select_action_wrap .basket_select_box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.basket_select_action_wrap .basket_select_box .select_del {
  width: 88px;
}
.basket_select_action_wrap .basket_select_box .select_clear {
  width: 39.5%;
  margin-left: 4px;
}

.basket_total {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  border-top: 7px solid #F2F2F2;
  padding: 29px 32px 27px;
}
.basket_total .total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.basket_total .total h2,
.basket_total .total h3,
.basket_total .total span,
.basket_total .total p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #292929;
}
.basket_total .total:nth-child(1) {
  margin-bottom: 13px;
}
.basket_total .total:nth-child(2) {
  margin-bottom: 13px;
}
.basket_total .total .total_order {
  color: #003DD3;
}

.basket_total_btn_wrap {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 66px;
}
.basket_total_btn_wrap .order_select {
  width: 100%;
  height: 100%;
  color: #003DD3;
  margin-right: 4.5px;
  border-radius: 5px;
  background-color: #E6EEFF;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: inherit;
}
.basket_total_btn_wrap .order_all {
  width: 100%;
  height: 100%;
  background: #003DD3;
  color: #ffffff;
  border-radius: 5px;
  font-size: 1.7rem;
  font-weight: bold;
  font-family: inherit;
}
.basket_total_btn_wrap .naver_checkout {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  top: 80px;
  left: 50%;
  transform: translate(-107px, 0);
}

.basket_select_btn_wrap {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.basket_select_btn_wrap > button {
  padding: 10px 20px;
  background: none;
  border-radius: 6px;
  font-size: 1.4rem;
  font-weight: 500;
  box-shadow: 0px 3px 7px rgba(112, 112, 112, 0.1529411765);
}

i {
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=basket.css.map */