@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


//프레임
body {
    background: none !important;
}


#orderForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 40px 0;
    margin-top: 40px; //top_nav hide
    font-size: 100% !important;
}

// //타이틀
#orderFormTitle {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 100%;

    >h1 {
        font-size: 19px !important;
        font-weight: 700;
        margin-bottom: 15px;
    }

    >h2 {
        font-size: 13px !important;
        font-weight: 300;
        color: $bvt-lostfocus-gray;
        line-height: 20px;
    }
}

//주문서 컨테이너
#mCafe24Order {
    width: 100%;
    max-width: 450px;
    margin-bottom: 40px;

    @media (min-width: 1024px) {
        border: none !important;
        background: none;
    }
}

//!!! form_onetouch.css 중에서 필요한 셀렉터만 선택해서 작업

//선물하기
.webnmobile_order_html {
    >label {
        font-size: 1.4rem;
        font-weight: 500;
        color: $bvt-darkgray;
    }
}

//title
.title {
    background: $bvt-bg-lightblue;
}

#mCafe24Order .ec-base-fold>.title {
    border-bottom: 1px solid #d7d5d580;
}

// 강조 색상
.txtEm,
.txtStrong {
    color: $bvt-blue !important;
    font-weight: 600 !important;
}

//'필수'
.icoRequired {
    width: 11px !important;
    height: 11px !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12'%3E%3Cpath fill='%23022cff' d='M11.8 7.84 8.4 6l3.4-1.84a.36.36 0 0 0 .15-.51l-.8-1.3a.41.41 0 0 0-.55-.14L7.2 4.05V.38A.39.39 0 0 0 6.8 0H5.2a.39.39 0 0 0-.4.38v3.67L1.4 2.21a.41.41 0 0 0-.55.14l-.8 1.3a.36.36 0 0 0 .15.51L3.6 6 .2 7.84a.36.36 0 0 0-.15.51l.8 1.3a.42.42 0 0 0 .55.14l3.4-1.84v3.67a.39.39 0 0 0 .4.38h1.6a.39.39 0 0 0 .4-.38V7.96l3.4 1.84a.41.41 0 0 0 .55-.14l.8-1.3a.36.36 0 0 0-.15-.51Z' data-name='Icon awesome-star-of-life'/%3E%3C/svg%3E") no-repeat 0 0 !important;
    background-size: auto 9px !important;
}

//결제정보 padding
.segment {
    padding: 20px 16px 20px;
}



// //heading
// .heading {
//     font-size: 1.5rem !important;
// }

// //주소
// #ec-shop-deliveryInfoAddress {
//     display: block;
// }

// //휴대전화
// #ec-shop-deliveryInfoCell {
//     padding-left: 11px;
// }

// //배송지 목록에서 휴대전화
// .xans-order-deliverylist {
//     dd {
//         padding-left: 11px;
//     }
// }

// //배송 메시지 셀렉터
// #omessage_select {
//     font-size: 1.25rem;
// }

// //선물하기 - 선물 메시지
// #omessage {
//     font-size: 1.3rem;
// }

// //주문상품
// .prdBox {
//     height: auto;

//     .thumbnail {
//         border: none;
//         border-radius: 4px;
//     }

//     .description {
//         .prdName {
//             font-weight: 600;
//             margin-bottom: 6px;
//         }

//         .info {

//             li,
//             p,
//             span {
//                 font-size: 1.15rem !important;
//                 margin-bottom: 3.5px;
//             }
//         }
//     }
// }

// //결제정보 내부 금액
// .right {
//     font-size: 1.25rem;
// }

// //최근 결제 수단
// .payMethod>li.selected>label {
//     border-color: $bvt-bg-blue;
//     font-size: 1.3rem;
// }

// .payMethod>li.selected>.inner {
//     border: $bvt-btn-border;
//     font-size: 1.25rem;
// }

// //다른 결제 수단
// .payMethod>li>label {
//     border-color: $bvt-bg-blue;
//     font-size: 1.3rem;
// }

// //현금영수증
// .receiptArea {
//     .title {
//         padding: 11px 15px 10px;
//     }
// }

// #cashreceipt_display_area {
//     font-size: 1.3rem;

//     >label {
//         font-size: 1.3rem;
//     }
// }

// #cashreceipt_regist0 {
//     margin: 20px 15px 9px;
// }

// //적립 혜택 금액
// #ec-jigsaw-heading-benefit {
//     font-size: 1.4rem !important;
// }

// //모든 약관 동의
// .allAgree {
//     label {
//         font-size: 1.5rem;
//     }
// }

// //구매 버튼
// .ec-base-button.gFull {
//     margin: 11px 0;
// }

// #btn_payment {
//     width: 100%;
//     max-width: 450px;
//     background: $bvt-blue;

//     //총금액
//     #total_order_sale_price_view {
//         font-size: 1.65rem !important;
//         font-weight: 700;
//     }
// }

// //하단 설명
// .helpArea {
//     >ul {
//         font-size: 1.23em;
//     }
// }


// //쿠폰 페이지
// .xans-coupon-selectnew {
//     width: 100%;
//     max-width: 450px;
//     font-size: 1.2rem !important;
//     margin: 0 auto;
//     h1{
//         font-size: 1.4rem !important;
//         font-weight: 600 !important;
//         background: $bvt-blue !important;
//         color: $bvt-white !important;
//     }
//     .wrap{
//         .pannelArea {
//             .title{
//                 h2, h3{
//                     font-size: 1.3rem !important;
//                 }
//             }
//             .content{
//                 .segment{
//                     ul{
//                         select{
//                             font-size: 1.3rem !important;
//                         }
//                     }
//                 }
//             }
//         }
//         .ec-base-fold{
//             font-size: 1.3rem !important;
//             .title{
//                 h2, h3{font-size: 1.2rem  !important;}
//             }
//             .contents{
//                 th, td{
//                     font-size: 1.15rem  !important;
//                 }
//             }
//             .helpArea{
//                 li{
//                     font-size: 1rem  !important;
//                 }
//             }
//         }
//     }
//     .ec-base-button.gFull{
//         display: flex;
//         flex-flow: row nowrap;
//         align-items: center;
//         padding: 15px auto !important;
//         .btnSubmit{
//             width: 48%;
//             background: $bvt-blue !important;
//             border: none  !important;
//             font-weight: 500;
//         }
//         .btnEm{
//             width: 48%;
//             border: none  !important;
//             font-weight: 600;
//         }
//     }
// }