@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#mCafe24Order {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 80px 0 !important;
  border: none;
  background-color: #FAFAFE;
}
#mCafe24Order .title_section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 330px;
  background: #ffffff;
  overflow: hidden;
}
#mCafe24Order .title_section .title_wrap {
  width: 100%;
  height: 207px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
#mCafe24Order .title_section .title_wrap p {
  font-size: 4.4rem;
  font-weight: 300;
  -webkit-animation: rise-item 1s;
          animation: rise-item 1s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#mCafe24Order .title_section .title_wrap h1 {
  font-size: 4.4rem;
  font-weight: bold;
  line-height: 4.8rem;
  text-align: center;
  -webkit-animation: rise-item 1.6s;
          animation: rise-item 1.6s;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
#mCafe24Order .title_section .title_wrap h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #707070;
  -webkit-animation: rise-item 2s;
          animation: rise-item 2s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes rise-item {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes rise-item {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
#mCafe24Order .mileage_section {
  width: 100%;
  height: 240px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: none;
  margin: 0;
  padding: 64px 0 52px 0;
  box-sizing: border-box;
  font-size: 1.35rem;
  color: #707070;
  background: rgba(0, 0, 0, 0);
}
#mCafe24Order .mileage_section h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 24px;
}
#mCafe24Order .mileage_section .mileage {
  width: 100%;
  padding: 0 13px;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: center;
}
#mCafe24Order .mileage_section .mileage::after {
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='428' height='2'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.023' y1='.5' x2='1' y2='.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23f9f100'/%3E%3Cstop offset='.71' stop-color='%2332acef'/%3E%3Cstop offset='1' stop-color='%23022cff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect data-name='사각형 2302' width='428' height='2' rx='1' fill='url(%23a)'/%3E%3C/svg%3E") no-repeat center;
  margin: 24px 0;
}
#mCafe24Order .mileage_section p {
  font-size: inherit;
  font-weight: 300;
}
#mCafe24Order .segment_section {
  width: calc(100% - 22px);
  background: #ffffff;
  border: 1px solid #E2E2E2;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 15px;
}
#mCafe24Order .segment_section .segment_details {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
}
#mCafe24Order .segment_section .segment_details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 1.35rem;
  font-weight: 500;
  color: #707070;
}
#mCafe24Order .segment_section .segment_details summary::after {
  display: inline-block;
  content: "";
  width: 13px;
  height: 7.5px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.582' height='7.194'%3E%3Cpath data-name='Icon ionic-ios-arrow-forward' d='M6.293 5.025 11.051.264a.9.9 0 0 1 1.27 0 .907.907 0 0 1 0 1.274L6.93 6.932a.9.9 0 0 1-1.24.026L.262 1.541A.9.9 0 1 1 1.532.268Z' fill='%23ababab'/%3E%3C/svg%3E") no-repeat center;
  margin-top: 2px;
}
#mCafe24Order .segment_section .segment_details .segment_info {
  padding: 22px 25px 25px;
  border-top: 1px solid #E2E2E2;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table li {
  font-size: 1.3rem;
  font-weight: 300;
  color: #707070;
  line-height: 1.8rem;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table li span {
  font-size: 1.24rem;
  font-weight: normal;
  word-break: keep-all;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table li:nth-child(3) {
  margin-top: 20px;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table li:nth-child(3) button {
  width: 114px;
  height: 35px;
  background: #ECECF4;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #707070;
  transition: all 0.3s;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table li:nth-child(3) button:hover {
  color: #292929;
  transition: all 0.3s;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table .segment_sort {
  margin-bottom: 6px;
}
#mCafe24Order .segment_section .segment_details .segment_info .ec-base-table .segment_sort span {
  font-weight: 600;
}
#mCafe24Order .order_product_section {
  width: calc(100% - 22px);
  background: #ffffff;
  border: 1px solid #E2E2E2;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 15px;
}
#mCafe24Order .order_product_section .order_product_details {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: auto;
}
#mCafe24Order .order_product_section .order_product_details summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  padding: 0 25px;
  box-sizing: border-box;
  font-size: 1.35rem;
  font-weight: 500;
  color: #707070;
}
#mCafe24Order .order_product_section .order_product_details summary::after {
  display: inline-block;
  content: "";
  width: 13px;
  height: 7.5px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.582' height='7.194'%3E%3Cpath data-name='Icon ionic-ios-arrow-forward' d='M6.293 5.025 11.051.264a.9.9 0 0 1 1.27 0 .907.907 0 0 1 0 1.274L6.93 6.932a.9.9 0 0 1-1.24.026L.262 1.541A.9.9 0 1 1 1.532.268Z' fill='%23ababab'/%3E%3C/svg%3E") no-repeat center;
  margin-top: 2px;
}
#mCafe24Order .order_product_section .order_product_details .order_info {
  padding: 0 25px;
  border-top: 1px solid #E2E2E2;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: center;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 200;
  color: #707070;
  border-bottom: 1px solid #E2E2E2;
  padding: 22px 0;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list .thumbnail {
  position: relative;
  width: 72px;
  height: 72px;
  min-width: 72px;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list .thumbnail a .thumbnail_img {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 0;
  left: 0;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list .description {
  width: 75%;
  margin-left: 8px;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list .description .prdName a {
  font-size: 1.35rem;
  font-weight: 500;
  color: #707070;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.9rem;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list .description .info {
  margin-top: 8px;
  font-size: 1.05rem;
  font-weight: 300;
  line-height: 1.4rem;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_list_box .product_list .description .info li .option {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.3rem;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_total {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 53px;
  padding: 12px 0;
  color: #707070;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_total .total_price {
  font-size: 1.4rem;
  font-weight: 300;
}
#mCafe24Order .order_product_section .order_product_details .order_info .product_total .price_num {
  font-size: 1.4rem;
  font-weight: 500;
}
#mCafe24Order .move_btn_section {
  background-color: saddlebrown;
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1999;
  width: 100%;
  height: 64px;
  max-width: 450px;
  min-width: 200px;
  bottom: 0;
  overflow: hidden;
}
#mCafe24Order .move_btn_section a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 64px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.38rem;
}
#mCafe24Order .move_btn_section a:nth-child(1) {
  background: #292929;
}
#mCafe24Order .move_btn_section a:nth-child(2) {
  background: #022CFF;
}/*# sourceMappingURL=order_result.css.map */