@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

select,
a {
    font-size: 1.3rem !important;
}

#mCafe24Order {
    width: 100%;
    max-width: 450px;
    margin: 30px auto 0;
    padding: 65px 0 0 0;
}


#mCafe24Order.typeHeader {
    padding-top: 0;
}