@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";


#orderForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 23px 11px;
    margin-top: 40px; //top_nav hide

    #orderFormTitle {
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 18px;

        h2{
            font-size: 1.9rem;
            font-weight: 700;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 1.3rem;
            font-weight: 300;
            color: $bvt-lostfocus-gray;
            line-height: 1.9rem;
        }
    }
    #mCafe24Order{

        //설정이 많아서 필요한 셀렉터만 선택해서 작업
        // 강조 색상
        .txtEm, .txtStrong{
            color: $bvt-blue;
            font-weight: 500;
        }
        // a 폰트 사이즈
        .ec-base-tab li a{
            font-size: 1.3rem;
        }
        //title
        .title{
            > h2, > h3{
                font-size: 1.4rem;
            }
        }
        //heading
        .heading{
            font-size: 1.5rem;
        }

        //주소
        .address{
            font-size: 1.25rem;
        }
        //셀렉터
        #omessage_select{
            font-size: 1.25rem;
        }
        //결제정보 내부 금액
        .right{
            font-size: 1.25rem;
        }
        //최근 결제 수단
        .payMethod > li.selected > label {
            border-color: $bvt-bg-blue;
            font-size: 1.3rem;
        }
        .payMethod > li.selected > .inner{
            border: $bvt-btn-border;
            font-size: 1.25rem;
        }
        //다른 결제 수단
        .payMethod > li > label{
            border-color: $bvt-bg-blue;
            font-size: 1.3rem;
        }
        //현금영수증
        .receiptArea{
            padding: 0 0 10px;
        }
        #cashreceipt_display_area{
            font-size: 1.3rem;
            >label{
                font-size: 1.3rem;
            }
        }
        #cashreceipt_regist0{
            margin: 20px 15px 9px;
        }
        //모든 약관 동의
        .allAgree{
            label{
                font-size: 1.5rem;
            }
        }
        //구매조건 확인 및 결제진행 동의
        #chk_purchase_agreement{
            label{
                padding-left: 25px;
                font-size: 1.5rem;
            }
        }
        //하단 설명
        .helpArea{
           >ul{ font-size: 1.23em;}
        }
    }
}
