@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#normalPackageWrap {
    background: #ff00ff90;
}

#listmainWrap {
    background: #21bdbd80;
}

#supplyMinishop {
    width: 100%;
    max-width: 450px;
    margin: 81px 0 80px 0;

    //상단 이미지
    #supplyMinishopTitle {
        width: 100%;
        display: block;
        margin: 0 0 20px 0;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    //공급사 상품 검색  
    #supplyItemSearch {
        display: block;
        width: 100%;
        padding: 20px 0;

        fieldset {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-end;

            border: 0;

            label {
                display: block;
                font-size: 1.3rem;
                font-weight: 600;
                margin: 0 0 10px 0;
                cursor: pointer;
            }

            #searchSection {
                display: flex;
                flex-flow: row nowrap;

                #searchSupply {
                    display: inline-block;
                    width: 50px;
                    border: $bvt-btn-border-gray;
                    border-radius: 2px;
                }

                #searchBtn {
                    display: inline-block;
                    background: transparent;
                    margin-left: 10px;
                    border: $bvt-btn-border-gray;
                    padding: 0 8px;
                }
            }
        }
    }

    //공급사 상품 진열
    #supplyItemList {

        //상품 정렬 select
        #product_normalmenu {
            position: relative;
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            width: 100%;
            height: 50px;
            padding: 11px 0;

            >select {
                display: block;
                position: absolute;
                width: 67px;
                height: 17px;
                right: 10px;
                padding: 2px;
                appearance: none;
                border: none;
                color: $bvt-darkgray;
                font-size: 1.2rem;
                cursor: pointer;
            }

            >label {
                display: block;
                position: absolute;
                font-size: 1.5rem;
                top: calc(50% - 12px);
                right: 11px;
                color: $bvt-darkgray;
                cursor: pointer;
            }

        }
    }
}

.product_listnormal_list_wrap {
    display: flex;
    flex-flow: row wrap;

    .listnormal_list {
        width: calc(50% - 4px);

        &:nth-child(2n-1) {
            margin-right: 8px;
        }
    }
}