#basketLayer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.3);
  z-index: 1000;
}

#basketLayer .layer_basket {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  height: 30%;
  border: 0;
  background: #ffffff;
  overflow: hidden;
}

#basketLayer .layer_basket h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  font-size: 1.6rem;
  font-weight: 400;
  background: #FAFAFE;
}

#basketLayer .layer_basket .basket_wrap {
  width: 450px;
  height: 190px;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList {
  width: 100%;
  max-width: 450px;
  height: 180px;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList .basket_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList .basket_item > a {
  display: block;
  border-radius: 6px;
  overflow: hidden;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList .basket_item > ul {
  text-align: center;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList .basket_item > ul .name {
  font-size: 1.2rem;
  font-weight: 500;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList .basket_item > ul .option {
  font-size: 1.2rem;
  font-weight: 300;
  color: #707070;
}

#basketLayer .layer_basket .basket_wrap .Order_prdList .basket_item > ul .price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5px;
}

#basketLayer .layer_basket .basket_wrap .progressbar {
  width: 100%;
  height: 5px;
  bottom: 58px;
  left: 0;
}

#basketLayer .layer_basket .layer_basket_btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  max-width: 450px;
  height: 61px;
  padding: 0;
}

#basketLayer .layer_basket .layer_basket_btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  font-weight: 500;
  font-size: 1.4rem;
  cursor: pointer;
}

#basketLayer .layer_basket .layer_basket_btn .move_basket_btn {
  background: #ffffff;
  color: #292929;
}

#basketLayer .layer_basket .layer_basket_btn .stay_btn {
  background: #022CFF;
  color: #ffffff;
}
/*# sourceMappingURL=add_basket2.css.map */