@charset "utf-8";
@import "../../../../layout/basic/css/abstracts/mixin";
@import "../../../../layout/basic/css/abstracts/variables";

#basketLayer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: transparentize($bvt-black, 0.7), ;
    z-index: 1000;
    .ec-base-layer{
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        width: 100%;
        max-width: 450px;
        height: 50vh;
        border: 0;

        h3{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 45px;
            font-size: 1.6rem;
            font-weight: 400;
            background: $bvt-bg-lightblue;
        }
        
        .total_basket{
            width: 100%;
            max-width: 450px;
            .total_basket_wrap{
                width: 100%;
                max-width: 450px;
                overflow: hidden;
            //개별 아이템
                .total_basket_item{
                    width: 100%;
                    max-width: 450px;
                    .resImg{
                        position: relative;
                        width: 100px;
                        border-radius: 8px;
                        padding-bottom: 100px;
                        overflow: hidden;
                        .basket_thumbnail{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            img{
                                height: auto;
                                width: 100%;
                            }
                        }
                    }
                    
                    .basket_info_wrap{
                        display: block;
                    }



                }
            }
        }

        .ec-base-button{
            position: relative;
            bottom: 0;
            width: 100%;
        }
    }
}