@charset "utf-8";
@import "../../../../layout/basic/css/abstracts/mixin";
@import "../../../../layout/basic/css/abstracts/variables";

#basketLayer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    background: transparentize($bvt-black, 0.7), ;
    z-index: 100000;

    .layer_basket {
        position: fixed;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        bottom: 0;
        width: 100%;
        max-width: 450px;
        height: 340px;
        border: 0;
        background: $bvt-white;
        overflow: hidden;
        h1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            font-size: 1.6rem;
            font-weight: 400;
            background: $bvt-bg-lightblue;
        }

        .basket_wrap {
            width: 450px;
            height: 190px;

            >ul {
                width: 100%;
                max-width: 450px;
                height: 180px;

                .basket_item {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 100%;
                    >a{
                        display: block;
                        border-radius: 6px;
                        overflow: hidden;
                    }

                    >ul{
                        text-align: center;
                        .name{
                            font-size: 1.2rem;
                            font-weight: 500;
                        }
                        .option{
                            font-size: 1.2rem;
                            font-weight: 300;
                            color: $bvt-darkgray;
                        }
                        .price{
                            font-size: 1.2rem;
                            font-weight: 500;
                            margin-top: 5px;
                        }

                    }
                }
            }
            .progressbar{
                width: 100%;
                height: 5px;
                bottom: 61px;
                left: 0;
            }
        }

        .layer_basket_btn {
            position: relative;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            bottom: 0;
            width: 100%;
            max-width: 450px;
            height: 61px;
            padding: 0;

            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
                font-weight: 500;
                font-size: 1.4rem;
                cursor: pointer;
            }

            .move_basket_btn {
                background: $bvt-white;
                color: $bvt-black;
            }

            .stay_btn {
                background: $bvt-blue;
                color: $bvt-white;
            }
        }
    }
}