@charset "UTF-8";
#category {
  width: 100%;
  max-width: 450px;
  padding: 23px 0;
  margin-top: 0px;
}

#category #categoryTitle {
  margin-bottom: 18px;
}

#category #categoryTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
  font-family: 'Jost';
}

#category #categoryTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}

#category #categorySwiper {
  width: calc(100% + 22px);
  max-width: 450px;
  height: 100%;
  margin-left: -11px;
  background: saddlebrown;
  overflow: hidden;
}

#category #categorySwiper .category_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 25px 25px 0 0;
  background: rgba(41, 41, 41, 0);
  top: 12px;
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet .tab_custom {
  font-size: 1.5rem;
  font-weight: 600;
}

#category #categorySwiper .category_pagination .swiper-pagination-bullet-active {
  background: red;
}

#category #categorySwiper .category_cont {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  border-radius: 20px;
  -webkit-box-shadow: 3px 7px 11px #EDEFF5;
          box-shadow: 3px 7px 11px #EDEFF5;
}

#category #categorySwiper .category_tag {
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background: sandybrown;
}

/* 발견하기 */
.margin-header.cat {
  margin-top: 84px;
}

.cat_background {
  background-color: #F5F6FC;
  padding-top: 40px;
}

.swipertab {
  padding-top: 13px;
  padding-bottom: 28px;
  text-align: center;
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.swipertab > div > div > span {
  color: #707070;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 15px;
}

.swipertab .selected > span {
  color: #022CFF;
  border-bottom: 3px solid #022CFF;
}

.xans-layout-category {
  border: 0;
}

.swipercontent {
  background-color: #fff;
  -webkit-box-shadow: 3px 0px 17px #E7EAF7;
          box-shadow: 3px 0px 17px #E7EAF7;
  border-radius: 20px;
  padding: 35px 0;
  top: -10px;
}

.cat_by-prd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cat_by-prd > div[class^="main-category"], .main-middle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div[class^="main-category"] {
  font-family: 'Jost', 'Noto Sans KR' !important;
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 10px;
}

.main-middle {
  margin-bottom: 40px;
}

.main-middle .middle-title {
  padding: 20px 0;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
  border-radius: 7px;
  border: 1px solid #DBDEE5;
}

.main-middle .middle-title.active {
  background-color: #022CFF;
  color: #fff;
}

.main-middle > div[class^="middle-category"] {
  width: calc(33% - 4px);
  margin-right: 5px;
  margin-bottom: 5px;
}

.middle-small {
  margin: 0px 0 15px 0;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 13px;
}

div[class^="small-category"] {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #F2F2F2;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: normal;
}

div[class^="small-category"].all {
  background-color: #EBEFFF;
  color: #022CFF;
}

.main-middle > div[class^="middle-tag-category"] {
  width: calc(50% - 5px);
  margin-right: 5px;
  margin-bottom: 5px;
}

div[class^="small-tag-category"] {
  margin-right: 10px;
  margin-top: 10px;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 100px;
  font-size: 13px;
  font-weight: normal;
  border: 1px solid #D8D8D8;
}

div[class^="small-tag-category"].all {
  background-color: #EBEFFF;
  color: #022CFF;
  border: 0;
}
/*# sourceMappingURL=category.css.map */