@charset "UTF-8";
:root {
  --box-dashline: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='428' height='1'%3E%3Cpath data-name='패스 1753' d='M0 .5h428' fill='none' stroke='%23eaeaf3' stroke-dasharray='10 3'/%3E%3C/svg%3E");
  --like-icon-bk: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.085' height='24.626'%3E%3Cpath data-name='패스 1748' d='M24.609 2.475a7.6 7.6 0 0 0-9.848-.754l-1.156 1.141-.387-.387A7.6 7.6 0 0 0 2.474 13.219l11.084 11.054L24.609 13.22a7.6 7.6 0 0 0 0-10.746ZM14.415 12.528c1.4.983 3.292 2.79 4.609 3.717l-4.609 4.73Zm-10.2 0-.527-.527a5.874 5.874 0 0 1 8.307-8.308l.667.666v16.583l-8.021-8.019Zm19.172-.527-3.322 3.238c-.961-.676-2.037-1.754-3.4-2.711-.551-.386-1.557-1.307-2.249-1.791V4.474a6.1 6.1 0 0 1 .649-.781 6.411 6.411 0 0 1 .8-.655 5.875 5.875 0 0 1 7.528 8.963Z' fill='%23292929' stroke='%23292929' stroke-width='.5'/%3E%3C/svg%3E");
}

#productDetailTop {
  position: relative;
  margin-top: -40px;
}

#productDetailTop .product_brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 10px 0 15px 0;
}

#productDetailTop .product_brand h2,
#productDetailTop .product_brand h3 {
  font-size: 1.25rem;
  font-weight: 300;
  color: #707070;
  margin-bottom: 2px;
}

#productDetailTop .product_brand h2 em,
#productDetailTop .product_brand h3 em {
  font-weight: 600;
}

#productDetailTop .product_thumnail_wrap {
  position: relative;
  width: calc(100% + 22px);
  margin-left: -11px;
  max-width: 450px;
  /* 1:1 ratio */
  padding-top: 100%;
  overflow: hidden;
}

#productDetailTop .product_thumnail_wrap .product_icon {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 0;
}

#productDetailTop .product_thumnail_wrap img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#productDetailTop .product_info_wrap {
  position: relative;
  width: 100%;
  height: auto;
  padding: 17px 0;
  border-bottom: 1px solid #E2E2E2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#productDetailTop .product_info_wrap h2 {
  font-size: 1.35rem;
  font-weight: 600;
  color: #292929;
  margin-bottom: 17px;
}

#productDetailTop .product_info_wrap .price_wrap {
  margin-bottom: 17px;
}

#productDetailTop .product_info_wrap .price_wrap .price {
  font-size: 1.6rem;
  font-weight: 600;
  color: #022CFF;
  margin-right: 6px;
}

#productDetailTop .product_info_wrap .price_wrap .price > span {
  font-weight: 300;
  color: #292929;
}

#productDetailTop .product_info_wrap .price_wrap .if_sale_price {
  font-size: 1.25rem;
  text-decoration: line-through;
  color: #ABABAB;
}

#productDetailTop .product_info_wrap .price_wrap .if_sale_price > span {
  margin-left: 1px;
  font-weight: 400;
  text-decoration: line-through;
  color: #ABABAB;
}

#productDetailTop .product_info_wrap .tag-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#productDetailTop .product_info_wrap .tag-box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 28px;
  padding: 0 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #E2E2E2;
  border-radius: 14px;
  margin: 0 6px 6px 0;
  font-size: 1.2rem;
  font-weight: 400;
}

#productDetailTop .product_info_wrap .share_btn {
  position: absolute;
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='35'%3E%3Cg data-name='그룹 2024' transform='translate(-406 -606)'%3E%3Ccircle data-name='타원 717' cx='17.5' cy='17.5' r='17.5' transform='translate(406 606)' fill='%23f2f2f2'/%3E%3Cg data-name='Icon feather-share-2' fill='none' stroke='%23707070' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'%3E%3Cpath data-name='패스 1743' d='M429.98 617.663a2.663 2.663 0 1 1-2.664-2.663 2.663 2.663 0 0 1 2.663 2.663Z'/%3E%3Cpath data-name='패스 1744' d='M419.327 623.877a2.663 2.663 0 1 1-2.664-2.663 2.663 2.663 0 0 1 2.664 2.663Z'/%3E%3Cpath data-name='패스 1745' d='M429.98 630.091a2.663 2.663 0 1 1-2.664-2.663 2.663 2.663 0 0 1 2.664 2.663Z'/%3E%3Cpath data-name='패스 1746' d='m418.962 625.218 6.063 3.535'/%3E%3Cpath data-name='패스 1747' d='m425.017 619.004-6.055 3.535'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  text-indent: -9999px;
  top: calc(19%);
  right: 0;
}

#productDetailTop .delivery_wrap {
  width: 100%;
}

#productDetailTop .delivery_wrap .delivery_info {
  width: 100%;
  margin: 24px 0;
}

#productDetailTop .delivery_wrap .delivery_info li {
  position: relative;
  font-size: 1.25rem;
  color: #292929;
  margin-bottom: 6px;
}

#productDetailTop .delivery_wrap .delivery_info li .delivery_title {
  position: relative;
  font-weight: 600;
}

#productDetailTop .delivery_wrap .delivery_info li .delivery_detail {
  position: absolute;
  left: 80px;
  font-weight: 300;
}

#productDetailTop .delivery_wrap .delivery_info li .delivery_detail > em {
  font-weight: 600;
  color: #022CFF;
}

#productDetailTop .mileage_wrap {
  position: relative;
  width: calc(100% + 22px);
  margin-left: -11px;
  background: #FAFAFE;
  padding: 35px 11px 0;
}

#productDetailTop .mileage_wrap::after {
  position: relative;
  bottom: 0;
  display: block;
  content: " ";
  width: 100%;
  height: 2px;
  background: var(--box-dashline) no-repeat;
}

#productDetailTop .mileage_wrap > h1 {
  font-size: 1.45rem;
  margin-bottom: 2px;
}

#productDetailTop .mileage_wrap #mileage {
  position: relative;
  margin-bottom: 135px;
  color: #707070;
}

#productDetailTop .mileage_wrap #mileage::before {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='428' height='2'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='.023' y1='.5' x2='1' y2='.5' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23f9f100'/%3E%3Cstop offset='.71' stop-color='%2332acef'/%3E%3Cstop offset='1' stop-color='%23022cff'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect data-name='사각형 2302' width='428' height='2' rx='1' fill='url(%23a)'/%3E%3C/svg%3E") no-repeat;
  top: 32px;
}

#productDetailTop .mileage_wrap #mileage .mileage_voter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: calc(50% - 35px);
}

#productDetailTop .mileage_wrap #mileage .mileage_voter p {
  font-size: 1.35rem;
}

#productDetailTop .mileage_wrap #mileage .mileage_voter p:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: inherit;
  top: 36px;
  font-size: 1.2rem;
}

#productDetailTop .mileage_wrap #mileage .mileage_voter p:nth-child(1)::before {
  display: block;
  content: "▲";
}

#productDetailTop .mileage_wrap #mileage .mileage_voter p:nth-child(2) > em {
  color: #292929;
  font-weight: 700;
}

#productDetailTop .mileage_wrap #mileage .mileage_voter p:nth-child(2) > span {
  color: #292929;
  font-weight: 300;
}

#productDetailTop .mileage_wrap #mileage .mileage_crew {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5px;
}

#productDetailTop .mileage_wrap #mileage .mileage_crew p {
  font-size: 1.35rem;
}

#productDetailTop .mileage_wrap #mileage .mileage_crew p:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: inherit;
  top: 36px;
  right: 0;
  font-size: 1.2rem;
}

#productDetailTop .mileage_wrap #mileage .mileage_crew p:nth-child(1)::before {
  display: block;
  content: "▲";
}

#productDetailTop .mileage_wrap #mileage .mileage_crew p:nth-child(2) > em {
  color: #292929;
  font-weight: 700;
}

#productDetailTop .mileage_wrap #mileage .mileage_crew p:nth-child(2) > span {
  color: #292929;
  font-weight: 300;
}

#productDetailTop .mileage_wrap #mileage .mileage_txt {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
  top: 90px;
  font-size: 1.1rem;
}

#productDetailTop .mileage_wrap #mileage .mileage_txt > a {
  color: #022CFF;
  text-decoration: underline;
}

#productDetailTop .mileage_wrap #mileage .mileage_crew_txt::before {
  display: inline-block;
  content: " ";
  width: 14px;
  height: 14px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.625' height='14.625'%3E%3Cpath data-name='Icon ionic-md-information-circle' d='M7.313 0a7.313 7.313 0 1 0 7.312 7.313A7.316 7.316 0 0 0 7.313 0Zm.738 10.969H6.574V6.574h1.477Zm0-5.836H6.574V3.656h1.477Z' fill='%23022cff'/%3E%3C/svg%3E");
  background-size: contain;
  margin-right: 5px;
}

#productDetailTop .mileage_wrap #mileage .mileage_mileage_txt::before {
  display: inline-block;
  content: " ";
  width: 14px;
  height: 14px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.625' height='14.625'%3E%3Cpath data-name='Icon ionic-md-information-circle' d='M7.313 0a7.313 7.313 0 1 0 7.312 7.313A7.316 7.316 0 0 0 7.313 0Zm.738 10.969H6.574V6.574h1.477Zm0-5.836H6.574V3.656h1.477Z' fill='%23707070'/%3E%3C/svg%3E");
  background-size: contain;
  margin-right: 5px;
}

#productDetailTop .stamp_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% + 22px);
  margin-left: -11px;
  background: #FAFAFE;
  padding: 35px 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#productDetailTop .stamp_wrap .stamp_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.45rem;
  margin-bottom: 14px;
}

#productDetailTop .stamp_wrap .stamp_title > span {
  font-weight: 300;
}

#productDetailTop .stamp_wrap .stamp_title > span .stamp_pcs {
  font-weight: 700;
}

#productDetailTop .stamp_wrap .stamp_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 305px;
  margin-bottom: 24px;
  height: 60px;
}

#productDetailTop .stamp_wrap .stamp_list li {
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='59' height='59'%3E%3Ccircle data-name='타원 721' cx='29.5' cy='29.5' r='29.5' fill='%23f2f2fc'/%3E%3C/svg%3E") no-repeat center;
}

#productDetailTop .stamp_wrap .stamp_txt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
  font-size: 1.1rem;
  color: #707070;
}

#productDetailTop .stamp_wrap .stamp_txt > a {
  display: inline;
  text-decoration: underline;
  margin-left: 3px;
  color: #707070;
}

#productDetailTop .stamp_wrap .stamp_txt::before {
  display: inline-block;
  content: " ";
  width: 14px;
  height: 14px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.625' height='14.625'%3E%3Cpath data-name='Icon ionic-md-information-circle' d='M7.313 0a7.313 7.313 0 1 0 7.312 7.313A7.316 7.316 0 0 0 7.313 0Zm.738 10.969H6.574V6.574h1.477Zm0-5.836H6.574V3.656h1.477Z' fill='%23707070'/%3E%3C/svg%3E");
  background-size: contain;
  margin-right: 5px;
}

.detail_tab_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
  padding: 52px 0 9px 0;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #292929;
}

.detail_tab_wrap .tab_custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 20px;
  background: transparent;
  margin-right: 20px;
  font-size: 1.45rem;
  color: #292929;
  opacity: 1;
}

.detail_tab_wrap .swiper-pagination-bullet-active {
  color: #4D4D4D;
  font-weight: bold;
}

.detail_tab_wrap .swiper-pagination-bullet-active::after {
  display: block;
  content: "";
  width: 102%;
  height: 3px;
  background: #292929;
  border-radius: 3px;
  margin-top: 6px;
}

#productDetailBottom {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: height;
  transition-property: height;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 20px 0;
  overflow: hidden;
}

#productDetailBottom .detail_swiper_wrap #tab0 img {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#productDetailBottom .detail_swiper_wrap #tab0 iframe {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

#productDetailBottom .detail_swiper_wrap #tab0 video {
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#productDetailBottom .detail_swiper_wrap #tab1 iframe {
  margin-top: -50px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tip {
  text-align: center;
  padding: 18px 0;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tip .tab-tip-head {
  color: #707070;
  font-size: 1.45rem;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .nodata {
  width: 100%;
  border: 1px solid #E2E2E2;
  text-align: center;
  font-size: 1.6rem;
  padding: 50px 0;
  margin: 15px 0;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna {
  width: 100%;
  padding: 0 22px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .noAccess {
  color: #707070;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions {
  width: 100%;
  height: 80px;
  padding: 10px 18px;
  margin-bottom: 15px;
  border: 1px solid #E2E2E2;
  border-radius: 3px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions:hover, #productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions:focus, #productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions:active {
  -webkit-box-shadow: 3px 7px 11px #EDEFF5;
          box-shadow: 3px 7px 11px #EDEFF5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.35rem;
  font-weight: 500;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link h1 img {
  width: 18px;
  height: 13px;
  margin-right: 6px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  color: #707070;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link p img {
  width: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 14px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_qna .tab-board-table .descriptions .description_link p .id::after {
  display: inline-block;
  content: "|";
  margin: 0 6px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns {
  width: 100%;
  padding: 0 22px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns .noAccess {
  text-align: center;
  font-size: 1.6rem;
  padding: 30px 0;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns .qna_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  width: 100px;
  height: 50px;
  background: #022CFF;
  border-radius: 60px;
  cursor: pointer;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .tab-tips-btns .qna_btn a {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.3rem;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 0 15px;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box .btnPrev_wrap,
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box .btnNext_wrap {
  display: block;
  width: 60px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box .btnPrev_wrap a,
#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box .btnNext_wrap a {
  color: #707070;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box ol li a {
  font-weight: 400;
}

#productDetailBottom .detail_swiper_wrap #tab2 div .product_detail_paginate .paginate-box ol li .this {
  font-weight: 600;
  color: #022CFF;
}

#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info {
  padding: 10px;
  margin-bottom: 10px;
}

#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .title {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid #022CFF;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > div {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > ul,
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > ul li,
#productDetailBottom .detail_swiper_wrap #tab3 div .tab_prd_info .content > ul li div {
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#buyAction {
  position: -webkit-sticky;
  position: sticky;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% + 22px);
  max-width: 450px;
  height: 64px;
  z-index: 100;
  margin-left: -11px;
  bottom: 0;
}

#buyAction button {
  font-weight: 600;
  font-size: 1.5rem;
}

#buyAction .wish_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100%;
  background: #ffffff;
  color: #292929;
  font-size: 1.15rem;
}

#buyAction .wish_btn::before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: var(--like-icon-bk) no-repeat;
  background-size: contain;
  padding-bottom: 7px;
}

#buyAction .gift_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100%;
  background: #292929;
  color: #ffffff;
  font-size: 1.15rem;
}

#buyAction .gift_btn::before {
  display: block;
  content: "";
  width: 22px;
  height: 22px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.011' height='24.011'%3E%3Cg data-name='Icon feather-gift' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1738' d='M20.81 12.006v11.006H3.201V12.006'/%3E%3Cpath data-name='패스 1739' d='M1 6.503h22.011v5.5H1Z'/%3E%3Cpath data-name='패스 1740' d='M12.006 23.011V6.503'/%3E%3Cpath data-name='패스 1741' d='M12.002 6.5H7.053a2.751 2.751 0 0 1 0-5.5c3.849 0 4.949 5.5 4.949 5.5Z'/%3E%3Cpath data-name='패스 1742' d='M12.006 6.5h4.953a2.751 2.751 0 1 0 0-5.5c-3.853 0-4.953 5.5-4.953 5.5Z'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: contain;
  padding-bottom: 8px;
}

#buyAction .buy_btn {
  width: 70%;
  height: 100%;
  background: #022CFF;
  color: #ffffff;
}
/*# sourceMappingURL=detail.css.map */