@charset "utf-8";
@import "../../../../layout/basic/css/abstracts/mixin";
@import "../../../../layout/basic/css/abstracts/variables";

//변수
:root {
    --box-dashline: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='428' height='1'%3E%3Cpath data-name='패스 1753' d='M0 .5h428' fill='none' stroke='%23eaeaf3' stroke-dasharray='10 3'/%3E%3C/svg%3E");

    --like-icon-bk: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.085' height='24.626'%3E%3Cpath data-name='패스 1748' d='M24.609 2.475a7.6 7.6 0 0 0-9.848-.754l-1.156 1.141-.387-.387A7.6 7.6 0 0 0 2.474 13.219l11.084 11.054L24.609 13.22a7.6 7.6 0 0 0 0-10.746ZM14.415 12.528c1.4.983 3.292 2.79 4.609 3.717l-4.609 4.73Zm-10.2 0-.527-.527a5.874 5.874 0 0 1 8.307-8.308l.667.666v16.583l-8.021-8.019Zm19.172-.527-3.322 3.238c-.961-.676-2.037-1.754-3.4-2.711-.551-.386-1.557-1.307-2.249-1.791V4.474a6.1 6.1 0 0 1 .649-.781 6.411 6.411 0 0 1 .8-.655 5.875 5.875 0 0 1 7.528 8.963Z' fill='%23292929' stroke='%23292929' stroke-width='.5'/%3E%3C/svg%3E");
}

// 상품 정보 상단
#productDetailTop {
    position: relative;
    margin-top: -40px;//top_nav hide

    .product_brand {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 10px 0 15px 0;

        h2,
        h3 {
            font-size: 1.25rem;
            font-weight: 300;
            color: $bvt-darkgray;
            margin-bottom: 2px;

            em {
                font-weight: 600;
            }
        }
    }

    .product_thumnail_wrap {
        position: relative;
        // content padding 극복
        width: calc(100% + 22px);
        margin-left: -11px;
        max-width: 450px;
        /* 1:1 ratio */
        padding-top: 100%;
        overflow: hidden;

        .product_icon {
            position: absolute;
            width: 75px;
            height: 75px;
            top: 0;
            left: 0;
        }

        img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
        }
    }

    .product_info_wrap {
        position: relative;
        width: 100%;
        height: auto;
        padding: 17px 0;
        border-bottom: $bvt-btn-border-gray;
        box-sizing: border-box;

        h2 {
            font-size: 1.35rem;
            font-weight: 600;
            color: $bvt-black;
            margin-bottom: 17px;
        }

        .price_wrap {
            margin-bottom: 17px;

            .price {
                font-size: 1.6rem;
                font-weight: 600;
                color: $bvt-blue;
                margin-right: 6px;

                >span {
                    font-weight: 300;
                    color: $bvt-black;
                }
            }

            .if_sale_price {
                font-size: 1.25rem;
                text-decoration: line-through;
                color: $bvt-lostfocus-gray;

                >span {
                    margin-left: 1px;
                    font-weight: 400;
                    text-decoration: line-through;
                    color: $bvt-lostfocus-gray;
                }
            }
        }

        .tag-box {
            display: flex;
            flex-flow: row wrap;
            justify-content: first baseline;
            align-items: center;
            width: 100%;

            >div {
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: fit-content;
                height: 28px;
                padding: 0 11px;
                box-sizing: border-box;
                border: $bvt-btn-border-gray;
                border-radius: 14px;
                margin: 0 6px 6px 0;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }

        .share_btn {
            position: absolute;
            display: block;
            width: 35px;
            height: 35px;
            background: $share-btn no-repeat center;
            text-indent: -9999px;
            top: calc(19%);
            right: 0;
        }
    }

    .delivery_wrap {
        width: 100%;

        .delivery_info {
            width: 100%;
            margin: 24px 0;

            li {
                position: relative;
                font-size: 1.25rem;
                color: $bvt-black;
                margin-bottom: 6px;

                .delivery_title {
                    position: relative;
                    font-weight: 600;
                }

                .delivery_detail {
                    position: absolute;
                    left: 80px;
                    font-weight: 300;

                    >em {
                        font-weight: 600;
                        color: $bvt-blue;
                    }
                }
            }
        }
    }

    .mileage_wrap {
        position: relative;
        width: calc(100% + 22px);
        margin-left: -11px;
        background: $bvt-bg-lightblue;
        padding: 35px 11px 0;

        &::after {
            position: relative;
            bottom: 0;
            display: block;
            content: " ";
            width: 100%;
            height: 2px;
            background: var(--box-dashline) no-repeat;
        }

        >h1 {
            font-size: 1.45rem;
            margin-bottom: 2px;
        }

        #mileage {
            position: relative;
            margin-bottom: 135px;
            color: $bvt-darkgray;

            &::before {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 2px;
                background: $mileage-bar no-repeat;
                top: 32px;
            }

            .mileage_voter {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                position: absolute;
                left: calc(50% - 35px);

                p {
                    font-size: 1.35rem;

                    &:nth-child(1) {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: center;
                        position: inherit;
                        top: 36px;
                        font-size: 1.2rem;

                        &::before {
                            display: block;
                            content: "▲";

                        }
                    }

                    &:nth-child(2) {
                        >em {
                            color: $bvt-black;
                            font-weight: 700;
                        }

                        >span {
                            color: $bvt-black;
                            font-weight: 300;
                        }
                    }
                }
            }

            .mileage_crew {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                position: absolute;
                right: 5px;

                p {
                    font-size: 1.35rem;

                    &:nth-child(1) {
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: center;
                        align-items: flex-end;
                        position: inherit;
                        top: 36px;
                        right: 0;
                        font-size: 1.2rem;

                        &::before {
                            display: block;
                            content: "▲";

                        }
                    }

                    &:nth-child(2) {
                        >em {
                            color: $bvt-black;
                            font-weight: 700;
                        }

                        >span {
                            color: $bvt-black;
                            font-weight: 300;
                        }
                    }
                }
            }

            .mileage_txt {
                position: relative;
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                height: 18px;
                top: 90px;
                font-size: 1.1rem;

                >a {
                    color: $bvt-blue;
                    text-decoration: underline;
                }
            }

            .mileage_crew_txt {
                &::before {
                    display: inline-block;
                    content: " ";
                    width: 14px;
                    height: 14px;
                    background: $info-iconblue;
                    background-size: contain;
                    margin-right: 5px;
                }
            }

            .mileage_mileage_txt {

                &::before {
                    display: inline-block;
                    content: " ";
                    width: 14px;
                    height: 14px;
                    background: $info-icon;
                    background-size: contain;
                    margin-right: 5px;
                }
            }



        }

    }

    .stamp_wrap {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: calc(100% + 22px);
        margin-left: -11px;
        background: $bvt-bg-lightblue;
        padding: 35px 11px;
        box-sizing: border-box;

        .stamp_title {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            font-size: 1.45rem;
            margin-bottom: 14px;

            >span {
                font-weight: 300;

                .stamp_pcs {
                    font-weight: 700;
                }
            }
        }

        .stamp_list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 305px;
            margin-bottom: 24px;
            height: 60px;

            li {
                width: 60px;
                height: 60px;
                text-indent: -9999px;
                background: $stamp-board;
                >span{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                .whole_stamp{
                    background: $whole-stamp;
                    background-size: contain;
                }
                .half_stamp{
                    background: $half-stamp;
                    background-size: contain;
                }
            }

        }

        .stamp_txt {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: center;
            height: 18px;
            font-size: 1.1rem;
            color: $bvt-darkgray;

            >a {
                display: inline;
                text-decoration: underline;
                margin-left: 3px;
                color: $bvt-darkgray;
            }

            &::before {
                display: inline-block;
                content: " ";
                width: 14px;
                height: 14px;
                background: $info-icon;
                background-size: contain;
                margin-right: 5px;
            }
        }

    }

}

// 상품 정보 하단
.detail_tab_wrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    width: 100%;
    border-bottom: $bvt-btn-border-gray;
    padding: 52px 0 9px 0;
    margin-bottom: 10px;
    box-sizing: border-box;
    color: $bvt-black;

    .tab_custom {
        width: fit-content;
        height: 20px;
        background: transparent;
        margin-right: 20px;
        font-size: 1.45rem;
        color: $bvt-black;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        color: #4D4D4D;
        font-weight: bold;

        &::after {
            display: block;
            content: "";
            width: 102%;
            height: 3px;
            background: $bvt-black;
            border-radius: 3px;
            margin-top: 6px;
        }
    }


}


#productDetailBottom {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: height;
    box-sizing: content-box;
    padding: 20px 0;
    overflow: hidden;


    .detail_swiper_wrap {
        #tab0 {
            img {
                position: relative;
                width: 100%;
                max-width: 450px;
                min-width: 200px;
                object-fit: cover;
                // object-position: 50% 50%;
            }

            iframe {
                position: relative;
                width: 100%;
                max-width: 450px;
                min-width: 200px;
                object-fit: cover;
                object-position: 50% 50%;
            }

            video {
                position: relative;
                width: 100%;
                max-width: 450px;
                min-width: 200px;
                object-fit: cover;
                // object-position: 50% 50%;
            }
        }
        #tab1{
            iframe{

                //소비기록 상단 마진값 제하기
                margin-top: -50px;
            }
        }
        #tab2 {
            div {
                .tab-tip {
                    text-align: center;
                    padding: 18px 0;

                    .tab-tip-head {
                        color: $bvt-darkgray;
                        font-size: 1.45rem;
                    }
                }

                .nodata {
                    width: 100%;
                    border: $bvt-btn-border-gray;
                    text-align: center;
                    font-size: 1.6rem;
                    padding: 50px 0;
                    margin: 15px 0;
                }

                .product_detail_qna {
                    width: 100%;
                    padding: 0 22px;

                    .noAccess {
                        color: $bvt-darkgray;
                    }

                    .tab-board-table {

                        .descriptions {
                            width: 100%;
                            height: 80px;
                            padding: 10px 18px;
                            margin-bottom: 15px;
                            border: $bvt-btn-border-gray;
                            border-radius: 3px;
                            transition: all .3s;

                            &:hover,
                            &:focus,
                            &:active {
                                box-shadow: $bvt-shadow;
                                transition: all .3s;
                            }

                            .description_link {
                                display: flex;
                                flex-flow: column nowrap;
                                justify-content: space-evenly;
                                width: 100%;
                                height: 100%;

                                h1 {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;
                                    font-size: 1.35rem;
                                    font-weight: 500;

                                    img {
                                        width: 18px;
                                        height: 13px;
                                        margin-right: 6px;
                                    }
                                }

                                p {
                                    display: flex;
                                    flex-flow: row nowrap;
                                    align-items: center;
                                    font-size: 1.1rem;
                                    color: $bvt-darkgray;

                                    img {
                                        width: 14px;
                                        object-fit: cover;
                                        margin-left: 14px;
                                    }

                                    .id {
                                        &::after {
                                            display: inline-block;
                                            content: "|";
                                            margin: 0 6px;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }

                .tab-tips-btns {
                    width: 100%;
                    padding: 0 22px;

                    .noAccess {
                        text-align: center;
                        font-size: 1.6rem;
                        padding: 30px 0;
                    }

                    .qna_btn {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        float: right;
                        width: 100px;
                        height: 50px;
                        background: $bvt-blue;
                        border-radius: 60px;
                        cursor: pointer;

                        a {
                            display: block;
                            color: $bvt-white;
                            font-weight: 400;
                            font-size: 1.3rem;
                        }
                    }
                }

                .product_detail_paginate {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;

                    .paginate-box {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-around;
                        align-items: center;
                        width: auto;
                        height: 40px;
                        background: $bvt-bg-lightblue;
                        border-radius: 30px;
                        padding: 0 15px;

                        .btnPrev_wrap,
                        .btnNext_wrap {
                            display: block;
                            width: 60px;
                            height: 30px;
                            background: $bvt-white;
                            border-radius: 50%;
                            line-height: 30px;
                            text-align: center;

                            a {
                                color: $bvt-darkgray;
                            }
                        }

                        ol {
                            display: flex;
                            flex-flow: row nowrap;
                            width: 100%;
                            justify-content: space-evenly;

                            li {
                                a {
                                    font-weight: 400;
                                }

                                .this {
                                    font-weight: 600;
                                    color: $bvt-blue;
                                }
                            }
                        }
                    }
                }
            }
        }

        #tab3 {
            div {
                .tab_prd_info {
                    padding: 10px;
                    margin-bottom: 10px;

                    .title {
                        font-size: 1.5rem;
                        font-weight: bold;
                        border-bottom: $bvt-btn-border;
                        padding-bottom: 12px;
                        margin-bottom: 12px;
                    }

                    .content {
                        font-size: 1.35rem;
                        line-height: 1.8rem;

                        >div {
                            font-size: 1.35rem;
                            line-height: 1.8rem;
                        }

                        >ul,
                        >ul li,
                        >ul li div {
                            font-size: 1.35rem;
                            line-height: 1.8rem;
                        }
                    }
                }
            }
        }
    }

}


//buy screen 버튼
#buyAction{
    position: sticky;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: calc(100% + 22px);
    max-width: 450px;
    height: 64px;
    z-index: 100;
    margin-left: -11px;
    bottom: 0;

    button{
        font-weight: 600;
        font-size: 1.5rem;
    }

    .wish_btn{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;
        background: $bvt-white;
        color: $bvt-black;
        font-size: 1.15rem;

        &::before{
            display: block;
            content:"";
            width: 22px;
            height: 22px;
            background: var(--like-icon-bk) no-repeat;
            background-size: contain;
            padding-bottom: 7px;
        }
    }
    .gift_btn{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 15%;
        height: 100%;
        background: $bvt-black;
        color: $bvt-white;
        font-size: 1.15rem;
        &::before{
            display: block;
            content:"";
            width: 22px;
            height: 22px;
            background: $gift-icon no-repeat;
            background-size: contain;
            padding-bottom: 8px;
        }
    }
    .buy_btn{
        width: 70%;
        height: 100%;
        background: $bvt-blue;
        color: $bvt-white;
    }
}

