@charset "UTF-8";
#searchModal {
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background: #F5F6FC;
  margin: 0 auto;
  overflow: hidden;
  z-index: 999;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  padding: 0 11px;
}

#searchModal #searchModalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 450px;
  height: 40px;
  padding: 9px 0;
}

#searchModal #searchModalHeader .search_close_btn {
  width: 18px;
  height: 18px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.426' height='13.423'%3E%3Cpath data-name='Icon ionic-ios-close' d='m8.304 6.711 4.8-4.8A1.124 1.124 0 0 0 11.515.327l-4.8 4.8-4.8-4.8A1.124 1.124 0 1 0 .331 1.911l4.8 4.8-4.8 4.8a1.124 1.124 0 0 0 1.584 1.584l4.8-4.8 4.8 4.8a1.124 1.124 0 1 0 1.584-1.584Z' fill='%23707070'/%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

#searchModal #searchModalHeader .header_logo {
  display: block;
  width: 73px;
  height: 40px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='73' height='39'%3E%3Ctext transform='translate(0 29)' fill='%23022cff' font-size='31' font-family='GilbertBoldPreview5, Gilbert'%3E%3Ctspan x='0' y='0'%3EBvoat%3C/tspan%3E%3C/text%3E%3C/svg%3E") no-repeat center;
  background-size: cover;
  text-indent: -9999px;
}

#searchModal #searchModalHeader .header_logo > span {
  text-indent: -9999px;
}

#searchModal #searchModalHeader .header_cart {
  position: relative;
  width: 25px;
  height: 23px;
}

#searchModal #searchModalHeader .header_cart a {
  display: block;
  width: 25px;
  height: 23px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27.838' height='25.417'%3E%3Cg data-name='그룹 2020' transform='translate(1 1.234)' stroke='%23000'%3E%3Cpath data-name='선 2' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M0 0h3.243'/%3E%3Cpath data-name='선 263' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7.703 15.811 3.243 0'/%3E%3Cpath data-name='선 264' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M7.703 15.811h13.379'/%3E%3Cpath data-name='선 265' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='m25.542 4.46-4.46 11.352'/%3E%3Cpath data-name='선 266' fill='none' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M25.541 4.46H4.865'/%3E%3Crect data-name='사각형 1123' width='3.886' height='3.685' rx='1.843' transform='translate(6.869 19.998)'/%3E%3Crect data-name='사각형 1124' width='3.886' height='3.685' rx='1.843' transform='translate(18.303 19.998)'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  text-indent: -9999px;
}

#searchModal #searchModalHeader .header_cart .count {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #022CFF;
  font-weight: 700;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  top: -3px;
  right: -7px;
}

#searchModal #searchModalTitle {
  width: 100%;
  max-width: 450px;
  margin: 2.2rem 0;
}

#searchModal #searchModalTitle h2 {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: 'Jost', 'Noto Sans KR';
}

#searchModal #searchModalTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}

#searchModal #searchBarForm {
  width: 100%;
  max-width: 450px;
}

#searchModal #searchBarForm .search_input_box {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}

#searchModal #searchBarForm .search_input_box .search_input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchModal #searchBarForm .search_input_box .search_input #keyword {
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 23px;
  border: 1px solid #C4C4C4;
  font-size: 1.6rem;
  font-weight: 500;
  color: #707070;
  padding-left: 20px;
}

#searchModal #searchBarForm .search_input_box .search_input .search_btn {
  position: absolute;
  width: 21px;
  height: 21px;
  right: 12px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.2' height='24.2'%3E%3Cg data-name='Icon feather-search' fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='패스 1690' d='M20.365 10.683A9.683 9.683 0 1 1 10.683 1a9.683 9.683 0 0 1 9.683 9.683Z'/%3E%3Cpath data-name='패스 1691' d='m22.786 22.786-5.265-5.265'/%3E%3C/g%3E%3C/svg%3E") no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

#searchModal #searchBarForm .search_input_box .recent_keyword {
  width: 100%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 18px 0;
}

#searchModal #searchBarForm .search_input_box .recent_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: 'Jost', 'Noto Sans KR';
}

#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent {
  margin: 14px 0;
}

#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}

#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 3px 6px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}

#searchModal #searchBarForm .search_input_box .recent_keyword .search_recent .recent_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #022CFF;
  color: #ffffff;
  font-size: 1.1rem;
}

#searchModal #searchBarForm .search_input_box .hot_keyword {
  width: 100%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 18px 0;
}

#searchModal #searchBarForm .search_input_box .hot_keyword .search_title {
  font-weight: 700;
  font-size: 1.6rem;
  font-family: 'Jost', 'Noto Sans KR';
}

#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot {
  margin: 14px 0;
}

#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .empty {
  text-align: center;
  margin-top: 50px;
  font-size: 1.6rem;
}

#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li {
  background: #ffffff;
  border-radius: 6px;
  padding: 6px 10px;
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 3px 3px 0;
}

#searchModal #searchBarForm .search_input_box .hot_keyword .search_hot .hot_list > li > button {
  width: 27px;
  height: 22px;
  background-color: #022CFF;
  color: #ffffff;
  font-size: 1.1rem;
}

#searchModal #searchBarForm .dimmed {
  display: none;
}

#searchResult {
  width: 100%;
  max-width: 450px;
  padding: 23px 11px;
  margin-top: 0px;
}

#searchResult #searchResultTitle {
  margin-bottom: 18px;
}

#searchResult #searchResultTitle h2 {
  font-weight: 600;
  font-size: 2.2rem;
}

#searchResult #searchResultTitle h3 {
  font-weight: 300;
  font-size: 1.4rem;
  color: #707070;
}

#searchResult #searchResultEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchResult #searchResultEmpty .empty {
  text-align: center;
  margin: 50px;
  font-size: 1.8rem;
  font-weight: 500;
}

#searchResult #searchResultEmpty .empty_info > li {
  font-size: 1.4rem;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list {
  width: 49%;
  height: auto;
  padding-bottom: 30px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product {
  position: relative;
  display: inline;
  padding-bottom: 30px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap {
  position: relative;
  width: 100%;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap .normal_img_box {
  display: block;
  position: relative;
  margin-bottom: 6.9px;
  padding-top: calc(100% - 15px);
  overflow: hidden;
  border-radius: 4px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap .normal_img_box .normal_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap .product_select_icon {
  position: absolute;
  width: 71px;
  height: 30px;
  border-radius: 4px;
  top: 7.2px;
  left: 5.6px;
  overflow: hidden;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap .product_select_icon img {
  width: 100%;
  height: 100%;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap .product_wish {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  bottom: 9.2px;
  left: 8.7px;
  background: #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 7px #70707027;
          box-shadow: 0px 3px 7px #70707027;
  padding-top: 2px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_img_wrap .product_wish img {
  display: block;
  -webkit-box-shadow: none;
          box-shadow: none;
  width: 20px;
  height: 18px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_brand {
  width: 100%;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_brand .brand {
  font-size: 5px !important;
  color: #707070;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_brand .summary_desc {
  font-size: 1rem;
  color: #707070;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info {
  margin-top: 10px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_name {
  display: block;
  width: 100%;
  font-size: 1.35rem;
  font-weight: 600;
  margin-bottom: 9px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5rem;
  height: 3.2rem;
  /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_name > span {
  font-size: 1.3rem !important;
  color: #292929 !important;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price .product_price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #022CFF;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price .product_price > span {
  font-weight: 300;
  color: #292929;
  margin-right: 8px;
  margin-left: 1px;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price .sale_price {
  font-size: 1.6rem;
  font-weight: 700;
  color: #022CFF;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price .sale_price > span {
  margin-left: 1px;
  font-weight: 300;
  color: #292929;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price .if_sale_price {
  text-decoration: line-through;
  color: #ABABAB;
}

#searchResult #searchResultProductList .product_listnormal_list_wrap .listnormal_list .normal_product .normal_product_info .normal_product_price .if_sale_price > span {
  margin-left: 1px;
  font-weight: 400;
  text-decoration: line-through;
  color: #ABABAB;
}

#searchResult #searchResultPagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#searchResult #searchResultPagination .paginate-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 0 15px;
  font-size: 1.3rem;
}

#searchResult #searchResultPagination .paginate-box .btnPrev_wrap,
#searchResult #searchResultPagination .paginate-box .btnNext_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 6px;
}

#searchResult #searchResultPagination .paginate-box .btnPrev_wrap a,
#searchResult #searchResultPagination .paginate-box .btnNext_wrap a {
  display: block;
  width: 100%;
  height: 100%;
  color: #707070;
  margin: 0 5px;
}

#searchResult #searchResultPagination .paginate-box ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#searchResult #searchResultPagination .paginate-box ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
  margin: 0 5px;
}

#searchResult #searchResultPagination .paginate-box ol li .this {
  font-weight: 600;
  color: #022CFF;
}
/*# sourceMappingURL=search.css.map */