@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#productBoardList {
    width: 100%;
    max-width: 450px;
    padding: 37px 0px;
    margin: 80px 0 60px;

    //게시판 title (board_title_seq)
    #productBoardListTitle {
        width: 100%;
        max-width: 450px;
        margin-bottom: 18px;
        padding: 0 11px;

        h1 {
            font-size: 2.5rem;
            font-weight: 500;
            margin-bottom: 6px;
        }

        h2 {
            font-size: 1.7rem;
            font-weight: 300;
            color: $bvt-darkgray;
        }
    }

    //게시판 카테고리
    #productBoardListSelect {
        display: flex;
        flex-flow: row-reverse nowrap;
        width: 100%;
        height: 25px;

        span,
        select {
            width: 80px;
            height: 25px;
            font-size: 1.4rem;
            border-radius: 2px;
        }
    }

    //게시판 공지

    //게시판 게시물
    #productBoardList {
        width: 100%;

        ul {
            width: 100%;
            min-width: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            padding: 0 17px;

            li {
                position: relative;
                width: calc(50% - 5px);
                margin: 0 0 36px 0;

                //admin 게시글 선택
                input[type="checkbox"] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 20px;
                }

                //목록 이미지
                a.board_img_link {
                    display: block;
                    position: relative;
                    width: 100%;
                    padding-top: 100%;
                    overflow: hidden;
                    border-radius: 20px;
                    margin-bottom: 12px;

                    //카테고리 이름
                    .category_name {
                        position: absolute;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 29.8%;
                        height: 26px;
                        border-radius: 28px;
                        background: $bvt-blue;
                        font-size: 1.3rem;
                        font-weight: 600;
                        color: $bvt-white;
                        top: 8px;
                        left: 8px;
                        z-index: 1;
                        margin: 0;
                    }

                    img {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        object-fit: cover;
                        border: 0;

                    }
                }

                //목록 제목
                a.board_subject {
                    font-size: 1.65rem;
                    font-weight: 700;
                    color: $bvt-black;
                    letter-spacing: -0.5px;
                    line-height: 2.2rem;
                }

                //목록 작성자 및 작성일
                .board_author {
                    display: none;
                }

            }
        }

    }

    #productBoardListTable {
        width: 100%;
        max-width: 450px;
        margin: 20px 0;
        padding: 0 11px;

        table {
            width: 100%;

            thead {
                width: 100%;
                background: $bvt-lightblue;

                tr {
                    th {
                        padding: 2% 0;
                        font-size: 1.2rem;
                        font-weight: 600;

                        &:nth-child(1) {
                            text-align: start;
                        }
                    }
                }
            }

            tbody {
                tr td {
                    font-size: 1.1rem !important;
                    color: $bvt-darkgray;
                }

                td {
                    margin-right: 8px;
                }

                .subject {
                    @include only-ellipsis(2, 1.3rem);
                    display: table-cell;
                    font-weight: 600;
                }

                .txtNum {
                    font-size: 0.9px;
                }
            }
        }

        @include product-thumb(0px, 0px, 0px, 0px, 0px);

        .thumb {
            display: flex;
            flex-flow: row nowrap;

            >a {
                display: inline-block;
                width: 50px;
            }

            >span {
                display: inline-block;
                width: 38px;
                @include ellipsis(2, 1.3rem);
            }
        }

        //글 관련 버튼 (글쓰기 ...)
        >.ec-base-button {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 25px;

            span {
                &:nth-child(1) {
                    width: 60%;

                    a {
                        display: inline-block;
                        font-size: 1.1rem;
                        border: $bvt-btn-border-gray;
                        border-radius: 12px;
                        padding: 1.5% 4%;
                    }
                }

                &:nth-child(2) {
                    width: 35%;

                    a {
                        display: inline-block;
                        font-size: 1.1rem;
                        background: $bvt-blue;
                        border-radius: 12px;
                        padding: 2% 6%;
                        color: $bvt-white;
                        font-weight: 500;
                    }
                }
            }
        }

    }

    //게시판 게시물 없을 때 
    #boardListEmpty {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    //글쓰기 버튼
    .ec-base-button.typeBG {
        span {
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 80px;
                height: 32px;
                background: $bvt-blue;
                border-radius: 22px;
                font-size: 1.4rem;
                color: $bvt-white
            }
        }
    }

    //페이지네이션
    @include page-pagination;

    .page-pagination {
        margin: 20px 0;
    }

    //게시물 검색
    #boardListSearch {
        background: $bvt-bg-lightblue;

        fieldset {

            legend {
                display: none;
                font-size: 1.4rem;
                font-weight: 700;
                margin-bottom: 12px;
            }

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                background: none;

                &::before {
                    display: none;
                }

                select,
                input {
                    height: 28px;
                    border: $bvt-input-border;
                    font-size: 1.2rem;
                    padding: 1%;
                }

                input#search {
                    width: 25%;
                }

                button.btnEmFix {
                    width: 12%;
                    height: 28px;
                    border: $bvt-btn-border;
                    border-radius: 18px;
                    background: $bvt-white;
                    font-size: 1.2rem;
                    font-weight: 700;
                    color: $bvt-blue;
                    margin-left: 12px;
                }

            }
        }

    }

    //관리자 전용 메뉴
    #boardListAdminMenu {

        div {
            padding: 10px 17px;
        }

        p {
            font-size: 1.4rem;
        }

        input,
        select {
            font-size: 1.3rem;
        }

        button {
            display: inline-flex;
            background: $bvt-blue;
            color: $bvt-white;
            justify-content: center;
            align-items: center;
            padding: 1.2% 3.8%;
            border-radius: 18px;
            font-size: 1.2rem;
        }
    }

}