@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#productBoardList {
  width: 100%;
  max-width: 450px;
  padding: 37px 0px;
  margin: 80px 0 60px;
}
#productBoardList #productBoardListTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 28px;
  padding: 0 11px;
}
#productBoardList #productBoardListTitle h1 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 6px;
}
#productBoardList #productBoardListTitle h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #707070;
}
#productBoardList #productBoardListSelect {
  display: flex;
  flex-flow: row-reverse nowrap;
  width: 100%;
  height: 25px;
}
#productBoardList #productBoardListSelect span,
#productBoardList #productBoardListSelect select {
  width: 80px;
  height: 25px;
  font-size: 1.4rem;
  border-radius: 2px;
}
#productBoardList #productBoardListBox {
  width: 100%;
  margin: 10px 0;
  padding: 20px 0 0 0;
}
#productBoardList #productBoardListBox ul {
  width: 100%;
  min-width: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 17px;
}
#productBoardList #productBoardListBox ul li {
  position: relative;
  width: calc(50% - 5px);
  margin: 0 0 36px 0;
}
#productBoardList #productBoardListBox ul li input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}
#productBoardList #productBoardListBox ul li a.board_img_link {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 12px;
}
#productBoardList #productBoardListBox ul li a.board_img_link .category_name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 28px;
  background: #022CFF;
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  top: 8px;
  left: 8px;
  z-index: 1;
  margin: 0;
  padding: 4.5px 11px;
}
#productBoardList #productBoardListBox ul li a.board_img_link img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0;
}
#productBoardList #productBoardListBox ul li a.board_subject {
  font-size: 1.45rem;
  font-weight: 700;
  color: #292929;
  letter-spacing: -0.5px;
  line-height: 1.87rem;
}
#productBoardList #productBoardListBox ul li .board_author {
  display: none;
}
#productBoardList #productBoardListTable {
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
  padding: 0 11px;
}
#productBoardList #productBoardListTable table {
  width: 100%;
}
#productBoardList #productBoardListTable table thead {
  width: 100%;
  background: #ECECF4;
}
#productBoardList #productBoardListTable table thead tr th {
  padding: 2% 0;
  font-size: 1.2rem;
  font-weight: 600;
}
#productBoardList #productBoardListTable table thead tr th:nth-child(1) {
  text-align: start;
}
#productBoardList #productBoardListTable table tbody tr td {
  font-size: 1.1rem !important;
  color: #707070;
}
#productBoardList #productBoardListTable table tbody td {
  margin-right: 8px;
}
#productBoardList #productBoardListTable table tbody .subject {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6rem;
  display: table-cell;
  font-weight: 600;
}
#productBoardList #productBoardListTable table tbody .txtNum {
  font-size: 0.9px;
}
#productBoardList #productBoardListTable .thumb {
  position: relative;
  width: 100%;
}
#productBoardList #productBoardListTable .thumb > a,
#productBoardList #productBoardListTable .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#productBoardList #productBoardListTable .thumb > a > img,
#productBoardList #productBoardListTable .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardList #productBoardListTable .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}
#productBoardList #productBoardListTable .thumb {
  display: flex;
  flex-flow: row nowrap;
}
#productBoardList #productBoardListTable .thumb > a {
  display: inline-block;
  width: 50px;
}
#productBoardList #productBoardListTable .thumb > span {
  display: inline-block;
  width: 38px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6rem;
  height: 3.4rem;
}
#productBoardList #productBoardListTable > .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(1) {
  width: 60%;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(1) a {
  display: inline-block;
  font-size: 1.1rem;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  padding: 1.5% 4%;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(2) {
  width: 35%;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(2) a {
  display: inline-block;
  font-size: 1.1rem;
  background: #022CFF;
  border-radius: 12px;
  padding: 2% 6%;
  color: #ffffff;
  font-weight: 500;
}
#productBoardList #boardListEmpty {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#productBoardList #boardListEmpty p {
  font-size: 1.5rem;
  font-weight: 600;
}
#productBoardList .ec-base-button.typeBG span a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 32px;
  background: #022CFF;
  border-radius: 22px;
  font-size: 1.4rem;
  color: #ffffff;
}
#productBoardList .page-pagination {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#productBoardList .page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
#productBoardList .page-pagination .btnPrev_wrap,
#productBoardList .page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#productBoardList .page-pagination .first,
#productBoardList .page-pagination .last,
#productBoardList .page-pagination .btnPrev,
#productBoardList .page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
#productBoardList .page-pagination .first:hover,
#productBoardList .page-pagination .last:hover,
#productBoardList .page-pagination .btnPrev:hover,
#productBoardList .page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
#productBoardList .page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
#productBoardList .page-pagination ol li {
  margin: 0 11px;
}
#productBoardList .page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
#productBoardList .page-pagination ol li .this {
  font-weight: 600;
  color: #022CFF;
}
#productBoardList .page-pagination {
  margin: 20px 0;
}
#productBoardList #boardListSearch {
  background: #FAFAFE;
}
#productBoardList #boardListSearch fieldset legend {
  display: none;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 12px;
}
#productBoardList #boardListSearch fieldset p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: none;
}
#productBoardList #boardListSearch fieldset p::before {
  display: none;
}
#productBoardList #boardListSearch fieldset p select,
#productBoardList #boardListSearch fieldset p input {
  height: 28px;
  border: 1px solid #C4C4C4;
  font-size: 1.2rem;
  padding: 1%;
}
#productBoardList #boardListSearch fieldset p input#search {
  width: 25%;
}
#productBoardList #boardListSearch fieldset p button.btnEmFix {
  width: 12%;
  height: 28px;
  border: 1px solid #022CFF;
  border-radius: 18px;
  background: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  color: #022CFF;
  margin-left: 12px;
}
#productBoardList #boardListAdminMenu div {
  padding: 10px 17px;
}
#productBoardList #boardListAdminMenu p {
  font-size: 1.4rem;
}
#productBoardList #boardListAdminMenu input,
#productBoardList #boardListAdminMenu select {
  font-size: 1.3rem;
}
#productBoardList #boardListAdminMenu button {
  display: inline-flex;
  background: #022CFF;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  padding: 1.2% 3.8%;
  border-radius: 18px;
  font-size: 1.2rem;
}/*# sourceMappingURL=list.css.map */