@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
:root {
  --icon-rate: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 11 12'%3E%3Cpath fill='%23022CFF' d='m6.12.94 1.23 2.47c.09.17.22.38.41.41l2.67.41c.49.07.76.69.41 1.03L8.8 7.1a.81.81 0 0 0-.2.61l.6 2.68c.1.48-.59.84-1.02.61L5.71 9.78a.35.35 0 0 0-.42 0l-2.46 1.23A.57.57 0 0 1 2 10.4l.4-2.68a.81.81 0 0 0-.2-.61L.16 5.26c-.35-.34-.08-.96.4-1.03l2.68-.41c.2-.03.33-.24.41-.41L4.88.94a.74.74 0 0 1 1.24 0Z'/%3E%3C/svg%3E");
  --icon-likes: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 13 13'%3E%3Cpath stroke='%2300F' stroke-linecap='round' stroke-width='1.2' d='M9.53 12.36H1.39a.4.4 0 0 1-.39-.4V5.53c0-.21.18-.4.4-.4h1.8c.47 0 .9-.23 1.13-.63l1.78-2.97a1.07 1.07 0 0 1 1.95.86L7.4 4.62a.4.4 0 0 0 .38.5h3c.87 0 1.5.83 1.27 1.67l-1.25 4.6c-.16.57-.68.97-1.27.97Z'/%3E%3Cpath stroke='%2300F' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.2' d='M3.3 12.36V5.13'/%3E%3C/svg%3E");
  --icon-cmt: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 17 15'%3E%3Cpath stroke='%2300F' stroke-width='1.2' d='M5.1 11.38v-.6H2.37c-.5 0-.95-.17-1.28-.46a1.32 1.32 0 0 1-.49-.99V2.05c0-.36.16-.72.49-1A2 2 0 0 1 2.37.6h11.95a2 2 0 0 1 1.29.45c.32.28.49.64.49 1v7.28c0 .35-.17.71-.5 1-.32.28-.78.45-1.28.45H8.73l-.16.13-3.18 2.57a.3.3 0 0 1-.22 0 .16.16 0 0 1-.06-.05H5.1v-2.05Z'/%3E%3Cpath fill='%2300F' d='M11.23 6.6a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-2.73 0a.75.75 0 1 0-.01-1.5.75.75 0 0 0 0 1.5Zm-2.75 0a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z'/%3E%3C/svg%3E");
}

#review-aid-best-review-root {
  margin-top: 82px;
}

#review-aid-review-board-root > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(3) > div > p {
  font-size: 12px !important;
}

#review-aid-review-board-root > div > div:nth-child(2) > div:nth-child(1) > div > div:nth-child(2) > div:nth-child(2) > div {
  font-size: 12.5px !important;
  margin-bottom: 3px;
}

#productBoardList #titleArea {
  width: 100%;
  max-width: 450px;
  margin-bottom: 28px;
  padding: 0 11px;
}
#productBoardList #titleArea h1 {
  font-size: 2.3rem;
  font-weight: 500;
  margin-bottom: 6px;
}
#productBoardList #titleArea h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: #707070;
}
#productBoardList #productBoardListWrap {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
#productBoardList #productBoardListWrap li.review_item {
  position: relative;
  margin-bottom: 30px;
}
#productBoardList #productBoardListWrap li.review_item .item {
  position: relative;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .user_info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 12px;
  font-size: 0;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .user_info .user_img {
  position: relative;
  width: 30px;
  margin-right: 8px;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .user_info .user_name {
  font-size: 1.6rem;
  font-weight: bold;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2.2rem;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .thumbnail_info {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 12px;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .thumbnail_info img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .thumbnail_info .rate {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 23px;
  border-radius: 100px;
  background: rgba(242, 242, 242, 0.5);
  margin: 0 12px 10px 0;
  bottom: 0;
  right: 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #003DD3;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .thumbnail_info .rate::before {
  display: block;
  content: "";
  width: 11px;
  height: 10.47px;
  background: var(--icon-rate) no-repeat center;
  margin-right: 3px;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info {
  width: 100%;
  height: 67px;
  overflow: hidden;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info .vote_comment {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info .vote_comment .vote {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 22px;
  border: 1px solid #022CFF;
  border-width: 1.2px;
  border-radius: 2px;
  background: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: #022CFF;
  padding: 1px 7px 0;
  box-sizing: border-box;
  margin-right: 8px;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info .vote_comment .vote::before {
  display: inline-block;
  width: 12.1px;
  height: 11.36px;
  content: "";
  background: var(--icon-likes) no-repeat center;
  margin-right: 1px;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info .vote_comment .comment::after {
  display: inline-block;
  content: "";
  width: 16.7px;
  height: 14.1px;
  background: var(--icon-cmt) no-repeat transparent center;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info p {
  font-size: 1.3rem;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2rem;
}
#productBoardList #productBoardListWrap li.review_item .item .item_anchor .summary_info span {
  display: none;
}
#productBoardList #productBoardPagenation {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
#productBoardList #productBoardPagenation .prev {
  margin: 0 6px;
}
#productBoardList #productBoardPagenation .prev a {
  display: inline-block;
  width: 17px;
  height: 18px;
  background: url(https://bvoatofficial.cafe24.com/bvtIMG/icon/blue_arrow_back_3x.png) no-repeat center;
  background-size: contain;
}
#productBoardList #productBoardPagenation .next {
  margin: 0 6px;
}
#productBoardList #productBoardPagenation .next a {
  display: inline-block;
  width: 17px;
  height: 18px;
  background: url(https://bvoatofficial.cafe24.com/bvtIMG/icon/blue_arrow_back_3x.png) no-repeat center;
  background-size: contain;
  transform: scaleX(-1);
}
#productBoardList #productBoardPagenation ol {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#productBoardList #productBoardPagenation ol li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 7px;
}
#productBoardList #productBoardPagenation ol li a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
#productBoardList #productBoardPagenation ol .this {
  font-weight: bold;
  color: #003DD3;
  background: #F5F6FB;
}
#productBoardList #productBoardSearch {
  width: 100%;
  padding: 20px 17px;
}
#productBoardList #productBoardSearch fieldset {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#productBoardList #productBoardSearch fieldset .date,
#productBoardList #productBoardSearch fieldset .category {
  width: 20%;
}
#productBoardList #productBoardSearch fieldset select {
  width: 100%;
  margin: 0;
  height: 32px;
  font-size: 1.3rem;
  cursor: pointer;
  border: 1px solid #E2E2E2;
}
#productBoardList #productBoardSearch fieldset .keyword {
  width: 50%;
}
#productBoardList #productBoardSearch fieldset input,
#productBoardList #productBoardSearch fieldset button {
  margin: 0;
  height: 32px;
  font-size: 1.3rem;
  padding: 0 5px;
}
#productBoardList #productBoardSearch fieldset input {
  width: 100%;
  border: 1px solid #E2E2E2;
}
#productBoardList #productBoardSearch fieldset button {
  background: #003DD3;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
}
#productBoardList .empty_list {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 50px 11px;
}/*# sourceMappingURL=list4.css.map */