@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#productBoardList {
  width: 100%;
  max-width: 450px;
  padding: 37px 0px;
  margin: 80px 0 60px;
}
#productBoardList #productBoardListTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
  padding: 0 11px;
}
#productBoardList #productBoardListTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#productBoardList #productBoardListTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#productBoardList #productBoardListTable {
  width: 100%;
  max-width: 450px;
  margin: 20px 0;
  padding: 0 11px;
}
#productBoardList #productBoardListTable table {
  width: 100%;
}
#productBoardList #productBoardListTable table thead {
  width: 100%;
  background: #ECECF4;
}
#productBoardList #productBoardListTable table thead tr th {
  padding: 2% 0;
  font-size: 1.2rem;
  font-weight: 600;
}
#productBoardList #productBoardListTable table thead tr th:nth-child(1) {
  text-align: start;
}
#productBoardList #productBoardListTable table tbody tr td {
  font-size: 1.1rem !important;
  color: #707070;
}
#productBoardList #productBoardListTable table tbody td {
  margin-right: 8px;
}
#productBoardList #productBoardListTable table tbody .subject {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.6rem;
  display: table-cell;
  font-weight: 600;
}
#productBoardList #productBoardListTable table tbody .txtNum {
  font-size: 0.9px;
}
#productBoardList #productBoardListTable .thumb {
  position: relative;
  width: 100%;
}
#productBoardList #productBoardListTable .thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 2px;
  font-size: 0;
}
#productBoardList #productBoardListTable .thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardList #productBoardListTable .thumb .icon {
  position: absolute;
  width: 50px;
  height: 20.5px;
  border-radius: 4px;
  top: 4.6px;
  left: 4.6px;
}
#productBoardList #productBoardListTable .thumb .icon img {
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardList #productBoardListTable .thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0px;
  right: 0px;
}
#productBoardList #productBoardListTable .thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
#productBoardList #productBoardListTable .thumb .wish button img {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 10px;
  margin-top: 2.5px;
}
#productBoardList #productBoardListTable .thumb {
  display: flex;
  flex-flow: row nowrap;
}
#productBoardList #productBoardListTable .thumb > a {
  display: inline-block;
  width: 50px;
}
#productBoardList #productBoardListTable .thumb > span {
  display: inline-block;
  width: 38px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5rem;
  height: 3.1rem;
}
#productBoardList #productBoardListTable > .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(1) {
  width: 60%;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(1) a {
  display: inline-block;
  font-size: 1.1rem;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  padding: 1.5% 4%;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(2) {
  width: 35%;
}
#productBoardList #productBoardListTable > .ec-base-button span:nth-child(2) a {
  display: inline-block;
  font-size: 1.1rem;
  background: #022CFF;
  border-radius: 12px;
  padding: 2% 6%;
  color: #ffffff;
  font-weight: 500;
}
#productBoardList .page-pagination {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
#productBoardList .page-pagination .paginate-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: auto;
  height: 40px;
  background: #FAFAFE;
  border-radius: 30px;
  padding: 1% 5%;
  font-size: 1.3rem;
}
#productBoardList .page-pagination .btnPrev_wrap, #productBoardList .page-pagination .btnNext_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
#productBoardList .page-pagination .first, #productBoardList .page-pagination .last, #productBoardList .page-pagination .btnPrev, #productBoardList .page-pagination .btnNext {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin: 0 2px;
  color: #707070;
  font-size: 1.1rem;
}
#productBoardList .page-pagination .first:hover, #productBoardList .page-pagination .last:hover, #productBoardList .page-pagination .btnPrev:hover, #productBoardList .page-pagination .btnNext:hover {
  font-weight: 700;
  transition: all 0.3s;
}
#productBoardList .page-pagination ol {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: space-evenly;
  margin: 0 5px;
}
#productBoardList .page-pagination ol li {
  margin: 0 11px;
}
#productBoardList .page-pagination ol li a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
  color: #707070;
}
#productBoardList .page-pagination ol li .this {
  font-weight: 600;
  color: #022CFF;
}
#productBoardList .page-pagination {
  margin: 20px 0;
}/*# sourceMappingURL=list.css.map */