@charset "UTF-8";
/* 공통 스타일 */
/* 공통 스타일 */
/* 애니메이션 */
/* 애니메이션 */
/* 멤버십 관련 */
/* 멤버십 관련 */
/* 상품 목록 list 관련 공통 스타일 */
/* 상품 목록 list 관련 공통 스타일 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#productBoardRead {
  width: 100%;
  max-width: 450px;
  padding: 37px 0px;
  margin: 80px 0 60px;
}
#productBoardRead #productBoardReadTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
  padding: 0 11px;
}
#productBoardRead #productBoardReadTitle h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 2px;
}
#productBoardRead #productBoardReadTitle h2 {
  font-size: 1.3rem;
  font-weight: 300;
  color: #ABABAB;
}
#productBoardRead #productBoardReadTableHead {
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
}
#productBoardRead #productBoardReadTableHead > h2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ABABAB;
  margin-bottom: 11px;
}
#productBoardRead #productBoardReadTableHead .product_info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb {
  position: relative;
  width: 100%;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb > a {
  display: block;
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 2px;
  font-size: 0;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb > a > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb .wish {
  position: absolute;
  width: auto;
  height: auto;
  cursor: pointer;
  bottom: 0;
  right: 0;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb .wish button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb .wish button img {
  position: relative;
  width: 41px;
  height: 38.98px;
  padding: 10px;
  margin-top: 2.5px;
}
#productBoardRead #productBoardReadTableHead .product_info .icon img {
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardRead #productBoardReadTableHead .product_info .thumb {
  width: 30%;
  margin-right: 20px;
}
#productBoardRead #productBoardReadTableHead .product_info .information {
  position: relative;
  width: 70%;
}
#productBoardRead #productBoardReadTableHead .product_info .information li:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
  color: #292929;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 2rem;
  height: 3.9rem;
}
#productBoardRead #productBoardReadTableHead .product_info .information li:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
  color: #022CFF;
}
#productBoardRead #productBoardReadTableHead .product_info .information li:nth-child(3) {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
#productBoardRead #productBoardReadTableHead .product_info .information li:nth-child(3) > a {
  color: #707070;
  transition: all 0.5s;
}
#productBoardRead #productBoardReadTableHead .product_info .information li:nth-child(3) > a:hover {
  color: #292929;
  transition: all 0.5s;
}
#productBoardRead #productBoardReadTable table {
  width: 100%;
  max-width: 450px;
}
#productBoardRead #productBoardReadTable table tbody {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  justify-content: flex-start;
}
#productBoardRead #productBoardReadTable table tbody tr {
  display: flex;
  flex-flow: row nowrap;
}
#productBoardRead #productBoardReadTable table tbody tr th {
  display: inline-block;
  width: 12%;
  height: 20px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: start;
}
#productBoardRead #productBoardReadTable table tbody tr td {
  font-size: 1.3rem;
}
#productBoardRead #productBoardReadTable table tbody tr td > ul {
  width: 100%;
  font-size: 1.3rem;
}
#productBoardRead #productBoardReadTable table tbody tr td > ul > li > strong {
  font-size: 1.3rem;
  font-weight: 600;
  width: 12%;
}
#productBoardRead #productBoardReadTable table tbody tr td > ul > li .txtNum {
  margin-left: 15px;
}
#productBoardRead #productBoardReadTable table tbody tr td .detail {
  margin: 20px 0;
}
#productBoardRead #productBoardReadTable table tbody tr td .detail p {
  font-size: 1.15rem !important;
}
#productBoardRead #productBoardReadTable > .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
}
#productBoardRead #productBoardReadTable > .ec-base-button span:nth-child(1) {
  width: 60%;
}
#productBoardRead #productBoardReadTable > .ec-base-button span:nth-child(1) a {
  display: inline-block;
  font-size: 1.1rem;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  padding: 1.5% 4%;
}
#productBoardRead #productBoardReadTable > .ec-base-button span:nth-child(2) {
  width: 35%;
}
#productBoardRead #productBoardReadTable > .ec-base-button span:nth-child(2) a {
  display: inline-block;
  font-size: 1.1rem;
  background: #022CFF;
  border-radius: 12px;
  padding: 2% 6%;
  color: #ffffff;
  font-weight: 500;
}/*# sourceMappingURL=read.css.map */