@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#productBoardWrite {
  width: 100%;
  max-width: 450px;
  padding: 37px 0px;
  margin: 80px 0 60px;
}
#productBoardWrite #productBoardWriteTitle {
  width: 100%;
  max-width: 450px;
  margin-bottom: 18px;
  padding: 0 11px;
}
#productBoardWrite #productBoardWriteTitle h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 6px;
}
#productBoardWrite #productBoardWriteTitle h2 {
  font-size: 1.7rem;
  font-weight: 300;
  color: #707070;
}
#productBoardWrite #productBoardWriteSection .ec-base-box {
  padding: 0 11px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb {
  position: relative;
  width: 100%;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb > a,
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb > a > img,
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .icon {
  height: 30px;
  z-index: 1;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb {
  width: 30%;
  margin-right: 20px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information {
  position: relative;
  width: 70%;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
  color: #292929;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.9rem;
  height: 4rem;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
  color: #022CFF;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(3) {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(3) > a {
  color: #707070;
  transition: all 0.5s;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(3) > a:hover {
  color: #292929;
  transition: all 0.5s;
}
#productBoardWrite #productBoardWriteSection .ec-base-table {
  width: 100%;
  margin: 25px 0;
  padding: 0 11px;
}
#productBoardWrite #productBoardWriteSection .ec-base-table th {
  font-size: 1.3rem;
  font-weight: 500;
  height: 30px;
  margin: 8px 0;
  vertical-align: middle;
}
#productBoardWrite #productBoardWriteSection .ec-base-table td > input[type=text],
#productBoardWrite #productBoardWriteSection .ec-base-table td > input[type=password],
#productBoardWrite #productBoardWriteSection .ec-base-table label {
  width: 100%;
  height: 30px;
  padding: 0 11px;
  font-size: 1.2rem;
  vertical-align: middle;
  margin: 8px 0;
}
#productBoardWrite #productBoardWriteSection > .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 25px;
}
#productBoardWrite #productBoardWriteSection > .ec-base-button span:nth-child(1) {
  width: 60%;
}
#productBoardWrite #productBoardWriteSection > .ec-base-button span:nth-child(1) a {
  display: inline-block;
  font-size: 1.1rem;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  padding: 1.5% 4%;
}
#productBoardWrite #productBoardWriteSection > .ec-base-button span:nth-child(2) {
  width: 35%;
}
#productBoardWrite #productBoardWriteSection > .ec-base-button span:nth-child(2) a {
  display: inline-block;
  font-size: 1.2rem;
  background: #022CFF;
  border-radius: 12px;
  padding: 2% 12%;
  color: #ffffff;
  font-weight: 500;
}/*# sourceMappingURL=write.css.map */