@charset "UTF-8";
/* 공통 디자인 */
/* ellipsis*/
/* ellipsis*/
/* 공통 디자인 */
/* 애니메이션 */
/* 애니메이션 */
/* 미디어쿼리 */
/* 미디어쿼리 */
#productBoardWrite {
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 0 11px;
  margin: 105px 0 200px;
  z-index: 1;
}
#productBoardWrite #productBoardWriteTitle {
  width: 100%;
  max-width: 450px;
  margin: 18px 0;
}
#productBoardWrite #productBoardWriteTitle h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6px;
}
#productBoardWrite #productBoardWriteTitle h2 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #707070;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb {
  position: relative;
  width: 100%;
  font-size: 0;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb > a,
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb .img_wrap {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
  border-radius: 4px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb > a > img,
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb .img_wrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .icon {
  position: absolute;
  top: 0;
  height: 21px;
  z-index: 1;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .thumb {
  width: 30%;
  margin-right: 20px;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information {
  position: relative;
  width: 70%;
  margin: 2%;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(1) {
  font-size: 1.4rem;
  font-weight: 500;
  color: #292929;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  line-height: 1.5rem;
  height: 2.9rem;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
  color: #003DD3;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(3) {
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  font-weight: 600;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(3) > a {
  color: #707070;
  transition: all 0.5s;
}
#productBoardWrite #productBoardWriteSection .ec-base-box .product_info .information li:nth-child(3) > a:hover {
  color: #292929;
  transition: all 0.5s;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable tr {
  width: 18%;
  height: 30px;
  font-size: 1.3rem;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable th,
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable td {
  text-align: start;
  vertical-align: middle;
  font-size: 1.3rem;
  padding: 5px;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable textarea {
  background: none;
  font-size: 1.3rem;
  padding: 11px;
  border: none;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable select,
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable input[type=text],
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable input[type=password] {
  background: none;
  font-size: 1.3rem;
  border: 1px solid #E2E2E2;
  padding: 11px;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable input[type=file] {
  background: none;
  font-size: 1.3rem;
  padding: 8px;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable textarea {
  width: 100%;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable .table_td_rate {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable .table_td_rate label {
  margin: 0 2% 0 1px;
}
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable #password,
#productBoardWrite #productBoardWriteSection #productBoardWriteBox #productBoardWriteTable #captcha {
  background: #fff;
}
#productBoardWrite .ec-base-button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
}
#productBoardWrite .ec-base-button span:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#productBoardWrite .ec-base-button span:nth-child(1) a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  width: 80px;
  height: 30px;
  margin: 2.5px;
}
#productBoardWrite .ec-base-button span:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
#productBoardWrite .ec-base-button span:nth-child(2) a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #003DD3;
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  width: 80px;
  height: 30px;
  margin: 2.5px;
}/*# sourceMappingURL=write.css.map */