@charset "utf-8";
@import "../../../abstracts/mixin";
@import "../../../abstracts/variables";

#productBoardWrite {
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 0 11px;
    margin: 105px 0 200px;
    z-index: 1;

    #productBoardWriteTitle {
        width: 100%;
        max-width: 450px;
        margin: 18px 0;


        h1 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 6px;
        }

        h2 {
            font-size: 1.4rem;
            font-weight: normal;
            color: $bvt-darkgray;
        }
    }

    #productBoardWriteSection {

        .ec-base-box {

            .product_info {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                margin-bottom: 20px;
                @include product-thumb(4px);
                //상품정보

                .thumb {
                    width: 30%;
                    margin-right: 20px;
                }

                .information {
                    position: relative;
                    width: 70%;
                    margin: 2%;

                    li {
                        &:nth-child(1) {
                            font-size: 1.4rem;
                            font-weight: 500;
                            color: $bvt-black;
                            @include ellipsis(2, 1rem)
                        }

                        &:nth-child(2) {
                            font-size: 1.2rem;
                            font-weight: 600;
                            color: $bvt-blue;
                        }

                        &:nth-child(3) {
                            position: absolute;
                            bottom: 0;
                            font-size: 1.2rem;
                            font-weight: 600;

                            >a {
                                color: $bvt-darkgray;
                                transition: all .5s;

                                &:hover {
                                    color: $bvt-black;
                                    transition: all .5s;
                                }
                            }
                        }
                    }
                }
            }
        }

        #productBoardWriteBox {

            #productBoardWriteTable {
                tr {
                    width: 18%;
                    height: 30px;
                    font-size: 1.3rem;
                }

                th,
                td {
                    text-align: start;
                    vertical-align: middle;
                    font-size: 1.3rem;
                    padding: 5px;
                }

                textarea {
                    background: none;
                    font-size: 1.3rem;
                    padding: 11px;
                    border: none;
                }

                select,
                input[type="text"],
                input[type="password"] {
                    background: none;
                    font-size: 1.3rem;
                    border: $bvt-btn-border-gray;
                    padding: 11px;
                }

                input[type="file"] {
                    background: none;
                    font-size: 1.3rem;
                    padding: 8px;
                }


                textarea {
                    width: 100%;
                }

                //별점, 비밀글 설정
                .table_td_rate {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: start;
                    align-items: center;

                    label {
                        margin: 0 2% 0 1px;
                    }
                }

                //비밀번호, 보안문자
                #password,
                #captcha {
                    background: #fff;
                }
            }

        }


    }

    //글 관련 버튼 (게시안함, 스팸신고, ... 삭제, 수정)
    .ec-base-button {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 35px;

        span {
            &:nth-child(1) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.1rem;
                    border: $bvt-btn-border-gray;
                    border-radius: 12px;
                    width: 80px;
                    height: 30px;
                    margin: 2.5px;

                }
            }

            &:nth-child(2) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.2rem;
                    background: $bvt-blue;
                    border-radius: 12px;
                    color: $bvt-white;
                    font-weight: 500;
                    width: 80px;
                    height: 30px;
                    margin: 2.5px;
                }
            }
        }
    }
}